<template>
  <div class="main">
     <notifications 
		:duration="3000" 
		:width="300" 
		:max="1" 
		animation-name="fade-right" 
		position="bottom right" 
	    ></notifications> 
    <div class="content h-screen w-screen bg-darkred">
        <div class="login-module">
            <img src="~/assets/icons/Eezywork.png" alt="Werknemers icoon" class="w-28 h-28 m-auto mb-6">
            <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Wachtwoord aanvragen</h1>
            <div class="flex flex-col">
              <label for="email">Email</label>
              <input v-model="email" type="email" id="email" placeholder="">
            </div>
            <div @click="resetPassword()" class="submit-button text-center cursor-pointer">
                <button class="submit-button-link">
                    Mail sturen
                </button>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  name: 'login',
  data() {
    return {
      password: '',
      password2: '',
      email: ''
    }
  },
  beforeCreate(){
    if(this.key = '' || this.token == ''){
      this.$router.push({ path: '/login'})
    }
  },
  methods:{
    resetPassword(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/user/sendResetEmail.php";
      axios.post(url,{
        email: this.email
      })
      .then(response => {
        console.log(response)
         this.$notify({
              type: 'success',
              title: `Mail verstuurd`,
              text: `U krijgt binnenkort mail!`
          });
        this.$router.push({ path: '/login'})
      })
      .catch(error => {
        console.log(error.response)
      });
    }
  },
}
</script>

<style scoped>
.content{
  @apply flex justify-center items-center;
}
.login-module{
  @apply p-10 w-96 bg-darkred rounded-md;
}
input {
  @apply px-3 py-3 mb-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply my-2 text-white font-poppins;
}
.submit-button {
  @apply bg-black hover:bg-gray-900 m-auto py-3 text-white rounded-md font-poppins text-center w-full;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>