@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

<template>
  <div class="main">
    <Sidebar />
    <div class="header">
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray">Eezywork > Bedrijven > Bekijken</p>
      </div>
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div class="grid grid-cols-2 justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row">
          <h1 class="header-title">Bekijk bedrijf</h1> 
          <ul class="tabbladen-items flex flex-row pl-8 pt-1">
            <li class="tabblad-item ">
              <p >Gegevens</p>
            </li>
            <li class="tabblad-item ">
              <NuxtLink :to="{ path: '/bedrijven/subscriptie'}">Subscriptie</NuxtLink>
            </li>
          </ul>
        </div>  
        <!-- <div class="header-button-wrapper flex flex-row justify-self-end">
          <NuxtLink to="/werknemers/">
            <div class="header-button">
              <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
            </div>
          </NuxtLink>
          <NuxtLink to="/werknemers/">
            <div class="header-button">
              <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
            </div>
          </NuxtLink>
          <NuxtLink to="/werknemers/">
            <div class="header-button">
              <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
            </div>
          </NuxtLink>
          </div> -->
      </div>

    </div>
    <div class="content bg-background px-6 pt-6">
      <div class="grid grid-cols-2 gap-x-8 gap-y-5 md:grid-cols-3">
        <div class="flex flex-col">
          <h2>Bedrijfsnaam</h2>
          <input v-model="name" class="data-field"/>
          </div>
          <div class="flex flex-col">
            <h2>Adres</h2>
            <input v-model="address" class="data-field"/>
          </div>
          <div class="flex flex-col">
            <h2>KVK</h2>
            <input v-model="kvk" class="data-field"/>
          </div>
          <div class="flex flex-col">
            <h2>Telefoon</h2>
            <input v-model="phone" class="data-field"/>
          </div>
          <div class="flex flex-col">
            <h2>Emailadres</h2>
            <input v-model="email" class="data-field"/>
          </div>
          <div class="flex flex-col">
            <h2>* Extra Emailadres</h2>
            <input v-model="emailInfo" type="email" class="data-field"/>
          </div>
        <div @click="updateProfile()" class="red-button">
          <h2>Opslaan</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ViewDisabled from '~/components/modal/viewDisabled.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'gegevens',
  components: {
    ViewDisabled
  },
    data() {
      return {
        name: '',
        kvk: '',
        email: '',
        phone: '',
        emailInfo: '',
        address: ''
      }
    },
    mounted() {        
      if(this.$auth.user.companyId == 1 
      || this.$auth.user.id == 25 
      || this.$auth.user.id == 26 
      ){null;} else {
        this.$refs.ViewDisabled.showModal()    
      }
      this.getProfile();
    },
    methods:{
      updateProfile(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/update.php";
          axios.post(url, {
            companyId: this.$auth.$storage.getState("companyPageId"),
            name: this.name,
            kvk: this.kvk,
            email: this.email,
            phone: this.phone,
            emailInfo: this.emailInfo,
            address: this.address,
            modifiedBy: this.$auth.user.uid
        })
        .then((response) => {
          this.$notify({
                type: 'succes',
                title: `Bijgewerkt!`,
                // text: `Planning is opnieuw opgehaald`
            } );
          // // console.log(response.data);
          this.getProfile();
        }, (error) => {
          // // console.log(error);
        });
      },
      getProfile(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/read.php?companyId="+this.$auth.$storage.getState("companyPageId");
        axios.get(url)
        .then(response => {
            this.name = response.data[0].name;
            this.kvk = response.data[0].kvk;
            this.email = response.data[0].email;
            this.phone = response.data[0].phone;
            this.emailInfo = response.data[0].email_info;
            this.address = response.data[0].address;
            // // console.log(this.profile)
        })
        .catch(error => {
            // // console.log(error.response)
        });
      }
    }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
</style>