<template>
  <div>
    <div class="header">
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray truncate">Eezywork > Instellingen</p>
      </div>
      
      <div class="grid justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row overflow-y-hidden">
          <h1 class="text-xl font-poppins font-semibold text-darkgray">Instellingen</h1> 
          <ul class="tabbladen-items flex flex-row ml-8 pt-1">
            <li class="tabblad-item" @click="activateTab(1)" :class="{active:selected==1}">
              <!-- <button to="/instellingen/labels/">Labels</button> -->
              <button v-on:click="component = 'labels'">Kenmerken</button>
            </li>
            <li v-if="this.$auth.user.subscription.type == 2" class="tabblad-item" @click="activateTab(2)" :class="{active:selected==2}">
              <button v-on:click="component = 'ort'">Ort</button>
            </li>
            <li class="tabblad-item" @click="activateTab(3)" :class="{active:selected==3}">
              <button v-on:click="component = 'planner'">Planner</button>
            </li>
            <li class="tabblad-item" v-if="this.$auth.user.isKeyUser == 1" @click="activateTab(5)" :class="{active:selected==5}">
              <button v-on:click="component = 'rollen'">Rollen</button>
            </li>
            <!-- <li class="tabblad-item" @click="activateTab(6)" :class="{active:selected==6}">
              <button v-on:click="component = 'serDocumentType'">dienst document type</button>
            </li>
            <li class="tabblad-item" @click="activateTab(7)" :class="{active:selected==7}">
              <button v-on:click="component = 'relDocumentType'">relatie document type</button>
            </li>
            <li class="tabblad-item" @click="activateTab(8)" :class="{active:selected==8}">
              <button v-on:click="component = 'profDocumentType'">profiel document type</button>
            </li> -->
            <!-- <li class="tabblad-item" v-if="this.$auth.user.isKeyUser == 1" @click="activateTab(9)" :class="{active:selected==9}">
              <button v-on:click="component = 'subscription'">Subscriptie</button>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  <div class="content bg-background px-6 pt-6">
        <component :canRead="canRead" :canEdit="canEdit" v-bind:is="component" />
    </div>
    </div>
</template>
<script>
import labels from '~/components/settings/index.vue'
import ort from '~/components/settings/ort.vue'
import planner from '~/components/settings/planner.vue'
import rapport from '~/components/settings/rapport.vue'
import rollen from '~/components/settings/roles.vue'
import subscription from '~/components/settings/subscription.vue'
import ViewDisabled from '~/components/modal/viewDisabled.vue'
import serDocumentType from '~/components/settings/dienst-document/index.vue'
import relDocumentType from '~/components/settings/relatie-document/index.vue'
import profDocumentType from '~/components/settings/medewerker-document/index.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'instellingen',
  components: {
    ViewDisabled,
    serDocumentType,
    relDocumentType,
    profDocumentType,
    labels,
    ort,
    planner,
    rapport,
    subscription,
    rollen
  },
  data (){
    return {
      canEdit: false,
      canRead: false,
      canDelete: false,
      permissions: this.$auth.$storage.getState("perm"),
      component:"labels",
      selected: 1
    }
  },
  mounted(){
    this.permissions.forEach(element => {
      
      if(element.name == "setting_can_edit"){
          this.canEdit = true;
      }
      if(element.name == "setting_can_read"){
          this.canRead = true;
      }
      });
      if(!this.canRead){  
          this.$refs.ViewDisabled.showModal()    
      }        
  },
  methods: {
    activateTab(i){
      this.selected = i;
      // console.log(this.selected);
    }
  }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabbladen-items{
  overflow-x: scroll;
  padding-right: 0px;
}
.tabblad-item {
  @apply px-3 pt-1 mr-2 font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply px-3 pt-1 mr-2 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
::-webkit-scrollbar {
  @apply bg-background;
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
.active{
  @apply px-3 pt-1 mr-2 font-poppins bg-pink h-[33px] rounded-t-lg;
}
</style>