@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
  <div class="main">
    <Sidebar activePage='relaties'/>
    <message-modal ref="messageModal" @confirm="archiveRelation"></message-modal>
    <div class="header">
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray truncate">Eezywork > Relaties > Bekijken</p>
        <button style="margin-top: -10px;" type="button" @click="TryArchiveRelation()" class="float-right w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
          <img src="@/assets/icons/trash-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
        </button> 
      </div>
      <div class="grid grid-cols-2 justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row">
          <h1 class="header-title">{{this.title}}</h1> 
          <ul class="tabbladen-items flex flex-row pl-8 pt-1">
            <li class="tabblad-item active-tabblad">
              <NuxtLink :to="{ path: '/relaties/bekijken/gegevens'}">Gegevens</NuxtLink>
            </li>
            <li class="tabblad-item">
              <NuxtLink :to="{ path: '/relaties/bekijken/documenten'}">Documenten</NuxtLink>
            </li>
            <li class="tabblad-item">
              <NuxtLink :to="{ path: '/relaties/bekijken/contacten'}">Contacten</NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content bg-background px-6 pt-6">
      <div class="grid grid-cols-2 gap-x-8 gap-y-5 md:grid-cols-3">
        <div class="flex flex-col">
          <h2>Naam</h2>
          <input v-model="name" class="data-field"/>
        </div>
         <div class="flex flex-col">
          <h2>Adres</h2>
          <input v-model="address" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Stad</h2>
          <input v-model="city" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Postode</h2>
          <input v-model="zipcode" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Emailadres</h2>
          <input v-model="email" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Telefoonnummer</h2>
          <input v-model="phone" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>KVK</h2>
          <input v-model="chamberOfCommerce" type="text" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Externe code</h2>
          <input v-model="externalCode" class="data-field"/>
        </div><br>
        <div class="flex flex-col">
          <h2>Extra opmerking</h2>
          <textarea v-model="extraComment" class="data-field"></textarea>
        </div>
        <button v-if="canEdit" @click="updateRelation()" class="red-button">
          <h2>Opslaan</h2>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import ViewDisabled from '~/components/modal/viewDisabled.vue'
import messageModal from '~/components/modal/messageModal.vue';

export default { 
  layout: 'default',
  transition: 'slide-bottom',
  name: 'gegevens',
  components:{
    ViewDisabled,
    messageModal
  },
    data() {
        return {
          canEdit: false,
          canArchive: false,
          canRead: false,
          canDelete: false,
          permissions: this.$auth.$storage.getState("perm"),
          profile: '',
          relationId: '',
          companyId: this.$auth.user.companyId,
          name: '',
          address: '',
          city: '',
          title: '',
          email: '',
          phone: '',
          zipcode: '',
          chamberOfCommerce: '',
          externalCode: '',
          extraComment: '',
          id: this.$auth.$storage.getState("relationId")
        }
    },
    mounted(){
      this.permissions.forEach(element => {
        
        if(element.name == "relation_can_edit"){
            this.canEdit = true;
        }
        if(element.name == "relation_can_read"){
            this.canRead = true;
        }
         if(element.name == "relation_can_archive"){
            this.canArchive = true;
        }
        });
        if(!this.canRead){  
            this.$refs.ViewDisabled.showModal()    
        }        
    },
    created() {        
        this.getRelation();
    },
    methods:{
      updateRelation(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/relation/update.php";
          axios.post(url, {
          relationId: this.relationId,
          name: this.name,
          address: this.address,
          city: this.city,
          zipcode: this.zipcode,
          email: this.email,
          phone: this.phone,
          chamberOfCommerce: this.chamberOfCommerce,
          externalCode: this.externalCode,
          extraComment: this.extraComment
        })
        .then((response) => {
          // console.log(response.data);
          this.getRelation();
        }, (error) => {
          // console.log(error);
        });
      },
      TryArchiveRelation(){
        this.$refs.messageModal.showModal("Relatie verwijderen", "Weet je het zeker?");
      },
      archiveRelation(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/relation/archive.php";
        axios.post(url, {
            relationId: this.relationId
        })
            .then(response => {
            this.$notify({
                type: 'succes',
                title: `Gearchiveerd!`,
                // text: `Planning is opnieuw opgehaald`
            } );
            this.$router.push({ name: 'relaties'})
            // // console.log(response)
            // window.location.reload();
            })
            .catch(error => {
            // // console.log(error.response)
        });
      },
      getRelation(){
        this.relationId = this.$auth.$storage.getState("relationId")  
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/relation/read.php?relationId="+this.relationId;
        // console.log(url)
        axios.get(url)
        .then(response => {
            this.relation = response.data;
            this.name = response.data.name;
            this.title = response.data.name;
            this.email = response.data.email;
            this.phone = response.data.phone;
            this.address = response.data.address;
            this.zipcode = response.data.zipcode;
            this.extraComment = response.data.extra_comment;
            this.city = response.data.city;
            this.chamberOfCommerce = response.data.chamber_of_commerce;
            this.externalCode = response.data.external_code;
            // console.log(this.relation)
        })
        .catch(error => {
            // console.log(error.response)
        });
      }
    }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
.active-tabblad {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg;
}
</style>