@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
  <div>
  <div class="header flex justify-between" >
      <div>
        <p class="text-xs font-poppins text-darkgray">Eezywork > Ort</p>
        <h1 class="text-xl font-poppins font-semibold text-darkgray">Groepen</h1>
      </div>
      <div class="header-button-container">
        <button @click="openCreateModal()" class="red-button">Toevoegen</button>  
      </div>
  </div>
  <div class="content bg-background px-6 pt-6">
      <h2 class="font-poppins font-semibold text-darkgray absolute pt-1" style="font-size:24px">Overzicht groepen</h2>
      
      <ort-group-modal ref="modal"></ort-group-modal>
        <div>
        <!-- <button @click="openCreateModal()" class="red-button">Toevoegen</button>           -->
        <vue-good-table
            :columns="columns" 
            :line-numbers="false"
            :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
            enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
            placeholder: 'Zoeken...',
            compactMode: true
              }"
              :pagination-options="{
              enabled: true,
              mode: 'resultaten',
              nextLabel: 'Volgende',
              prevLabel: 'Vorige',
              rowsPerPageLabel: 'Labels per pagina',
              ofLabel: 'van',
              pageLabel: 'pagina', // for 'pages' mode
              allLabel: 'Alle',
            }"
            styleClass="tableOne vgt-table"
            :rows="groups"
            ><template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'button'">
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a @click="showOrtRule(props.row.group_id)"><img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a @click="openUpdateModal(props.row.group_name, props.row.group_id)" target="_blank"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a @click="openDeleteModal(props.row.group_name, props.row.group_id)" target="_blank"><img src="@/assets/icons/trash-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                  </button>
                </span>
              </template>
          </vue-good-table>
        </div>
    </div> 
    </div> 
</template>

<script>
import ortGroupModal from '~/components/modal/ortGroupModal.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'
import OrtGroupModal from '../../../components/modal/ortGroupModal.vue';

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'werknemers',
  components: {
    ortGroupModal,
    VueGoodTable
  },
    data() {
      return {
        groups: '',
        companyId: this.$auth.user.companyId,
        columns: [
        {
          label: "Naam", 
          field: "group_name",
          thClass: "gull-th-class",
        },
        {
          label: "Acties",
          field: "button",
          html: true,
        },],
      }
    },
    beforeCreate() {        
    const axios = require('axios');
    var companyId = this.$auth.user.companyId
    var url = "https://api.eezywork.nl/v1/pm/ort/group/read.php?companyId="+companyId;
    axios.get(url)
    .then(response => {
        this.groups = response.data;
        // console.log(this.labels)
    })
    .catch(error => {
        // console.log(error.response)
    });
  }, 
  methods: {
    openCreateModal(){
      this.$refs.modal.isCreate = true;
      this.$refs.modal.isUpdate = false;
      this.$refs.modal.isDelete = false;
      this.$refs.modal.groupName = '';
      this.$refs.modal.groupId = '';
      this.$refs.modal.showModal();
    },
    openUpdateModal(name, groupId){
      this.$refs.modal.isCreate = false;
      this.$refs.modal.isDelete = false;
      this.$refs.modal.isUpdate = true;
      this.$refs.modal.groupName = name;
      this.$refs.modal.groupId = groupId;
      this.$refs.modal.showModal();
    },
    openDeleteModal(name, groupId){
      this.$refs.modal.isCreate = false;
      this.$refs.modal.isUpdate = false;
      this.$refs.modal.isDelete = true;
      this.$refs.modal.groupName = name;
      this.$refs.modal.groupId = groupId;
      this.$refs.modal.showModal();
    },
    showOrtRule(ortGroupId){
      this.$router.push({ name: 'instellingen-ort-regels'})
      this.$auth.$storage.setState("ortGroupId", ortGroupId);
    }
  }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
  border-bottom: 1px solid #DDBBBB;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}
.header-button-container{
  @apply pl-4 pt-0.5 whitespace-nowrap overflow-hidden overflow-ellipsis text-white;
}
.vgt-column-width{
    min-width: 200px!important;
}
</style>
