<template>
  <div>
    <div class="header">
        <view-disabled ref="ViewDisabled"></view-disabled>
        <create-bulk-employee-modal ref="createBulkEmployee"></create-bulk-employee-modal>
        <message-modal ref="messageModal" @confirm="registerUser()"></message-modal>
        <p class="text-xs font-poppins text-darkgray overflow-ellipsis overflow-hidden whitespace-nowrap">Eezywork > Werknemers > Aanmaken</p>
        <h1 class="header-title">Werknemer aanmaken</h1>
    </div>
  <div class="content bg-background px-6 pt-6">
      <button v-if="canEdit" @click="openCreateBulkModal()" class="red-button">
          Bulk create
        </button>    
      <div class="input-container">
      <div class="grid gap-x-8 gap-y-5">
        <div class="flex flex-col">
          <label for="rol">Functie werknemer:</label>
          <input v-model="uFunction" id="rol" placeholder="Vul uw werknemers rol in">
        </div>
        <div class="flex flex-col">
          <label for="werknemers-code">Werknemer code:</label>
          <input v-model="employeeCode" id="werknemers-code" placeholder="Vul uw werknemers code in">
        </div>
        <div class="flex flex-col">
          <label for="voornaam">Voornaam: *</label>
          <input v-model="firstname" id="voornaam" placeholder="Vul uw voornaam in">
        </div>
        <div class="flex flex-col">
          <label for="achternaam">Achternaam: *</label>
          <input v-model="lastname" id="achternaam" placeholder="Vul uw achternaam in">
        </div>
        <div class="flex flex-col">
          <label for="emailadres">Emailadres: *</label>
          <input v-model="email" id="achternaam" type="email" placeholder="Vul uw emailadres in">
        </div>
        <div class="flex flex-col">
          <label for="telefoonnummer">Telefoonnummer:</label>
          <input v-model="phone" id="telefoonnummer" placeholder="Vul uw telefoonnummer in">
        </div>
        <div class="flex flex-col">
          <label for="geboortedatum">Geboortedatum:</label>
          <input v-model="birthDate" type="date" id="geboortedatum" placeholder="Vul uw geboortedatum in">
        </div>
        <div class="flex flex-col">
          <label for="address">Adres:</label>
          <input v-model="address" id="address" placeholder="Vul uw adres in">
        </div>
        <div class="flex flex-col">
          <label for="postcode">Postcode:</label>
          <input v-model="zipcode" id="postcode" placeholder="Vul uw postcode in">
        </div>
        <div class="flex flex-col">
          <label for="plaats">Plaats:</label>
          <input v-model="city" id="plaats" placeholder="Vul uw plaats in">
        </div>
        <div class="flex flex-col">
          <label for="plaats">Type gebruiker: *</label>
            <multiselect
              id="typeGebruiker"
              :options="typeOptions"
              v-model="typeValue"
              :multiple="false"
              :close-on-select="true"
              select-label="Klik om te selecteren"
              deselect-label="Klik om te verwijderen"
              placeholder="Selecteer titel"
              selectedLabel="Geselecteerd"
              :value="value"
              label="name" 
              :allow-empty="false"
            ></multiselect>
        </div>
        <!-- <NuxtLink to="/" class="red-button">Registreren</NuxtLink> -->
        <button v-if="canEdit" @click="checkBeforeRegister()" class="red-button">
          Registreren
        </button>    
        <label>alle velden met een * zijn verplicht</label>    

      </div>
      </div>
      </div>
    </div>
</template>

<script>
import ViewDisabled from '~/components/modal/viewDisabled.vue'
import createBulkEmployeeModal from '~/components/modal/createBulkEmployeeModal.vue'
import CreateBulkEmployeeModal from '../../../components/modal/createBulkEmployeeModal.vue'
import MessageModal from '~/components/modal/messageModal.vue';

export default {
  layout: 'default',
  transition: 'slide-bottom',
  // name: 'werknemer aanmaken',
  components: {
    ViewDisabled,
    createBulkEmployeeModal,
    MessageModal
  },
 data() {
    return {
      canEdit: false,
      canRead: false,
      canDelete: false,
      permissions: this.$auth.$storage.getState("perm"),
      addCount: false,
      companyName: "",
      message: '',
      employeeCode: '',
      firstname: '',
      lastname: '',
      email: '',
      phone: '',
      birthDate: '',
      streetName: '',
      houseNumber: '',
      suffix: '',
      zipcode: '',
      address: '',
      city: '',
      type: '',
      uFunction: '',
      typeOptions: [{name:"Web gebruiker",value:1},{name:"App gebruiker",value:2}],
      typeValue: [],
      value: null,
    }
  }, 
  mounted(){
    this.permissions.forEach(element => {
      if(element.name == "employee_can_edit"){
          this.canEdit = true;
      }
      if(element.name == "employee_can_edit"){
          this.canRead = true;
      }
      const axios = require('axios');
      var companyId = this.$auth.user.companyId
      var url = "https://api.eezywork.nl/v1/companies/read.php?companyId="+companyId;
      axios.get(url)
      .then(response => {
          this.companyName = response.data[0].name;
          // console.log(this.companyName)
      })
      .catch(error => {
          // console.log(error.response)
      });
    });
    if(!this.canRead || !this.canEdit){  
        this.$refs.ViewDisabled.showModal()    
    }        
  },
  methods:{
    openCreateBulkModal(){
      this.$refs.createBulkEmployee.showModal();
    },
    checkBeforeRegister(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/subscription/get-user-counts.php?companyId="+this.$auth.user.companyId;
        axios.get(url)
        .then(response => {
           console.log(response.data)
           if(this.typeValue.value == 1){
            if(parseInt(response.data.current_web_count) + 1 > parseInt(response.data.count_web)){
                console.log("FOUT web")
                this.$refs.messageModal.showModal("Subscriptie web gebruiker limiet overschreden.", "Weet u zeker dat u door wilt gaan? Uw subscriptie zal worden geupgrade.");
                this.addCount = true;
                this.appCount = parseInt(response.data.current_app_count) ;
                this.webCount = parseInt(response.data.current_web_count)+ 1;
              } else {
                console.log("prima web")
                this.addCount = false;
                this.registerUser()
              }
           } else if (this.typeValue.value == 2){
            if(parseInt(response.data.current_app_count) + 1 > parseInt(response.data.count_app)){
                console.log("FOUT app")
                this.addCount = true;
                this.appCount = parseInt(response.data.current_app_count) + 1;
                this.webCount = parseInt(response.data.current_web_count);
                this.$refs.messageModal.showModal("Subscriptie app gebruiker limiet overschreden.", "Weet u zeker dat u door wilt gaan? Uw subscriptie zal worden geupgrade.");
              } else {
                console.log("prima app")
                this.addCount = false;
                this.registerUser()
              }
           } else {
              this.$notify({
                type: 'warning',
                title: `Vul alle Verplichte Velden in.`
              });
           }
           
        })
        .catch(error => {
            // // console.log(error.response)
        });
    },
    addSubCount(){
        console.log()
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/subscription/update-count.php";
          axios.post(url, {
            companyId: this.$auth.user.companyId,
            countApp: this.appCount,
            countWeb: this.webCount
        })
        .then((response) => {
          this.$notify({
                type: 'succes',
                title: `Bijgewerkt!`,
                // text: `Planning is opnieuw opgehaald`
            } );
          // // console.log(response.data);
          // this.getProfile();
        }, (error) => {
          // // console.log(error);
        });
    },
    registerUser(){
      if(this.canEdit){
        if(
          this.firstname.length > 0 && 
          this.lastname.length > 0 && 
          this.email.length > 0 && 
          this.typeValue.value
        ){
          var companyId = this.$auth.user.companyId;
          const axios = require('axios');
          var url = "https://api.eezywork.nl/v1/register.php";
          // console.log(this.typeValue.value);
          axios.post(url,{
            firstname: this.firstname,
            lastname: this.lastname,
            email: this.email,
            role_id: 1,
            phone: this.phone,
            address: this.address,
            city: this.city,
            zipcode: this.zipcode,
            birthDate: this.birthDate,
            employeeCode: this.employeeCode,
            function: this.uFunction,
            is_key_user: 0,
            companyId: companyId,
            companyName: this.companyName,
            type: this.typeValue.value,
            createdBy: this.$auth.user.profileId
          })
          .then(response => {
            this.$notify({
              type: 'success',
              title: `Aangemaakt!`
            });
            console.log("Gebruiker aangemaakt");
            this.type = this.firstname = this.lastname = this.email = this.role_id = this.phone = address = this.birthDate = this.employeeCode = this.employeeCode = this.uFunction = this.createdBy = "";
            this.$router.push({ name: 'werknemers'})
            if(this.addCount){this.addSubCount()};
            })
          .catch(error => {
            // console.log(error.response)
          });
        } else {
          this.$notify({
              type: 'warning',
              title: `Vul alle Verplichte Velden in.`
            });
        }
      } else {
        this.$notify({
              type: 'warning',
              title: `U heeft geen toegang.`
            });
      }
    }
 }
}
</script>

<style scoped>
.input-container{
  overflow: scroll;
}
.input-grid{
  min-width: 800px;
}
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
input {
  @apply px-3 py-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply mb-2;
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray pt-1;
  min-width:100px;
}
/* :focus-visible {
  @apply outline-white;
} */
</style>