@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
  <div>
  <div class="header">
      <p class="text-xs font-poppins text-darkgray">Eezywork > Instellingen > Rapport > Export</p>
      <h1 class="text-xl font-poppins font-semibold text-darkgray">Rapport export</h1>
  </div>
  <div class="content bg-background px-6 pt-6">
      <label-modal ref="labelModal"></label-modal>
        <div>
        <button @click="exportRapport()" class="red-button">Rapport exporteren</button>          
            <div>
                <div class="rapport-input">
                  <label class="modal-body-label" for="grid-last-name">
                    ORT groep
                  </label>
                  <template v-if="groups.length > 0">
                    <multiselect
                    id="availibility_multiselect"
                    :options="groups"
                    v-model="value"
                    :close-on-select="true"
                    :multiple="false"
                    select-label="Klik om te selecteren"
                    deselect-label="Klik om te verwijderen"
                    placeholder="Selecteer titel"
                    selectedLabel="Geselecteerd"
                    :value="value"
                    label="group_name" 
                    :allow-empty="false"
                    ></multiselect>
                  </template>
                  <template v-else>
                    <multiselect
                      id="availibility_multiselect"
                      :options=[]
                      :close-on-select="true"
                      :multiple="false"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Selecteer titel"
                      selectedLabel="Geselecteerd"
                      :value='""'
                      label="group_name" 
                      :allow-empty="false"
                      disabled
                    ></multiselect>
                  </template>
                  
                </div>
                <div class="rapport-input">
                <label class="modal-body-label" for="grid-first-name">
                  Start datum
                </label>
                <input v-model="startDate" class="modal-input-field" id="grid-first-name" type="date" placeholder="startDate">
              </div>
              <div class="rapport-input">
                <label class="modal-body-label" for="grid-first-name">
                  Eind datum
                </label>
                <input v-model="endDate" class="modal-input-field" id="grid-first-name" type="date" placeholder="startDate">
              </div>
            </div>
        </div>
    </div> 
    </div> 
</template>

<script>
import labelModal from '~/components/modal/labelModal.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import Multiselect from 'vue-multiselect'
import Vue from "vue";
Vue.component('multiselect', Multiselect);

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'werknemers',
  components: {
    labelModal,
    Multiselect  
    },
    data() {
        return {
            startDate: '',
            groups: {},
            options: [],
            value: [],
            endDate: '',
            labels: '',
            list: [],
            resources: '',
            companyId: this.$auth.user.companyId
        }
    },
    beforeCreate() {        
        const axios = require('axios');
        var companyId = this.$auth.user.companyId
        var url = "https://api.eezywork.nl/v1/pm/ort/group/read.php?companyId="+companyId;
        axios.get(url)
        .then(response => {
            if(this.groups){
              this.groups = response.data;
            } else {
              this.groups = {};
            }
            // console.log(this.groups)
        })
        .catch(error => {
            // console.log(error.response)
            this.groups = {};
        });
    }, 
    methods: {
        exportRapport(){
          console.log('clicked');
            // if(this.startDate && this.endDate){
                 var url = "https://api.eezywork.nl/v1/pm/ort/export-raport.php?start="+this.startDate+"&end="+this.endDate+"&companyId="+this.companyId;
                if(this.value.group_id){
                  url += "&groupId="+this.value.group_id;
                }
                window.location.href = url;
                this.$notify({
                  type: 'succes',
                  title: `Opgehaald`,
                  // text: `Planning is opnieuw opgehaald`
                });
            // }
        }
    }
}

</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
  border-bottom: 1px solid #DDBBBB;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}
.modal-body-label{
  @apply text-base font-normal;
}
.rapport-input{
  @apply w-full mt-6 md:w-1/2 mb-4 md:mb-0;
}
.rapport-input input{
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>
