<template>
  <div class="main">
            <h2 class="font-poppins font-semibold text-darkgray absolute pt-1" style="font-size:24px">Contacten</h2>
       <div class="header-button-container pl-4 pt-0.5 float-right">
          <button @click="openCreateModal()" class="red-button">
            Toevoegen
          </button> 
        </div>
        <div>
          <vue-good-table
              :columns="columns" 
              :line-numbers="false"
              :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
              enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
              placeholder: 'Zoeken...',
              compactMode: true
          }"
          :pagination-options="{
          enabled: true,
          mode: 'resultaten',
          nextLabel: 'Volgende',
          prevLabel: 'Vorige',
          rowsPerPageLabel: 'Opdrachten per pagina',
          ofLabel: 'van',
          pageLabel: 'pagina', // for 'pages' mode
          allLabel: 'Alle',
        }"
        styleClass="tableOne vgt-table"
        :rows="contacts"
        ><template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'button'">
              <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                <a @click="openUpdateModal(props.row)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
              </button>
               <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                <a @click="openArchiveModal(props.row)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
              </button>
            </span>
          </template>
        </vue-good-table>
      </div>
    </div>
</template>

<script>
import relationContactModal from '~/components/modal/relationContactModal.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'

export default {
  name: 'contacten',
  components: {
    relationContactModal,
    VueGoodTable
  },
  data() {
      return {
        columns: [
          {
            label: "Naam", 
            field: "name",
            thClass: "gull-th-class",
          }, 
            {
            label: "Telefoon",
            field: "phone",
            thClass: "gull-th-class",
          },
          {
            label: "Email",
            field: "email",
            thClass: "gull-th-class",
          },
          {
            label: "Acties",
            field: "button",
            html: true,
          },],
          relation: '',
          relationId: '',
          title: '',
          contacts: '',
          id: this.$auth.$storage.getState("relationId") 
      }
  },
  created() {        
      this.getContacts();
      this.getRelation();
  },
  methods:{
    getContacts(){
      this.id = this.$auth.$storage.getState("relationId")
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/relation/contact/read.php?id="+this.id;
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.contacts = response.data;
          // console.log(this.contacts)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
     getRelation(){
      this.id = this.$auth.$storage.getState("relationId")
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/relation/read.php?relationId="+this.id;
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.relation = response.data;
          this.title = response.data.name;
          // console.log(this.relation)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
    openCreateModal(){
      this.$refs.contactModal.name = '';
      this.$refs.contactModal.email = '';
      this.$refs.contactModal.phone = '';
      this.$refs.contactModal.isCreate = true;
      this.$refs.contactModal.isUpdate = false;
      this.$refs.contactModal.isArchive = false;
      this.$refs.contactModal.showModal();
    },
    openUpdateModal($row){
        this.$refs.contactModal.name = $row.name;
        this.$refs.contactModal.email = $row.email;
        this.$refs.contactModal.phone = $row.phone;
        this.$refs.contactModal.contactId = $row.contact_id;
        this.$refs.contactModal.isCreate = false;
        this.$refs.contactModal.isUpdate = true;
        this.$refs.contactModal.isArchive = false;
        this.$refs.contactModal.showModal();
    },
    openArchiveModal($row){
        this.$refs.contactModal.name = $row.name;
        this.$refs.contactModal.email = $row.email;
        this.$refs.contactModal.phone = $row.phone;
        this.$refs.contactModal.contactId = $row.contact_id;
        this.$refs.contactModal.isCreate = false;
        this.$refs.contactModal.isUpdate = false;
        this.$refs.contactModal.isArchive = true;
        this.$refs.contactModal.showModal();
    }
  }
}
</script>

<style scoped>
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
.vgt-wrap {
    position: inherit;
}
@media (max-width:676px){
.vgt-wrap{
  @apply mt-16 pt-2;
}
}
</style>