@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
    <div class="main">
        <h2 class="font-poppins font-semibold text-darkgray pt-1 pb-4" style="font-size:24px">Gegevens</h2>
        <div class="grid grid-cols-2 gap-x-8 gap-y-5 md:grid-cols-3">
            <div class="flex flex-col">
                <h2>Naam</h2>
                <input v-model="name" class="data-field"/>
            </div>
            <div class="flex flex-col">
                <h2>Adres</h2>
                <input v-model="address" class="data-field"/>
            </div>
            <div class="flex flex-col">
                <h2>Stad</h2>
                <input v-model="city" class="data-field"/>
            </div>
            <div class="flex flex-col">
                <h2>Emailadres</h2>
                <input v-model="email" class="data-field"/>
            </div>
            <div class="flex flex-col">
                <h2>Telefoonnummer</h2>
                <input v-model="phone" class="data-field"/>
            </div>
            <div class="flex flex-col">
                <h2>KVK</h2>
                <input v-model="chamberOfCommerce" type="text" class="data-field"/>
            </div>
            <div class="flex flex-col">
                <h2>Externe code</h2>
                <input v-model="externalCode" class="data-field"/>
            </div>
                <button @click="updateRelation()" class="red-button">
                <h2>Opslaan</h2>
            </button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'gegevens',
    data() {
        return {
            profile: '',
            relationId: '',
            companyId: this.$auth.user.companyId,
            name: '',
            address: '',
            city: '',
            title: '',
            email: '',
            phone: '',
            chamberOfCommerce: '',
            externalCode: '',
            id: this.$auth.$storage.getState("relationId")
        }
    },
    created() {        
        this.getRelation();
    },
    methods:{
      updateRelation(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/relation/update.php";
          axios.post(url, {
          relationId: this.relationId,
          name: this.name,
          address: this.address,
          city: this.city,
          email: this.email,
          phone: this.phone,
          chamberOfCommerce: this.chamberOfCommerce,
          externalCode: this.externalCode
        })
        .then((response) => {
          // console.log(response.data);
          this.getRelation();
        }, (error) => {
          // console.log(error);
        });
      },
      getRelation(){
        this.relationId = this.$auth.$storage.getState("relationId") 
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/relation/read.php?relationId="+this.relationId;
        // console.log(url)
        axios.get(url)
        .then(response => {
            this.relation = response.data;
            this.name = response.data.name;
            this.title = response.data.name;
            this.email = response.data.email;
            this.phone = response.data.phone;
            this.address = response.data.address;
            this.city = response.data.city;
            this.chamberOfCommerce = response.data.chamber_of_commerce;
            this.externalCode = response.data.external_code;
            // console.log(this.relation)
        })
        .catch(error => {
            // console.log(error.response)
        });
      }
    }
}
</script>

<style scoped>
h2{
  @apply font-poppins;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
</style>