@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

<template>
  <div>
  <div class="header">
    <view-disabled ref="ViewDisabled"></view-disabled>
    <div class="breadcrumbs w-100% truncate">
      <p class="text-[10px] font-poppins text-darkgray">Eezywork > Werknemers > Bekijken</p>
    </div>

    <div class="grid grid-cols-2 justify-items-stretch">
      <div class="header-titel-tabbladen-wrapper flex flex-row">
        <h1 class="header-title">Bekijk werknemer</h1> 
        <ul class="tabbladen-items flex flex-row pl-8 pt-1">
          <li class="tabblad-item">
            <NuxtLink :to="{ path: '/werknemers/bekijken/gegevens'}">Gegevens</NuxtLink>
          </li>
          <li class="tabblad-item active-tabblad">
            <NuxtLink :to="{ path: '/werknemers/bekijken/documenten'}">Documenten</NuxtLink>
          </li>
        </ul>
      </div>
    </div>
    <create-prof-doc-modal ref="documentModal"></create-prof-doc-modal>
  </div>
  <div class="content bg-background px-6 pt-6 font-poppins">
        <h2 class="font-poppins font-semibold text-darkgray absolute mt-6 overflow-ellipsis overflow-hidden whitespace-nowrap" style="font-size:18px">{{profile.firstname + ' ' + profile.lastname}}</h2>
        <div v-if="canEdit" class="header-button-container float-right pt-3">
          <button @click="openCreateModal()" class="red-button ml-4 text-sm">Toevoegen</button>
        </div>
        <vue-good-table
            :columns="columns" 
            :line-numbers="false"
            :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
            enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
            placeholder: 'Zoeken...',
            compactMode: true
        }"
        :pagination-options="{
        enabled: true,
        mode: 'resultaten',
        nextLabel: 'Volgende',
        prevLabel: 'Vorige',
        rowsPerPageLabel: 'Opdrachten per pagina',
        ofLabel: 'van',
        pageLabel: 'pagina', // for 'pages' mode
        allLabel: 'Alle',
      }"
      styleClass="tableOne vgt-table"
      :rows="documents"
      ><template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'button'">
            <button class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
              <a :href="props.row.upload"  target="_blank"><img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
            </button>
          </span>
        </template>
      </vue-good-table>
    </div>
    </div>
</template>

<script>
import CreateProfDocModal from '../../../../components/modal/createProfDocModal.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'
import ViewDisabled from '~/components/modal/viewDisabled.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'documenten',
  components: {
    CreateProfDocModal,
    VueGoodTable,
    ViewDisabled
  },
  data() {
      return {
        canEdit: false,
        canRead: false,
        canDelete: false,
        permissions: this.$auth.$storage.getState("perm"),
        columns: [
        {
            label: "Document", 
            field: "document_name",
            thClass: "gull-th-class",
          }, {
            label: "Type", 
            field: "type_name",
            thClass: "gull-th-class",
          }, 
            {
            label: "Upload datum",
            field: "created_at",
            thClass: "gull-th-class",
          },
          {
            label: "Verloop datum",
            field: "expiration_date",
            thClass: "gull-th-class",
          },
          {
            label: "Acties",
            field: "button",
            html: true,
          },],
          profile: '',
          profileId: '',
          documents: '',
          id: this.$auth.$storage.getState("employeeId")
      }
  },
  created() {        
      this.getDocuments();
      this.getProfile();
  },
  mounted(){
    this.permissions.forEach(element => {
      
      if(element.name == "employee_can_edit"){
          this.canEdit = true;
      }
      if(element.name == "employee_can_read"){
          this.canRead = true;
      }
    });
    if(!this.canRead){  
        this.$refs.ViewDisabled.showModal()    
    }        
  },
  methods:{
    getDocuments(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/profile/document/read.php?id="+this.$auth.$storage.getState("employeeId");
      axios.get(url)
      .then(response => {
          this.documents = response.data;
          // // console.log(this.documents)
      })
      .catch(error => {
          // // console.log(error.response)
      });
    },
     getProfile(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/profile/get.php?profileId="+this.$auth.$storage.getState("employeeId");
      // // console.log(url)
      axios.get(url)
      .then(response => {
          this.profile = response.data;
          // // console.log(this.profile)
      })
      .catch(error => {
          // // console.log(error.response)
      });
    },
    openCreateModal(){
      this.$refs.documentModal.id = this.$auth.$storage.getState('employeeId');
      this.$refs.documentModal.file = '';
      this.$refs.documentModal.documentName = '';
      this.$refs.documentModal.expirationDate = '';
      this.$refs.documentModal.showModal();
    }
  }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-1 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.tabblad-item:hover {
  @apply h-[33px];
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
.vgt-wrap{
  @apply mt-4;
}
@media (max-width:676px){
.vgt-wrap{
  @apply mt-16 pt-2;
}
}
.header-button-container{
  @apply pl-0 whitespace-nowrap overflow-hidden overflow-ellipsis text-white mb-0;
}
.vgt-column-width{
    min-width: 200px!important;
}
h2{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
}
.vgt-wrap {
    position: initial;
}
#vgt-table {
  @apply text-sm;
}
.vgt-center-align.vgt-text-disabled {
  @apply text-sm;
}
/* ACTIVE CLASS */
.active-tabblad {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg;
}
@media (max-width: 475px){
  .header-button-container{
    @apply mt-14;
  }
}
</style>