@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

<template>
  <div>
  <div class="header">
  <view-disabled ref="ViewDisabled"></view-disabled>
    <div class="breadcrumbs w-100%">
      <p class="text-[10px] font-poppins text-darkgray">Eezywork > Werknemers > Bekijken</p>
    </div>
    <div class="grid grid-cols-2 justify-items-stretch">
      <div class="header-titel-tabbladen-wrapper flex flex-row">
        <h1 class="header-title">Bekijk werknemer</h1> 
        <ul class="tabbladen-items flex flex-row pl-8 pt-1">
          <li class="tabblad-item active-tabblad">
            <NuxtLink :to="{ path: '/werknemers/bekijken/gegevens'}">Gegevens</NuxtLink>
          </li>
          <li class="tabblad-item">
            <NuxtLink :to="{ path: '/werknemers/bekijken/documenten'}">Documenten</NuxtLink>
          </li>
        </ul>
      </div>
      
      <!-- <div class="header-button-wrapper flex flex-row justify-self-end">
        <NuxtLink to="/werknemers/">
          <div class="header-button">
            <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
          </div>
        </NuxtLink>
        <NuxtLink to="/werknemers/">
          <div class="header-button">
            <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
          </div>
        </NuxtLink>
        <NuxtLink to="/werknemers/">
          <div class="header-button">
            <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
          </div>
        </NuxtLink>
        </div> -->
    </div>

  </div>
  <div class="content bg-background px-6 pt-6">
      <div class="grid grid-cols-2 gap-x-8 gap-y-5 md:grid-cols-3">
        <div class="input-label flex flex-col">
          <h2>Voornaam</h2>
          <input v-model="firstname" class="data-field"/>
        </div>
         <div class="input-label flex flex-col">
          <h2>Achternaam</h2>
          <input v-model="lastname" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>Personeels code</h2>
          <input v-model="employeeCode" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>Emailadres</h2>
          <input v-model="email" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>Telefoonnummer</h2>
          <input v-model="phone" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>Geboortedatum</h2>
          <input v-model="birthDate" type="date" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>Adres</h2>
          <input v-model="address" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>Plaats</h2>
          <input v-model="city" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>postcode</h2>
          <input v-model="zipcode" class="data-field"/>
        </div>
        <div class="input-label flex flex-col">
          <h2>Functie</h2>
          <input v-model="profileFunction" class="data-field"/>
        </div>
        <div v-if="roleShow" class="input-label flex flex-col">
          <h2>Rol</h2>
          <multiselect
            id="role_multiselect"
            :options="roleOptions"
            v-model="roleValue"
            :close-on-select="true"
            :multiple="false"
            select-label="Selecteer"
            deselect-label="Verwijderen"
            :label="'role_name'"
            track-by="role_id"
            placeholder="Selecteer een rol"
            selectedLabel="Geselecteerd"
            :allow-empty="true"
            @input="updaterole"
            @remove="removeRole"
            :disabled="!canEdit"
        ></multiselect>
        </div>
        <div v-else class="input-label flex flex-col">
          <h2>Rol</h2>
          <multiselect
            id="role_multiselect"
            :options="[]"
            :close-on-select="true"
            :multiple="false"
            select-label="Selecteer"
            deselect-label="Verwijderen"
            :label="'role_name'"
            track-by="role_id"
            placeholder="Selecteer een rol"
            selectedLabel="Geselecteerd"
            :allow-empty="true"
            :disabled="true"
        ></multiselect>
        </div>
        <div v-if="tagShow" class="input-label flex flex-col">
          <h2>Kenmerken</h2>
          <multiselect
            id="role_multiselect"
            :options="tagOptions"
            v-model="tagValue"
            :close-on-select="false"
            :multiple="true"
            select-label="Selecteer"
            deselect-label="Verwijderen"
            :label="'label_name'"
            track-by="label_id"
            placeholder="Selecteer een kenmerk"
            selectedLabel="Geselecteerd"
            :allow-empty="true"
            @input="updateTag"
            :disabled="!canEdit"
        ></multiselect>
        </div>
        <div v-else class="input-label flex flex-col">
          <h2>Rol</h2>
          <multiselect
            id="role_multiselect"
            :options="[]"
            :close-on-select="true"
            :multiple="true"
            select-label="Selecteer"
            deselect-label="Verwijderen"
            :label="'label_name'"
            track-by="label_id"
            placeholder="Selecteer een kenmerk"
            selectedLabel="Geselecteerd"
            :allow-empty="true"
            :disabled="true"
        ></multiselect>
        </div>
        <div> 
          <h2>Status</h2>
          <multiselect
            id="role_multiselect"
            :options="statusOptions"
            v-model="statusValue"
            :close-on-select="true"
            :multiple="false"
            select-label="Selecteer"
            deselect-label="Verwijderen"
            :label="'status_name'"
            track-by="status_id"
            placeholder="Selecteer een status"
            selectedLabel="Geselecteerd"
            :allow-empty="false"
            :disabled="!canEdit"
        ></multiselect>
        </div>
        <button v-if="canEdit" @click="updateProfile()" class="red-button">
          <p>Opslaan</p>
        </button>
      </div>
    </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import Vue from "vue";
import ViewDisabled from '~/components/modal/viewDisabled.vue'
Vue.component('multiselect', Multiselect);

export default {
  layout: 'default',
  transition: 'slide-bottom',
    name: "gegevens",
    component: {
        Multiselect,
        ViewDisabled
    },
    data() {
        return {
            canEdit: false,
            canRead: false,
            canDelete: false,
            permissions: this.$auth.$storage.getState("perm"),
            profile: "",
            firstname: "",
            lastname: "",
            employeeCode: "",
            email: "",
            phone: "",
            birthDate: "",
            profileFunction: "",
            profileId: this.$auth.$storage.getState("employeeId"),
            roleId: "",
            address: "",
            city: "",
            zipcode: "",
            roleOptions: [],
            roleValue: [],
            tagOptions: [],
            tagValue: [],
            statusOptions: [],
            statusValue:[],
            tags: [],
            tagShow: false,
            roleShow: false
        };
    },
    mounted() {
        this.permissions.forEach(element => {
            if (element.name == "employee_can_edit") {
                this.canEdit = true;
            }
            if (element.name == "employee_can_read") {
                this.canRead = true;
            }
        });
        if (!this.canRead) {
            this.$refs.ViewDisabled.showModal();
        }
    },
    created() {
        this.getProfile();
    },
    methods: {
        updateProfile() {
            if (this.canEdit) {
                console.log(this.statusValue.status_id)
                const axios = require("axios");
                var url = "https://api.eezywork.nl/v1/companies/profile/update.php";
                axios.post(url, {
                    profileId: this.$auth.$storage.getState("employeeId"),
                    firstname: this.firstname,
                    lastname: this.lastname,
                    employeeCode: this.employeeCode,
                    phone: this.phone,
                    birthDate: this.birthDate,
                    address: this.address,
                    zipcode: this.zipcode,
                    city: this.city,
                    function: this.profileFunction,
                    status: this.statusValue.status_id
                })
                    .then((response) => {
                        this.$notify({
                          type: 'succes',
                          title: `bijgewerkt!`,
                          // text: `Planning is opnieuw opgehaald`
                        } );
                    this.getProfile();
                }, (error) => {
                    // // console.log(error);
                });
            }
        },
        updaterole(roleValue) {
            const axios = require("axios");
            if (roleValue) {
                var roleId = 0;
                if(roleValue == []){
                  roleId = 0;
                } else {
                  var roleId = roleValue.role_id
                }
                var url = "https://api.eezywork.nl/v1/companies/profile/role/update.php";
                axios.post(url, {
                    profileId: this.$auth.$storage.getState("employeeId"),
                    roleId: roleId
                })
                    .then((response) => {
                        this.$notify({
                          type: 'succes',
                          title: `rol gewijzigd!`,
                          // text: `Planning is opnieuw opgehaald`
                        } );
                    // console.log(response.data);
                    this.getProfile();
                }, (error) => {
                    // console.log(error);
                });
            }
        },
        removeRole(){
          const axios = require("axios");
          var url = "https://api.eezywork.nl/v1/companies/profile/role/update.php";
          axios.post(url, {
              profileId: this.$auth.$storage.getState("employeeId"),
              roleId: 0
          })
              .then((response) => {
                  this.$notify({
                    type: 'succes',
                    title: `rol gewijzigd!`,
                    // text: `Planning is opnieuw opgehaald`
                  } );
              // console.log(response.data);
              this.getProfile();
          }, (error) => {
              // console.log(error);
          });
        },
          updateTag(tagValue) {
            const axios = require("axios");
            if (tagValue) {
              console.log(tagValue)
              var idArray = [];
              tagValue.forEach(i => {idArray.push(i.label_id);});
              console.log(idArray)
                var url = "https://api.eezywork.nl/v1/companies/profile/tag/update.php";
                axios.post(url, {
                    profileId: this.$auth.$storage.getState("employeeId"),
                    tag: JSON.stringify(idArray)
                })
                    .then((response) => {
                        this.$notify({
                          type: 'succes',
                          title: `kenmerk gewijzigd!`,
                          // text: `Planning is opnieuw opgehaald`
                        } );
                    // console.log(response.data);
                    this.getProfile();
                }, (error) => {
                    // console.log(error);
                });
            }
        },
        getTags(){
            const axios = require("axios");
            var companyId = this.$auth.user.companyId;
            var url = "https://api.eezywork.nl/v1/pm/label/read.php?companyId=" + companyId;
            axios.get(url)
                .then(response => {
                this.tagOptions = response.data;
                this.tagValue = [];
                this.tagOptions.forEach(i => {
                    if (this.tags.includes(i.label_id)) {
                        this.tagValue.push(i);
                    }
                });
                this.tagShow = true;
                // // console.log(this.roles)
            })
                .catch(error => {
                // // console.log(error.response)
            });
        },
        getStatus(){
            const axios = require("axios");
            var companyId = this.$auth.user.companyId;
            var url = "https://api.eezywork.nl/v1/companies/profile/status/read.php";
            axios.get(url)
                .then(response => {
                this.statusOptions = response.data;
                this.statusValue = [];
                this.statusOptions.forEach(i => {
                    if (i.status_id == this.status) {
                        this.statusValue.push(i);
                    }
                });
                // // console.log(this.roles)
            })
                .catch(error => {
                // // console.log(error.response)
            });
        },
        getProfile() {
            const axios = require("axios");
            var url = "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" + this.$auth.$storage.getState("employeeId");
            axios.get(url)
                .then(response => {
                this.profile = response.data;
                this.firstname = response.data.firstname;
                this.lastname = response.data.lastname;
                this.employeeCode = response.data.employee_code;
                this.email = response.data.email;
                this.phone = response.data.phone;
                this.birthDate = response.data.birth_date;
                this.address = response.data.address;
                this.zipcode = response.data.zipcode;
                this.city = response.data.city;
                this.profileFunction = response.data.function;
                if(response.data.role_id){this.roleId = response.data.role_id;}
                if(response.data.tag){this.tags = JSON.parse(response.data.tag);}
                if(response.data.status){this.status = JSON.parse(response.data.status);}
                console.log(this.profile)
                this.getRoles();
                this.getStatus();
            })
                .catch(error => {
                // // console.log(error.response)
            });
        },
        getRoles() {
          const axios = require("axios");
          var companyId = this.$auth.user.companyId;
          var url = "https://api.eezywork.nl/v1/companies/role/read.php?companyId=" + companyId;
          axios.get(url)
              .then(response => {
              this.roleOptions = response.data;
              this.roleValue = [];
              this.roleOptions.forEach(i => {
                  if (i.role_id == this.roleId) {
                      this.roleValue = i;
                  }
              });
              this.roleShow = true;
              // // console.log(this.roles)
          })
              .catch(error => {
              // // console.log(error.response)
          });
          this.getTags();
        }
    },
    components: { ViewDisabled }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white text-sm;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center text-sm;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply h-[33px];
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
.input-label > h2{
  @apply font-poppins font-medium;
  font-size: 14px;
}
/* ACTIVE CLASS */
.active-tabblad {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg;
}
</style>