<template>
  <div class="content bg-background px-6 pt-6">
      <div class="header">
          <p class="text-xs font-poppins text-darkgray overflow-ellipsis overflow-hidden whitespace-nowrap">Eezywork > Bedrijven > Aanmaken</p>
          <h1 class="header-title">Bedrijf aanmaken</h1>
      </div>
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div class="input-container">
        <div class="grid gap-x-8 gap-y-5">
            <div class="flex flex-col">
            <label for="name">Bedrijfsnaam:</label>
            <input v-model="name" id="name" placeholder="Vul de bedrijfsnaam in">
            </div>
            <div class="flex flex-col">
            <label for="address">Adres:</label>
            <input v-model="address" id="address" placeholder="Vul het adres in">
            </div>
            <div class="flex flex-col">
            <label for="kvk">KVK:</label>
            <input v-model="kvk" id="kvk" placeholder="Vul het kvk nummer in">
            </div>
            <div class="flex flex-col">
            <label for="phone">Telefoon:</label>
            <input v-model="phone" id="phone" placeholder="Vul het telefoonnummer in">
            </div>
            <div class="flex flex-col">
            <label for="email">Emailadres:</label>
            <input v-model="email" id="email" type="email" placeholder="Vul uw emailadres in">
            </div>
            <div class="flex flex-col">
            <label for="email_info">* Extra Emailadres:</label>
            <input v-model="emailInfo" id="email_info" placeholder="Vul een extra email adres in">
            </div>
            <hr><hr><hr>
          <div class="flex flex-col">
          <label for="rol">Functie werknemer:</label>
          <input v-model="uFunction" id="rol" placeholder="Vul uw werknemers rol in">
        </div>
        <div class="flex flex-col">
          <label for="werknemers-code">Werknemer code:</label>
          <input v-model="employeeCode" id="werknemers-code" placeholder="Vul uw werknemers code in">
        </div>
        <div class="flex flex-col">
          <label for="voornaam">Voornaam:</label>
          <input v-model="firstname" id="voornaam" placeholder="Vul uw voornaam in">
        </div>
        <div class="flex flex-col">
          <label for="achternaam">Achternaam:</label>
          <input v-model="lastname" id="achternaam" placeholder="Vul uw achternaam in">
        </div>
        <div class="flex flex-col">
          <label for="emailadres">Emailadres:</label>
          <input v-model="email" id="achternaam" type="email" placeholder="Vul uw emailadres in">
        </div>
        <div class="flex flex-col">
          <label for="telefoonnummer">Telefoonnummer:</label>
          <input v-model="phone" id="telefoonnummer" placeholder="Vul uw telefoonnummer in">
        </div>
        <div class="flex flex-col">
          <label for="geboortedatum">Geboortedatum:</label>
          <input v-model="birthDate" type="date" id="geboortedatum" placeholder="Vul uw geboortedatum in">
        </div>
        <div class="flex flex-col">
          <label for="straatnaam">Straat:</label>
          <input v-model="streetName" id="straat" placeholder="Vul uw straatnaam in">
        </div>
        <div class="flex flex-col">
          <label for="houseNumber">Huisnummer:</label>
          <input v-model="message" id="huisnummer" placeholder="Vul uw huisnummer in">
        </div>
        <div class="flex flex-col">
          <label for="extra">Extra toevoeging:</label>
          <input v-model="suffix" id="extra" placeholder="Vul uw extra toevoeging in">
        </div>
        <div class="flex flex-col">
          <label for="postcode">Postcode:</label>
          <input v-model="zipCode" id="postcode" placeholder="Vul uw postcode in">
        </div>
        <div class="flex flex-col">
          <label for="plaats">Plaats:</label>
          <input v-model="city" id="plaats" placeholder="Vul uw plaats in">
        </div>

            <!-- <NuxtLink to="/" class="red-button">Registreren</NuxtLink> -->
            <button @click="registerCompany()" class="red-button">
            Registreren
            </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ViewDisabled from '~/components/modal/viewDisabled.vue'
export default {
  layout: 'default',
  transition: 'slide-bottom',
  // name: 'werknemer aanmaken',
  components: {
    ViewDisabled
  },
 data() {
    return {
      message: '',
      name: '',
      kvk: '',
      email: '',
      phone: '',
      emailInfo: '',
      address: '',
      employeeCode: '',
      firstname: '',
      lastname: '',
      email: '',
      phone: '',
      birthDate: '',
      streetName: '',
      houseNumber: '',
      suffix: '',
      zipCode: '',
      city: '',
      uFunction: '',
      profileAddress: ''
    }
 },
 mounted() {
  if(this.$auth.user.companyId == 1 
    || this.$auth.user.id == 25 
    || this.$auth.user.id == 26 
    ){null;} else {
      this.$refs.ViewDisabled.showModal()    
    }
 },
 methods:{
    registerCompany(){
      this.profileAddress = this.streetName +" "+this.houseNumber+" "+this.suffix+" "+this.city+" "+this.zipCode;


      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/register.php";
      axios.post(url,{
        name: this.name,
        kvk: this.kvk,
        email: this.email,
        phone: this.phone,
        emailInfo: this.emailInfo,
        address: this.address,
        createdBy: this.$auth.user.uid
      })
      .then(response => {
        console.log("Bedrijf aangemaakt");
        var url = "https://api.eezywork.nl/v1/register.php";
        axios.post(url,{
          firstname: this.firstname,
          lastname: this.lastname,
          email: this.email,
          role_id: "1",
          phone: this.phone,
          address: this.profileAddress,
          birthDate: this.birthDate,
          employeeCode: this.employeeCode,
          function: this.uFunction,
          companyId: response.data.companyId,
          companyName: this.name,
          is_key_user: 1,
          createdBy: this.$auth.user.uid
        })
        .then(response => {
          this.$notify({
                type: 'succes',
                title: `Aangemaakt!`,
                text: `Er is een gebruiker aangemaakt en een mail gestuurd!`
            } );
          console.log("Gebruiker aangemaakt");
          console.log(response.data);
          
          this.firstname = this.lastname = this.email = this.role_id = this.phone = address = this.birthDate = this.employeeCode = this.employeeCode = this.uFunction = this.createdBy = "";
          setTimeout(() => { this.$router.push({ path: '/bedrijven'}) }, 2000);
        })
        .catch(error => {
          console.log(response.data)
        });
      })
      .catch(error => {
        console.log(response.data)
      });
    }
 }
}
</script>

<style scoped>
.input-container{
  overflow: scroll;
}
.input-grid{
  min-width: 800px;
}
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
input {
  @apply px-3 py-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply mb-2;
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray pt-1;
  min-width:100px;
}
/* :focus-visible {
  @apply outline-white;
} */
</style>