<template>
    <div class="content bg-background px-6 pt-6">
        <div class="header">
            <p class="text-xs font-poppins text-darkgray overflow-ellipsis overflow-hidden whitespace-nowrap">Eezywork > Bedrijven > Aanmaken</p>
            <h1 class="header-title">Bedrijf aanmaken</h1>
        </div>
        <view-disabled ref="ViewDisabled"></view-disabled>
        <div class="input-container w-1/3">
          <div class="flex flex-col">
            <label for="voornaam">Voornaam:</label>
            <input v-model="firstname" id="voornaam" placeholder="Vul uw voornaam in">
          </div>
          <div class="flex flex-col">
            <label for="achternaam">Achternaam:</label>
            <input v-model="lastname" id="achternaam" placeholder="Vul uw achternaam in">
          </div>
          <div class="flex flex-col">
            <label for="emailadres">Emailadres:</label>
            <input v-model="email" id="achternaam" type="email" placeholder="Vul uw emailadres in">
          </div>
          <div class="flex flex-col">
            <label for="emailadres">Wachtwoord:</label>
            <input v-model="password" id="wachtwoord" type="password" placeholder="Vul uw emailadres in">
          </div>
          <div class="flex flex-col">
            <label for="telefoonnummer">Telefoonnummer:</label>
            <input v-model="phone" id="telefoonnummer" placeholder="Vul uw telefoonnummer in">
          </div>
          <div class="flex flex-col">
            <label for="geboortedatum">Geboortedatum:</label>
            <input v-model="birthDate" type="date" id="geboortedatum" placeholder="Vul uw geboortedatum in">
          </div>
          <!-- <NuxtLink to="/" class="red-button">Registreren</NuxtLink> -->
          <button @click="registerCompany()" class="red-button">
          Registreren
          </button>
      </div>
    </div>
  </template>
  
  <script>
  import ViewDisabled from '~/components/modal/viewDisabled.vue'
  export default {
    layout: 'default',
    transition: 'slide-bottom',
    // name: 'werknemer aanmaken',
    components: {
      ViewDisabled
    },
   data() {
      return {
        message: '',
        firstname: '',
        lastname: '',
        email: '',
        phone: '',
        password: '',
        birthDate: '',
      }
   },
   mounted() {
    if(this.$auth.user.companyId == 1 
      || this.$auth.user.id == 25 
      || this.$auth.user.id == 26 
      ){null;} else {
        this.$refs.ViewDisabled.showModal()    
      }
   },
   methods:{
      registerCompany(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/account/register.php";
        axios.post(url,{
          firstname: this.firstname,
          lastname: this.lastname,
          email: this.email,
          password: this.password,
          phone: this.phone,
          birthdate: this.birthDate
        })
        .then(response => {
          console.log(response.data)
          this.$notify({
            type: response.data.type,
            title: response.data.message,
          });
        })
        .catch(error => {
          console.log(error)
        });
      }
   }
  }
  </script>
  
  <style scoped>
  .input-container{
    overflow: scroll;
  }
  .input-grid{
    min-width: 800px;
  }
  .header{
    @apply bg-background pt-3 px-6 fixed;
    border-bottom: 1px solid #DDBBBB;
    width: calc(100vw - 64px);
    height: 64px;
    z-index: 100;
    left: 64px;
  }
  .content{
    width: calc(100vw - 64px);
    min-height: calc(100vh - 64px);
    position: absolute;
    left: 64px;
    top: 64px;
  }
  input {
    @apply px-3 py-3 rounded-md font-poppins text-darkgray;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
  }
  label {
    @apply mb-2;
  }
  .red-button {
    @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center w-full;
  }
  .header-title{
    @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray pt-1;
    min-width:100px;
  }
  /* :focus-visible {
    @apply outline-white;
  } */
  </style>