<template>
  <div class="main">
    <message-modal ref="messageModal" @confirm="login"></message-modal>
    <notifications 
      :duration="3000" 
      :width="300" 
      :max="1" 
      animation-name="fade-right" 
      position="bottom right" 
	  ></notifications> 
    
    <!-- <div class="content h-screen w-screen bg-darkred"> -->
    <div class="content h-screen w-screen">
      <div class="login-module">
        <img src="~/assets/icons/Eezywork.png" alt="EEZY Work icoon" class="w-20 h-20 m-auto mb-6">
        <div class="flex flex-col">
          <label class="pb-2" for="email">Inloggen met uw e-mailadres</label>
          <input ref="emailField" :disabled="this.emailExists == true" v-model="email" type="email" id="email" placeholder="Vul uw e-mailadres in" @keyup.enter="checkEmail()">
        </div>
        <div v-if="emailExists" class="flex flex-col mb-2">
          <!-- <label for="password">Wachtwoord</label> -->
          <input ref="passwordField" v-model="password" type="password" id="password" placeholder="Vul uw wachtwoord in" @keyup.enter="checkLoginStatus()">
        </div>
        <div v-if="!emailExists" @click="checkEmail()" class="submit-button text-center cursor-pointer">
            <button class="submit-button-link">
                Volgende
            </button>
        </div>
        <div v-if="emailExists" @click="checkLoginStatus()" class="submit-button text-center cursor-pointer">
            <button class="submit-button-link">
                Inloggen
            </button>
        </div>
        <p v-if="emailExists" class="mt-4 font-poppins text-center text-white">
          <NuxtLink to="/login/wachtwoord/aanvragen" class="create-account-link text-white font-poppins ml-1 text-sm underline">
            Wachtwoord vergeten?
          </NuxtLink>
        </p>
        </div>
    </div>
  </div>
</template>
<script>
import MessageModal from '../../components/modal/messageModal.vue';
export default {
  layout: 'empty',
  name: 'login',
  components: {
    MessageModal
  },
  data() {
    return {
      emailExists: false,
      password: '',
      email: '',
      userIP: '',
      userAgent: '',
      userDeviceType: '',
      userDeviceID: '',
      loggedIn: '',
      loginClick: 0
    }
  },
  created(){
    const ua = navigator.userAgent;
    const axios = require('axios');
    
    var resourcesUrl = "https://api.ipify.org?format=json";
    
    axios.get(resourcesUrl)
    .then(response => {
      this.userIP = response.data.ip;
    })
    .catch(error => {
      console.log(error.response)
    });

    var hardwareConcurrency = '';
    var deviceMemory = '';
    var userAgent = '';

    if(navigator){
      if(navigator.hardwareConcurrency){
        hardwareConcurrency = navigator.hardwareConcurrency.toString();
      }
      if(navigator.deviceMemory){
        deviceMemory = navigator.deviceMemory.toString();
      }
      if(navigator.userAgent){
        userAgent = navigator.userAgent;
      }
    }

    this.userAgent = navigator.userAgent;
    this.userDeviceID = hardwareConcurrency + deviceMemory + userAgent;

    if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
      this.userDeviceType = "tablet";
    } else if (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
      this.userDeviceType = "mobile";
    }else{
      this.userDeviceType = "desktop";
    }
    console.log(this.userDeviceID);

    if(!this.emailExists){
      this.focusEmailField();
    }
  },
  methods: {
    checkEmail(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/auth/check-email.php";
      axios.post(url, { email: this.email })
      .then(response => {
        const emailExists = response.data.exists;
        const verified = response.data.verified;

        if(emailExists && verified){
          this.emailExists = true;
          this.focusPasswordField();
        }else if(emailExists && !verified){
          this.$notify({
            type: 'warn',
            title: `Waarschuwing`,
            text: `Gebruiker is niet geactiveerd. Check uw email om uw account te activeren`
         });
        }else{
          this.$notify({
            type: 'error',
            title: `Email niet gevonden`,
            text: `Er is geen gebruiker gevonden met het ingevulde email address`
         });
        }
      }).catch(error => {
          this.$notify({
              type: 'error',
              title: `Email niet gevonden`,
              text: `Er is geen gebruiker gevonden met het ingevulde email address`
          });
          // // console.log("Inloggen niet geslaagd")
          this.loginOld();
          // console.log(error.response)
      }); 
        
    },
    checkLoginStatus(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/auth/check-login-status.php";
      axios.post(url, { 
        email: this.email,
        password: this.password,
        ip: this.userIP,
        agent: this.userAgent,
        deviceId: this.userDeviceID,
        deviceType: this.userDeviceType,
      })
      .then(response => {
        if(response.data.verified){
          const loggedIn = response.data.loggedIn;
          if(loggedIn && this.loginClick < 2){
            this.loggedIn = true;
            console.log("already logged in");
            // this.$notify({
            //   type: 'error',
            //   title: `Gebruiker al ingelogd`,
            //   text: `Er is al een gebruiker ingelogd met dit mailadres, wilt u deze overschrijven? Klik dan nogmaals op login`
            // });
              this.$refs.messageModal.showModal(
                "Gebruiker al ingelogd",
                "Er is al een gebruiker ingelogd met dit mailadres, wilt u deze overschrijven? Klik dan op bevestigen"
              );
          } else {
            this.login();
          }
        } else {
          console.log("already logged in");
            this.$notify({
              type: 'error',
              title: `Onjuist wachtwoord`,
              text: `Probeer het nog een keer`
          });
        }
        }).catch(error => {
            this.$notify({
                type: 'error',
                title: `Email niet gevonden`,
                text: `Er is geen gebruiker gevonden met het ingevulde mailadres`
            });
            // // console.log("Inloggen niet geslaagd")
            this.loginOld();
            // console.log(error.response)
        });  
    },
    login() {
      this.$auth.loginWith('local', 
      { 
        data: {  
          email: this.email,
          password: this.password,
          ip: this.userIP,
          agent: this.userAgent,
          deviceId: this.userDeviceID,
          deviceType: this.userDeviceType,
        } 
      })
      .then(response => {
        console.log(response.data.user.subscription)
        if(response.data.user){
        const user = JSON.parse(response.data.user)
        console.log(user.type);
        if(user.type == 1){
          this.$notify({
            type: 'success',
            title: `Ingelogd`,
          });
          console.log(response.data)
          this.$auth.setUser(JSON.parse(response.data.user))
          this.$auth.strategy.token.set(response.data.jwt)
        }else{
          this.$notify({
            type: 'warn',
            title: `Verboden Toegang`,
            text: `U heeft geen toegang tot het webportaal, neem contact op met uw werkgever`
         });
        }
      }
          
      }).catch(error => {
          this.$notify({
              type: 'warn',
              title: `Er is iets verkeerd gegaan! Probeer het nog eens! `,
              text: `Heeft u de juiste gegevens ingevuld? Vergeet niet uw account te activeren!`
          });
          console.log("LOGIN ERROR:")
          console.log(JSON.stringify(error))
          //this.loginOld();
          console.log(error)
      }); 
    },
    loginOld(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/b/user/login.php";
      axios.post(url,{
        email: this.email,
        password: this.password,
      })
      .then(response => {
        // console.log("login geslaagd");
        const user = JSON.parse(response.data.user);
        if(user.id <= 27 || user.id == 45 || user.id == 98){
          sessionStorage.setItem("accessToken", response.data.jwt)
          sessionStorage.setItem("userData", JSON.stringify(response.data.user))
          localStorage.setItem("userData", response.data.user)
          localStorage.setItem("accessToken", response.data.jwt)

          window.location.replace('https://vszh.eezywork.nl/home');
        }else{
          // console.log("Geen toegang")
        }
      })
      .catch(error => {
        // console.log("Inloggen niet geslaagd")
        // console.log(error.response)
      });
    },
    focusPasswordField() {
      this.$nextTick(() => {
        this.$refs.passwordField.focus();
      });
    },
    focusEmailField() {
      this.$nextTick(() => {
        this.$refs.emailField.focus();
      });
    }
  },
}
</script>

<style scoped>
.main{
  @apply bg-darkred;
  background-image: -webkit-linear-gradient(-30deg, #7d1118 50%, #9d1a16 50%);
}
.content{
  @apply flex justify-center items-center;
}
.login-module{
  @apply md:p-10 px-4 py-10 md:w-96 bg-darkred rounded-lg;
  background-color: rgba(255, 255, 255, 0.2);
}
input {
  @apply px-3 py-3 mb-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply my-2 text-white font-poppins;
}
.submit-button {
  @apply bg-black hover:bg-gray-900 m-auto py-2 text-white rounded-md font-poppins text-center w-full;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>