<template>
  <div class="main">
     <notifications 
		:duration="3000" 
		:width="300" 
		:max="1" 
		animation-name="fade-right" 
		position="bottom right" 
	    ></notifications> 
    <div class="content h-screen w-screen bg-darkred">
        <div class="login-module">
            <img src="~/assets/icons/Eezywork.png" alt="Werknemers icoon" class="w-28 h-28 m-auto mb-6">
            <!-- <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Inloggen</h1> -->
            <div class="flex flex-col">
              <label for="email">Email</label>
              <input v-model="email" type="email" id="email" placeholder="">
            </div>
            <div class="flex flex-col mb-2">
              <label for="password">Wachtwoord</label>
              <input v-model="password" type="password" id="password" placeholder="">
            </div>
            <div @click="login()" class="submit-button text-center cursor-pointer">
              <!-- <NuxtLink to="/overzicht" class="submit-button-link">Inloggen</NuxtLink> -->
                <button class="submit-button-link">
                    Inloggen
                </button>
            </div>
            <p class="mt-4 font-poppins text-center text-white">
              <NuxtLink to="/login/wachtwoord/aanvragen" class="create-account-link text-white font-poppins ml-1 text-sm underline">
                Wachtwoord vergeten?
              </NuxtLink>
            </p>
            <!-- <div class="create-account-container flex flex-wrap justify-center mt-4">
              <p class="text-white font-poppins text-sm">Nog geen account? </p>
              <NuxtLink to="/overzicht" class="create-account-link text-white font-poppins ml-1 text-sm underline">
              Registreren
              </NuxtLink>
            </div> -->
        </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'empty',
  name: 'login',
  data() {
    return {
      password: '',
      email: '',
      userIP: '',
      userAgent: '',
      userDeviceType: '',
      userDeviceID: '',
    }
  },
  created(){
    const ua = navigator.userAgent;
    const axios = require('axios');
    
    var resourcesUrl = "https://api.ipify.org?format=json";
    
    axios.get(resourcesUrl)
    .then(response => {
      this.userIP = response.data.ip;
    })
    .catch(error => {
      console.log(error.response)
    });

    this.userAgent = navigator.userAgent;
    this.userDeviceID = navigator.hardwareConcurrency + navigator.deviceMemory + navigator.userAgent;

    if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
      this.userDeviceType = "tablet";
    } else if (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
      this.userDeviceType = "mobile";
    }else{
      this.userDeviceType = "desktop";
    }
  },
  methods:{
    login() {
      this.$auth.loginWith('local', 
      { data: {  
          email: this.email,
          password: this.password 
        } 
      })
      .then(response => {
        const user = JSON.parse(response.data.user)
        console.log(user.type);
        if(user.type == 1){
          this.$notify({
            type: 'success',
            title: `Ingelogd`,
          });
          this.$auth.setUser(JSON.parse(response.data.user))
          this.$auth.strategy.token.set(response.data.jwt)
        }else{
          this.$notify({
            type: 'warn',
            title: `Verboden Toegang`,
            text: `U heeft geen toegang tot het webportaal, neem contact op met uw werkgever`
         });
        }
          
      }).catch(error => {
          this.$notify({
              type: 'warn',
              title: `Er is iets verkeerd gegaan! Probeer het nog eens! `,
              text: `Heeft u de juiste gegevens ingevuld? Vergeet niet uw account te activeren!`
          });
          // // console.log("Inloggen niet geslaagd")
          this.loginOld();
          // console.log(error.response)
      }); 
    },
    loginOld(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/b/user/login.php";
      axios.post(url,{
        email: this.email,
        password: this.password,
      })
      .then(response => {
        // console.log("login geslaagd");
        const user = JSON.parse(response.data.user);
        if(user.id <= 27 || user.id == 45 || user.id == 98){
          sessionStorage.setItem("accessToken", response.data.jwt)
          sessionStorage.setItem("userData", JSON.stringify(response.data.user))
          localStorage.setItem("userData", response.data.user)
          localStorage.setItem("accessToken", response.data.jwt)

          window.location.replace('https://vszh.eezywork.nl/home');
        }else{
          // console.log("Geen toegang")
        }
      })
      .catch(error => {
        // console.log("Inloggen niet geslaagd")
        // console.log(error.response)
      });
    }
  },
}
</script>

<style scoped>
.content{
  @apply flex justify-center items-center;
}
.login-module{
  @apply p-10 w-96 bg-darkred rounded-md;
}
input {
  @apply px-3 py-3 mb-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply my-2 text-white font-poppins;
}
.submit-button {
  @apply bg-black hover:bg-gray-900 m-auto py-3 text-white rounded-md font-poppins text-center w-full;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>