<template>
    <div>
    <div class="header">
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray truncate">Eezywork > Relaties</p>
      </div>
      
      <div class="grid justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row">
          <h1 class="text-xl font-poppins font-semibold text-darkgray">Relaties</h1> 
          <!-- <ul class="tabbladen-items flex flex-row ml-8 pt-1">
            <li class="tabblad-item">
              <NuxtLink to="/relaties/aanmaken/">Aanmaken</NuxtLink>
            </li>
            <li class="tabblad-item">
              <NuxtLink to="/relaties/bekijken/">Bekijken</NuxtLink>
            </li>
          </ul> -->
        </div>
      </div>
    </div>

    <div class="content bg-background px-6 py-6 truncate">
      <h2 class="font-poppins font-semibold text-darkgray absolute pt-1 truncate" style="font-size:18px">Overzicht relaties</h2>
       <div class="header-button-container pl-4 pt-0.5 float-right truncate">
          <button v-if="canEdit" class="red-button">
            <NuxtLink :to="{ path: '/relaties/aanmaken/', query: { id: this.id }}">Toevoegen</NuxtLink>
          </button> 
        </div>
      <div>
        <vue-good-table
              :columns="columns" 
              :line-numbers="false"
              :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
              enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
              placeholder: 'Zoeken...',
              compactMode: true
          }"
          :pagination-options="{
          enabled: true,
          mode: 'resultaten',
          nextLabel: 'Volgende',
          prevLabel: 'Vorige',
          rowsPerPageLabel: 'Relaties per pagina',
          ofLabel: 'van',
          pageLabel: 'pagina', // for 'pages' mode
          allLabel: 'Alle',
        }"
        styleClass="tableOne vgt-table"
        :rows="relations"
        ><template slot="table-row" slot-scope="props">
           <span v-if="props.column.field == 'button'">
            <button type="button" @click="showRelation(props.row.relation_id)" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
              <img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
            </button> 
          </span>
          </template>
        </vue-good-table>
      </div> 
    </div>
    </div>
</template>

<script>
// import the styles
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import ViewDisabled from '~/components/modal/viewDisabled.vue'
import '~/static/css/vuegoodtable.css'

export default {
  layout: 'default',
  transition: 'slide-bottom',
   components: {
    VueGoodTable,
    ViewDisabled
  },
  name: 'werknemers',
    data() {
        return {
          canEdit: false,
          canRead: false,
          canDelete: false,
          permissions: this.$auth.$storage.getState("perm"),
          relations: '',
          companyId: this.$auth.user.companyId,
          id: '',
          columns: [
          {
            label: "Bedrijf", 
            field: "name",
            thClass: "gull-th-class",
          }, 
          {
            label: "Email", 
            field: "email",
            thClass: "gull-th-class",
          },
          {
            label: "Telefoon", 
            field: "phone",
            thClass: "gull-th-class",
          },
          {
            label: "Adres", 
            field: "address",
            thClass: "gull-th-class",
          }, 
          {
            label: "Stad", 
            field: "city",
            thClass: "gull-th-class",
          }, 
          {
            label: "KVK", 
            field: "chamber_of_commerce",
            thClass: "gull-th-class",
          },
            {
            label: "Code",
            field: "external_code",
            thClass: "gull-th-class",
          },{
            label: "Acties",
            field: "button",
            html: true,
          }]
        }
    },
    mounted(){
      this.permissions.forEach(element => {
        if(element.name == "relation_can_edit"){
            this.canEdit = true;
        }
        if(element.name == "relation_can_read"){
            this.canRead = true;
        }
        });
        if(!this.canRead){  
            this.$refs.ViewDisabled.showModal()    
        }        
    },
    created() {        
      this.getRelations();
    },
    methods:{
      showRelation(relationId){
        this.$router.push({ name: 'relaties-bekijken-gegevens'})
        this.$auth.$storage.setState("relationId", relationId);
      },
      getRelations(){
          const axios = require('axios');
          var url = "https://api.eezywork.nl/v1/pm/relation/read.php?companyId="+this.$auth.user.companyId;
          axios.get(url)
          .then(response => {
              this.relations = response.data;
              // console.log(this.relations)
          })
          .catch(error => {
              // console.log(error.response)
          });
      },
    }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred px-6 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center text-sm mt-0;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabbladen-items{
  overflow-x: scroll;
  padding-right: 0px;
}
.tabblad-item {
  @apply px-3 pt-1 mr-2 font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply px-3 pt-1 mr-2 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-2 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
::-webkit-scrollbar {
  @apply bg-background;
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
.vgt-wrap {
    position: inherit;
}
</style>