<template>
  <div class="main">
     <notifications 
		:duration="3000" 
		:width="300" 
		:max="1" 
		animation-name="fade-right" 
		position="bottom right" 
	    ></notifications> 
    <div class="content h-screen w-screen bg-darkred">
        <div class="login-module">
            <img src="~/assets/icons/Eezywork.png" alt="Werknemers icoon" class="w-28 h-28 m-auto mb-6">
            <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Hierbij accepteer ik de uitnodiging</h1>
            
            <div @click="accept()" class="submit-button text-center cursor-pointer">
              <!-- <NuxtLink to="/overzicht" class="submit-button-link">Inloggen</NuxtLink> -->
                <button class="submit-button-link">
                    Accepteren
                </button>
            </div>
            <!-- <div class="create-account-container flex flex-wrap justify-center mt-4">
              <p class="text-white font-poppins text-sm">Nog geen account? </p>
              <NuxtLink to="/overzicht" class="create-account-link text-white font-poppins ml-1 text-sm underline">
              Registreren
              </NuxtLink>
            </div> -->
        </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  name: 'login',
  data() {
    return {
      password: '',
      email: '',
      id: ''
    }
  },
  mounted(){
    if(this.$route.query.id){
      this.id = this.$route.query.id;
      let query = Object.assign({}, this.$route.query);
      delete query.id;
      this.$router.replace({ query });
    } else {
      this.$router.push({ path: '/login'});
    }
  },
  methods:{
    accept() {
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/profile/accept-invitation.php";
      axios.post(url,{
        id: this.id
      })
      .then(response => {
        this.$notify({
            type: 'success',
            title: `Uitnodiging geaccepteerd`
        });
        setTimeout(() => { this.$router.push({ path: '/login'}) }, 2000);
      })
      .catch(error => {
        // console.log("Inloggen niet geslaagd")
        // console.log(error.response)
      });
    }
  },
}
</script>

<style scoped>
.content{
  @apply flex justify-center items-center;
}
.login-module{
  @apply p-10 w-96 bg-darkred rounded-md;
}
input {
  @apply px-3 py-3 mb-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply my-2 text-white font-poppins;
}
.submit-button {
  @apply bg-black hover:bg-gray-900 m-auto py-3 text-white rounded-md font-poppins text-center w-full;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>