<template>
  <div class="main">
    <Sidebar />
    <div class="header grid grid-cols-2 xl:grid-cols-3">
      <timesheet-modal ref="timesheetModal"></timesheet-modal>
        <div>
            <p class="text-xs font-poppins text-darkgray">Eezywork > Urenregistratie</p>
            <h1 class="text-xl font-poppins font-semibold text-darkgray pt-1">Urenregistratie</h1>
        </div>
        <div class="filter header-filter-container flex overflow-y-scroll overflow-x-scroll">
            <p class="filter-bar-items">Filters:</p>
            <span class="filter-bar-items flex mx-4">
                <button @click="toggleStatfil()">Status </button>
                <img src="~/assets/icons/filter-icon.png" class="filter-icon" alt="Planner wijzig weergave" />
                <popover ref="statfil" style="min-width: 400px; width: auto; height: auto; margin-left: 200px; margin-top: 50px;" name="statfil">
                    <multiselect 
                        ref="multiSelect"
                        id="availibility_multiselect"
                        :options="statusOptions"
                        v-model="statusValue"
                        :close-on-select="false"
                        :multiple="true"
                        select-label="Selecteer"
                        deselect-label=""
                        label="status_name"
                        track-by="status_id"
                        placeholder="Selecteer een status"
                        selectedLabel="Geselecteerd"
                        selection=""
                        :allow-empty="true"
                        :taggable="true"
                        @input="addFilters"
                        @close="toggleStatfil"
                    >
                    <template slot="selection"></template>
                    </multiselect>
                </popover>
            </span>
            <span class="filter-bar-items flex mx-4">
                    <button @click="toggleClientfil()" > Opdrachtgever </button>
                    <img src="~/assets/icons/filter-icon.png" class="filter-icon" alt="Planner wijzig weergave" />
                    <popover ref="clientfil"  style="min-width: 400px; width: auto; height: auto;  margin-left: 250px; margin-top: 50px;" name="clientFil">
                        <template v-if="relationOptions.length > 0">
                            <multiselect
                                id="availibility_multiselect"
                                :options="relationOptions"
                                v-model="relationValue"
                                :close-on-select="false"
                                :multiple="true"
                                select-label="Selecteer"
                                deselect-label=""
                                :label="'name'"
                                track-by="relation_id"
                                placeholder="Selecteer een opdrachtgever"
                                selectedLabel="Geselecteerd"
                                :allow-empty="true"
                                :taggable="true"
                                @input="addFilters"
                                @close="toggleClientfil"
                            ></multiselect>
                        </template>
                        <template v-else>
                            Geen opdrachtgevers gevonden. 
                        </template>
                    </popover>
            </span>
            <span class="filter-bar-items flex mx-4">
                <button @click="toggleResourcefil" >Medewerker</button>                
                <img src="~/assets/icons/filter-icon.png" class="filter-icon" alt="Planner wijzig weergave" />
                 <popover ref="resourcefil" style="min-width: 400px; width: auto; height: auto; margin-left: 300px; margin-top: 50px;" name="resourceFilt">
                    <multiselect
                        id="availibility_multiselect"
                        :options="resourceOptions"
                        v-model="resourceValue"
                        :close-on-select="false"
                        :multiple="true"
                        select-label="Selecteer"
                        deselect-label=""
                        :label="'title'"
                        track-by="profile_id"
                        placeholder="Selecteer een medewerker"
                        selectedLabel="Geselecteerd"
                        :allow-empty="true"
                        :taggable="true"
                        @input="addResourceFilter"
                        @close="toggleResourcefil"
                    ></multiselect>
                </popover>
            </span>
        </div>
        <div class="header-button-container flex h-14 overflow-y-hidden overflow-x-scroll">
            <!-- <button class="filter-bar-items ">
                <span class="toggle-item-view flex">Weergave
                    <img src="~/assets/icons/dropdown-icon.png" class="h-2 mt-2 mx-2" alt="Weergave dropdown icon" />
                </span>
            </button> -->
            <div class="toggle-checkbox-weekend">
                <label class="container">Weekend
                    <input type="checkbox" v-model="weekends" checked @click="changeWeekend">
                <span class="checkmark"></span>
                </label>
                <!-- <input type="checkbox" id="weekend-toggle" v-model="weekend">
                <span class="custom-checkmark"></span>
                <label for="weekend-toggle" class="weekend-toggle-text">Weekend</label> -->
            </div>
            <date-picker 
                class="inline-block " 
                v-model="date"
                :attributes='attrs'
                color="red"
                @dayclick='dayClicked'
                show-iso-weeknumbers="right"
                >
                <template v-slot="{ togglePopover }">
                    <div class="">
                        <button class="filter-bar-items filter-bar-item-next" @click="togglePopover()">
                            <img src="~/assets/icons/planner-weergave.png" class="toggle-icon-calendar" alt="Planner wijzig weergave" style="height: 45px;" />
                        </button>
                    </div>
                </template>
            </date-picker>
            <button @click="today()" class="filter-bar-items filter-bar-item-next">
                <span class="toggle-icon-today">Vandaag</span>
            </button>
            <button @click="prev()" class="filter-bar-items">
                <span class="toggle-icon-prev"></span>
            </button>
            <button @click="next()" class="filter-bar-items">
                <span class="toggle-icon-next"></span>
            </button>
        <!-- <button 
            @click="showCreateModal()"
            style="z-index:10;"
            class="modal-button-red">
            Updaten
        </button> -->
        </div>
    </div>
    
    <div class="content bg-background px-6 pt-6" @click="closeFilters()">
      <FullCalendar
        id="calendar"
        class='calendar-container'
        ref="calendar"
        :options="calendarOptions" 
      ><template v-slot:eventContent='arg'>
            <div class="event-details-container bg-lightgray rounded-lg">
                <div class="event-details">
                    <div class="event-title">{{arg.event.title}}</div>
                    <div class="flex">
                        <img src="~/assets/icons/urenregistratie-dark-icon.png" class="icon-hours-worked" alt="gewerkte uren">
                        <div class="event-description">{{arg.event.extendedProps.start_time +" - "+ arg.event.extendedProps.end_time}}</div>
                    </div>
                </div>
                <div class="event-status-bar rounded-r-lg" :style="{ background: arg.event.extendedProps.darkColor }">
                    <img v-if="arg.event.extendedProps.shift_status==6" src="~/assets/icons/check-icon-white.png" alt="goedgekeurd">
                </div>
           </div>
           <!-- {{arg}} -->
            <!-- <div :id='arg.event.extendedProps.service_id' :data-type='arg.event.extendedProps.type_id' :data-shift="arg.event.extendedProps.shiftExists" :data-status="arg.event.extendedProps.service_status" class="chosen"></div>
            <template v-if="arg.event.extendedProps.available === true">
              <i>{{ arg.event.title +" "}}</i>
              <i v-if="arg.event.extendedProps.meta.name">{{ arg.event.extendedProps.meta.name.meta_value +" "}}</i>
            </template>
            <template v-else>
              <i v-if="arg.event.extendedProps.type_id !== '27' && arg.event.extendedProps.client_name">{{ arg.event.extendedProps.client_name +" "}}</i>
              <i v-if="arg.event.extendedProps.type_id !== '27' && arg.event.extendedProps.order_title">{{ arg.event.extendedProps.order_title +" "}}</i>
              <i>{{ arg.event.extendedProps.type_name +" "}}</i>
              <template v-if="arg.event.extendedProps.meta.name"><i> {{ arg.event.extendedProps.meta.name.meta_value +" "}}</i></template>
              <i v-if="arg.event.extendedProps.start_time">{{ arg.event.extendedProps.start_time +" "}}</i>
              <i v-if="arg.event.extendedProps.end_time">|| {{ arg.event.extendedProps.end_time +" "}}</i>
            </template>-->
        </template> 
      </FullCalendar>
    </div>
  </div>
</template>

<script>
//import '@fullcalendar/core/vdom'
import FullCalendar, { CalendarDataManager } from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
import scrollGrid from '@fullcalendar/scrollgrid'
import '~/static/css/hour-registration.css'
import moment from 'moment'
import timesheetModal from '~/components/modal/timesheetModal.vue';
import Calendar from 'v-calendar/lib/components/calendar.umd'
import DatePicker from 'v-calendar/lib/components/date-picker.umd'
import TimesheetModal from '../../../components/modal/timesheetModal.vue'

export default {
  name: 'hour-registration',
  components: {
    FullCalendar,
    Calendar,
    DatePicker,
    timesheetModal
  }, 
  data() {
    return {
        attrs: [{ }],
        timer: '',
        currentEvents: [],
        events: {},
        companyId: this.$auth.user.companyId,
        resources: {},
        statusOptions: [],
        statusValue: '',
        resourceOptions: [],
        resourceValue: '',
        statusFilter: '',
        relationValue: '',
        relationOptions: [],
        dateToCheck: "",
        isModalVisible: false,
        modalData: {},
        weekNumber: 1,
        reloadshiftToCheck: '',
        date: new Date(),       
        reloadshifts: '',
        weekends: true,
        calendarOptions: {
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            datesSet: this.handleMonthChange,
            locale: "nl",
            weekends: this.weekends,
            plugins: [
                dayGridPlugin,
                interactionPlugin,
                resourceTimelinePlugin,
                scrollGrid,
            ],
            slotLabelFormat: [// top level of text
                {
                    weekday: 'short'
                }, // middle level of text
                {
                    day: 'numeric',
                    month: 'short'
                } // lower level of text
            ],
            initialView: "resourceTimelineWeek",
            views: {
                resourceTimelineWeek: {
                    type: 'resourceTimelineWeek',
                    // other view-specific options here
                }
            },
            handleWindowResize: false,
            weekNumbers: true,
            datesAboveResources: true,
            dayMinWidth: 200,
            droppable: false,
            weekText: "Weeknummer:",
            titleFormat: {
                year: 'numeric',
                month: 'long'
            },
            firstDay: 1,
            eventColor: "#173e7b",
            eventDidMount: function(info) {
                
            },
            // eventResize: function(info) {
                
            // },
            eventDrop: function(info) {
                
            },
            eventResourceEditable: false,
            resourceAreaWidth: '200px',
            duration: {
                days: this.week
            },
            slotDuration: {
                days: 1
            },
            // visibleRange: {
            //     start: this.today,
            //     end: this.endDate
            // },
            editable: true,
            dragScroll: false,
            selectable: true,
            select: this.handleDateSelect,
            eventClick: this.handleEventClick,
            //eventsSet: this.handleEvents,
            height: 'auto', 
            resourceAreaColumns: [{
                field: 'title',
                headerContent: 'Week: 1',
            }], 
            buttonText: {
                today: 'Vandaag',
                month: 'Maand',
                week: 'Week',
                day: 'Dag',
                list: 'Lijst'
            },
            events: [],
            resources: "", // changevar
            resourceOrder: "schedule_order",
            slotMinWidth: 200,
            handleWindowResize: false,
        },
    } 
  },
  mounted() {        
    this.getEvents();
    this.formatDate();
    // // console.log("Events")
    // // console.log(this.calendarOptions.events)
    },
    created() {
        var companyId = this.$auth.user.companyId
        const axios = require('axios');
        var resourcesUrl = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+companyId+"&schedule=0";
        axios.get(resourcesUrl)
        .then(response => {
            this.resources = response.data;
            this.$refs.updateServiceModal.options = response.data;
            this.$refs.createServiceModal.options = response.data;
            // console.log(this.resources)
        })
        .catch(error => {
            // // console.log(error.response)
        });
        var statusUrl = "https://api.eezywork.nl/v1/pm/shift/status/get-list.php";
        axios.get(statusUrl)
        .then(response => {
            this.statusOptions = response.data;
        })
        .catch(error => {
            // // console.log(error.response)
        });
        var url = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+companyId;
        axios.get(url)
        .then(response => {
            this.resourceOptions = response.data;
            // console.log(this.resourceOptions)
        })
        .catch(error => {
            // console.log(error.response)
        });
        this.refreshTimer();
        this.getRelations();
        // this.setResources();
    },
     mounted() {
        var companyId = this.$auth.user.companyId
        var url = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?schedule=2&companyId="+companyId;
        this.calendarOptions.resources = url;   
    },
    beforeDestroy() {
        this.cancelAutoUpdate();
    },
    methods: {
        toggleStatfil(){
            if(this.$refs.statfil.visible){
                this.$refs.statfil.visible = false;
            } else {
                this.closeFilters();
                this.$refs.statfil.visible = true;
            }
        },
        toggleClientfil(){
            if(this.$refs.clientfil.visible){
                this.$refs.clientfil.visible = false;
            } else {
                this.closeFilters();
                this.$refs.clientfil.visible = true;
            }
        },
        toggleResourcefil(){
                if(this.$refs.resourcefil.visible){
                this.$refs.resourcefil.visible = false;
            } else {
                this.closeFilters();
                this.$refs.resourcefil.visible = true;
            }
        },
        closeFilters(){
            if(this.$refs.statfil.visible){
                this.$refs.statfil.visible = false;
            } 
            if(this.$refs.clientfil.visible){
                this.$refs.clientfil.visible = false;
            } 
            if(this.$refs.resourcefil.visible){
                this.$refs.resourcefil.visible = false;
            } 
        },
        changeWeekend() {
            // console.log("WEEKEND")
            let calendarApi = this.$refs.calendar.getApi();
            var boolean = false;
            if (this.weekends === false) {
                boolean = true
            }
            calendarApi.setOption('weekends', boolean);
        },
        cancelAutoUpdate () {
            clearInterval(this.timer);
        },
        handleMonthChange(data) {
            if(this.dateToCheck != data.startStr){
                let calendarApi = this.$refs.calendar.getApi();
                // // console.log(data);    
                this.events = "https://api.eezywork.nl/v1/pm/timesheet/get-events.php?companyId="+this.companyId+"&startDate="+data.startStr+"&endDate="+data.endStr+"";
                // console.log(this.events);
                this.dateToCheck = data.startStr;
                
                const today = new Date(this.dateToCheck);
                const firstDayOfYear = new Date(today.getFullYear(), 0, 1);
                const pastDaysOfYear = (today - firstDayOfYear) / 86400000;
                this.weekNumber = Math.ceil((pastDaysOfYear + firstDayOfYear.getDay() + 1) / 7) - 1;
                
                calendarApi.setOption('resourceAreaColumns', [{
                        field: 'title',
                        headerContent: 'Week: '+this.weekNumber
                    }]);

                this.getEvents();
            }
        },
        dayClicked(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.gotoDate(this.date);
        },
        getEvents(){
            const axios = require('axios');
            var eventUrl =  this.events;
            var filters = {}
            if(this.statusValue || this.relationValue){
                var filters = {
                    statusFilter: this.statusValue,
                    relationFilter: this.relationValue
                }
            }
            axios.post(eventUrl,filters)
            .then(response => {
                this.calendarOptions.events = response.data;
                // // console.log(this.calendarOptions.events)
            })
            .catch(error => {
                // // console.log(error.response)
            });
        },
        checkMove: function(e) {

        },
         getRelations(){
            const axios = require('axios');
            var relationUrl = "https://api.eezywork.nl/v1/pm/relation/read.php?companyId="+this.companyId;
            axios.get(relationUrl)
            .then(response => {
                this.relationOptions = response.data;
                // console.log(this.relations);
            })
            .catch(error => {
                // console.log(error.response)
            });
        },
        setResources(){
            let calendarApi = this.$refs.calendar.getApi();
            var resourcesUrl = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+this.companyId+"&schedule=1";

            calendarApi.setOption('resources', resourcesUrl);
            this.refetchEvents();
        },
        refreshTimer() {
            setInterval(() => {
                const axios = require('axios');
                var url = this.events;
                var filters = {}
                if(this.statusValue || this.relationValue){
                    var filters = {
                        statusFilter: this.statusValue,
                        relationFilter: this.relationValue
                    }
                }
                axios.post(url,filters)
                    .then(response => {
                        this.reloadshiftToCheck = JSON.stringify(response.data);
                        var var1 = this.reloadshiftToCheck;
                        var var2 = this.reloadshifts;
                        if (var1 == var2) {
                            null;
                        } else {
                            this.reloadshifts = this.reloadshiftToCheck;
                            this.calendarOptions.events = response.data
                            this.refreshEvents();
                        }
                    })
                    .catch(error => {
                        // console.log(error.response)
                    });
            }, 30000)
        },
        refreshEvents(i = null) {
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.refetchEvents();
            // calendarApi.refetchResources();
        },
        addResourceFilter(){
            const axios = require('axios');
            var resourcesUrl = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+this.companyId+"&schedule=2";
            axios.post(resourcesUrl, {
                resourceFilter: this.resourceValue
            })
            .then(response => {
                this.resources = response.data;
                // console.log(this.resources);
                let calendarApi = this.$refs.calendar.getApi();
                calendarApi.setOption('resources', this.resources);
                this.refetchEvents();
            })
            .catch(error => {
                // // console.log(error.response)
            });
        },
        addFilters(){
            this.getEvents();
        },
        handleEventClick(clickInfo) {
            this.modalData = clickInfo.event;
            // console.log(this.modalData);
            this.$refs.timesheetModal.showModal();
            this.$refs.timesheetModal.shiftId = clickInfo.event.extendedProps.shift_id;
            this.$refs.timesheetModal.serviceStartTime = clickInfo.event.extendedProps.service_start_time;
            this.$refs.timesheetModal.serviceEndTime = clickInfo.event.extendedProps.service_end_time;
            this.$refs.timesheetModal.servicePause = clickInfo.event.extendedProps.pause;
            this.$refs.timesheetModal.serviceTitle = clickInfo.event.title;
            this.$refs.timesheetModal.serviceComment = clickInfo.event.extendedProps.comment;
            this.$refs.timesheetModal.shiftStatus = clickInfo.event.extendedProps.shift_status;
            if(clickInfo.event.extendedProps.shift_status == 5 && clickInfo.event.extendedProps.hours){
                this.$refs.timesheetModal.startTime = clickInfo.event.extendedProps.hours.start_time;
                this.$refs.timesheetModal.endTime = clickInfo.event.extendedProps.hours.end_time;
                this.$refs.timesheetModal.pause = clickInfo.event.extendedProps.hours.pause;
                this.$refs.timesheetModal.kilometer = clickInfo.event.extendedProps.hours.kilometer;
                this.$refs.timesheetModal.comment = clickInfo.event.extendedProps.hours.comment;
                this.$refs.timesheetModal.timesheetId = clickInfo.event.extendedProps.hours.timesheet_id;
                this.$refs.timesheetModal.isUpdate = true;
                this.$refs.timesheetModal.isDone = false;
                this.$refs.timesheetModal.isCreate = false;
            } else if(clickInfo.event.extendedProps.shift_status == 6 && clickInfo.event.extendedProps.hours){
                this.$refs.timesheetModal.startTime = clickInfo.event.extendedProps.hours.start_time;
                this.$refs.timesheetModal.endTime = clickInfo.event.extendedProps.hours.end_time;
                this.$refs.timesheetModal.pause = clickInfo.event.extendedProps.hours.pause;
                this.$refs.timesheetModal.kilometer = clickInfo.event.extendedProps.hours.kilometer;
                this.$refs.timesheetModal.comment = clickInfo.event.extendedProps.hours.comment;
                this.$refs.timesheetModal.timesheetId = clickInfo.event.extendedProps.hours.timesheet_id;
                this.$refs.timesheetModal.isUpdate = true;
                this.$refs.timesheetModal.isCreate = false;
                this.$refs.timesheetModal.isDone = false;
            }
            else {
                // console.log("ANDERS");
                this.$refs.timesheetModal.isCreate = true;
                this.$refs.timesheetModal.isUpdate = false;
                this.$refs.timesheetModal.isDone = false;
            }
        },
        handleEvents(events) {
            
        },
        formatDate(){
            moment.locale('nl')
            let calendarApi = this.$refs.calendar.getApi();
            var startDate = calendarApi.currentData.dateProfile.currentRange.start
            startDate = moment(startDate).format('DD MMM')

            var endDate = moment(calendarApi.currentData.dateProfile.currentRange.end)
            endDate = endDate.subtract(1, "days");
            endDate = endDate.format('DD MMM')

            this.startDate = startDate
            this.endDate = endDate
            // console.log(calendarApi)  
        },
        next(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.next();
        this.formatDate()
        },
        prev(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.prev();
        this.formatDate()
        },
        today(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.today();
        this.formatDate()
        }
    }
}
</script>

<style>
/* Multiselect Filters */
.filter .multiselect__input {
    max-width: 30%;
}
</style>

<style scoped>
.event-details-container{
  height: auto!important;
}
.fc-event-main{
  height: auto !important;
}
.fc-timeline-event{
    height: auto !important;
}
a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-past{
    height: auto !important;
}
.toggle-icon-calendar{
    margin-top: 3px;
}
/* FONT IMPORT */
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 400;
src: local("Poppins"),
    url(~/static/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 500;
src: local("Poppins"),
    url(~/static/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 600;
src: local("Poppins"),
    url(~/static/fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
font-family: "HK Grotesk";
font-display: auto;
font-weight: 700;
src: local("HK Grotesk"),
    url(~/static/fonts/HKGrotesk-Bold.otf) format("opentype");
}
/* TABLE STYLING */
.fc table{
    table-layout: auto;
}
.fc-view > table{  
    min-width: 0;
    width: auto;
}
.fc-axis{
    min-width:100px; /*the width of times column*/
    width:100px; /*the width of times column*/
}
.fc-day,.fc-resource-cell,.fc-content-col{
    min-width:300px;
    width:300px;
}
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
  grid-template-columns: 250px minmax(100px, 1fr) minmax(200px, 410px);
}
/* @media (max-width:1425px){
    .header{
        grid-template-columns: 150px minmax(475px, 1fr);
        height: auto;
    }
    .header-button-container{
        @apply col-span-2;
        margin-left: 0px !important;
        overflow-x: scroll;
    }
} */
.header-filter-container{
    @apply bg-white rounded-lg p-3 font-poppins;
    margin-top: 5px;
    height: 45px;
    width: 460px;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
    /* overflow-x: scroll; */
}
@media (max-width:1255px){
    .header-filter-container{
    width: 100%;
}
}
.filter-icon{
    @apply h-2.5 mt-1.5 ml-1.5;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
  overflow: hidden;
}
.modal-button-red{
    @apply mt-1;
}
.filter-bar-items {
  @apply font-poppins font-medium overflow-ellipsis whitespace-nowrap text-darkgray;
  font-size: 14px;
}
.toggle-icon-prev, .toggle-icon-next{
    @apply bg-darkred rounded-lg !important;
    padding: 15px;
}
.toggle-icon-next, .toggle-icon-prev, .toggle-icon-filter {
  @apply text-white h-12;
  font-family: 'fcicons' !important;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}
.toggle-icon-next::before{
  content: "\e901";
}
.toggle-icon-prev::before{
  content: "\e900";
}
.toggle-icon-filter::before{
  content: "\e900";
}
.toggle-icon-filter::before{
  content: "\e900";
}
.toggle-icon-today, .toggle-item-new-task {
    @apply bg-white text-darkgray font-normal rounded-lg;
    padding: 11.75px;
    height: 45px!important;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}
.toggle-icon-today{
    @apply font-medium;
}
.toggle-item-new-task {
    @apply bg-darkred text-white font-poppins rounded-lg !important;
    min-width: 200px!important;
}
.header-button-container{
    margin-left: 10px;
    margin-top: 3px;
}
.header-button-container button, .header-button-container span{
    margin: 0px 3px;
}
.toggle-icon-calendar{
    @apply bg-darkred rounded-lg;
    width: 45px;
    min-width: 45px;
    padding: 16px;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}
.toggle-checkbox-weekend{
    @apply font-poppins font-normal py-4 px-3 overflow-ellipsis whitespace-nowrap;
}
.toggle-checkbox-weekend label{
    margin-top: 5px;
}
#weekend-toggle{
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom-checkmark{
    position: relative;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.weekend-toggle-text{
    font-size: 14px;
}
.toggle-item-view{
    @apply bg-darkred p-3 rounded text-white font-normal rounded-lg;
    height: 45px;
}
/* .toggle-item-view::after{
    font-family: 'fcicons' !important;
    content: "\e901";
} */
/* EVENTS STYLING */
a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end {
  height: 200px!important;
  max-height: 200px!important;
}
.icon-hours-worked{
    @apply w-3 h-3 mt-1.5 mr-1;
}
.event-time{
    @apply text-darkgray italic font-bold !important;
    font-size: 12px;
}
.event-title{
    @apply text-darkgray font-semibold text-base mt-1;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-description{
    @apply text-darkgray;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
}
.event-status-bar{
    @apply bg-darkred;
    @apply text-center flex flex-col;
    border-left: 1px solid white;
    padding: 6px;
}
.event-status-bar img{
    @apply bg-darkgreen rounded-full;
    padding: 3.5px;
}
.event-details{
    @apply py-2 pl-2;
}
.event-details-container{
    display: grid;
    grid-template-columns: 1fr 28px;
}
.event-person-initials{
    @apply bg-darkblue mb-1 text-darkgray font-semibold;
    font-size: 9px !important;
    padding: 5.5px 1px;
    border-radius: 5px;
}
.event-details-person-icon{
    @apply text-black absolute;
    font-size: 11px;
    margin-left: 17px;
    margin-top: -3px;
}
.event-details-persons img{
    width:80%;
}
.fc .fc-timeline-event-harness, .fc .fc-timeline-more-link{
    margin-bottom: 1000px;
}
@media (min-width:2501px){
    .event-title{
        max-width: 240px;
    }
}
@media (max-width:2500px){
    .event-title{
        max-width: 210px;
    }
}
@media (max-width:2250px){
    .event-title{
        max-width: 180px;
    }
}
@media (max-width:2000px){
    .event-title{
        max-width: 150px;
    }
}
@media (max-width:1800px){
    .event-title{
        max-width: 120px;
    }
}
@media (max-width:1500px){
    .event-title{
        max-width: 80px;
    }
}
@media (max-width:1350px){
    .event-title{
        max-width: 50px;
    }
}
/* CUSTOM CHECKBOX */
.container {
    @apply block relative cursor-pointer select-none;
    padding-left: 25px;
}
/* Hide the browser's default checkbox */
.container input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkmark {
    @apply absolute top-0 left-0 h-4 w-4 bg-background;
    border: 2px solid #9D1A16;
    border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
::-webkit-scrollbar {
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
</style>