/*GLOBAL FONT*/
#calendar {
  font-family: Poppins, Helvetica, sans-serif;
}
/*TOOLBAR STYLING*/
.fc-toolbar-title {
  display: none;
}
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 5px;
}
.fc-toolbar.fc-header-toolbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: none;
}
/*TABLE HEAD STYLING*/
th {
  color: #900d0d;
  font-size: 18px;
}
.fc .fc-timeline-slot-cushion {
  padding-top: 0px;
}
.fc-timeline-header {
  padding-left: 5px;
}
/* .fc-timeline-header-row:nth-child(1) {
  @apply absolute invisible;
} */
.fc .fc-datagrid-header .fc-datagrid-cell-frame {
  align-items: flex-end;
}
.fc-theme-standard .fc-scrollgrid {
  border: 0px !important;
}
.fc-theme-standard th {
  background-color: #fff5ed !important;
  border: 0px;
  font-family: "HK Grotesk", Helvetica, sans-serif;
}
.fc .fc-scrollgrid {
  border-collapse: collapse;
}
tr.fc-scrollgrid-section.fc-scrollgrid-section-header.fc-scrollgrid-section-sticky,
tr.fc-scrollgrid-section.fc-scrollgrid-section-body tr {
  border-bottom: 1px solid #ddbbbb;
}
.fc .fc-timeline-slot-frame {
  justify-content: flex-start;
  align-items: flex-end;
}
.fc .fc-resource-timeline-divider {
  width: 1px;
  background: #ddbbbb;
}
/*TABLE BODY STYLING*/
span.fc-datagrid-cell-main:nth-child(2) {
  @apply font-medium;
}
.fc .fc-highlight {
  @apply bg-hoverhighlight;
}
.fc-theme-standard td {
  border: 0px;
}
.fc-timeline-event-harness {
  padding: 3px;
  margin: 3px 1px 3px 1px;
}
.urenregistratie
  a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end {
  height: auto !important;
  min-width: 119px;
}
a.fc-timeline-event.fc-event-future,
.fc-event-past {
  border: 0px;
  -webkit-box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.16);
}
.fc-timeline-header tr:nth-child(1) th.fc-day {
  text-transform: capitalize;
  font-size: 14px;
}
.fc-event-main {
  height: 100%;
}
.fc-event-main i {
  color: #2d3143;
  font-size: 13px;
}
.event-details-container {
  height: 100%;
}
.fc-timeline-event {
  @apply border-none rounded-xl !important;
  padding: 0px;
  -webkit-box-shadow: 0px 5px 5px -4px rgb(0 0 0 / 10%);
  box-shadow: 0px 5px 5px -4px rgb(0 0 0 / 10%);
}
td.fc-timeline-slot.fc-timeline-slot-lane.fc-day.fc-day-tue.fc-day-today {
  min-width: 500px !important;
}

/* FIRST CHILD EVENT */
/* .fc-timeline-event-harness:nth-child(odd) .fc-event-main{
  @apply bg-green;
} */

/*MODAL STYLES*/
#modal {
  /* @apply p-6; */
  -webkit-box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.08);
  max-height: 1000px;
}
.modal-header-text {
  @apply text-darkgray font-semibold;
  font-size: 32px;
}
.modal-close-button button {
  @apply bg-darkred rounded-lg text-white fixed;
  margin-top: -60px;
  margin-right: -60px;
}
#modal-body input,
#modal-body textarea,
#modal-body select {
  @apply bg-white border-0;
  -webkit-box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.08);
}
.modal-body-label {
  @apply font-medium font-poppins text-sm;
}
.modal-input-field {
  @apply block font-poppins w-full bg-white text-gray-500 text-base rounded-lg py-3 px-4 my-2 focus:outline-none focus:bg-white;
}
.changedisable {
  @apply block font-poppins w-full bg-white text-gray-500 text-base rounded py-3 px-4 my-2 focus:outline-none focus:bg-white focus:border-gray-500;
}
#modal textarea {
  @apply block font-poppins w-full bg-white text-gray-500 text-base rounded py-3 px-4 my-2 focus:outline-none focus:bg-white focus:border-gray-500;
}
.form-checkbox {
  @apply w-3 h-3 mt-1 mr-2 !important;
  -webkit-box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.05);
}
.modal-button-red {
  @apply float-right border-2 border-darkred font-poppins text-darkgray font-medium px-4 py-2 rounded-md hover:bg-darkred hover:text-white transition;
}
.modal-button-orange {
  @apply float-right border-2 border-orange font-poppins text-darkgray font-medium px-4 py-2 rounded-md hover:bg-orange hover:text-white transition;
}
.modal-button-green {
  @apply float-right border-2 border-green font-poppins text-darkgray font-medium px-4 py-2 rounded-md hover:bg-green hover:text-white transition;
}
.multiselect__tag {
  background-color: #ace0af;
}
.multiselect__tag span {
  @apply text-darkgray;
}
.multiselect__element {
  @apply bg-white font-poppins text-darkgray text-base font-medium;
}
.multiselect__option--highlight {
  @apply bg-green;
}
span.multiselect__tag {
  @apply mb-0 font-medium;
}
.multiselect__tags {
  @apply py-3 px-4 my-2 font-poppins text-sm;
  border: none;
  -webkit-box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.05);
}
.multiselect__placeholder {
  @apply font-poppins text-base text-gray-500;
}
.form-checkbox {
  @apply pr-2 mt-1;
}
#repeat {
  height: 50px;
}
/* .fc-timeline-event-harness:first-child:not(:only-child) > a{
  @apply bg-darkgreen !important;
} */
/* .fc-timeline-event-harness:last-child:not(:only-child) > a{
  @apply bg-darkgreen !important;
} */
tbody {
  @apply text-sm;
}
