span.multiselect__placeholder {
  @apply text-[14px] mb-0 pt-0 leading-3;
}
.multiselect__tags {
  @apply !p-2.5 rounded-md h-auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08) !important;
}
.multiselect__select {
  @apply z-10;
}
.multiselect__option,
.multiselect__single {
  @apply !text-[14px] p-0;
}
.multiselect__single {
  @apply !mb-0 pb-0;
}
#role_multiselect {
  padding: 0px;
}
.multiselect__option--highlight {
  @apply !bg-green;
}
.multiselect__option--highlight::after {
  @apply !bg-darkgreen;
}
.multiselect__content-wrapper {
  @apply !z-20 mt-[-15px];
}
#availibility_multiselect {
  box-shadow: none !important;
  margin-bottom: 0px;
}
.multiselect__element span {
  @apply text-[14px] font-thin;
}
