/* VGT STYLING */
table.vgt-table td{
  vertical-align: middle;
}
.vgt-inner-wrap {
  box-shadow: none;
}
/* VGT TABLE HEAD STYLING */
.vgt-table th {
  padding: 0px;
}
.vgt-table thead th {
  @apply text-darkgray font-medium;
  background: transparent;
  border-bottom: 1px solid #ddbbbb;
}
.gull-th-class {
  @apply font-poppins text-sm;
  min-width: 200px;
}
th.vgt-left-align.gull-th-class.sortable {
  @apply font-semibold;
}
.vgt-wrap__footer .footer__navigation__page-btn {
  @apply font-medium;
}
.vgt-wrap__footer .footer__navigation__page-btn .chevron.right::after {
  border-left: 6px solid #9d1a16;
}
.vgt-wrap__footer .footer__navigation__page-btn .chevron.left::after {
  border-right: 6px solid #9d1a16;
}
/* SEARCH BOX STYLING*/
.vgt-global-search {
  @apply rounded-lg font-poppins;
  background: white !important;
  float: right;
}
.vgt-global-search.vgt-clearfix {
  padding: 8px;
  border: 0px;
  -webkit-box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.vgt-input {
  border: none;
  font-size: 14px;
}
/* TABLE BODY STYLING */
table.vgt-table {
  @apply bg-background border-0;
}
table.vgt-table td {
  @apply text-darkgray font-medium;
  border-bottom: 1px solid #ddbbbb;
  min-width: 150px;
}
.vgt-left-align {
  @apply font-poppins;
  font-size: 14px;
  padding: 19px 20px 19px 0px !important;
}
.vgt-center-align.vgt-text-disabled {
  padding: 11px 0px;
}
/* FOOTER BAR STYLING*/
.vgt-wrap__footer {
  @apply p-0 pt-4 border-0 font-poppins text-darkgray;
  background: transparent;
}
label.footer__row-count__label,
.footer__row-count.vgt-pull-left form select,
button.footer__navigation__page-btn.disabled,
.footer__navigation.vgt-pull-right {
  @apply text-darkgray font-medium;
  font-size: 14px !important;
}
.vgt-wrap__footer .footer__navigation__page-btn span {
  @apply text-darkgray;
  font-size: 14px !important;
}
.vgt-wrap__footer .footer__navigation__page-info {
  @apply text-darkgray;
}
@media (max-width: 1200px) {
  table.vgt-table td {
    @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
    max-width: 150px;
  }
}
@media (max-width: 810px) {
  .vgt-wrap {
    margin-top: 50px;
  }
  .vgt-global-search.vgt-clearfix {
    width: 100%;
  }
  .header-button-container {
    @apply mb-4 !important;
  }
}
@media (max-width: 500px) {
  button.red-button {
    @apply mt-10;
  }
}
/* UPDATE MODAL STYLES */
.content-right-col > td.vgt-left-align {
  padding: 0px !important;
}
