<template>
  <div>
    <div class="header flex justify-between">
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray">
          Eezywork > Werknemers > Bekijken
        </p>
        <h1 class="header-title">Bekijk werknemer</h1>
      </div>
    </div>
    <div class="content grid grid-cols-5">
      <div class="bg-hoverhighlight p-6 flex flex-col justify-between">
        <div class="flex items-center picture-wrapper">
          <img
            @click="updatePicture()"
            class="profile-picture rounded w-16 mr-3"
            :src="profilePicture"
            alt="Profile Picture"
          />
          <h2 class="text-lg leading-6"><b>Jeroen</b><br />Sellmeijer</h2>
        </div>
        <div>
          <button class="red-button w-full text-sm !bg-pink">
            Maak passief/actief
          </button>
          <button class="red-button text-sm w-full">Archiveer account</button>
          <button class="red-button text-sm w-full">Aanpassen</button>
          <button class="red-button text-sm w-full">Wachtwoord wijzigen</button>
        </div>
      </div>
      <div class="col-span-4">
        <div class="p-6">
          <h2 class="font-poppins text-darkgray font-black mb-5">
            Werknemers instellingen
          </h2>
          <div class="grid grid-cols-1 lg:grid-cols-2 font-poppins">
            <div class="flex flex-col">
              <div class="item">
                <span>Naam</span><span>Jeroen Sellmeijer</span>
              </div>
              <div class="item"><span>Personeels code</span><span>1</span></div>
              <div class="item">
                <span>E-mail</span><span>jeroensellmeijer@live.nl</span>
              </div>
              <div class="item">
                <span>Telefoon</span><span>061449612</span>
              </div>
              <div class="item">
                <span>Geboortedatum</span><span>13-11-1998</span>
              </div>
              <div class="item"><span>Status</span><span>Actief</span></div>
              <div class="item">
                <span>Functietitel</span><span>Beheerder</span>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="item">
                <span>Straat</span><span>Oudelandstraat</span>
              </div>
              <div class="item"><span>Huisnummer</span><span>168</span></div>
              <div class="item"><span>Postcode</span><span>2691CH</span></div>
              <div class="item">
                <span>Stad</span><span>'s-Gravenzande</span>
              </div>
              <div class="item">
                <span>Aangemaakt</span><span>22-03-2022</span>
              </div>
              <div class="item">
                <span>Type gebruiker</span><span>Beheerder</span>
              </div>
              <div class="item">
                <span>Rechtenprofiel</span><span>Beheerder</span>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="px-6 pb-6">
          <h2 class="font-poppins text-darkgray font-black mb-5">Documenten</h2>
          <template>
            <div class="documenten-container">
              <div class="flex mb-4">
                <div class="w-full md:w-1/2 mb-4 md:mb-0">
                  <label class="modal-body-label" for="grid-first-name">
                    Soort
                  </label>
                </div>
                <div class="w-full md:w-1/4">
                  <label class="modal-body-label" for="grid-last-name">
                    Vervaldatum
                  </label>
                </div>
                <div class="w-full md:w-1/4">
                  <label class="modal-body-label" for="grid-last-name">
                    Actie(s)
                  </label>
                </div>
              </div>
              <template v-for="document in documents">
                <div
                  :key="document.document_id"
                  class="document-row flex items-center -mx-3"
                >
                  <div class="w-full md:w-1/2 mb-4 md:mb-0">
                    <label class="modal-body-text" for="grid-first-name">
                      {{ document.document_name }}
                    </label>
                  </div>
                  <div class="w-full md:w-1/4">
                    <label class="modal-body-text" for="grid-last-name">
                      {{ document.expiration_date }}
                    </label>
                  </div>
                  <div class="w-full md:w-1/4">
                    <label class="modal-body-text" for="grid-last-name">
                      {{ document.type_name }}
                    </label>
                  </div>
                  <div class="w-full md:w-1/4">
                    <label class="modal-body-text" for="grid-last-name">
                      <button
                        type="button"
                        class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
                        v-if="document.upload && document.document_id"
                      >
                        <a :href="document.upload" target="_blank">
                          <img
                            src="@/assets/icons/bekijken-icon.png"
                            class="toggle-icon-calendar w-full p-1.5"
                            alt="Planner wijzig weergave"
                          />
                        </a>
                      </button>
                      <button
                        type="button"
                        class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
                        v-if="document.upload && document.document_id"
                      >
                        <a @click="deleteDocumentCheck(document.document_id)">
                          <img
                            src="@/assets/icons/trash-icon.png"
                            class="toggle-icon-calendar w-full p-1.5"
                            alt="Planner wijzig weergave"
                          />
                        </a>
                      </button>
                    </label>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "default",
  transition: "slide-bottom",
  name: "bekijken",
  data() {
    return {
      profile: "",
      profilePicture: "",
      canEdit: false,
      canRead: false,
      canDelete: false,
      permissions: this.$auth.$storage.getState("perm"),
      profile: "",
      firstname: "",
      lastname: "",
      employeeCode: "",
      email: "",
      phone: "",
      birthDate: "",
      profileFunction: "",
      profileId: this.$auth.$storage.getState("employeeId"),
      roleId: "",
      address: "",
      city: "",
      zipcode: "",
      roleOptions: [],
      roleValue: [],
      tagOptions: [],
      tagValue: [],
      statusOptions: [],
      statusValue: [],
      tags: [],
      tagShow: false,
      roleShow: false,
      documents: [],
    };
  },
  mounted() {
    this.getPicture();
  },
  methods: {
    async getPicture() {
      var profileId = this.$auth.user.profileId;
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" +
        profileId;
      axios
        .get(url)
        .then((response) => {
          this.profile = response.data;
          if (response.data.profile_picture != null) {
            this.profilePicture = response.data.profile_picture;
          } else {
            this.profilePicture =
              "https://eu.ui-avatars.com/api/??size=128&background=FFF5ED&color=9D1A16&name=" +
              this.profile.firstname +
              " " +
              this.profile.lastname;
          }
        })
        .catch((error) => {
          // console.log(error.response)
        });
    },
    getProfile() {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" +
        this.$auth.$storage.getState("employeeId");
      axios
        .get(url)
        .then((response) => {
          this.profile = response.data;
          this.firstname = response.data.firstname;
          this.lastname = response.data.lastname;
          this.employeeCode = response.data.employee_code;
          this.email = response.data.email;
          this.phone = response.data.phone;
          this.birthDate = response.data.birth_date;
          this.address = response.data.address;
          this.zipcode = response.data.zipcode;
          this.city = response.data.city;
          this.profileFunction = response.data.function;
          if (response.data.role_id) {
            this.roleId = response.data.role_id;
          }
          if (response.data.tag) {
            this.tags = JSON.parse(response.data.tag);
          }
          if (response.data.status) {
            this.status = JSON.parse(response.data.status);
          }
          console.log(this.profile);
          this.getRoles();
          this.getStatus();
        })
        .catch((error) => {
          // // console.log(error.response)
        });
    },
  },
};
</script>

<style scoped>
.header {
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #ddbbbb;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content {
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
}
.breadcrumbs {
  width: 100%;
}
.breadcrumbs p {
  @apply whitespace-nowrap overflow-ellipsis overflow-hidden;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title {
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width: 100px;
}
.font-poppins {
  @apply font-poppins;
}
.item {
  @apply grid mb-3 text-sm;
  grid-template-columns: repeat(3, 1fr);
}
.item > span:first-child {
  @apply font-black col-span-1;
}

.item > span:last-child {
  @apply col-span-2;
}
hr {
  @apply w-full border-0 h-[1px] bg-[#ddbbbb] m-0 mt-5;
}
</style>
