<template>
  <div>
    <div class="header flex justify-between">
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray">
          Eezywork > Werknemers > Bekijken
        </p>
      </div>

      <div class="grid grid-cols-2 justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row">
          <h1 class="header-title">Bekijk werknemer</h1>
          <ul class="tabbladen-items flex flex-row pl-8 pt-1">
            <li class="tabblad-item">
              <button v-on:click="component = 'gegevens'">Gegevens</button>
            </li>
            <li class="tabblad-item">
              <button v-on:click="component = 'documenten'">Documenten</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content px-6 pt-5 bg-background truncate">
      <component v-bind:is="component" />
    </div>
  </div>
</template>

<script>
import gegevens from "~/components/werknemers/bekijken/gegevens.vue";
import documenten from "~/components/werknemers/bekijken/documenten.vue";

export default {
  layout: "default",
  transition: "slide-bottom",
  name: "bekijken",
  components: {
    gegevens,
    documenten,
  },
  data() {
    return {
      component: "gegevens",
    };
  },
};
</script>

<style scoped>
.header {
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #ddbbbb;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content {
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
}
.breadcrumbs {
  width: 100%;
}
.breadcrumbs p {
  @apply whitespace-nowrap overflow-ellipsis overflow-hidden;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title {
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width: 100px;
}
</style>
