<template>
  <div class="main">
    <Sidebar />
    <div class="header">
        <p class="text-xs font-poppins text-darkgray overflow-ellipsis overflow-hidden whitespace-nowrap">Eezywork > Relatie > Aanmaken</p>
        <h1 class="header-title">Relatie aanmaken</h1>
    </div>
    <!-- input fields -->
    <div class="content bg-background px-6 pt-6">
      <div class="grid gap-x-8 gap-y-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <div class="flex flex-col">
          <label for="name">Naam:</label>
          <input v-model="name" id="name" placeholder="Vul de naam in">
        </div>
        <div class="flex flex-col">
          <label for="address">Adres</label>
          <input v-model="address" id="address" placeholder="Vul het adres in">
        </div>
        <div class="flex flex-col">
          <label for="city">Stad:</label>
          <input v-model="city" id="city" placeholder="Vul de stad in">
        </div>
        <div class="flex flex-col">
          <label for="postcode">Postcode:</label>
          <input v-model="zipcode" id="postcode" placeholder="Vul de postcode in">
        </div>
        <div class="flex flex-col">
          <label for="email">Emailadres:</label>
          <input v-model="email" id="email" placeholder="Vul het emailadres in">
        </div>
        <div class="flex flex-col">
          <label for="phone">Telefoon:</label>
          <input v-model="phone" id="phone" type="number" placeholder="Vul het telefoonnummer in">
        </div>
        <div class="flex flex-col">
          <label for="chamberOfCommerce">KVK:</label>
          <input v-model="chamberOfCommerce" id="chamberOfCommerce" placeholder="Vul het KVK nummer in">
        </div>
        <div class="flex flex-col">
          <label for="externalCode">Externe code:</label>
          <input v-model="externalCode" type="text" id="externalCode" placeholder="Vul de eventuele externe code in">
        </div><br>
        <div class="flex flex-col">
          <label for="externalCode" class="!mb-0">Extra opmerking:</label>
          <textarea class="data-field" v-model="extraComment" type="text" id="extraComment" placeholder="Vul eventuele extra opmerking in"></textarea>
        </div>
        <!-- <NuxtLink to="/" class="red-button">Registreren</NuxtLink> -->
        <button @click="createRelation()" class="red-button">
          Aanmaken
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'relatie aanmaken',
 data() {
    return {
      message: '',
      relationId: '',
      companyId: this.$auth.user.companyId,
      name: '',
      address: '',
      city: '',
      zipcode: '',
      email: '',
      phone: '',
      chamberOfCommerce: '',
      extraComment: '',
      externalCode: ''
    }
 }, 
 methods:{
    createRelation(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/relation/create.php";
      axios.post(url,{
        companyId: this.companyId,
        name: this.name,
        address: this.address,
        email: this.email,
        phone: this.phone,
        city: this.city,
        zipcode: this.zipcode,
        chamberOfCommerce: this.chamberOfCommerce,
        externalCode: this.externalCode,
        extraComment: this.extraComment
      })
      .then(response => {
        // console.log("Relatie aangemaakt");
        // console.log(response.data);
        this.name = this.address = this.extraComment = this.zipcode = this.email = this.phone = this.city = this.chamberOfCommerce = this.externalCode = "";
      })
      .catch(error => {
        // console.log(response.data)
      });
    }
 }
}
</script>

<style scoped>
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
input {
  @apply px-3 py-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply mb-2 font-poppins;
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray pt-1;
  min-width:100px;
}
/* :focus-visible {
  @apply outline-white;
} */
.vgt-wrap {
    position: inherit;
}
</style>