<template>
  <div class="content px-6 pt-9 bg-background">
    <div class="header flex justify-between">
      <div>
        <p class="text-xs font-poppins text-darkgray">Eezywork > Bedrijven</p>
        <h1 class="text-xl font-poppins font-semibold text-darkgray pt-1">Bedrijven</h1>
      </div>
    </div>
    <view-disabled ref="ViewDisabled"></view-disabled>
    <h2 class="font-poppins font-semibold text-darkgray absolute pt-1" style="font-size:24px">Overzicht Bedrijven</h2>
    <div class="header-button-container float-right py-3">
        <NuxtLink :to="{ path: '/bedrijven/aanmaken' }" class="red-button">Toevoegen</NuxtLink>
      </div>
    <vue-good-table
          :columns="columns" 
          :line-numbers="false"
          :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
          enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
          placeholder: 'Zoeken...',
          compactMode: true
      }"
      :pagination-options="{
      enabled: true,
      mode: 'resultaten',
      nextLabel: 'Volgende',
      prevLabel: 'Vorige',
      rowsPerPageLabel: 'Opdrachten per pagina',
      ofLabel: 'van',
      pageLabel: 'pagina', // for 'pages' mode
      allLabel: 'Alle',
    }"
    styleClass="tableOne vgt-table"
    :rows="employees"
    ><template slot="table-row" slot-scope="props">
        <span v-if="props.column.field == 'button'">
          <button @click="showCompany(props.row.company_id)" type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
            <img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
          </button>
          <!-- <button @click="showProfile(props.row.profile_id)" type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
            <img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
          </button> -->
        </span>
        <!-- <img  v-if="props.column.field == 'profilePicture'" :src="'https://eu.ui-avatars.com/api/?size=64&background=322740&color=fff&name='+props.row.firstname+'%20'+props.row.firstname+''"> -->
      </template>
    </vue-good-table>
  </div>
</template>

<script>
// import the styles
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'
import ViewDisabled from '~/components/modal/viewDisabled.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'werknemers',
  components: {
    VueGoodTable,
    ViewDisabled
  },
  data(){
    return{
      employees: {},
      companyId: this.$auth.user.companyId,
      columns: [
          // {
          //   label: '',
          //   field: "profilePicture",
          //   html: true,
          // }, 
          {
            label: "Bedrijfsnaam", 
            field: "name",
            thClass: "gull-th-class",
          },
            {
            label: "Adres",
            field: "address",
            thClass: "gull-th-class",
          },
          {
            label: "Emailadres",
            field: "email",
            thClass: "gull-th-class",
          },
          {
            label: "KVK", 
            field: "kvk",
            thClass: "gull-th-class",
          },
          {
            label: "telefoon", 
            field: "phone",
            thClass: "gull-th-class",
          },
          {
            label: "Acties",
            field: "button",
            html: true,
          },]
    }
  },
  mounted() {  
    if(this.$auth.user.companyId == 1 
    || this.$auth.user.id == 25 
    || this.$auth.user.id == 26 
    ){null;} else {
      this.$refs.ViewDisabled.showModal()    
    }
    const axios = require('axios');
    var url = "https://api.eezywork.nl/v1/companies/read.php";
    axios.get(url)
    .then(response => {
        this.employees = response.data;
        // // console.log(this.employees)
    })
    .catch(error => {
        // // console.log(error.response)
    });
  },
  methods:{
    showCompany(companyId){
      this.$router.push({ name: 'bedrijven-bekijken'})
      this.$auth.$storage.setState("companyPageId", companyId);
    }
  }
}
</script>

<style scoped>
/* FONT IMPORT */
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 400;
src: local("Poppins"),
    url(~/static/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 500;
src: local("Poppins"),
    url(~/static/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 600;
src: local("Poppins"),
    url(~/static/fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
font-family: "HK Grotesk";
font-display: auto;
font-weight: 700;
src: local("HK Grotesk"),
    url(~/static/fonts/HKGrotesk-Bold.otf) format("opentype");
}
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 70px;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins text-center;
}
.header-button-container{
  @apply pl-4 whitespace-nowrap overflow-hidden overflow-ellipsis text-white;
}
.vgt-column-width{
    min-width: 200px!important;
}
h2{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
}
.vgt-wrap {
    position: initial;
}
</style>
