@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
  <div>
  <div class="header">
      <view-disabled ref="ViewDisabled"></view-disabled>
      <p class="text-xs font-poppins text-darkgray">Eezywork > Ort > Regels</p>
      <h1 class="text-xl font-poppins font-semibold text-darkgray">Groepen</h1>
  </div>
  <div class="content bg-background px-6 pt-6">
      <ort-rule-modal ref="modal"></ort-rule-modal>
        <div class="table-container">
          <!-- Maandag -->
          <table class="table-auto table" style="display:inline-table">
            <thead>
              <tr>
                <th>Maandag</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in rules" :key="rule.rule_id" v-if="rule.int_day == 1">
                <td>
                  {{ rule.percentage + "% " }} <br> {{ rule.ort_start +" | "+ rule.ort_end }}                       
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openUpdateModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openDeleteModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
                  </button>
                </td>
              </tr>
              <tr class="tr-border-bottom"><button class="red-button" v-if="canEdit" @click="openCreateModal(1, 'Maandag')">Aanmaken</button></tr>
            </tbody>
          </table>

           <!-- Dinsdag -->
          <table class="table-auto table" style="display:inline-table">
            <thead>
              <tr>
                <th>Dinsdag</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in rules" :key="rule.rule_id" v-if="rule.int_day == 2">
                <td>
                  {{ rule.percentage + "% " }} <br> {{ rule.ort_start +" | "+ rule.ort_end }}                       
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openUpdateModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openDeleteModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                </td>
              </tr>
              <tr class="tr-border-bottom"><button class="red-button" v-if="canEdit" @click="openCreateModal(2, 'Dinsdag')">Aanmaken</button></tr>
            </tbody>
          </table>

           <!-- woensdag -->
          <table class="table-auto table" style="display:inline-table">
            <thead>
              <tr>
                <th>woensdag</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in rules" :key="rule.rule_id" v-if="rule.int_day == 3">
                <td>
                  {{ rule.percentage + "% " }} <br> {{ rule.ort_start +" | "+ rule.ort_end }}                       
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openUpdateModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openDeleteModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
                  </button>
                </td>
              </tr>
              <tr class="tr-border-bottom"><button class="red-button" v-if="canEdit" @click="openCreateModal(3, 'Woensdag')">Aanmaken</button></tr>
            </tbody>
          </table>

           <!-- Donderdag -->
          <table class="table-auto table" style="display:inline-table">
            <thead>
              <tr>
                <th>Donderdag</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in rules" :key="rule.rule_id" v-if="rule.int_day == 4">
                <td>
                  {{ rule.percentage + "% " }} <br> {{ rule.ort_start +" | "+ rule.ort_end }}                       
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openUpdateModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openDeleteModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
                  </button>
                </td>
              </tr>
              <tr class="tr-border-bottom"><button class="red-button" v-if="canEdit" @click="openCreateModal(4, 'Donderdag')">Aanmaken</button></tr>
            </tbody>
          </table>

          <!-- Vrijdag -->
          <table class="table-auto table" style="display:inline-table">
            <thead>
              <tr>
                <th>Vrijdag</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in rules" :key="rule.rule_id" v-if="rule.int_day == 5">
                <td>
                  {{ rule.percentage + "% " }} <br> {{ rule.ort_start +" | "+ rule.ort_end }}                     
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openUpdateModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openDeleteModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                </td>
              </tr>
              <tr class="tr-border-bottom"><button class="red-button" v-if="canEdit" @click="openCreateModal(5, 'Vrijdag')">Aanmaken</button></tr>
            </tbody>
          </table>

          <!-- Zaterdag -->
          <table class="table-auto table" style="display:inline-table">
            <thead>
              <tr>
                <th>Zaterdag</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in rules" :key="rule.rule_id" v-if="rule.int_day == 6">
                <td>
                  {{ rule.percentage + "% " }} <br> {{ rule.ort_start +" | "+ rule.ort_end }}                       
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openUpdateModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                  <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openDeleteModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                </td>
              </tr>
              <tr class="tr-border-bottom"><button class="red-button" v-if="canEdit" @click="openCreateModal(6, 'Zaterdag')">Aanmaken</button></tr>
            </tbody>
          </table>

          <!-- Zondag -->
          <table class="table-auto table" style="display:inline-table">
            <thead>
              <tr>
                <th>Zondag</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in rules" :key="rule.rule_id" v-if="rule.int_day == 0">
                <td>
                  {{ rule.percentage + "% " }} <br> {{ rule.ort_start +" | "+ rule.ort_end }}                       
                  <button v-if="canEdit"  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openUpdateModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                  <button v-if="canEdit" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a v-if="canEdit" @click="openDeleteModal(rule)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" /></a>
                  </button>
                </td>
              </tr>
              <tr class="tr-border-bottom"><button class="red-button" v-if="canEdit" @click="openCreateModal(0, 'Zondag')">Aanmaken</button></tr>

            </tbody>
          </table>
          
        </div>
    </div> 
    </div> 
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'
import OrtRuleModal from '../../../../components/modal/ortRuleModal.vue';
import ViewDisabled from '~/components/modal/viewDisabled.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'werknemers',
  components: {
    OrtRuleModal,
    VueGoodTable,
    ViewDisabled
  },
    data() {
      return {
        canEdit: false,
        canRead: false,
        canDelete: false,
        permissions: this.$auth.$storage.getState("perm"),
        rules: '',
        companyId: this.$auth.user.companyId,
        columns: [
        {
          label: "Naam", 
          field: "",
          thClass: "gull-th-class",
        },
        {
          label: "Acties",
          field: "button",
          html: true,
        },],
        id: this.$auth.$storage.getState("ortGroupId")
      }
    },
     mounted(){
      this.permissions.forEach(element => {
        
        if(element.name == "setting_can_edit"){
            this.canEdit = true;
        }
        if(element.name == "setting_can_read"){
            this.canRead = true;
        }
        });
        if(!this.canRead){  
            this.$refs.ViewDisabled.showModal()    
        }        
    },
    beforeCreate() {        
    const axios = require('axios');
    var companyId = this.$auth.user.companyId
    var url = "https://api.eezywork.nl/v1/pm/ort/rule/read.php?group_id="+this.$auth.$storage.getState("ortGroupId");
    axios.get(url)
    .then(response => {
        this.rules = response.data;
        // console.log(this.labels)
    })
    .catch(error => {
        // console.log(error.response)
    });
  }, 
  methods: {
    openCreateModal(intDay, stringDay){
      this.$refs.modal.isCreate = true;
      this.$refs.modal.isUpdate = false;
      this.$refs.modal.isDelete = false;
      this.$refs.modal.intDay = intDay;
      this.$refs.modal.percentage = '';
      this.$refs.modal.ortStart = '';
      this.$refs.modal.ortEnd = '';
      this.$refs.modal.groupId = this.id;
      this.$refs.modal.stringDay = stringDay;
      this.$refs.modal.showModal();
    },
    openUpdateModal(row){
      this.$refs.modal.isCreate = false;
      this.$refs.modal.isDelete = false;
      this.$refs.modal.isUpdate = true;
      this.$refs.modal.ruleId = row.rule_id;
      this.$refs.modal.percentage = row.percentage;
      this.$refs.modal.ortStart = row.ort_start;
      this.$refs.modal.ortEnd = row.ort_end;
      this.$refs.modal.groupId = this.id;
      this.$refs.modal.showModal();
    },
    openDeleteModal(row){
      this.$refs.modal.isCreate = false;
      this.$refs.modal.isUpdate = false;
      this.$refs.modal.isDelete = true;
      this.$refs.modal.ruleId = row.rule_id;
      this.$refs.modal.percentage = row.percentage;
      this.$refs.modal.ortStart = row.ort_start;
      this.$refs.modal.ortEnd = row.ort_end;
      this.$refs.modal.showModal();
    }
  }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
  border-bottom: 1px solid #DDBBBB;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
/* TABLE STYLING */
.table-container{
  @apply flex flex-row flex-nowrap overflow-x-scroll;
}
table{
  @apply w-1/6 mr-8 font-poppins p-4;
  border-right: 1px solid #DDBBBB;
  min-width: 220px;
}
/* TABLE HEAD STYLING */
thead tr th{
  @apply text-left text-lg;
}
/* TABLE BODY STYLING */
tbody tr:nth-child(1) td{
  @apply pt-6;
}
tbody tr:nth-child(2) td{
  @apply pb-4;
}
tbody tr td button {
  @apply float-right ml-1 mb-1 border-0 p-0 w-7 h-7;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins mb-6;
}
</style>
