@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

<template>
  <div class="main">
    <Sidebar ref="sidebar" />
    <picture-modal
      @reload="refreshData()"
      ref="profilePictureModal"
    ></picture-modal>
    <div class="header">
      <p class="text-xs font-poppins text-darkgray">Eezywork > Profielen</p>
      <h1 class="text-xl font-poppins font-semibold text-darkgray">
        Profiel Pagina
      </h1>
    </div>
    <div class="content grid grid-cols-5">
      <!-- LEFT COLUMN -->
      <div class="bg-hoverhighlight p-6 flex flex-col justify-between">
        <div class="flex items-center picture-wrapper">
          <img
            @click="updatePicture()"
            class="profile-picture rounded w-16 mr-3"
            :src="profilePicture"
            alt="Profile Picture"
          />
        </div>
        <div>
          <button class="red-button text-sm w-full">Profiel verwijderen</button>
        </div>
      </div>
      <!-- RIGHT COLUMN -->
      <div class="profile-details p-6 font-poppins">
        <h2 class="font-black text-base mb-5">
          {{ profile.firstname }} {{ profile.lastname }}
        </h2>
        <div class="profile-field text-sm">
          <span class="field-label">Email:</span>
          <span class="field-value">{{ profile.email }}</span>
        </div>
        <div class="profile-field text-sm">
          <span class="field-label">Telefoon:</span>
          <span class="field-value">{{ profile.phone }}</span>
        </div>
        <div class="profile-field text-sm">
          <span class="field-label">Geboortedatum:</span>
          <span class="field-value">{{ profile.birth_date }}</span>
        </div>
        <!-- Add more profile fields as needed -->
      </div>
    </div>
  </div>
</template>

<script>
import PictureModal from "~/components/modal/profilePictureModal.vue";
export default {
  name: "werknemers",
  components: {
    PictureModal,
  },
  data() {
    return {
      profile: "",
      profilePicture: "",
    };
  },
  mounted() {
    this.getPicture();
  },
  methods: {
    updatePicture() {
      console.log("UPDATEN");
      this.$refs.profilePictureModal.profileId = this.profile.profile_id;
      this.$refs.profilePictureModal.showModal();
    },
    async getPicture() {
      var profileId = this.$auth.user.profileId;
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" +
        profileId;
      axios
        .get(url)
        .then((response) => {
          this.profile = response.data;
          if (response.data.profile_picture != null) {
            this.profilePicture = response.data.profile_picture;
          } else {
            this.profilePicture =
              "https://eu.ui-avatars.com/api/??size=128&background=FFF5ED&color=9D1A16&name=" +
              this.profile.firstname +
              " " +
              this.profile.lastname;
          }
        })
        .catch((error) => {
          // console.log(error.response)
        });
    },
    async refreshData() {
      this.$refs.sidebar.startLoading();
      const delay = (ms) => new Promise((res) => setTimeout(res, ms));
      this.getPicture();
      await delay(1000);
      console.log(this.$auth.user);
      const userToUpdate = { ...this.$auth.user };
      userToUpdate.profilePicture = this.profilePicture;
      userToUpdate.profileImage = this.profilePicture;
      this.$auth.setUser(userToUpdate);
      console.log(this.$auth.user);
      location.reload();
    },
  },
};
</script>

<style scoped>
.header {
  @apply bg-background pt-3 px-6 border-pink border-b;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content {
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}

.profile {
  @apply bg-hoverhighlight;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.profile-header {
  text-align: center;
  margin-bottom: 20px;
}
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 15%;
  margin: auto;
  cursor: pointer;
}
.picture-wrapper {
  position: relative;
  display: inline-block;
}
.picture-wrapper:hover .profile-picture {
  filter: brightness(70%);
}
.profile-name {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

.update-icon {
  @apply bg-darkred;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.picture-wrapper:hover .update-icon {
  width: 23%;
  height: 23%;
}

.profile-details {
  font-size: 16px;
  color: #555;
}

.profile-field {
  margin-bottom: 10px;
}

.field-label {
  font-weight: bold;
}

.field-value {
  margin-left: 5px;
}
</style>
