@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

<template>
  <div class="main">
    <Sidebar />
    <div class="header">
        <p class="text-xs font-poppins text-darkgray">Eezywork > Profielen</p>
        <h1 class="text-xl font-poppins font-semibold text-darkgray">Profielen</h1>
    </div>
    <div class="content bg-background px-6 pt-6">
        <div v-for="profile in profiles" :key="profile.profile_id"> 
            |   naam: {{ profile.firstname}} {{ profile.lastname}} 
            |   Bedrijf: {{ profile.company_name}} 
            |   email: {{ profile.email}} 
            |   medwerkers nummer: {{ profile.employee_code }} 
        </div> 
    </div> 
  </div>
</template>

<script>
export default {
  name: 'werknemers',
    data() {
        return {
            profiles: ''
        }
    },
    beforeCreate() {        
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/profile/get-all.php?userId=20";
      axios.get(url)
      .then(response => {
          this.profiles = response.data;
          // console.log(this.profiles)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6 border-pink border-b-2;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}
</style>
