<template>
    <div class="sidebar">
        <notifications 
		:duration="2000" 
		:width="300" 
		:max="3" 
		animation-name="fade-right" 
		position="bottom right" 
        class="z-40"
	    ></notifications> 
        <div class="title text-white">
            <NuxtLink to="/">
                <img v-if="loading" class="image" src="~/assets/gif/loading.gif">
                <img v-else class="image" src="~/assets/icons/Eezywork.png">
            </NuxtLink>
        </div>
        <div class="menu-items-container">
            <div class="menu-items-top">
                <NuxtLink to="/werknemers" v-popover:werknemers.left>
                    <div class="link-container-full" @click="activateTab(1)" :class="{active:activePage=='werknemers'}">
                        <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon" class="w-6 h-6 my-0">
                    </div>
                    <popover 
                        transition="show-from-left" 
                        :pointer='false' 
                        event="hover" 
                        name="werknemers">
                        <NuxtLink to="/werknemers">
                            <p>Werknemers</p>
                        </NuxtLink>
                    </popover>
                </NuxtLink>
                <NuxtLink to="/relaties" v-popover:relaties.left>
                    <div class="link-container-full" @click="activateTab(4)" :class="{active:activePage=='relaties'}">
                        <img src="~/assets/icons/relaties-icon.png" alt="Relaties icoon" class="w-5 h-5 my-0">
                    </div>
                    <popover 
                        transition="show-from-left" 
                        :pointer='false' 
                        event="hover" 
                        name="relaties">
                        <NuxtLink to="/relaties">
                            <p>Relaties</p>
                        </NuxtLink>
                    </popover>
                </NuxtLink>
                <NuxtLink to="" v-popover:opdrachten.left>
                    <div class="link-container-full" @click="activateTab(3)" :class="{active:activePage=='opdrachten'}">
                        <img src="~/assets/icons/opdrachten-icon.png" alt="Opdrachten icoon" class="w-5 h-5 my-0 opacity-50">
                    </div>
                    <popover 
                        transition="show-from-left" 
                        :pointer='false' 
                        event="hover" 
                        name="opdrachten">
                        <NuxtLink to="">
                            <p class="opacity-50">Opdrachten</p>
                        </NuxtLink>
                    </popover>
                </NuxtLink>
                
                <NuxtLink to="/personeelsplanning" v-popover:personeelsplanning.left>
                    <div class="link-container-full" @click="activateTab(2)" :class="{active:activePage=='planner'}">
                        <img src="~/assets/icons/planner-eezy-work-icon.png" alt="Planner icoon" class="planner-icon w-5 h-5">
                    </div>
                    <popover 
                        transition="show-from-left" 
                        :pointer='false' 
                        event="hover" 
                        name="personeelsplanning">
                        <NuxtLink to="/personeelsplanning">
                            <p>Planning</p>
                        </NuxtLink>
                    </popover>
                </NuxtLink>
                <NuxtLink to="/urenregistratie/" v-popover:urenregistratie.left>
                    <div class="link-container-full" @click="activateTab(5)" :class="{active:activePage=='urenregistratie'}">
                        <img src="~/assets/icons/urenregistratie-icon.png" alt="Relaties icoon" class="w-5 h-5 my-0">
                    </div>
                    <popover 
                        transition="show-from-left" 
                        :pointer='false' 
                        event="hover" 
                        name="urenregistratie">
                        <NuxtLink to="/urenregistratie/">
                            <p>Urenregistratie</p>
                        </NuxtLink>
                    </popover>
                </NuxtLink>
            </div>
            <div class="menu-items-bottom">
                <div v-popover:profiel.left class="">
                    <NuxtLink to="/profielen/overzicht" class="link-container-full">
                        <img :src="profilePicture" alt="Instellingen icoon" class="w-5 h-5 my-0">
                    </NuxtLink>
                    <popover 
                        transition="show-from-left" 
                        :pointer='false' 
                        style="cursor: pointer"
                        event="hover" 
                        name="profiel">
                            <p v-if="multipleProfiles > 1" class="profile-container-items" @click="switchProfile()">Profielen</p>
                            <p class="profile-container-items" @click="logOut()">Uitloggen</p>
                    </popover>
                </div>
                <NuxtLink to="/instellingen" v-popover:instellingen.left>
                    <div class="">
                        <div class="link-container-full" @click="activateTab(6)" :class="{active:activePage=='instellingen'}">
                            <img src="~/assets/icons/instellingen-icon.png" alt="Instellingen icoon" class="w-5 h-5 my-0 -mb-10">
                        </div>
                        <popover 
                            transition="show-from-left" 
                            :pointer='false' 
                            event="hover" 
                            name="instellingen">
                            <NuxtLink to="/instellingen">
                                <p>Instellingen</p>
                            </NuxtLink>
                        </popover>
                    </div>
                </NuxtLink>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'SideBar',
  components: {
  },
  props: {
    activePage: String
  },
  computed: {
    dragOptions() {
        return {
            
        };
    }
  },
    data() {
        return {
            profilePicture: '',
            userName: '',
            multipleProfiles: '',
            loading: false
        }
    },
    mounted() {
        const axios = require('axios');
        this.profilePicture = this.$auth.user.profilePicture;
        this.userName = this.$auth.user.firstname + ' ' + this.$auth.user.lastname;
        var url = "https://api.eezywork.nl/v1/companies/profile/get-all.php?userId="+this.$auth.user.uid;
        axios.get(url)
        .then(response => {
            this.multipleProfiles = response.data.length;
            // console.log(this.profiles)
        })
        .catch(error => {
            // console.log(error.response)
        });
    },
  methods: {
      async logOut(){
        await this.$auth.logout();
        this.$router.push('/login');
      },
      switchProfile(){
        this.$router.push('/login/profielen');
      },
      startLoading(){
        this.loading = true;
        this.$emit("disable");
      },
      endLoading(){
        this.loading = false;
        this.$emit("enable");
    },
      activateTab(i){
        this.selected = i;
    },
  }
}
</script>

<style scoped>
/* POPOVER STYLES */
    .sidebar .show-from-left-enter-active,
    .show-from-left-leave-active {
        transition: transform 0.3s, opacity 0.3s;
    }
    .sidebar .show-from-left-enter,
    .sidebar .show-from-left-leave-to {
        opacity: 0;
        transform: translate(-20px);
    }
    .sidebar .vue-popover{
        @apply p-3;
        margin-left: 240px;
    }
    .sidebar .vue-popover:hover{
        @apply bg-lightgray;
    }
    .sidebar .vue-popover p{
        @apply font-poppins font-medium text-darkgray text-sm;
    }
    .link-container-full{
        @apply flex justify-center content-center;
        border-bottom: 1px solid #B5534C;
        padding: 18px;
        transition: .1s ease;
        height: 60px;
    }
    .link-container-full:hover{
        background: #B5534C;
        transition: .1s ease;
    }
    .profile-container-items{
        @apply flex justify-center content-center;
        height: 40px;
        border-bottom: 1px solid #B5534C;
        padding: 10px;
        transition: .1s ease;
    }
    .profile-container-items:hover{
       background: #B5534C;
        transition: .1s ease;
    }
    .menu-items-container{
        @apply flex flex-col content-between justify-between;
        height: 100vh;
    }
    /* .menu-items-top, .menu-items-bottom {
        @apply flex flex-wrap justify-center;
        padding: 25px;
    } */
    .menu-items-bottom{
        @apply bottom-0 top-0;
        border-top: 1px solid #B5534C;
    }
    .sidebar {
        @apply bg-darkred fixed z-50 top-0 left-0 bottom-0 flex flex-col transition;
        float: left;
        min-width: 64px;
        max-width: 64px;
    }
    .title {
        height: 64px;
        border-bottom: 1px solid #DDBBBB;
    }
    .title img {
        width: 48px;
        height: 48px;
        margin-left: 8px;
        margin-top: 6px;
        margin-bottom: 10px;
    }
    .active{
        background: #B5534C;
    }

</style>