<template tabindex="0" @keydown.esc="closeBulkAction()">
  <div tabindex="0" @keydown.esc="closeBulkAction()">
    <create-service-modal
      name="createServiceModal"
      ref="createServiceModal"
      @createEvent="createMainEvent"
      @createAvailability="createAvailability"
      :serviceData="[modalData, calendarOptions.resources]"
      @close="closeCreateModal"
    />
    <update-service-modal
      name="updateServiceModal"
      ref="updateServiceModal"
      @deleteEvent="deleteEvent"
      @createSubEvent="createSubEvent"
      :serviceData="modalData"
      @setGreen="changeClickInfoGreen"
      @setBlue="changeClickInfoBlue"
      @setGray="changeClickInfoGray"
      @setYellow="changeClickInfoYellow"
      @close="closeCreateModal"
      @refresh="refreshEvents"
      @copy="copyService"
    />
    <service-export-modal ref="exportServiceModal" />
    <message-modal name></message-modal>
    <Sidebar
      ref="sidebar"
      activePage="planner"
      @disable="disableButtons"
      @enable="enableButtons"
    />
    <div
      tabindex="0"
      @keydown.esc="closeBulkAction()"
      class="header grid grid-cols-2 xl:grid-cols-3"
    >
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div>
        <p class="text-xs font-poppins text-darkgray">Eezywork > Planning</p>
        <h1 class="text-xl font-poppins font-semibold text-darkgray">
          Planning
        </h1>
      </div>
      <div>
        <button
          v-if="!filterActive"
          class="filter-button"
          @click="toggleActiveClass()"
        >
          <img
            src="@/assets/icons/filter-icon.png"
            @click="showFilter = !showFilter"
            class="toggle-icon-filter-button bg-white"
            alt="Planner wijzig weergave"
            style="height: 45px"
          />
        </button>
        <button v-else class="filter-button" @click="toggleActiveClass()">
          <img
            src="@/assets/icons/filter-icon.png"
            @click="showFilter = !showFilter"
            class="toggle-icon-filter-button bg-darkred"
            alt="Planner wijzig weergave"
            style="height: 45px"
          />
          <p
            style="
              box-shadow: none !important;
              margin-top: -40px;
              margin-left: 50px;
            "
          >
            Actief
          </p>
        </button>
      </div>
      <div
        class="header-button-container flex h-14 overflow-y-hidden overflow-x-scroll"
      >
        <template v-if="renewAvailable">
          <button
            v-if="!autoRefresh"
            :disabled="buttonDisabled"
            class="filter-bar-items filter-bar-item-next"
          >
            <span class="renewed-date"
              >Laatst opgehaald: {{ latestRenewedDate }}</span
            >
            <span class="toggle-icon-today darkred-button" @click="getEvents()"
              >Vernieuwen</span
            >
          </button>
        </template>
        <template v-else>
          <template v-if="disableRefresh">
            <button
              v-if="!autoRefresh"
              :disabled="buttonDisabled"
              class="filter-bar-items filter-bar-item-next"
            >
              <span class="renewed-date"
                >Laatst opgehaald: {{ latestRenewedDate }}</span
              >
              <span class="toggle-icon-today disabled-darkred-button"
                >Vernieuwen</span
              >
            </button>
          </template>
          <template v-else>
            <button
              v-if="!autoRefresh"
              :disabled="buttonDisabled"
              class="filter-bar-items filter-bar-item-next"
            >
              <span class="renewed-date"
                >Laatst opgehaald: {{ latestRenewedDate }}</span
              >
              <span class="toggle-icon-today" @click="getEvents()"
                >Vernieuwen</span
              >
            </button>
          </template>
        </template>
        <button
          v-if="!bulkAction"
          :disabled="buttonDisabled"
          @click="toggleBulkAction()"
          class="filter-bar-items filter-bar-item-next"
        >
          <span class="toggle-icon-today">Selecteren</span>
        </button>
        <button
          v-else
          :disabled="buttonDisabled"
          @click="toggleBulkAction()"
          class="filter-bar-items filter-bar-item-next"
        >
          <span class="toggle-item-new-task">Deselecteren</span>
        </button>
        <button class="filter-bar-items" @click="openExportModal()">
          <img
            src="~/assets/icons/download-icon.png"
            class="toggle-icon-download"
            alt="Planner wijzig weergave"
            style="height: 45px"
          />
        </button>
        <button
          v-if="canEdit"
          :disabled="buttonDisabled"
          @click="showCreateModal"
          class="filter-bar-items"
        >
          <span class="toggle-item-new-task">Nieuwe dienst</span>
        </button>
        <div class="toggle-checkbox-weekend">
          <label class="container"
            >Weekend
            <input
              type="checkbox"
              v-model="weekends"
              checked
              @click="changeWeekend"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <date-picker
          style="padding-top: 3px"
          class="inline-block"
          v-model="date"
          :attributes="attrs"
          color="red"
          @dayclick="dayClicked"
          show-iso-weeknumbers="right"
        >
          <template v-slot="{ togglePopover }">
            <div class="">
              <button
                :disabled="buttonDisabled"
                class="filter-bar-items filter-bar-item-next"
                @click="togglePopover()"
              >
                <img
                  src="~/assets/icons/planner-weergave.png"
                  class="toggle-icon-calendar"
                  alt="Planner wijzig weergave"
                  style="height: 45px"
                />
              </button>
            </div>
          </template>
        </date-picker>
        <button
          :disabled="buttonDisabled"
          @click="today()"
          class="filter-bar-items filter-bar-item-next"
        >
          <span class="toggle-icon-today">Vandaag</span>
        </button>
        <button
          :disabled="buttonDisabled"
          @click="prev()"
          class="filter-bar-items"
        >
          <span class="toggle-icon-prev"></span>
        </button>
        <button
          :disabled="buttonDisabled"
          @click="next()"
          class="filter-bar-items"
        >
          <span class="toggle-icon-next"></span>
        </button>
      </div>
    </div>
    <div class="content">
      <transition name="slide">
        <div
          id="filter-button"
          class="filter-block filter-animation"
          v-show="showFilter"
        >
          <div class="filter-content p-4">
            <div class="flex justify-between">
              <p class="font-bold">Filters</p>
              <button>
                <span
                  class="empty-filters bg-darkred text-white font-normal rounded-lg h-[45px] p-3 relative text-sm"
                  @click="emptyFilters()"
                  >Leegmaken</span
                >
              </button>
            </div>
            <hr class="divider-border" />
            <multiselect
              ref="tag_multiSelect"
              id="availibility_multiselect"
              :options="tagOptions"
              v-model="tagValue"
              :multiple="true"
              :close-on-select="false"
              select-label="Selecteer"
              deselect-label=""
              label="label_name"
              track-by="label_id"
              placeholder="Selecteer een kenmerk"
              selectedLabel="Geselecteerd"
              :allow-empty="true"
              :taggable="true"
            >
              <template slot="selection"></template>
            </multiselect>
            <multiselect
              ref="multiSelect"
              id="availibility_multiselect"
              :options="statusOptions"
              v-model="statusValue"
              :multiple="true"
              :close-on-select="false"
              select-label="Selecteer"
              deselect-label=""
              label="status_name"
              track-by="status_id"
              placeholder="Selecteer een status"
              selectedLabel="Geselecteerd"
              selection=""
              :allow-empty="true"
              :taggable="true"
            >
              <template slot="selection"></template>
            </multiselect>
            <multiselect
              id="availibility_multiselect"
              :options="relationOptions"
              v-model="relationValue"
              :close-on-select="false"
              :multiple="true"
              select-label="Selecteer"
              deselect-label=""
              :label="'name'"
              track-by="relation_id"
              placeholder="Selecteer een opdrachtgever"
              selectedLabel="Geselecteerd"
              :allow-empty="true"
              :taggable="true"
            ></multiselect>
            <multiselect
              id="availibility_multiselect"
              :options="resourceOptions"
              v-model="resourceValue"
              :close-on-select="false"
              :multiple="true"
              select-label="Selecteer"
              deselect-label=""
              :label="'title'"
              track-by="profile_id"
              placeholder="Selecteer een medewerker"
              selectedLabel="Geselecteerd"
              :allow-empty="true"
              :taggable="true"
            ></multiselect>
          </div>
          <button @click="addFilters()" class="filtering-button">
            Toepassen
          </button>
        </div>
      </transition>
      <div
        id="planner"
        class="planner bg-background px-6 pt-6"
        @keyup.esc="closeBulkAction()"
      >
        <FullCalendar
          @keyup.esc="closeBulkAction()"
          id="calendar"
          class="calendar-container overflow-hidden"
          ref="calendar"
          height="parent"
          :options="calendarOptions"
        >
          <template v-slot:eventContent="arg">
            <template v-if="arg.event.extendedProps.type_id == 2">
              <div
                :ref="arg.event.extendedProps.shift_id"
                class="event-details-container event-animation"
                style="height: auto !important"
              >
                <template>
                  <div class="event-details">
                    <div class="event-title" style="margin-top: 0 !important">
                      {{ arg.event.title }}
                      <p class="event-time">
                        {{ arg.event.extendedProps.start_time.slice(0, 5) }} -
                        {{ arg.event.extendedProps.end_time.slice(0, 5) }}
                      </p>
                    </div>
                  </div>
                </template>
              </div>
            </template>
            <template v-else>
              <div
                :ref="arg.event.extendedProps.shift_id"
                @mousedown="startTimer"
                @mouseup="cancelTimer"
                @mouseleave="cancelTimer"
                class="event-details-container event-animation"
              >
                <template>
                  <div class="event-details">
                    <div class="event-time">
                      <template
                        v-if="
                          arg.event._def.resourceIds[0] != 'A1' &&
                          bulkAction &&
                          parseInt(arg.event.extendedProps.status_id) < 5
                        "
                      >
                        <input
                          :data-profiel="arg.event.extendedProps.profile_id"
                          :data-datum="arg.event.startStr"
                          :data-tijd="arg.event.extendedProps.start_time"
                          :id="arg.event.id"
                          class="bulk"
                          type="checkbox"
                        />
                      </template>
                      {{ arg.event.extendedProps.start_time.slice(0,5) }} -
                      {{ arg.event.extendedProps.end_time.slice(0,5) }}
                    </div>
                    <div class="event-title">{{ arg.event.title }}</div>
                    <div class="event-description">
                      {{ arg.event.extendedProps.location }}
                    </div>
                    <div class="event-description">
                      {{ arg.event.extendedProps.clientName }}
                    </div>
                  </div>
                  <div
                    :class="
                      'persons-' +
                      arg.event.extendedProps.service_id +
                      ' event-details-persons'
                    "
                    :ref="'persons-' + arg.event.extendedProps.service_id"
                  >
                    <div
                      v-if="arg.event.extendedProps.hr_amount > 0"
                      class="event-details-person-icon"
                    >
                      {{ arg.event.extendedProps.hr_amount }}
                    </div>
                    <div v-else class="event-details-person-icon">?</div>
                    <div class="pl-[.3rem] pr-2 pt-1 pb-1 mb-0.5">
                      <img src="~/assets/icons/person-icon.png" alt="" />
                    </div>
                    <template v-if="arg.event.extendedProps.users">
                      <template
                        v-for="(user, index) in arg.event.extendedProps.users"
                      >
                        <div
                          v-if="index <= 1"
                          :key="user.profile_id"
                          :style="{
                            background: arg.event.extendedProps.darkColor,
                          }"
                          class="event-person-initials"
                        >
                          {{
                            user.firstname.charAt(0) + user.lastname.charAt(0)
                          }}
                        </div>
                        <div
                          v-if="
                            arg.event.extendedProps.users.length <= 3 &&
                            index == 2
                          "
                          :key="user.profile_id"
                          :style="{
                            background: arg.event.extendedProps.darkColor,
                          }"
                          class="event-person-initials"
                        >
                          {{
                            user.firstname.charAt(0) + user.lastname.charAt(0)
                          }}
                        </div>
                      </template>
                      <div
                        v-if="arg.event.extendedProps.users.length > 3"
                        :style="{
                          background: arg.event.extendedProps.darkColor,
                        }"
                        class="event-person-initials persons-too-many"
                      >
                        + {{ arg.event.extendedProps.users.length - 2 }}
                      </div>
                    </template>
                  </div>
                </template>
              </div>
            </template>
          </template>
        </FullCalendar>
      </div>
    </div>
    <div>
      <footer class="bulkFooter bulk-animation" v-if="bulkAction">
        <center>
          <button
            :disabled="buttonDisabled"
            @click="bulkUpdateStatus(1)"
            class="button-uitplannen filter-bar-items filter-bar-item-next"
          >
            <span>Uitplannen</span>
          </button>
          <button
            :disabled="buttonDisabled"
            @click="bulkUpdateStatus(3)"
            class="button-inplannen filter-bar-items filter-bar-item-next"
          >
            <span>Inplannen</span>
          </button>
          <button
            :disabled="buttonDisabled"
            @click="bulkUpdateStatus(2)"
            class="button-uitnodigen filter-bar-items filter-bar-item-next"
          >
            <span>Uitnodigen</span>
          </button>
        </center>
      </footer>
    </div>
  </div>
</template>

<script>
//import '@fullcalendar/core/vdom'
import FullCalendar, { CalendarDataManager } from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import resourceTimelinePlugin from "@fullcalendar/resource-timeline";
import scrollGrid from "@fullcalendar/scrollgrid";
import "~/static/css/planner.css";
import CreateServiceModal from "~/components/modal/createServiceModal.vue";
import ViewDisabled from "~/components/modal/viewDisabled.vue";
import moment from "moment";
import UpdateServiceModal from "~/components/modal/updateServiceModal.vue";
import ServiceExportModal from "~/components/modal/serviceExportModal.vue";
import MessageModal from "~/components/modal/messageModal.vue";
import Calendar from "v-calendar/lib/components/calendar.umd";
import DatePicker from "v-calendar/lib/components/date-picker.umd";
import Multiselect from "vue-multiselect";
import Vue from "vue";

Vue.component("multiselect", Multiselect);

export default {
  layout: "default",
  transition: "slide-bottom",
  name: "planner",
  components: {
    FullCalendar,
    Calendar,
    Multiselect,
    MessageModal,
    DatePicker,
    ViewDisabled,
    CreateServiceModal,
    UpdateServiceModal,
    ServiceExportModal,
  },
  data() {
    return {
      autoRefresh: false,
      latestRenewedDate: "",
      latestRenewedDateTime: "",
      disableRefresh: false,
      renewAvailable: "",
      timerMiliSeconds: 5000,
      AllEvents: [],
      allResources: [],
      clickInfo: {},
      filterActive: false,
      showFilter: false,
      canEdit: false,
      canRead: false,
      canDelete: false,
      permissions: this.$auth.$storage.getState("perm"),
      buttonDisabled: true,
      browserVisible: true,
      bulkAction: false,
      attrs: [{}],
      timer: "",
      timer2: "",
      statusOptions: [],
      statusValue: "",
      resourceOptions: [],
      resourceValue: [],
      tagOptions: [],
      tagValue: [],
      statusFilter: "",
      relationValue: [],
      relationOptions: [],
      currentEvents: [],
      events: {},
      companyId: this.$auth.user.companyId,
      resources: {},
      dateToCheck: "",
      isModalVisible: false,
      modalData: {},
      reloadshiftToCheck: "",
      date: new Date(),
      reloadshifts: "",
      weekends: true,
      calendarOptions: {
        schedulerLicenseKey: "CC-Attribution-NonCommercial-NoDerivatives",
        datesSet: this.handleMonthChange,
        locale: "nl",
        weekends: this.weekends,
        plugins: [
          dayGridPlugin,
          interactionPlugin,
          resourceTimelinePlugin,
          scrollGrid,
        ],
        slotLabelFormat: [
          {
            weekday: "short",
          },
          {
            day: "numeric",
            month: "short",
          },
        ],
        initialView: "resourceTimelineWeek",
        views: {
          resourceTimelineWeek: {
            type: "resourceTimelineWeek",
          },
        },
        weekNumbers: true,
        datesAboveResources: true,
        weekText: "Weeknummer:",
        titleFormat: {
          year: "numeric",
          month: "long",
        },
        firstDay: 1,
        eventColor: "#173e7b",
        eventResourceEditable: false,
        resourceAreaWidth: "200px",
        duration: {
          days: this.week,
        },
        slotDuration: {
          days: 1,
        },
        editable: true,
        dragScroll: true,
        selectable: true,
        select: this.handleDateSelect,
        eventClick: this.handleEventClick,
        eventOrder: "start_time",
        height: "parent",
        resourceAreaColumns: [
          {
            field: "title",
            headerContent: "Werknemers",
          },
        ],
        buttonText: {
          today: "Vandaag",
          month: "Maand",
          week: "Week",
          day: "Dag",
          list: "Lijst",
        },
        events: [],
        resources: "", // changevar
        resourceOrder: "schedule_order",
        slotMinWidth: 200,
        handleWindowResize: false,
      },
      interval: "",
    };
  },
  // # Preparing the schedule, First getting the resources before events because that is what fullcalendar expects
  // Getting resources (profiles) and relations. getting status, getting tags.  
  created() {
    this.getSubscriptionData();
    if (!this.autoRefresh) {
      this.timerMiliSeconds = 300000;
    }
    this.permissions.forEach((element) => {
      if (element.name == "planning_can_edit") {
        this.canEdit = true;
      }
      if (element.name == "planning_can_read") {
        this.canRead = true;
      }
    });

    var companyId = this.$auth.user.companyId;
    const axios = require("axios");
    var resourcesUrl =
      "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId=" +
      companyId +
      "&schedule=2";
    axios
      .get(resourcesUrl)
      .then((response) => {
        this.resources = response.data;
        this.$refs.updateServiceModal.options = response.data;
        this.$refs.createServiceModal.options = response.data;
      })
      .catch((error) => {
      });
    this.getTags();
    var statusUrl = "https://api.eezywork.nl/v1/pm/shift/status/get-list.php";
    axios
      .get(statusUrl)
      .then((response) => {
        this.statusOptions = response.data;
      })
      .catch((error) => {
      });
    var url =
      "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId=" +
      companyId;
    axios
      .get(url)
      .then((response) => {
        this.resourceOptions = response.data;
      })
      .catch((error) => {
      });
    this.getRelations();
    var resourcesUrl =
      "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId=" +
      this.companyId +
      "&schedule=1";
    axios.post(resourcesUrl).then((response) => {
      this.allResources = response.data;
    });
  },
  // # Preparing the events for the schedule.
  // getting events (shifts), managing browser check and refreshtimer (the automatic refreshing of events)
  mounted() {
    // Getting the date that we put in the query, to remember what date the page was on for refresh.
    this.formatDate();
    if (this.$route.query.date) {
      var date = this.$route.query.date;
      let calendarApi = this.$refs.calendar.getApi();
      calendarApi.gotoDate(date);
    }
    this.getEvents();
    // Important eventlistener: Checks if browser is active
    document.addEventListener("visibilitychange", this.browserCheck);
    this.refreshTimer();
    if (!this.canRead) { // permission check
      this.$refs.ViewDisabled.showModal();
    }
    var companyId = this.$auth.user.companyId;
    var url = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?schedule=1&companyId=" + companyId;
    this.calendarOptions.resources = url;
  },
  // # before destroy and unmount 
  // on leaving the page, remove eventlistener and stop the refreshtimer.
  beforeDestroy() {
    this.cancelAutoUpdate();
    document.removeEventListener("visibilitychange", this.browserCheck);
  },
  beforeUnmount() {
    this.cancelAutoUpdate();
    document.removeEventListener("visibilitychange", this.browserCheck);
  },
  methods: { 
    getSubscriptionData() {
      if (this.$auth.user.subscription.type == 2) {
        this.autoRefresh = true;
      } else {
        this.autoRefresh = false;
      }
    },
    toggleActiveClass() {
      let divElement = document.getElementById("filter-button");
      divElement.classList.toggle("active");
    },
    // # Refreshtimer and last renewed methods
    // Checks if the data that is local is different from live. Will refresh the events if it is.
    refreshTimer() {
      this.timer = setInterval(() => {
        if (this.browserVisible && this.autoRefresh) {
          const axios = require("axios");
          var filters = {};
          var url = this.events;
          axios
            .post(url+"&modifiedAt="+this.latestRenewedDateTime, filters)
            .then((response) => {
              var existingEvents = this.AllEvents;
              var newEvents = response.data;

              const map = new Map();

              // First, loop through arr1 and add its items to the map
              existingEvents.forEach(item => map.set(item.id, { ...item }));

              // Now, loop through arr2 and merge the items if the id already exists in the map
              newEvents.forEach(item => {
                if (map.has(item.id)) {
                  // Merge the properties
                  map.set(item.id, { ...map.get(item.id), ...item });
                } else {
                  // Otherwise, add the new item
                  map.set(item.id, { ...item });
                }
              });

              this.AllEvents = Array.from(map.values());
                this.calendarOptions.events = this.AllEvents;
                this.$refs.sidebar.startLoading();
                if (this.filterActive) {
                  this.filters();
                } else {
                  this.refreshEvents();
              }
              this.$refs.sidebar.endLoading();
            })
            .catch((error) => {
            });
        }
        // When autorfresh is disabled, it will only check if there are any changes live.
        if (!this.autoRefresh) {
          const axios = require("axios");
          var url =
            "https://api.eezywork.nl/v1/pm/schedule/checkChanges.php";
          axios
            .post(url, {
              companyId: this.$auth.user.companyId,
              dateTime: this.latestRenewedDateTime,
            })
            .then((response) => {
              this.renewAvailable = response.data;
            })
            .catch((error) => {
              this.relationOptions = [];
            });
        }
      }, this.timerMiliSeconds);
    },
    startTimer() {
      this.timer2 = setTimeout(() => {
        this.runAfterThreeSeconds();
      }, 2000);
    },
    cancelTimer() {
      clearTimeout(this.timer2);
    },
    cancelEventTimer() {
      clearTimeout(this.timer);
    },
    runAfterThreeSeconds() {
      this.toggleBulkAction();
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
    refreshEvents(i = null) {
      let calendarApi = this.$refs.calendar.getApi();
      calendarApi.refetchEvents();
      calendarApi.refetchResources();
      this.$refs.sidebar.endLoading();
    },
    disableRefreshTimer() {
      this.disableRefresh = true;
      setTimeout(() => {
        this.disableRefresh = false;
      }, 5000);
    },
    // # Bulk methods, makes it possible to change events in bulk(multiple events at once).
    toggleBulkAction() {
      if (this.bulkAction) {
        this.bulkAction = false;
      } else {
        this.bulkAction = true;
      }
      this.refreshEvents();
    },
    closeBulkAction() {
      this.bulkAction = false;
      this.refreshEvents();
    },
    bulkUpdateStatus(i) {
      const axios = require("axios");
      let checkedIds = [];
      // Get all the checkboxes that are checked
      const checkboxes = document.querySelectorAll(
        "input[type=checkbox].bulk:checked"
      );
      // Loop through the checkboxes and add their ids to the checkedIds array
      for (let y = 0; y < checkboxes.length; y++) {
        checkedIds.push(checkboxes[y].id);
      }
      if (checkedIds.length > 0) {
        var url = "https://api.eezywork.nl/v1/pm/schedule/bulk-action.php";
        axios
          .post(url, {
            bulkArray: checkedIds,
            statusId: i,
          })
          .then((response) => {
            this.$notify({
              type: "succes",
              title: `Bulk toegepast`,
            });
            // Push notifications. For all Id's
            checkboxes.forEach((el) => {
              var time = el.dataset.tijd;
              var userId = el.dataset.profiel;
              const date = el.dataset.datum;
              const [year, month, day] = date.split("-");
              const datum = [day, month, year].join("-");
              if (i == 2) {
                this.sendNotification(
                  userId,
                  "Eezywork",
                  "U bent uitgenodigd voor een dienst op " + datum + " om " + time
                );
              } else if (i == 3) {
                this.sendNotification(
                  userId,
                  "Eezywork",
                  "U bent ingepland voor een dienst op " + datum + " om " + time
                );
              } else if (i == 1) {
                this.sendNotification(
                  userId,
                  "Eezywork",
                  "Een dienst op " + datum + " om " + time + " is komen te vervallen!"
                );
              }
            });
          });
      } 
    },
    // # notification methods, Sends notifications to the app
    sendNotification(user_id, title, content) {
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/notification/create-notification.php";
      axios
        .post(url, {
          user_id: user_id,
          title: title,
          content: content,
        })
        .then((response) => {
          this.toast("success", "Notificatie gestuurd.");
        })
        .catch((error) => {
        });
    },
    // # copying a service (parent of shifts) to the service modal.
    copyService() {
      this.$refs.createServiceModal.startDate = this.$refs.updateServiceModal.startDate;
      this.$refs.createServiceModal.copyId = this.$refs.updateServiceModal.serviceId;
      this.$refs.createServiceModal.canEdit = this.canEdit;
      this.$refs.createServiceModal.onRepeat = "";
      this.$refs.createServiceModal.disableInput = false;
      this.$refs.createServiceModal.endDate = "";
      this.$refs.createServiceModal.onRepeat = "";
      this.$refs.createServiceModal.startTime = this.$refs.updateServiceModal.startTime;
      this.$refs.createServiceModal.relationValue = this.$refs.updateServiceModal.relationValue;
      if (this.$refs.updateServiceModal.tagValue.length > 0) {
        this.$refs.createServiceModal.tagValue = this.$refs.updateServiceModal.tagValue;
      } else {
        this.$refs.createServiceModal.tagValue = [];
      }
      this.$refs.createServiceModal.endTime = this.$refs.updateServiceModal.endTime;
      this.$refs.createServiceModal.title = this.$refs.updateServiceModal.title;
      this.$refs.createServiceModal.hrAmount = this.$refs.updateServiceModal.hrAmount;
      this.$refs.createServiceModal.pause = this.$refs.updateServiceModal.pause;
      this.$refs.createServiceModal.comment = this.$refs.updateServiceModal.comment;
      this.$refs.createServiceModal.location = this.$refs.updateServiceModal.location;
      this.$refs.createServiceModal.resourceId = "A1";
      this.$refs.createServiceModal.getTags();
      if (this.relationOptions) {
        this.$refs.createServiceModal.relationOptions = this.relationOptions;
        if (this.relationOptions && this.$refs.updateServiceModal.client_id) {
          this.relationOptions.forEach((option) => {
            if (option.relation_id == this.$refs.updateServiceModal.client_id) {
              this.$refs.createServiceModal.relationValue = option;
            }
          });
        }
      } else {
        this.$refs.createServiceModal.relationOptions = [];
      }
      this.$refs.createServiceModal.showModal();
    },
    // # disabling and enabling button for the local changes found.
    disableButtons() {
      this.buttonDisabled = true;
    },
    enableButtons() {
      this.buttonDisabled = false;
    },
    // # browser check to see if the tab is active or not. stops the timers when inactive.
    browserCheck() {
      if (document.visibilityState === "hidden") {
        this.browserVisible = false;
        document.title = "Inactief - EEZY Work";
        this.cancelEventTimer();
      } else {
        this.browserVisible = true;
        document.title = "EEZY Work";
        if (this.timer) {
          this.cancelEventTimer();
        }
        this.refreshTimer();
      }
    },
    // # Create modal Methods
    showCreateModal(i = false) {
      this.$refs.createServiceModal.startDate = "";
      this.$refs.createServiceModal.canEdit = this.canEdit;
      this.$refs.createServiceModal.onRepeat = "";
      this.$refs.createServiceModal.disableInput = false;
      this.$refs.createServiceModal.endDate = "";
      this.$refs.createServiceModal.onRepeat = "";
      this.$refs.createServiceModal.startTime = "";
      this.$refs.createServiceModal.client_id = "";
      this.$refs.createServiceModal.relationValue = [];
      this.$refs.createServiceModal.endTime = "";
      this.$refs.createServiceModal.title = "";
      this.$refs.createServiceModal.hrAmount = "";
      this.$refs.createServiceModal.pause = "";
      this.$refs.createServiceModal.comment = "";
      this.$refs.createServiceModal.location = "";
      this.$refs.createServiceModal.resourceId = "";
      this.$refs.createServiceModal.getTags();
      this.$refs.createServiceModal.tagValue = [];
      if (i) {
        this.$refs.createServiceModal.resourceId = "A1";
      }
      if (this.relationOptions) {
        this.$refs.createServiceModal.relationOptions = this.relationOptions;
      } else {
        this.$refs.createServiceModal.relationOptions = [];
      }
      if (this.canEdit) {
        this.$refs.createServiceModal.showModal();
      }
    },
    closeCreateModal() {
      this.isModalVisible = false;
    },
    // # update modal Methods
    showUpdateModal() {
      this.$refs.updateServiceModal.showModal();
    },
    // # Change event colors and data locally. Gets called from the modals.
    changeClickInfoGreen(shift_id) {
      this.$refs.sidebar.startLoading();
      var el = this.$refs[shift_id];
      var personEl = el.getElementsByClassName("event-person-initials");
      for (var i = 0; i < personEl.length; i++) {
        personEl[i].style.backgroundColor = "#86CB8A";
      }
      el.style.backgroundColor = "#ace1af";
      el.style.borderRadius = "10px";
      this.$refs.sidebar.endLoading();
    },
    changeClickInfoBlue(shift_id) {
      this.$refs.sidebar.startLoading();
      var el = this.$refs[shift_id];
      var personEl = el.getElementsByClassName("event-person-initials");
      for (var i = 0; i < personEl.length; i++) {
        personEl[i].style.backgroundColor = "#6DA6E8";
      }
      el.style.backgroundColor = "#A0C6F2";
      el.style.borderRadius = "10px";
      this.$refs.sidebar.endLoading();
    },
    changeClickInfoGray(shift_id) {
      this.$refs.sidebar.startLoading();
      var el = this.$refs[shift_id];
      var personEl = el.getElementsByClassName("event-person-initials");
      for (var i = 0; i < personEl.length; i++) {
        personEl[i].style.backgroundColor = "#eaeaea";
      }
      el.style.backgroundColor = "#F8F8F8";
      el.style.borderRadius = "10px";
      this.$refs.sidebar.endLoading();
    },
    changeClickInfoYellow(shift_id) {
      this.$refs.sidebar.startLoading();
      var el = this.$refs[shift_id];
      var personEl = el.getElementsByClassName("event-person-initials");
      for (var i = 0; i < personEl.length; i++) {
        personEl[i].style.backgroundColor = "#DBA457";
      }
      el.style.backgroundColor = "#F5BE73";
      el.style.borderRadius = "10px";
      this.$refs.sidebar.endLoading();
    },
    // # Filter methods
    // Adding the filters when filters are active.
    addFilters() {
      this.$refs.sidebar.startLoading();
      if ((this.statusValue && this.statusValue.length > 0) ||
        (this.relationValue && this.relationValue.length > 0) ||
        (this.tagValue && this.tagValue.length > 0) ||
        (this.resourceValue && this.resourceValue.length > 0)
      ) {
        this.filterActive = true;
        this.filters();
      } else {
        this.filterActive = false;
        this.filters();
      }
    },
    emptyFilters() {
      this.statusValue = this.relationValue = this.tagValue = this.resourceValue = [];
      this.filterActive = false;
      this.filters();
    },
    // Filters, will goes through multiple arrays to enable filters. 
    filters() {
      // The eventArrays get through the filters. After every step we go 1 eventArray further. 
      // At the end, we end with EventArray3 Which contains all filtered events.
      var eventArray1 = []; 
      var eventArray2 = [];
      var eventArray3 = [];
      if (this.statusValue && this.statusValue.length > 0) {
        this.statusValue.forEach((i) => {
          this.AllEvents.forEach((x) => {
            if (x.status_id == i.status_id) {
              eventArray1.push(x);
            }
          });
        });
      } else {
        eventArray1 = this.AllEvents;
      }
      if (this.relationValue && this.relationValue.length > 0) {
        this.relationValue.forEach((i) => {
          eventArray1.forEach((x) => {
            if (x.client_id == i.relation_id) {
              eventArray2.push(x);
            }
          });
        });
      } else {
        eventArray2 = eventArray1;
      }
      if (this.tagValue && this.tagValue.length > 0) {
        this.tagValue.forEach((i) => {
          eventArray2.forEach((x) => {
            if (JSON.parse(x.tag).includes(i.label_id)) {
              eventArray3.push(x);
            }
          });
        });
      } else {
        eventArray3 = eventArray2;
      }
      // Set the filtered events in the events.
      this.calendarOptions.events = eventArray3;
      // Filter for resources (profiles), only shows resources that are selected.
      if (this.resourceValue) {
        var resourceArray = [];
        if (this.resourceValue.length > 0) {
          this.allResources.forEach((i) => {
            this.resourceValue.forEach((x) => {
              if (x.profile_id == i.profile_id) {
                resourceArray.push(i);
              }
            });
          });
        } else {
          resourceArray = this.allResources;
        }
        let calendarApi = this.$refs.calendar.getApi();
        calendarApi.setOption("resources", resourceArray);
      }
      // Refresh the events with all the filters.
      this.refreshEvents();
      this.$refs.sidebar.endLoading();
    },
    formatDate(date) {
      return [year, month, day].join("-");
    },
    // # Method HandleMonthChange is binded with the fullcalendar calendaroptions event: datesset: 
    // When the date changes in the calendar (going to a different week or date), this will be called.
    handleMonthChange(data) {
      if (this.dateToCheck != data.startStr) {
        this.$refs.sidebar.startLoading();
        let calendarApi = this.$refs.calendar.getApi();
        var endweek = data.end;
        var d = new Date(endweek);
        d.setDate(new Date(endweek).getDate());
        var endStr = d.toISOString();
        this.events = "https://api.eezywork.nl/v1/pm/schedule/get-events-new-query.php?companyId=" + this.companyId + "&startDate=" + data.startStr + "&endDate=" + endStr;
        this.dateToCheck = data.startStr;
        var date = new Date(this.dateToCheck);
        date.setHours(0, 0, 0, 0);
        // Thursday in current week decides the year.
        date.setDate(date.getDate() + 3 - ((date.getDay() + 6) % 7));
        // January 4 is always in week 1.
        var week1 = new Date(date.getFullYear(), 0, 4);
        // Adjust to Thursday in week 1 and count number of weeks from date to week1.
        this.weekNumber = 1 + Math.round(
            ((date.getTime() - week1.getTime()) / 86400000 -
              3 +
              ((week1.getDay() + 6) % 7)) /
              7
          );
        const encodedDateString = data.startStr;
        const decodedDateString = decodeURIComponent(encodedDateString);
        const formattedDate = decodedDateString.split("T")[0];
        this.updateQueryDate(formattedDate);
        calendarApi.setOption("resourceAreaColumns", [
          {
            field: "title",
            headerContent: "Week " + this.weekNumber,
          },
        ]);
        this.getEvents();
      }
    },
    updateQueryDate(date) {
      this.$router.push({ query: { ...this.$route.query, date } });
    },
    dayClicked() {
      let calendarApi = this.$refs.calendar.getApi();
      calendarApi.gotoDate(this.date);
    },
    getResources(tags) {
      var companyId = this.$auth.user.companyId;
      const axios = require("axios");
      var resourcesUrl =
        "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId=" +
        companyId +
        "&schedule=2";
      axios
        .get(resourcesUrl)
        .then((response) => {
          this.resources = response.data;
          this.$refs.createServiceModal.options = response.data;
          if (
            tags != "" &&
            tags != undefined &&
            tags.length > 0 &&
            tags != "[]"
          ) {
            var resourceArray = [];
            this.resources.forEach((i) => {
              if (i.tag) {
                var rtag = JSON.parse(i.tag);
                if (rtag.some((r) => tags.includes(r))) {
                  resourceArray.push(i);
                }
              }
            });
            this.$refs.updateServiceModal.options = resourceArray;
          } else {
            this.$refs.updateServiceModal.options = response.data;
          }
        })
        .catch((error) => {
        });
    },
    getTags() {
      const axios = require("axios");
      var companyId = this.$auth.user.companyId;
      var url =
        "https://api.eezywork.nl/v1/pm/label/read.php?companyId=" + companyId;
      axios
        .get(url)
        .then((response) => {
          this.tagOptions = [];
          this.tagOptions = response.data;
        })
        .catch((error) => {
        });
    },
    // # event methods.
    getEvents() {
      if (this.browserVisible) {
        this.disableRefresh = true;
        var today = new Date();
        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, "0");
        var day = String(today.getDate()).padStart(2, "0");
        var hours = String(today.getHours()).padStart(2, "0");
        var minutes = String(today.getMinutes()).padStart(2, "0");
        var seconds = String(today.getSeconds()).padStart(2, "0");

        this.latestRenewedDate = hours + ":" + minutes + ":" + seconds;

        var datetime = year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
        this.latestRenewedDateTime = datetime;
        this.$refs.sidebar.startLoading();
        const axios = require("axios");
        var eventUrl = this.events;
        var filters = {};
        axios
          .post(eventUrl, filters)
          .then((response) => {
            this.AllEvents = response.data;
            if (this.filterActive && !this.autoRefresh) {
              this.filters();
            } else {
              this.calendarOptions.events = response.data;
            }
            this.disableRefreshTimer();
            this.renewAvailable = false;
            this.$refs.sidebar.endLoading();
          })
          .catch((error) => {
          });
      } else {
      }
    },
    createMainEvent(event, openModal) {
      var clickInfo = [];
      let calendarApi = this.$refs.calendar.getApi();
      
      event.id = event.service_id;
      event.resourceId = "A1";
      event.backgroundColor = "#F8F8F8";
      event.darkColor = "#eaeaea";
      event.start = event.start_date;
      event.location = event.location;
      calendarApi.addEvent(event);
      clickInfo.event = calendarApi.getEventById(event.id);
      if (openModal) {
        this.handleEventClick(clickInfo);
      }
      clickInfo.event.remove();
      this.calendarOptions.events.push(event);
    },
    createAvailability(data, openModal) {
      var clickInfo = [];
      let calendarApi = this.$refs.calendar.getApi();
      
      data.event.id = data.event.service_id;
      data.event.shift_id = data.shift.shiftId;
      data.event.resourceId = data.profileId;
      if(data.event.title == "Niet beschikbaar"
        ||data.event.title == "Vrije dag"
        ||data.event.title == "Vakantie"
        ||data.event.title == "Ziek"
      ){
        data.event.darkColor = "#F78D85";
        data.event.backgroundColor = "#E26161";
      }else if(data.event.title == "Beschikbaar"){
        data.event.darkColor = "#ace1af";
        data.event.backgroundColor = "#86CB8A";
      }
      data.event.start = data.event.start_date;
      calendarApi.addEvent(data.event);
      clickInfo.event = calendarApi.getEventById(data.event.id);
      if (openModal) {
        this.handleEventClick(clickInfo);
      }
      clickInfo.event.remove();
      this.calendarOptions.events.push(data.event);
    },
    createSubEvent(event, shift_id, resourceId, resource, startDate) {
      var clickInfo = [];
      var newEvent = [];
      
      newEvent.title = event.title;
      newEvent.extendedProps = event.extendedProps;
      newEvent.id = shift_id;
      newEvent.shift_id = shift_id;
      newEvent.resourceId = resourceId;
      newEvent.backgroundColor = "#F8F8F8";
      newEvent.darkColor = "#eaeaea";
      // newEvent.start = event.startStr;
      newEvent.start = startDate;
      this.calendarOptions.events.push(newEvent);
      this.renewService(event.extendedProps.service_id);
    },
    renewService(service_id) {
      const axios = require("axios");
      var eventURL = this.events + "&serviceId=" + service_id;
      axios
        .post(eventURL)
        .then((response) => {
          var clickInfo = [];
          let calendarApi = this.$refs.calendar.getApi();
          if ((clickInfo.event = calendarApi.getEventById(service_id))) {
            clickInfo.event.remove();
            this.calendarOptions.events = this.calendarOptions.events.filter(
              (x) => x.id !== service_id
            );
          }
          response.data.forEach((i) => {
            if ((clickInfo.event = calendarApi.getEventById(i.id))) {
              clickInfo.event.remove();
              this.calendarOptions.events = this.calendarOptions.events.filter(
                (x) => x.id !== i.id
              );
            }
            this.calendarOptions.events.push(i);
          });
          this.$refs.sidebar.endLoading();
        })
        .catch((error) => {
        });
    },
    deleteEvent(shift_id, service_id, parent_id, archiveType) {
      console.log('archiveType');
      console.log(archiveType);
      var clickInfo = [];
      let calendarApi = this.$refs.calendar.getApi();
      clickInfo.event = calendarApi.getEventById(shift_id);

      if(clickInfo.event != null){
        clickInfo.event.remove();
        this.calendarOptions.events = this.calendarOptions.events.filter(
          (i) => i.id !== shift_id
        );
        this.renewService(shift_id);
      }else{
        clickInfo.event = calendarApi.getEventById(service_id);
        
        if(archiveType == 2){
          var allEvents = calendarApi.getEvents();

          allEvents.forEach(event => {
            console.log(event)
            var columnValue = event.extendedProps.parent_id; 

            if (columnValue === parent_id) {
              event.remove();
            }
          });
        }else if(archiveType == 1){
          clickInfo.event.remove();
          this.calendarOptions.events = this.calendarOptions.events.filter(
            (i) => i.id !== service_id
          );
          this.renewService(service_id);
        }else{
          clickInfo.event.remove();
          this.calendarOptions.events = this.calendarOptions.events.filter(
            (i) => i.id !== service_id
          );
          this.renewService(service_id);
        }
      }
     
    },
    // # Relation methods
    getRelations() {
      const axios = require("axios");
      var relationUrl =
        "https://api.eezywork.nl/v1/pm/relation/read.php?companyId=" +
        this.companyId;
      axios
        .get(relationUrl)
        .then((response) => {
          if (response.data) {
            this.relationOptions = response.data;
          } else {
            this.relationOptions = [];
          }
        })
        .catch((error) => {
          this.relationOptions = [];
        });
    },
    // # Calendar Methods.
    changeWeekend() {
      let calendarApi = this.$refs.calendar.getApi();
      var boolean = false;
      if (this.weekends === false) {
        boolean = true;
      }
      calendarApi.setOption("weekends", boolean);
    },
    formatDate() {
      moment.locale("nl");
      let calendarApi = this.$refs.calendar.getApi();
      var startDate = calendarApi.currentData.dateProfile.currentRange.start;
      startDate = moment(startDate).format("DD MMM");
      var endDate = moment(
        calendarApi.currentData.dateProfile.currentRange.end
      );
      endDate = endDate.subtract(1, "days");
      endDate = endDate.format("DD MMM");
      this.startDate = startDate;
      this.endDate = endDate;
    },
    next() {
      let calendarApi = this.$refs.calendar.getApi();
      calendarApi.next();
      this.formatDate();
    },
    prev() {
      let calendarApi = this.$refs.calendar.getApi();
      calendarApi.prev();
      this.formatDate();
    },
    today() {
      let calendarApi = this.$refs.calendar.getApi();
      calendarApi.today();
      this.formatDate();
    },
    // # handle selecting events
    handleDateSelect(selectInfo) {
      if (this.canEdit) {
        this.modalData = selectInfo;
        this.$refs.createServiceModal.startDate = "";
        this.$refs.createServiceModal.canEdit = this.canEdit;
        this.$refs.createServiceModal.onRepeat = "";
        this.$refs.createServiceModal.disableInput = false;
        this.$refs.createServiceModal.endDate = "";
        this.$refs.createServiceModal.onRepeat = "";
        this.$refs.createServiceModal.startTime = "";
        this.$refs.createServiceModal.client_id = "";
        this.$refs.createServiceModal.relationValue = [];
        this.$refs.createServiceModal.endTime = "";
        this.$refs.createServiceModal.title = "";
        this.$refs.createServiceModal.hrAmount = "";
        this.$refs.createServiceModal.pause = "";
        this.$refs.createServiceModal.comment = "";
        this.$refs.createServiceModal.location = "";
        this.$refs.createServiceModal.resourceId = "";
        this.$refs.createServiceModal.getTags();
        this.$refs.createServiceModal.showModal();
        this.$refs.createServiceModal.startDate = selectInfo.startStr;
        this.$refs.createServiceModal.resourceId = selectInfo.resource.id;
        this.$refs.createServiceModal.relationOptions = this.relationOptions;
      }
    },
    handleEventClick(clickInfo) {
      this.clickInfo = clickInfo;
      if (this.bulkAction) {
        if (clickInfo.event._def.resourceIds[0] != "A1") {
          var checkbox = document.getElementById(clickInfo.event.id);
          checkbox.checked = !checkbox.checked;
        }
        return;
      }
      this.$refs.updateServiceModal.canEdit = this.canEdit;
      this.$refs.updateServiceModal.serviceId = clickInfo.event.extendedProps.service_id;
      this.modalData = clickInfo.event;
      this.$refs.updateServiceModal.ShowGegevens();
      this.$refs.updateServiceModal.startDate = clickInfo.event.startStr;
      this.$refs.updateServiceModal.showModal();
      if (clickInfo.event.extendedProps.tag) {
        this.$refs.updateServiceModal.tags = JSON.parse(
          clickInfo.event.extendedProps.tag
        );
        this.getResources(JSON.parse(clickInfo.event.extendedProps.tag));
      } else {
        this.$refs.updateServiceModal.tags = "";
      }
      this.$refs.updateServiceModal.refreshResources();
      this.$refs.updateServiceModal.title = clickInfo.event.title;
      this.$refs.updateServiceModal.availibilityValue = "";
      this.$refs.updateServiceModal.location = clickInfo.event.extendedProps.location;
      this.$refs.updateServiceModal.comment = clickInfo.event.extendedProps.comment;
      this.$refs.updateServiceModal.contactId = clickInfo.event.extendedProps.contact_id;
      this.$refs.updateServiceModal.startTime = clickInfo.event.extendedProps.start_time;
      this.$refs.updateServiceModal.endTime = clickInfo.event.extendedProps.end_time;
      this.$refs.updateServiceModal.pause = clickInfo.event.extendedProps.pause;
      this.$refs.updateServiceModal.hrAmount = clickInfo.event.extendedProps.hr_amount;
      this.$refs.updateServiceModal.onRepeat = clickInfo.event.extendedProps.onRepeat;
      this.$refs.updateServiceModal.relationOptions = this.relationOptions;
      this.$refs.updateServiceModal.endStr = clickInfo.event.extendedProps.endStr;
      this.$refs.updateServiceModal.typeId =
        clickInfo.event.extendedProps.type_id;
      this.$refs.updateServiceModal.parentId = clickInfo.event.extendedProps.parent_id;
      this.$refs.updateServiceModal.getTags();
      this.$refs.updateServiceModal.getattachedIds();
      if (clickInfo.event.extendedProps.type_id == 2) {
        var availabilityOptions = this.$refs.updateServiceModal.availabilityOptions;
        availabilityOptions.forEach((option) => {
          if (option.title == clickInfo.event.title) {
            this.$refs.updateServiceModal.availibilityValue = option;
          }
        });
      }
      if (this.relationOptions && clickInfo.event.extendedProps.client_id) {
        this.relationOptions.forEach((option) => {
          if (option.relation_id == clickInfo.event.extendedProps.client_id) {
            this.$refs.updateServiceModal.relationValue = option;
          }
        });
      }
      this.$refs.updateServiceModal.getContacts();
      const axios = require("axios");
      // Url for document. Pid when parent has value
      var url = "https://api.eezywork.nl/v1/pm/service/document/read.php?id=" + clickInfo.event.extendedProps.service_id;
      if (clickInfo.event.extendedProps.parent_id) {
        url += "&Pid=" + clickInfo.event.extendedProps.parent_id;
      }
      axios
        .get(url)
        .then((response) => {
          if (response.data) {
            this.$refs.updateServiceModal.documents = response.data;
          } else {
            this.$refs.updateServiceModal.documents = [];
          }
        })
        .catch((error) => {
          this.$refs.updateServiceModal.documents = [];
        });
    },
    handleEvents(events) {},
    // # export modal, handles the modal that manages the exporting of data to excelsheet.
    openExportModal() {
      this.$refs.exportServiceModal.showModal();
      this.$refs.exportServiceModal.relationOptions = this.relationOptions;
      this.$refs.exportServiceModal.resourceOptions = this.resourceOptions;
      this.$refs.exportServiceModal.statusOptions = this.statusOptions;
      this.$refs.exportServiceModal.tagOptions = this.tagOptions;
      this.$refs.exportServiceModal.AllEvents = this.calendarOptions.events;

      var exportArray = [];
      var loopArray = this.calendarOptions.events;
      loopArray.forEach((i) => {
        if (i.resourceId == "A1") {
          var employeeName = "Niet toegewezen";
        } else {
          var employeeName = i.firstname + " " + i.lastname;
        }
        exportArray.push({
          ID: i.id,
          Titel: i.title,
          Opdrachtgever: i.clientName,
          Medewerker: employeeName,
          Status: i.status_name,
          "Start datum": i.start_date,
          "Start tijd": i.start_time,
          "Eind tijd": i.end_time,
          Pauze: i.pause,
          Opmerking: i.comment,
          Locatie: i.location,
          "Aantal ingepland": i.hr_amount,
        });
      });
      this.$refs.exportServiceModal.events = exportArray;
      // // html2pdf(document.getElementById("planner"), {filename: "i-was-html.pdf",});
      //     html2pdf(document.getElementById("calendar"), {
      //     margin: 1,
      //     filename: "invoice.pdf",
      //     image: { type: "jpeg", quality: 0.98 },
      //     html2canvas: { dpi: 300, letterRendering: true, },
      //     jsPDF: { unit: "in", format: "a2", orientation: "Landscape" },
      // });
    },
    // # extra methods
    toast(variant = null, message) {
      this.$bvToast.toast(message, {
        title: `Planning`,
        variant: variant,
        autoHideDelay: 2000,
        solid: true,
      });
    },
  },
};
</script>

<style>
.bulk {
  border: 2px solid #9d1a16;
  border-radius: 5px;
}
/* Multiselect Filters */
.filter .multiselect__input {
  max-width: 30%;
}
</style>

<style scoped>
.button-uitplannen {
  @apply mx-1 px-4 py-2 rounded-md bg-darkred !text-white;
}
.button-inplannen {
  @apply mx-1 px-4 py-2 rounded-md bg-blue;
}
.button-uitnodigen {
  @apply mx-1 px-4 py-2 rounded-md bg-orange;
}
#calendar {
  @apply text-sm;
}
.fc-timeline-slot-frame {
  font-size: 14px;
}

.renewed-date {
  font-size: 11px;
  float: left;
  cursor: default;
}

/* FONT IMPORT */
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 400;
  src: local("Poppins"),
    url(~/static/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 500;
  src: local("Poppins"),
    url(~/static/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 600;
  src: local("Poppins"),
    url(~/static/fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "HK Grotesk";
  font-display: auto;
  font-weight: 700;
  src: local("HK Grotesk"),
    url(~/static/fonts/HKGrotesk-Bold.otf) format("opentype");
}
.divider-border {
  @apply mt-4 mb-4;
  border-top: 1px solid #d9cbbf;
}
/* TABLE STYLING */
.fc table {
  table-layout: auto;
}
.fc-view > table {
  min-width: 0;
  width: auto;
}
.fc-axis {
  min-width: 100px; /*the width of times column*/
  width: 100px; /*the width of times column*/
}
.fc-day,
.fc-resource-cell,
.fc-content-col {
  min-width: 300px;
  width: 300px;
}
.header {
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #ddbbbb;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 90;
  left: 64px;
  grid-template-columns: 155px minmax(0px, 1fr) minmax(200px, auto);
  /*   grid-template-columns: 155px minmax(0px, 1fr) minmax(200px, 695px);
 */
}
.bulkFooter {
  @apply pt-3 px-6 fixed bottom-0;
  width: calc(100vw - 64px);
  height: 60px;
  z-index: 100;
  left: 64px;
  background-color: #6e1b19;
  padding-top: 0.7rem;
}
.bulk-animation {
  transform-origin: bottom;
  animation: slide-in-Y 0.5s;
}

.header-filter-container {
  @apply bg-white rounded-lg p-3 font-poppins;
  margin-top: 5px;
  height: 45px;
  width: 600px;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  overflow-y: hidden;
  /* overflow-x: scroll; */
}
@media (max-width: 1440px) {
  .header-filter-container {
    width: 100%;
  }
}
.filter-icon {
  @apply h-2.5 mt-1.5 ml-1.5;
}
.content {
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  /* height: 100%; */
  position: absolute;
  left: 64px;
  top: 64px;
  margin-bottom: 100px;
  overflow: hidden;
}
.modal-button-red {
  @apply mt-1;
}
.filter-bar-items {
  @apply font-poppins font-medium overflow-ellipsis whitespace-nowrap text-darkgray;
  font-size: 14px;
}

.filter-block {
  @apply flex flex-col justify-between bg-hoverhighlight !h-full w-[350px] m-0 float-left sticky;
  max-height: calc(100% - 64px) !important;
}
.filter-content {
  height: calc(100vh - 104px);
}
.filter-animation.active {
  animation: slide-in-X 0.5s;
  transform-origin: left;
  opacity: 1;
}

.active {
  animation: slide-out-X 0.5s;
  transform-origin: left;
}

.slide-in {
  animation: slide-in-x 0.5s;
}

.slide-out {
  animation: slide-out-x 0.5s;
}

@keyframes slide-in-X {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out-X {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-Y {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.filter-button {
  position: absolute;
  z-index: 1;
  box-shadow: none !important;
}

.toggle-icon-filter-button {
  @apply rounded-lg;
  width: 45px;
  min-width: 45px;
  padding: 16px;
  display: block;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
}

.filtering-button {
  @apply bg-darkred text-white h-10 bottom-0 text-sm;
  width: 100%;
  align-content: bottom;
}

.toggle-icon-prev,
.toggle-icon-next {
  @apply bg-darkred rounded-lg !important;
  padding: 15px;
}
.toggle-icon-next,
.toggle-icon-prev,
.toggle-icon-filter {
  @apply text-white h-12;
  font-family: "fcicons" !important;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
}
.toggle-icon-next::before {
  content: "\e901";
}
.toggle-icon-prev::before {
  content: "\e900";
}
.toggle-icon-filter::before {
  content: "\e900";
}
.toggle-icon-filter::before {
  content: "\e900";
}
.toggle-icon-today,
.toggle-item-new-task {
  @apply bg-white text-darkgray font-normal rounded-lg;
  padding: 11.75px;
  height: 45px !important;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
}
.empty-filters {
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
}
.toggle-icon-today {
  @apply font-medium;
}
.toggle-item-new-task {
  @apply bg-darkred text-white font-poppins rounded-lg !important;
  min-width: 200px !important;
}
.header-button-container {
  margin-left: 10px;
  margin-top: -5px !important;
}
.header-button-container button,
.header-button-container span {
  margin: 0px 3px;
}

.darkred-button {
  @apply bg-darkred text-white;
}

.disabled-darkred-button {
  @apply bg-pink text-black;
}

.toggle-icon-calendar {
  @apply bg-darkred rounded-lg;
  width: 45px;
  height: 100%;
  min-width: 45px;
  padding: 16px;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
}
.toggle-checkbox-weekend {
  @apply font-poppins font-normal py-4 px-3 overflow-ellipsis whitespace-nowrap;
}
.toggle-checkbox-weekend label {
  margin-top: 5px;
}
#weekend-toggle {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkmark {
  position: relative;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.weekend-toggle-text {
  font-size: 14px;
}
.toggle-item-view {
  @apply bg-darkred p-3 rounded text-white font-normal rounded-lg;
  height: 45px;
}

/* EVENTS STYLING */
.event-time {
  @apply text-darkgray italic font-bold !important;
  font-size: 12px;
}
.toggle-icon-download {
  @apply bg-white rounded-lg;
  width: 45px;
  min-width: 45px;
  padding: 16px;
  display: block;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.05);
}
.event-title {
  @apply text-darkgray font-semibold text-sm mb-0.5 truncate;
}
.event-description {
  @apply text-darkgray;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-details-persons {
  @apply text-center flex flex-col items-center;
  border-left: 1px solid white;
  padding: 6px;
}
.event-details {
  @apply py-2 pl-2;
}
.event-details-container {
  display: grid;
  grid-template-columns: 1fr 38px;
}
.event-person-initials {
  @apply bg-darkblue mb-0.5 w-[22px] text-darkgray font-semibold;
  font-size: 9px !important;
  padding: 1px 0px;
  border-radius: 5px;
}
.event-person-initials:last-child {
  @apply mb-0;
}
.event-details-person-icon {
  @apply text-black absolute ml-[15px] mt-[-4px];
  font-size: 10px;
}
.event-details-persons img {
  width: 80%;
}
.fc .fc-timeline-event-harness,
.fc .fc-timeline-more-link {
  margin-bottom: 1000px;
}
.event-details {
  min-width: 150px;
}
.event-title,
.event-description {
  max-width: auto;
}

/* CUSTOM CHECKBOX */
.container {
  @apply block relative cursor-pointer select-none;
  padding-left: 25px;
}
/* Hide the browser's default checkbox */
/* Create a custom checkbox */
.checkmark {
  @apply absolute top-0 left-0 h-4 w-4 bg-background;
  border: 2px solid #9d1a16;
  border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* height */
::-webkit-scrollbar {
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
div#calendar {
  height: calc(100vh - 120px);
}
</style>
