<template>
  <div class="main">
     <notifications 
		:duration="5000" 
		:width="300" 
		:max="1" 
		animation-name="fade-right" 
		position="bottom right" 
	    ></notifications> 
    <div class="content h-screen w-screen bg-darkred">
        <div class="login-module" v-if="!verified">
            <img src="~/assets/icons/Eezywork.png" alt="Werknemers icoon" class="w-28 h-28 m-auto mb-6">
            <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Account niet geverifieerd</h1>
            <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Probeer het nog eens of neem contact op.</h1>
            <!-- <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Inloggen</h1> -->
            <!-- <div class="flex flex-col">
              <label for="password">Wachtwoord</label>
              <input v-model="password" type="password" id="password" placeholder="">
            </div> -->
            <!-- <div @click="verify()" class="submit-button text-center cursor-pointer"> -->
              <!-- <NuxtLink to="/overzicht" class="submit-button-link">Inloggen</NuxtLink>
                <button class="submit-button-link">
                    Verifieer account
                </button>
            </div> -->
            <!-- <div class="create-account-container flex flex-wrap justify-center mt-4">
              <p class="text-white font-poppins text-sm">Nog geen account? </p>
              <NuxtLink to="/overzicht" class="create-account-link text-white font-poppins ml-1 text-sm underline">
              Registreren
              </NuxtLink>
            </div> -->
        </div>
      <div v-else>
        <img src="~/assets/icons/Eezywork.png" alt="Werknemers icoon" class="w-28 h-28 m-auto mb-6">
        <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Account succesvol geverifieerd</h1>
        <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Open de app!</h1>
        <tr style="border-collapse:collapse"> 
              <td align="left" style="Margin:0;padding-bottom:5px;padding-top:20px;padding-left:20px;padding-right:20px;"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tr style="border-collapse:collapse"> 
                  <td align="left" style="padding:0;Margin:0;width:460px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.eezywork.app" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:none;color:#0B5394;font-size:14px"><img class="adapt-img" src="https://jnmiim.stripocdn.email/content/guids/CABINET_1985d10bfb386cf8803b623046e0f017/images/googleplaybadge1.png" alt="Google Play" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="180" title="Google Play"></a></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
             <tr style="border-collapse:collapse"> 
              <td align="left"  style="padding:0;Margin:0;"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tr style="border-collapse:collapse"> 
                  <td align="left" style="padding:0;Margin:0;width:500px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;font-size:0px"><a target="_blank" href="https://apps.apple.com/nl/app/eezy-work/id1629405080" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:none;color:#0B5394;font-size:14px"><img class="adapt-img" src="https://jnmiim.stripocdn.email/content/guids/CABINET_1985d10bfb386cf8803b623046e0f017/images/appleappstorebutton.png" alt="App Store" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="180" title="App Store"></a></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  name: 'login',
  data() {
    return {
      showButtons: false,
      verified: false,
      password: '',
      password2: '',
      email: this.$route.query.email,
      token: this.$route.query.token,
      type: ''
    }
  },
    beforeCreate(){
    if(!this.$route.query.token || !this.$route.query.email){
      this.$router.push({ path: '/login'})
    }
    
  },
  mounted(){
      this.verify();
  },
  methods:{
    verify(){
        // if(this.password){
            const axios = require('axios');
            var url = "https://api.eezywork.nl/v1/account/verify.php";
            axios.post(url,{
                email: this.email,
                password: this.password,
                token: this.token
            })
            .then(response => {
              this.$notify({
                type: 'succes',
                title: `Gelukt!`,
                text: `Account Succesvol geactiveerd.`
              });
              this.verified = true;
              // setTimeout(() => { this.$router.push({ path: '/login'}) }, 2000);
            })
            .catch(error => {
                this.$notify({
                  type: 'error',
                  title: `Er is iets fout gegaan`,
                  text: `Als dit zich blijft voordoen, Probeer de link opnieuw, of neem contact op.`
                });
            });
        // } else {
        //     this.$notify({
        //       type: 'error',
        //       title: `Vul een wachtwoord in`
        //   });
        // }
    },
    // accept() {
    //   const axios = require('axios');
    //   var url = "https://api.eezywork.nl/v1/companies/profile/accept-invitation.php";
    //   axios.post(url,{
    //     id: this.id
    //   })
    //   .then(response => {
    //     this.$notify({
    //         type: 'success',
    //         title: `Uitnodiging geaccepteerd`
    //     });
    //   })
    //   .catch(error => {
    //     // console.log("Inloggen niet geslaagd")
    //     // console.log(error.response)
    //   });
    // }
  },
}
</script>

<style scoped>
.content{
  @apply flex justify-center items-center;
}
.login-module{
  @apply p-10 w-96 bg-darkred rounded-md;
}
input {
  @apply px-3 py-3 mb-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply my-2 text-white font-poppins;
}
.submit-button {
  @apply bg-black hover:bg-gray-900 m-auto py-3 text-white rounded-md font-poppins text-center w-full;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>