<template>
    <div class="main">
        <h2 class="font-poppins font-semibold text-darkgray absolute mt-6 overflow-ellipsis overflow-hidden whitespace-nowrap" style="font-size:24px">{{profile.firstname + ' ' + profile.lastname}}</h2>
          <div class="header-button-container pl-4 float-right">
            <button @click="openCreateModal()" class="red-button">Toevoegen</button>
          </div>
        <vue-good-table
            :columns="columns" 
            :line-numbers="false"
            :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
            enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
            placeholder: 'Zoeken...',
            compactMode: true
        }"
        :pagination-options="{
        enabled: true,
        mode: 'resultaten',
        nextLabel: 'Volgende',
        prevLabel: 'Vorige',
        rowsPerPageLabel: 'Opdrachten per pagina',
        ofLabel: 'van',
        pageLabel: 'pagina', // for 'pages' mode
        allLabel: 'Alle',
        }"
        styleClass="tableOne vgt-table"
        :rows="documents"
        ><template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'button'">
            <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                <a :href="props.row.upload"  target="_blank"><img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
            </button>
            </span>
        </template>
        </vue-good-table>
    </div>
</template>

<script>
import CreateProfDocModal from '~/components/modal/createProfDocModal.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'

export default {
  name: 'documenten',
  components: {
    CreateProfDocModal,
    VueGoodTable
  },
  data() {
      return {
        columns: [
          {
            label: "Document", 
            field: "document_name",
            thClass: "gull-th-class",
          }, 
            {
            label: "Upload datum",
            field: "created_at",
            thClass: "gull-th-class",
          },
          {
            label: "Verloop datum",
            field: "expiration_date",
            thClass: "gull-th-class",
          },
          {
            label: "Acties",
            field: "button",
            html: true,
          },],
          profile: '',
          profileId: '',
          documents: '',
          id: this.$auth.$storage.getState("employeeId")
      }
  },
  created() {        
      this.getDocuments();
      this.getProfile();
  },
  methods:{
    getDocuments(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/profile/document/read.php?id="+this.$auth.$storage.getState("employeeId");
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.documents = response.data;
          // console.log(this.documents)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
     getProfile(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/profile/get.php?profileId="+this.$auth.$storage.getState("employeeId");
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.profile = response.data;
          // console.log(this.profile)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
    openCreateModal(){
      this.$refs.documentModal.file = '';
      this.$refs.documentModal.documentName = '';
      this.$refs.documentModal.expirationDate = '';
      this.$refs.documentModal.showModal();
    }
  }
}
</script>

<style scoped>
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
.vgt-wrap{
  position: initial;
}
@media (max-width:676px){
.vgt-wrap{
  @apply mt-16 pt-2;
}
}
</style>