<template>
  <div class="main">
      <div class="grid grid-cols-2 gap-x-8 gap-y-5 md:grid-cols-3">
        <div class="flex flex-col">
          <h2>Voornaam</h2>
          <input v-model="firstname" class="data-field"/>
        </div>
         <div class="flex flex-col">
          <h2>Achternaam</h2>
          <input v-model="lastname" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Personeels code</h2>
          <input v-model="employeeCode" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Emailadres</h2>
          <input v-model="email" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Telefoonnummer</h2>
          <input v-model="phone" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Geboortedatum</h2>
          <input v-model="birthDate" type="date" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Adres</h2>
          <input v-model="address" class="data-field"/>
        </div>
        <div class="flex flex-col">
          <h2>Functie</h2>
          <input v-model="profileFunction" class="data-field"/>
        </div>
        <div @click="updateProfile()" class="red-button">
          <h2>Opslaan</h2>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'gegevens',
    data() {
        return {
            profile: '',
            firstname: '',
            lastname: '',
            employeeCode: '',
            email: '',
            phone: '',
            birthDate: '',
            profileFunction: '',
            profileId: '',
            address: '',
            id: this.$auth.$storage.getState("employeeId")
        }
    },
    created() {        
        this.getProfile();
    },
    methods:{
      updateProfile(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/profile/update.php";
          axios.post(url, {
          profileId: this.profileId,
          firstname: this.firstname,
          lastname: this.lastname,
          employeeCode: this.employeeCode,
          phone: this.phone,
          birthDate: this.birthDate,
          address: this.address,
          function: this.profileFunction
        })
        .then((response) => {
          // console.log(response.data);
          this.getProfile();
        }, (error) => {
          // console.log(error);
        });
      },
      getProfile(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/profile/get.php?profileId="+this.$auth.$storage.getState("employeeId");
        // console.log(url)
        axios.get(url)
        .then(response => {
            this.profile = response.data;
            this.firstname = response.data.firstname;
            this.lastname = response.data.lastname;
            this.employeeCode = response.data.employee_code;
            this.email = response.data.email;
            this.phone = response.data.phone;
            this.birthDate = response.data.birth_date;
            this.address = response.data.address;
            this.profileFunction = response.data.function;
            // console.log(this.profile)
        })
        .catch(error => {
            // console.log(error.response)
        });
      }
    }
}
</script>

<style scoped>
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
</style>