<template>
  <div>
    <div class="header flex justify-between">
      <view-disabled ref="ViewDisabled"></view-disabled>
      <message-modal
        ref="messageModal"
        @confirm="sendPasswordReset()"
      ></message-modal>
      <div>
        <p class="text-[10px] font-poppins text-darkgray">
          Eezywork > Werknemers
        </p>
        <h1 class="text-xl font-poppins font-semibold text-darkgray">
          Werknemers
        </h1>
      </div>
    </div>
    <div class="content px-6 pt-5 bg-background truncate">
      <h2
        class="font-poppins font-semibold text-darkgray absolute pt-1 truncate"
        style="font-size: 18px"
      >
        Overzicht werknemers
      </h2>
      <div
        v-if="canEdit"
        class="header-button-container float-right py-3 truncate"
      >
        <NuxtLink :to="{ path: '/werknemers/aanmaken/' }" class="red-button"
          >Toevoegen</NuxtLink
        >
      </div>
      <div
        v-if="!isArchived"
        class="header-button-container float-right py-3 truncate"
      >
        <a
          @click="switchToArchived()"
          class="red-button"
          style="cursor: pointer"
          >Gearchiveerd</a
        >
      </div>
      <div
        v-if="isArchived"
        class="header-button-container float-right py-3 truncate"
      >
        <a @click="loadProfiles()" class="red-button" style="cursor: pointer"
          >Terug</a
        >
      </div>
      <vue-good-table
        :columns="columns"
        :line-numbers="false"
        :search-options="{
          // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
          enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
          placeholder: 'Zoeken...',
          compactMode: true,
        }"
        :pagination-options="{
          enabled: true,
          mode: 'resultaten',
          nextLabel: 'Volgende',
          prevLabel: 'Vorige',
          rowsPerPageLabel: 'Werknemers per pagina',
          ofLabel: 'van',
          pageLabel: 'pagina', // for 'pages' mode
          allLabel: 'Alle',
        }"
        styleClass="tableOne vgt-table"
        :rows="employees"
        ><template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'button'"  style="display: flex;align-items: center;">
            <button
              @click="showProfile(props.row.profile_id)"
              type="button"
              style="display: inline-block"
              class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
            >
              <img
                src="@/assets/icons/bekijken-icon.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Planner wijzig weergave"
              />
            </button>
            <button
              v-if="props.row.type == 2"
              @click="
                requestPasswordReset(
                  props.row.firstname,
                  props.row.lastname,
                  props.row.email
                )
              "
              type="button"
              class="p-2 hover:bg-hoverhighlight transition rounded-lg"
            >
              Wachtwoord wijzigen
            </button>
            <p v-if="props.row.is_active == 0" class="p-2">
              Niet geactiveerd
            </p>
          </span>
        </template>
      </vue-good-table>
    </div>
  </div>
</template>

<script>
// import the styles
import "vue-good-table/dist/vue-good-table.css";
import { VueGoodTable } from "vue-good-table";
import "~/static/css/vuegoodtable.css";
import MessageModal from "~/components/modal/messageModal.vue";
import ViewDisabled from "~/components/modal/viewDisabled.vue";

export default {
  layout: "default",
  transition: "slide-bottom",
  components: {
    VueGoodTable,
    ViewDisabled,
    MessageModal,
  },
  name: "werknemers",
  data() {
    return {
      canEdit: false,
      canRead: false,
      canDelete: false,
      isArchived: false,
      permissions: this.$auth.$storage.getState("perm"),
      employees: {},
      companyId: this.$auth.user.companyId,
      resetPasswordEmail: "",
      columns: [
        // {
        //   label: '',
        //   field: "profilePicture",
        //   html: true,
        // },
        {
          label: "Voornaam",
          field: "firstname",
          thClass: "gull-th-class",
        },
        {
          label: "Achternaam",
          field: "lastname",
          thClass: "gull-th-class",
        },
        {
          label: "Emailadres",
          field: "email",
          thClass: "gull-th-class",
        },
        {
          label: "Telefoon",
          field: "phone",
          thClass: "gull-th-class",
        },
        {
          label: "Geboortedatum",
          field: "birth_date",
          thClass: "gull-th-class vgt-left-align",
          tdClass: "vgt-left-align",
          type: "date",
          dateInputFormat: "yyyy-MM-dd", // expects 2018-03-16
          dateOutputFormat: "dd-MM-yyyy", // outputs Mar 16th 2018
        },
        {
          label: "Rol",
          field: "role_name",
          thClass: "gull-th-class",
        },
        {
          label: "Acties",
          field: "button",
          html: true,
        },
        {
          label: "Status",
          field: "status_name",
          thClass: "gull-th-class",
        },
      ],
    };
  },
  mounted() {
    this.permissions.forEach((element) => {
      if (element.name == "employee_can_edit") {
        this.canEdit = true;
      }
      if (element.name == "employee_can_read") {
        this.canRead = true;
      }
    });
    if (!this.canRead) {
      this.$refs.ViewDisabled.showModal();
    }
    this.loadProfiles();
  },
  methods: {
    showProfile(profileId) {
      this.$router.push({ name: "werknemers-bekijken-gegevens" });
      this.$auth.$storage.setState("employeeId", profileId);
    },
    loadProfiles() {
      // this.layout.startLoading();
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/read.php?companyId=" +
        this.companyId;
      axios
        .get(url)
        .then((response) => {
          this.employees = response.data;
          this.isArchived = false;
          // console.log(this.employees)
        })
        .catch((error) => {
          // // console.log(error.response)
        });
      // this.endLoading();
    },
    requestPasswordReset(firstname, lastname, email) {
      var name = firstname + " " + lastname;
      this.$refs.messageModal.showModal(
        "Wachtwoord wijziging",
        "Weet u zeker dat u een wachtwoord wijziging wilt aanvragen voor: " +
          name +
          "? Er word een email gestuurd naar: " +
          email
      );
      this.resetPasswordEmail = email;
    },
    sendPasswordReset() {
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/companies/user/sendResetEmail.php";
      axios
        .post(url, {
          email: this.resetPasswordEmail,
        })
        .then((response) => {
          console.log(response);
          this.$notify({
            type: "success",
            title: `Mail verstuurd`,
            text: `De aanvraag is verstuurd via de mail!`,
          });
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    switchToArchived() {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get-archived.php?companyId=" +
        this.companyId;
      axios
        .get(url)
        .then((response) => {
          this.employees = response.data;
          this.isArchived = true;
          // console.log(this.employees)
        })
        .catch((error) => {
          // // console.log(error.response)
        });
    },
    getDocuments() {
      const axios = require("axios");
      // Url for document. Pid when parent has value
      var url =
        "https://api.eezywork.nl/v1/pm/service/document/read.php?id=" +
        this.serviceData.extendedProps.service_id;
      if (this.serviceData.extendedProps.parent_id) {
        url += "&Pid=" + this.serviceData.extendedProps.parent_id;
      }
      axios
        .get(url)
        .then((response) => {
          if (response.data) {
            this.documents = response.data;
          } else {
            this.documents = [];
          }
        })
        .catch((error) => {
          this.documents = [];
          // // console.log(error.response)
        });
    },
  },
};
</script>

<style scoped>
/* FONT IMPORT */
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 400;
  src: local("Poppins"),
    url(~/static/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 500;
  src: local("Poppins"),
    url(~/static/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-display: auto;
  font-weight: 600;
  src: local("Poppins"),
    url(~/static/fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "HK Grotesk";
  font-display: auto;
  font-weight: 700;
  src: local("HK Grotesk"),
    url(~/static/fonts/HKGrotesk-Bold.otf) format("opentype");
}
.header {
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #ddbbbb;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content {
  width: calc(100vw - 70px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins text-center text-sm;
}
.header-button-container {
  @apply pl-2 whitespace-nowrap overflow-hidden overflow-ellipsis text-white;
}
@media (max-width: 580px) {
  .header-button-container {
    @apply mt-12;
  }
}
.vgt-column-width {
  min-width: 200px !important;
}
h2 {
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
}
.vgt-wrap {
  position: initial;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.tableOne {
  margin-bottom: 100px;
}
</style>
