<template> 
    <div class="">
      <h2 class="font-poppins font-semibold text-darkgray absolute pt-1 truncate" style="font-size:24px">Medewerker document types</h2>
      <type-modal ref="typeModal" @refresh="readTypes"></type-modal>
        <div class="header-button-container pl-4 pt-0.5 float-right" style="display: block">
            <button  v-if="canEdit" @click="openCreateModal()" class="red-button">Toevoegen</button> 
          </div> 
        <div>         
        <vue-good-table
            :columns="columns" 
            :line-numbers="false"
            :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
            enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
            placeholder: 'Zoeken...',
            compactMode: true
              }"
              :pagination-options="{
              enabled: true,
              mode: 'resultaten',
              nextLabel: 'Volgende',
              prevLabel: 'Vorige',
              rowsPerPageLabel: 'Kenmerken per pagina',
              ofLabel: 'van',
              pageLabel: 'pagina', // for 'pages' mode
              allLabel: 'Alle',
            }"
            styleClass="tableOne vgt-table"
            :rows="types"
            ><template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'button'">
                  <button v-if="canEdit && props.row.company_id != 0" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a @click="openUpdateModal(props.row.type_name, props.row.type_id)" target="_blank"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                  </button>
                  <button v-if="canEdit && props.row.company_id != 0" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a @click="openDeleteModal(props.row.type_name, props.row.type_id)" target="_blank"><img src="@/assets/icons/trash-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                  </button>
                  <a v-if="props.row.company_id == 0">Standaard</a>
                </span>
              </template>
          </vue-good-table>
        </div>
    </div> 
  </template>
  
  <script>
  import typeModal from '~/components/modal/profileDocumentTypeModal.vue'
  import 'vue-good-table/dist/vue-good-table.css'
  import { VueGoodTable } from 'vue-good-table';
  import '~/static/css/vuegoodtable.css'
  
  export default {
    name: 'werknemers',
    props: {
      canEdit: Boolean
    },
    components: {
      typeModal,
      VueGoodTable
    },
      data() {
          return {
              types: '',
              companyId: this.$auth.user.companyId,
              columns: [
              {
                label: "Naam", 
                field: "type_name",
                thClass: "gull-th-class",
              },
              {
                label: "Acties",
                field: "button",
                html: true,
              },],
          }
      },
      mounted() {        
        this.readTypes();
    }, 
    methods: {
        readTypes(){
            const axios = require('axios');
            var companyId = this.$auth.user.companyId;
            var url = "https://api.eezywork.nl/v1/companies/profile/document/type/read.php?companyId="+companyId;
            axios.get(url)
            .then(response => {
                this.types = response.data;
                console.log(response);
            })
            .catch(error => {
                console.log(error.response)
            });
        },
        openCreateModal(){
            this.$refs.typeModal.isCreate = true;
            this.$refs.typeModal.isUpdate = false;
            this.$refs.typeModal.isDelete = false;
            this.$refs.typeModal.typeName = '';
            this.$refs.typeModal.typeId = '';
            this.$refs.typeModal.showModal();
        },
        openUpdateModal(name, type_id){
            this.$refs.typeModal.isCreate = false;
            this.$refs.typeModal.isDelete = false;
            this.$refs.typeModal.isUpdate = true;
            this.$refs.typeModal.typeName = name;
            this.$refs.typeModal.typeId = type_id;
            this.$refs.typeModal.showModal();
        },
        openDeleteModal(name, type_id){
            this.$refs.typeModal.isCreate = false;
            this.$refs.typeModal.isUpdate = false;
            this.$refs.typeModal.isDelete = true;
            this.$refs.typeModal.typeName = name;
            this.$refs.typeModal.typeId = type_id;
            this.$refs.typeModal.showModal();
        }
    }
}
</script>
  
<style scoped>
    .red-button {
        @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
        margin-top: 0;
    }
    .vgt-wrap {
        position: inherit;
    }
</style>