@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
    <div class="content bg-background px-6 pt-6 overflow-hidden">
        <div class="header">
            <p class="text-xs font-poppins text-darkgray truncate">Eezywork > Instellingen > Rollen > Rechten</p>
            <h1 class="text-xl font-poppins font-semibold text-darkgray">Rechten</h1>
        </div>
        <div id="container">
            <div id="modules-container">
                <ol style="list-style-type:circle">
                    <li v-for="module in modules" :key="module.module_id">
                        <a @click="showPermissions(module.module_id)" class="font-semibold">{{module.module_name}}</a>
                        <template v-if="module.sub_module">
                            <ol style="list-style-type:circle;">
                                <li  style="margin-left:20px" v-for="submodule in module.sub_module" :key="submodule.module_id"><a @click="showPermissions(submodule.module_id)">{{submodule.module_name}}</a>
                                    <template v-if="module.sub_module">
                                        <ol style="list-style-type:circle;">
                                            <li style="margin-left:20px" v-for="subsubmodule in submodule.sub_module" :key="subsubmodule.module_id" @click="showPermissions(subsubmodule.module_id)"><a @click="showPermissions(submodule.module_id)">{{subsubmodule.module_name}}</a></li>
                                        </ol>
                                    </template>
                                </li>
                            </ol>
                        </template>
                    </li> 
                </ol>
            </div>
            <div id="rechten-container">
                <h2>Rechten: </h2>
                <table>
                    <tr :key="perm.perm_id" v-for="perm in permissions">
                        <input class="toggle-checkbox" type="checkbox" :id="perm.perm_id" :value="{id: perm.perm_id, name: perm.logical_name}" v-model="checkedValues">
                        <label :for="perm.perm_id">{{perm.logical_name}}</label>
                        </tr>
                    </table>
                </div>
                <button class="red-button" @click="setCheckedValue()" v-popover:opslaan.left>
                    <img src="~/assets/icons/opslaan-icon-wit.png" alt="Opslaan">
                    <popover 
                        transition="show-from-left" 
                        :pointer='false' 
                        event="hover" 
                        name="opslaan">
                        <p>Opslaan</p>
                    </popover>
                </button>
            </div>
        <div style="clear:both"></div>
    </div> 
</template>

<script>
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'werknemers',
  components: {
    VueGoodTable
  },
    data() {
        return {
            modules: [],
            companyId: this.$auth.user.companyId,
            permissions: [],
            chosenId: 3,
            roleId: '',
            role: '',
            checkedValues: [],
            columns: [
            {
              label: "Naam", 
              field: "label_name",
              thClass: "gull-th-class",
            },
            {
              label: "Acties",
              field: "button",
              html: true,
            },],
        }
    },
    created() {        
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/module/read.php";
        axios.post(url)
        .then(response => {
            this.modules = response.data;
        })
        .catch(error => {
            // console.log(error.response)
        });
        this.showPermissions(3);
        this.getCheckedValue();
  }, 
  methods: {
   showPermissions(id){
        this.chosenId = id;
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/permission/read.php";
        axios.post(url, {
            moduleId: id
        })
        .then(response => {
            this.permissions = response.data;
        })
        .catch(error => {
            this.permissions = [];
        });
    }, getCheckedValue(){
        this.roleId = this.$auth.$storage.getState("permissionPageId");
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/role/read.php?roleId="+this.roleId;
        axios.get(url)
        .then(response => {
            // console.log(response)
            this.role = response.data;
            this.checkedValues = JSON.parse(response.data.perm_set);
        })
        .catch(error => {
            this.permissions = [];
        });
    }, setCheckedValue(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/role/update-permset.php";
        axios.post(url, {
            roleId: this.roleId,
            permSet: JSON.stringify(this.checkedValues)
        })
        .then(response => {
            // console.log(response)
        })
        .catch(error => {
            this.permissions = [];
        });
    }
  }
}
</script>

<style scoped>
#container{
    @apply grid grid-cols-1 lg:grid-cols-2 bg-white py-8 px-8 rounded-sm w-1/2;
    min-width: 230px;
    -webkit-box-shadow: 0px 8px 11px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 11px -4px rgba(0,0,0,0.05);
    overflow: hidden;
}
#modules-container, #rechten-container{
    @apply mb-6;
}
#modules-container ol li a{
    @apply cursor-pointer font-poppins;
    transition: .2s ease;
}
#modules-container ol li a:hover{
    @apply ml-0.5;
    transition: .2s ease;
}
.header{
  @apply bg-background pt-3 px-6;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
  border-bottom: 1px solid #DDBBBB;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.red-button {
    @apply bg-darkred px-3 py-3 text-white rounded-md drop-shadow-md font-poppins w-10 h-10;
    max-width: 140px;
    margin-top: 0px!important;
}
.vgt-wrap {
    position: inherit;
}

.show-from-left-enter-active,
.show-from-left-leave-active {
    transition: transform 0.3s, opacity 0.3s;
}
.show-from-left-enter,
.show-from-left-leave-to {
    opacity: 0;
    transform: translate(-20px);
}
.vue-popover{
    @apply p-3;
    margin-left: 150px;
    margin-top: -81px;
}
.vue-popover:hover{
    @apply bg-lightgray;
}
.vue-popover p{
    @apply font-poppins font-medium text-darkgray text-left;
}
</style>
