<template> 
  <div class="main">
    <h2 class="font-poppins font-semibold text-darkgray absolute pt-1" style="font-size:24px">Documenten</h2>
  </div> 
</template>

<script>

</script>

<style scoped>
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}
</style>