<template>
  <!-- input fields -->
    <div class="grid gap-x-8 gap-y-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col">
        <label for="name">Titel:</label>
        <input v-model="orderTitle" id="name" placeholder="Vul de Titel in">
      </div>
      <div class="flex flex-col">
        <label for="relation_multiselect">Relatie</label>
            <multiselect
                  id="relation_multiselect"
                  :options="relationOptions"
                  v-model="relationValue"
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer relatie"
                  selectedLabel="Geselecteerd"
                  :value="relationValue"
                  label="name" 
                  :allow-empty="true"
                  @input="getContacts"
                  ></multiselect>
      </div>
      <div class="flex flex-col">
        <label for="contact_multiselect">Contactpersoon:</label>
          <multiselect
              id="contact_multiselect"
              :options="contactOptions"
              v-model="contactValue"
              :close-on-select="true"
              :multiple="false"
              select-label="Klik om te selecteren"
              deselect-label="Klik om te verwijderen"
              placeholder="Selecteer contact"
              selectedLabel="Geselecteerd"
              :value="contactValue"
              label="name" 
              :allow-empty="true" 
              :disabled="!validated == 1"
          ></multiselect>
      </div>
      <div class="flex flex-col">
        <label for="location">Locatie:</label>
        <input v-model="location" id="location" placeholder="Vul het locatie in">
      </div>
      <div class="flex flex-col">
        <label for="startDate">Start datum:</label>
        <input v-model="startDate" id="startDate" type="date" placeholder="Vul het Start datum in">
      </div>
      <div class="flex flex-col">
        <label for="endDate">Eind datum:</label>
        <input v-model="endDate" id="endDate" type="date" placeholder="Vul het Eind datum in">
      </div>
      <div class="flex flex-col">
        <label for="comment">Opmerking:</label>
        <textarea v-model="comment" type="comment" id="externalCode" placeholder="Vul de Opmerking in"></textarea>
      </div>
      <!-- <NuxtLink to="/" class="red-button">Registreren</NuxtLink> -->
      <button @click="createOrder()" class="red-button">
        Aanmaken
      </button>
    </div>
</template>

<script>
export default {
  // name: 'relatie aanmaken',
 data() {
    return {
        companyId: this.$auth.user.companyId,
        relationValue: '',
        relationOptions: [],
        contactOptions: [],
        contactValue: '',
        validated: 0,
        orderTitle: '',
        comment: '',
        startDate: '',
        endDate: '',
        location: '',
        }
    }, 
    mounted() {        
        this.getRelations();
    },
    methods:{
     getRelations(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/relation/read.php?companyId="+this.$auth.user.companyId;
        axios.get(url)
        .then(response => {
            this.relationOptions = response.data;
            // console.log(this.relations)
            this.validated = 0;
        })
        .catch(error => {
            // console.log(error.response)
        });
     },
     getContacts(){
        if(this.relationValue){
            var id = this.relationValue.relation_id  
            const axios = require('axios');
            var url = "https://api.eezywork.nl/v1/pm/relation/contact/read.php?id="+id;
            axios.get(url)
            .then(response => {
                if(response.data.message){
                    // console.log(response.data)
                    this.validated = 1;
                    this.contactOptions = [];
                    this.contactValue = [];
                } else {
                    this.contactOptions = response.data;
                    this.validated = 1;
                }
            })
            .catch(error => {
                this.contactOptions = [];
                this.contactValue = [];
                this.validated = 0;
            });
        } else {
            this.contactOptions = [];
            this.contactValue = [];
            this.validated = 0;
        }
     
     },
    createOrder(){
        if(this.relationValue){
            var relationId = this.relationValue.relation_id;
            if(this.contactValue){
                var contactId = this.contactValue.contact_id
            }
        }
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/order/create.php";
            axios.post(url, {
            companyId: this.companyId,
            clientId: relationId,
            contactId: contactId,
            statusId: 1,
            location: this.location,
            startDate: this.startDate,
            endDate: this.endDate,
            orderTitle: this.orderTitle,
            orderComment: this.comment
        })
        .then((response) => {
            // console.log(response.data);
        }, (error) => {
            // console.log(error);
        });
    }
 }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
input {
  @apply px-3 py-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
textarea {
    @apply px-3 py-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply mb-2 font-poppins;
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray pt-1;
  min-width:100px;
}
/* :focus-visible {
  @apply outline-white;
} */
.vgt-wrap {
    position: inherit;
}
</style>