<template>
    <div>
      <Sidebar ref="sidebar" />
    <!-- <div class="header">
      <div class="breadcrumbs w-100%">
        <p class="text-xs font-poppins text-darkgray">Eezywork</p>
      </div>
      <div class="grid justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row overflow-x-scroll overflow-y-hidden">
          <h1 class="text-xl font-poppins font-semibold text-darkgray">{{companyName}}</h1> 
        </div>
      </div>
    </div> -->
      <main>
        <Nuxt />
      </main>
    </div>
  </template>
  <script>
export default {
  name: 'layout',
  components: {
  },
  computed: {
  },
    data() {
        return {
            companyName: '',
        }
    },
    mounted() {
        const axios = require('axios');
        var companyId = this.$auth.user.companyId
        var url = "https://api.eezywork.nl/v1/companies/read.php?companyId="+companyId;
        axios.get(url)
        .then(response => {
            this.companyName = response.data[0].name;
            // console.log(this.companyName)
        })
        .catch(error => {
            // console.log(error.response)
        });
    },
  methods: {
    startLoading(){
      this.$refs.sidebar.startLoading();
    },
    endLoading(){
      this.$refs.sidebar.endLoading();	
    }
  }
}
</script>

  <style>
  body{
    background-color: rgb(255, 245, 237);
  }
  .page-enter-active,
  .page-leave-active {
    transition: opacity 0.2s;
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }
  
  .layout-enter-active,
  .layout-leave-active {
    transition: opacity 0.2s;
  }
  .layout-enter,
  .layout-leave-to {
    opacity: 0;
  }
  
  .slide-bottom-enter-active,
  .slide-bottom-leave-active {
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  }
  .slide-bottom-enter,
  .slide-bottom-leave-to {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }
  .bounce-enter-active {
    transform-origin: top;
    animation: bounce-in 0.8s;
  }
  .bounce-leave-active {
    transform-origin: top;
    animation: bounce-out 0.2s;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes bounce-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(0);
    }
  }
  .header{
    @apply bg-background pt-3 px-6 fixed;
    border-bottom: 1px solid #DDBBBB;
    width: calc(100vw - 64px);
    height: 64px;
    z-index: 100;
    left: 64px;
    top:0
  }
  .header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.tabbladen-items{
  overflow-x: scroll;
  padding-right: 0px;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply h-[33px] px-3 pt-1 mr-3 font-poppins bg-pink rounded-t-lg text-sm;
}
/* height */
::-webkit-scrollbar {
  @apply bg-background;
  height: 5px;
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
  </style>
  