<template>
  <div class="main">
    <Sidebar ref="sidebar" activePage='urenregistratie'/>
    <div class="header grid grid-cols-2 xl:grid-cols-3">
        <timesheet-modal ref="timesheetModal" @renewTimesheet="renewTimesheet" @refreshEvents="getEvents" @loadBlue="changeClickInfoBlue" @loadGreen="changeClickInfoGreen"></timesheet-modal>
        <timesheet-export-modal ref="timesheetExportModal"></timesheet-export-modal>
        <view-disabled ref="ViewDisabled"></view-disabled>
        <div>
            <p class="text-xs font-poppins text-darkgray truncate">Eezywork > Urenregistratie</p>
            <h1 class="text-xl font-poppins font-semibold text-darkgray">Urenregistratie</h1>
        </div>
        <div>
            <button v-if="!filterActive" class="filter-button" @click="toggleActiveClass()">
                <img src="@/assets/icons/filter-icon.png" @click="showFilter = !showFilter" class="toggle-icon-filter-button bg-white" alt="Planner wijzig weergave" style="height: 45px;" />
            </button>
            <button v-else class="filter-button" @click="toggleActiveClass()">
                <img src="@/assets/icons/filter-icon.png" @click="showFilter = !showFilter" class="toggle-icon-filter-button bg-darkred" alt="Planner wijzig weergave" style="height: 45px;" />
                <p style="box-shadow: none!important; margin-top: -40px; margin-left: 50px">Actief</p>
            </button>
        </div>
        <!-- If the simple subscription is active the renewButton will be available. -->
        <div class="header-button-container flex h-14 overflow-y-hidden overflow-x-scroll">
            <button class="filter-bar-items" @click="openExportModal()">
                <img src="~/assets/icons/download-icon.png" class="toggle-icon-download" alt="Planner wijzig weergave" style="height: 45px;" />
            </button>
            <template v-if="renewAvailable">
                <!-- If new data can be pulled -->
                <button v-if="!autoRefresh" :disabled="buttonDisabled" class="filter-bar-items filter-bar-item-next">
                    <span class="renewed-date">Laatst opgehaald: {{ latestRenewedDate }}</span>
                    <span class="toggle-icon-today darkred-button" @click="getEvents()">Vernieuwen</span>
                </button>                    
            </template>
            <template v-else>
                <template v-if="disableRefresh">
                    <!-- If no new data can be pulled -->
                    <button v-if="!autoRefresh" :disabled="buttonDisabled" class="filter-bar-items filter-bar-item-next">
                        <span class="renewed-date">Laatst opgehaald: {{ latestRenewedDate }}</span>
                        <span class="toggle-icon-today disabled-darkred-button">Vernieuwen</span>
                    </button>
                </template>
                <template v-else>
                    <!-- If no new data needs to be pulled -->
                    <button v-if="!autoRefresh" :disabled="buttonDisabled" class="filter-bar-items filter-bar-item-next">
                        <span class="renewed-date">Laatst opgehaald: {{ latestRenewedDate }}</span>
                        <span class="toggle-icon-today" @click="getEvents()">Vernieuwen</span>
                    </button>
                </template>
            </template>
            <div class="toggle-checkbox-weekend">
                <label class="container">Weekend
                    <input type="checkbox" v-model="weekends" checked @click="changeWeekend">
                <span class="checkmark"></span>
                </label>
            </div>
            <date-picker 
                class="inline-block " 
                v-model="date"
                :attributes='attrs'
                color="red"
                @dayclick='dayClicked'
                show-iso-weeknumbers="right"
                >
                <template v-slot="{ togglePopover }">
                    <div class="">
                        <button class="filter-bar-items filter-bar-item-next" @click="togglePopover()">
                            <img src="~/assets/icons/planner-weergave.png" class="toggle-icon-calendar" alt="Planner wijzig weergave" style="height: 45px;" />
                        </button>
                    </div>
                </template>
            </date-picker>
            <button @click="today()" class="filter-bar-items filter-bar-item-next">
                <span class="toggle-icon-today">Vandaag</span>
            </button>
            <button @click="prev()" class="filter-bar-items">
                <span class="toggle-icon-prev"></span>
            </button>
            <button @click="next()" class="filter-bar-items">
                <span class="toggle-icon-next"></span>
            </button>
        </div>
    </div>
    <div class="content">
        <div id="filter-button" class="filter-block filter-animation" style="" v-show="showFilter">
            <div class="filter-content p-4">
                <div class="flex justify-between">
                    <p class="font-bold">Filters</p>
                    <button>
                        <span class="empty-filters bg-darkred text-white font-normal rounded-lg h-[45px] p-3 relative text-sm" @click="emptyFilters()">Leegmaken</span>
                    </button>
                </div>
                <hr class="divider-border">
                <multiselect 
                    ref="multiSelect"
                    id="availibility_multiselect"
                    :options="statusOptions"
                    v-model="statusValue"
                    :multiple="true"
                    :close-on-select="false"
                    select-label="Selecteer"
                    deselect-label=""
                    label="status_name"
                    track-by="status_id"
                    placeholder="Selecteer een status"
                    selectedLabel="Geselecteerd"
                    selection=""
                    :allow-empty="true"
                    :taggable="true"
                >
                <template slot="selection"></template>
                </multiselect>
                <multiselect
                    id="availibility_multiselect"
                    :options="relationOptions"
                    v-model="relationValue"
                    :close-on-select="false"
                    :multiple="true"
                    select-label="Selecteer"
                    deselect-label=""
                    :label="'name'"
                    track-by="relation_id"
                    placeholder="Selecteer een opdrachtgever"
                    selectedLabel="Geselecteerd"
                    :allow-empty="true"
                    :taggable="true"
                ></multiselect>
                <multiselect
                    id="availibility_multiselect"
                    :options="resourceOptions"
                    v-model="resourceValue"
                    :close-on-select="false"
                    :multiple="true"
                    select-label="Selecteer"
                    deselect-label=""
                    :label="'title'"
                    track-by="profile_id"
                    placeholder="Selecteer een medewerker"
                    selectedLabel="Geselecteerd"
                    :allow-empty="true"
                    :taggable="true"
                ></multiselect>
            </div>
            <button @click="addFilters()" class="filtering-button">
                Toepassen
            </button>
        </div>
        <div class="urenregistratie bg-background px-6 pt-6">
            <FullCalendar
                id="calendar"
                class='calendar-container'
                ref="calendar"
                :options="calendarOptions" 
            ><template v-slot:eventContent='arg'>
                <div class="event-details-container bg-lightgray rounded-lg">
                    <div class="event-details">
                        <div class="event-title">{{arg.event.title}}</div>
                        <div class="flex">
                            <img src="~/assets/icons/urenregistratie-dark-icon.png" class="icon-hours-worked" alt="gewerkte uren">
                            <div class="event-description" v-if='arg.event.extendedProps.hours'>{{arg.event.extendedProps.hours.start_time.slice(0, 5) +" - "+ arg.event.extendedProps.hours.end_time.slice(0, 5)}}</div>
                            <div class="event-description" v-else>{{arg.event.extendedProps.start_time +" - "+ arg.event.extendedProps.end_time}}</div>
                        </div>
                    </div>
                    <div class="event-status-bar rounded-r-lg" :style="{ background: arg.event.extendedProps.darkColor }">
                        <img v-if="arg.event.extendedProps.shift_status==6" src="~/assets/icons/check-icon-white.png" alt="goedgekeurd">
                    </div>
                </div>
                    </template> 
                </FullCalendar>
            </div>
        </div>
    </div>
</template>

<script>
//import '@fullcalendar/core/vdom'
import FullCalendar, { CalendarDataManager } from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
import scrollGrid from '@fullcalendar/scrollgrid'
import '~/static/css/hour-registration.css'
import moment from 'moment'
import timesheetModal from '~/components/modal/timesheetModal.vue';
import Calendar from 'v-calendar/lib/components/calendar.umd'
import DatePicker from 'v-calendar/lib/components/date-picker.umd'
import ViewDisabled from '~/components/modal/viewDisabled.vue'
import timesheetExportModal from '~/components/modal/timesheetExportModal.vue'

export default {
    layout: 'default',
  transition: 'slide-bottom',
  name: 'hour-registration',
  components: {
    FullCalendar,
    Calendar,
    DatePicker,
    timesheetModal,
    ViewDisabled,
    timesheetExportModal
}, 
  data() {
    return {
        autoRefresh: false,
        disableRefresh: false,
        renewAvailable: '',
        latestRenewedDate: '',
        latestRenewedDateTime: '',
        AllEvents: [],
        allResources: [],
        filterActive: false,
        showFilter: false,
        browserVisible: true,
        canEdit: false,
        canRead: false,
        canDelete: false,
        clickInfo: {},
        buttonDisabled: true,
        permissions: this.$auth.$storage.getState("perm"),
        attrs: [{ }],
        timer: '',
        currentEvents: [],
        events: {},
        companyId: this.$auth.user.companyId,
        resources: {},
        statusOptions: [],
        statusValue: '',
        resourceOptions: [],
        resourceValue: [],
        tagOptions: [],
        tagValue: [],
        statusFilter: '',
        relationValue: [],
        relationOptions: [],
        dateToCheck: "",
        isModalVisible: false,
        modalData: {},
        weekNumber: 1,
        reloadshiftToCheck: '',
        date: new Date(),       
        reloadshifts: '',
        weekends: true,
        calendarOptions: {
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            datesSet: this.handleMonthChange,
            locale: "nl",
            weekends: this.weekends,
            plugins: [
                dayGridPlugin,
                interactionPlugin,
                resourceTimelinePlugin,
                scrollGrid,
            ],
            slotLabelFormat: [// top level of text
                {
                    weekday: 'short'
                }, // middle level of text
                {
                    day: 'numeric',
                    month: 'short'
                } // lower level of text
            ],
            initialView: "resourceTimelineWeek",
            views: {
                resourceTimelineWeek: {
                    type: 'resourceTimelineWeek',
                    // other view-specific options here
                }
            },
            handleWindowResize: false,
            weekNumbers: true,
            datesAboveResources: true,
            dayMinWidth: 200,
            droppable: false,
            weekText: "Weeknummer:",
            titleFormat: {
                year: 'numeric',
                month: 'long'
            },
            firstDay: 1,
            eventColor: "#173e7b",
            eventDidMount: function(info) {
                
            },
            eventDrop: function(info) {
                
            },
            eventResourceEditable: false,
            resourceAreaWidth: '200px',
            duration: {
                days: this.week
            },
            slotDuration: {
                days: 1
            },
            editable: true,
            dragScroll: false,
            selectable: true,
            select: this.handleDateSelect,
            eventClick: this.handleEventClick,
            height: 'parent', 
            resourceAreaColumns: [{
                field: 'title',
                headerContent: 'Week: 1',
            }], 
            buttonText: {
                today: 'Vandaag',
                month: 'Maand',
                week: 'Week',
                day: 'Dag',
                list: 'Lijst'
            },
            events: [],
            resources: '', // changevar
            resourceOrder: "schedule_order",
            eventOrder: "start_time",
            slotMinWidth: 200,
            handleWindowResize: false,
        },
    } 
  },
    // # Preparing the calendar, First getting the resources before events because that is what fullcalendar expects
    // Getting resources (profiles) and relations. getting status, getting tags.  
    created() {
        this.getSubscriptionData();
        var companyId = this.$auth.user.companyId
        const axios = require('axios');
        var resourcesUrl = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+companyId+"&schedule=2";
        axios.get(resourcesUrl)
        .then(response => {
            this.resources = response.data;
            this.$refs.updateServiceModal.options = response.data;
            this.$refs.createServiceModal.options = response.data;
        })
        .catch(error => {
            // // console.log(error.response)
        });
        var statusUrl = "https://api.eezywork.nl/v1/pm/shift/status/get-list.php";
        axios.get(statusUrl)
        .then(response => {
            this.statusOptions = response.data;
        })
        .catch(error => {
            // // console.log(error.response)
        });
        var url = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+companyId;
        axios.get(url)
        .then(response => {
            this.resourceOptions = response.data;
        })
        .catch(error => {
            // console.log(error.response)
        });
        this.getRelations();
        var resourcesUrl = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+this.companyId+"&schedule=2";
            axios.post(resourcesUrl)
            .then(response => {
                this.allResources = response.data; 
            })
        // this.setResources();
    },
    // # Preparing the timesheet events for the calendar.
    // getting events (shifts), managing browser check and refreshtimer (the automatic refreshing of events)
    mounted() {
        if(this.$route.query.date){
            var date = this.$route.query.date;
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.gotoDate(date);
        }
        this.getEvents();
        document.addEventListener('visibilitychange', this.browserCheck);
        this.refreshTimer();
        this.permissions.forEach(element => {
            if(element.name == "timesheet_can_edit"){
                this.canEdit = true;
            }
            if(element.name == "timesheet_can_read"){
                this.canRead = true;
            }
            });
            if(!this.canRead){  
                this.$refs.ViewDisabled.showModal()    
            }             
        this.formatDate();
        var companyId = this.$auth.user.companyId
        var url = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?schedule=2&companyId="+companyId;
        this.calendarOptions.resources = url;   
    },
    // # before destroy and unmount 
    // on leaving the page, remove eventlistener and stop the refreshtimer.
     beforeDestroy() {
        this.cancelAutoUpdate();
        document.removeEventListener('visibilitychange', this.browserCheck);
    },
    beforeUnmount(){
        this.cancelAutoUpdate(); 
        document.removeEventListener('visibilitychange', this.browserCheck);
    },
    methods: {
        getSubscriptionData(){
            if(this.$auth.user.subscription.type == 2){
                this.autoRefresh = true;
            } else {
                this.autoRefresh = false;
            }
        },
        // # Refreshtimer and last renewed methods
        // Checks if the data that is local is different from live. Will refresh the events if it is.
        refreshTimer() {
            this.timer = setInterval(() => {
                if(this.browserVisible && this.autoRefresh){
                    const axios = require('axios');
                    var url = this.events;
                    var filters = {}
                    axios.post(url,filters)
                        .then(response => {
                            this.reloadshiftToCheck = JSON.stringify(response.data);
                            var var1 = this.reloadshiftToCheck;
                            var var2 = this.reloadshifts;
                            if (var1 == var2) {
                                null;
                            } else {
                                this.reloadshifts = this.reloadshiftToCheck;
                                this.calendarOptions.events = response.data
                                this.AllEvents = response.data
                                this.$refs.sidebar.startLoading();
                                if(this.filterActive){
                                    this.filters()
                                } else {
                                    this.refreshEvents();
                                }
                            }
                            this.$refs.sidebar.endLoading();
                        })
                        .catch(error => {
                            // console.log(error.response)
                        });
                    }
                    if(!this.autoRefresh){
                        const axios = require('axios');
                        var relationUrl = "https://api.eezywork.nl/v1/pm/timesheet/checkChanges.php";
                        axios.post(relationUrl, {
                            companyId: this.$auth.user.companyId,
                            dateTime: this.latestRenewedDateTime
                        })
                        .then(response => {
                            this.renewAvailable = response.data;
                        })
                        .catch(error => {
                            // // console.log(error.response)
                            this.relationOptions = [];
                        });
                    }
                }, 5000)
        },
        disableRefreshTimer(){
            this.disableRefresh = true;
            setTimeout(() => {this.disableRefresh = false;}, 10000);
        },
        cancelAutoUpdate () {
            clearInterval(this.timer);
        },
        refreshEvents(i = null) {
            console.log("Refresh triggered")
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.refetchEvents();
            this.$refs.sidebar.endLoading();
        },
        cancelEventTimer() {
            clearTimeout(this.timer);
        },
        // # Filter methods
        // Adding the filters when filters are active.
        addFilters(){
            this.$refs.sidebar.startLoading();
            if(this.statusValue && this.statusValue.length > 0 
            || this.relationValue && this.relationValue.length > 0 
            // || this.tagValue && this.tagValue.length > 0 
            || this.resourceValue && this.resourceValue.length > 0){
                this.filterActive = true;
                this.filters();
            } else {
                this.filterActive = false;
                this.filters();
            }
        },
        emptyFilters(){
            this.statusValue =  this.relationValue = this.tagValue = this.resourceValue = [];
            this.filterActive = false;
            this.filters();
        },
        // Filters, will goes through multiple arrays to enable filters. 
        filters(){
            // The eventArrays get through the filters. After every step we go 1 eventArray further. 
            // At the end, we end with EventArray3 Which contains all filtered events.
            var eventArray1 = [];
            var eventArray2 = [];
            var eventArray3 = [];
            if(this.statusValue && this.statusValue.length > 0){
                this.statusValue.forEach(i => {
                    this.AllEvents.forEach(x => {
                        if(x.shift_status == i.status_id){
                            eventArray1.push(x)
                        }
                    })
                })
            } else {
                eventArray1 = this.AllEvents
            }
            if(this.relationValue && this.relationValue.length > 0){
                this.relationValue.forEach(i => {
                    eventArray1.forEach(x => {
                        if(x.client_id == i.relation_id){
                            eventArray2.push(x)
                        }
                    })
                })
            } else {
                eventArray2 = eventArray1;
            }
            if(this.tagValue && this.tagValue.length > 0){
                this.tagValue.forEach(i => {
                    eventArray2.forEach(x => {
                        if(JSON.parse(x.tag).includes(i.label_id)){
                            eventArray3.push(x)
                        }
                    })
                })
            } else {
               eventArray3 = eventArray2;
            }
            this.calendarOptions.events = eventArray3;
            if(this.resourceValue){
                var resourceArray = [];
                if(this.resourceValue.length > 0){
                    this.allResources.forEach(i => {
                        this.resourceValue.forEach(x => {
                            if(x.profile_id == i.profile_id){
                                resourceArray.push(i)
                            }
                        })
                    })
                } else {
                    resourceArray = this.allResources;
                }
                let calendarApi = this.$refs.calendar.getApi();
                calendarApi.setOption('resources', resourceArray);
            }
            this.refreshEvents();
            this.$refs.sidebar.endLoading();
        },
        toggleActiveClass(){
            let divElement = document.getElementById('filter-button');
            divElement.classList.toggle("active");
        },
        // # export modal, handles the modal that manages the exporting of data to excelsheet.
        openExportModal(){
            this.$refs.timesheetExportModal.showModal();
            const axios = require('axios');
            var url = "https://api.eezywork.nl/v1/pm/ort/group/read.php?companyId="+this.companyId;
            axios.get(url)
            .then(response => {
                if(this.$refs.timesheetExportModal.groups){
                    this.$refs.timesheetExportModal.groups = response.data;
                } else {
                    this.$refs.timesheetExportModal.groups = {};
                }
                this.getRelations()
                this.$refs.timesheetExportModal.relationOptions = this.relationOptions;
            })
            .catch(error => {
                this.$refs.timesheetExportModal.groups = {};
            });
        },
        // # browser check to see if the tab is active or not. stops the timers when inactive.
        browserCheck(){
            if (document.visibilityState === 'hidden') {
                this.browserVisible = false;
                document.title = "Inactief - EEZY Work"
                this.cancelEventTimer();
            } else {
                this.browserVisible = true;
                document.title = "EEZY Work"
                if(this.timer){this.cancelEventTimer()};
                this.refreshTimer();
            }
        },
        updateQueryDate(date) {
            this.$router.push({ query: { ...this.$route.query, date } })
        },
        // # Method HandleMonthChange is binded with the fullcalendar calendaroptions event: datesset: 
        // When the date changes in the calendar (going to a different week or date), this will be called.
        handleMonthChange(data) {
            if(this.dateToCheck != data.startStr){
                this.$refs.sidebar.startLoading();
                let calendarApi = this.$refs.calendar.getApi();
                var endweek = data.end;
                var d = new Date(endweek);
                d.setDate(new Date(endweek).getDate());
                var endStr = d.toISOString(); 
                this.events = "https://api.eezywork.nl/v1/pm/timesheet/get-events-opt-query.php?companyId="+this.companyId+"&startDate="+data.startStr+"&endDate="+endStr;
                this.dateToCheck = data.startStr;
                
                var date = new Date(this.dateToCheck);
                date.setHours(0, 0, 0, 0);
                // Thursday in current week decides the year.
                date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
                // January 4 is always in week 1.
                var week1 = new Date(date.getFullYear(), 0, 4);
                // Adjust to Thursday in week 1 and count number of weeks from date to week1.
                this.weekNumber = 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000
                                        - 3 + (week1.getDay() + 6) % 7) / 7);
                const encodedDateString = data.startStr;
                const decodedDateString = decodeURIComponent(encodedDateString);
                const formattedDate = decodedDateString.split("T")[0];
                this.updateQueryDate(formattedDate);
                // this.weekNumber = new Date().getWEek();
                calendarApi.setOption('resourceAreaColumns', [{
                        field: 'title',
                        headerContent: 'Week '+this.weekNumber
                    }]);
                    if(!this.autoRefresh){
                    this.getEvents();
                }
            }
        },
        dayClicked(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.gotoDate(this.date);
        },
        // # Event methods
        getEvents(){
            if (this.browserVisible) {
                this.$refs.sidebar.startLoading();
                const axios = require('axios');
                var eventUrl =  this.events;
                var filters = {}
                this.renewAvailable = false;

                this.disableRefresh = true;
                var today = new Date();
                var year = today.getFullYear();
                var month = String(today.getMonth() + 1).padStart(2, '0');
                var day = String(today.getDate()).padStart(2, '0');
                var hours = String(today.getHours()).padStart(2, '0');
                var minutes = String(today.getMinutes()).padStart(2, '0');
                var seconds = String(today.getSeconds()).padStart(2, '0');
                this.latestRenewedDate = hours + ":" + minutes + ":" + seconds;

                var datetime = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
                this.latestRenewedDateTime = datetime;
                axios.post(eventUrl,filters)
                .then(response => {
                    this.AllEvents = response.data;
                    if(this.filterActive && !this.autoRefresh){
                        this.filters();
                    } else {
                        this.calendarOptions.events = response.data;
                    }
                    this.disableRefreshTimer();
                    this.$refs.sidebar.endLoading();
                })
                .catch(error => {
                    // // console.log(error.response)
                });
            }
        },
        renewTimesheet(timesheetId) {
        const axios = require("axios");
        var eventURL = this.events + "&serviceId=" + timesheetId;
        axios
            .post(eventURL)
            .then((response) => {
            var clickInfo = [];
            let calendarApi = this.$refs.calendar.getApi();
            if ((clickInfo.event = calendarApi.getEventById(service_id))) {
                clickInfo.event.remove();
                this.calendarOptions.events = this.calendarOptions.events.filter(
                (x) => x.id !== service_id
                );
            }
            response.data.forEach((i) => {
                if ((clickInfo.event = calendarApi.getEventById(i.id))) {
                clickInfo.event.remove();
                this.calendarOptions.events = this.calendarOptions.events.filter(
                    (x) => x.id !== i.id
                );
                }
                this.calendarOptions.events.push(i);
            });
            this.$refs.sidebar.endLoading();
            })
            .catch((error) => {
            // // console.log(error.response)
            });
        },
        checkMove: function(e) {

        },
        // # Relation methods
        getRelations(){
            const axios = require('axios');
            var relationUrl = "https://api.eezywork.nl/v1/pm/relation/read.php?companyId="+this.companyId;
            axios.get(relationUrl)
            .then(response => {
                this.relationOptions = response.data;
            })
            .catch(error => {
                // console.log(error.response)
            });
        },
        // # Resource methods
        setResources(){
            let calendarApi = this.$refs.calendar.getApi();
            var resourcesUrl = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+this.companyId+"&schedule=1";

            calendarApi.setOption('resources', resourcesUrl);
            this.refetchEvents();
        },
        // # Change event colors and data locally. Gets called from the modals.
        changeClickInfoGreen(data){
            if(data){
                this.clickInfo.event.setProp('id', data['id']);
                this.clickInfo.event.setExtendedProp('timesheetId', data['id']);
                this.clickInfo.event.setExtendedProp('timesheet_id', data['id']);
                this.clickInfo.event.setExtendedProp('hours', data['dataItem'][0]['hours']);
            }
            this.clickInfo.event.setExtendedProp('darkColor', '#ace1af');
            this.clickInfo.event.setExtendedProp('shift_status', '6');
            this.clickInfo.event.setExtendedProp('status_id', '6');
        },
        changeClickInfoBlue(data){
            this.clickInfo.event.setProp('id', data['id']);
            this.clickInfo.event.setExtendedProp('timesheetId', data['id']);
            this.clickInfo.event.setExtendedProp('timesheet_id', data['id']);
            this.clickInfo.event.setExtendedProp('hours', data['dataItem'][0]['hours']);
            this.clickInfo.event.setExtendedProp('darkColor', '#6DA6E8');
            this.clickInfo.event.setExtendedProp('shift_status', '5');
            this.clickInfo.event.setExtendedProp('status_id', '5');
        },
        handleEventClick(clickInfo) {
            this.modalData = clickInfo.event;
            this.clickInfo = clickInfo;
            this.$refs.timesheetModal.showModal();
            this.$refs.timesheetModal.canEdit = this.canEdit;
            this.$refs.timesheetModal.shiftId = clickInfo.event.extendedProps.shift_id;
            this.$refs.timesheetModal.startDate = clickInfo.event.extendedProps.start_date;
            this.$refs.timesheetModal.serviceStartTime = clickInfo.event.extendedProps.service_start_time;
            this.$refs.timesheetModal.serviceEndTime = clickInfo.event.extendedProps.service_end_time;
            this.$refs.timesheetModal.servicePause = clickInfo.event.extendedProps.pause;
            this.$refs.timesheetModal.serviceTitle = clickInfo.event.title;
            this.$refs.timesheetModal.serviceComment = clickInfo.event.extendedProps.comment;
            this.$refs.timesheetModal.resource = clickInfo.event.extendedProps.fullname;
            this.$refs.timesheetModal.shiftStatus = clickInfo.event.extendedProps.shift_status;
            this.$refs.timesheetModal.startTime = "";
            this.$refs.timesheetModal.endTime = "";
            this.$refs.timesheetModal.total = "";
            this.$refs.timesheetModal.pause = "";
            this.$refs.timesheetModal.kilometer = "";
            this.$refs.timesheetModal.comment = "";
            if(clickInfo.event.extendedProps.shift_status == 5 && clickInfo.event.extendedProps.hours){
                this.$refs.timesheetModal.startTime = clickInfo.event.extendedProps.hours.start_time;
                this.$refs.timesheetModal.endTime = clickInfo.event.extendedProps.hours.end_time;
                this.$refs.timesheetModal.total = clickInfo.event.extendedProps.hours.difference;
                this.$refs.timesheetModal.pause = clickInfo.event.extendedProps.hours.pause;
                this.$refs.timesheetModal.kilometer = clickInfo.event.extendedProps.hours.kilometer;
                this.$refs.timesheetModal.comment = clickInfo.event.extendedProps.hours.comment;
                this.$refs.timesheetModal.timesheetId = clickInfo.event.extendedProps.hours.timesheet_id;
                this.$refs.timesheetModal.isUpdate = true;
                this.$refs.timesheetModal.isDone = false;
                this.$refs.timesheetModal.isCreate = false;
            } else if(clickInfo.event.extendedProps.shift_status == 6 && clickInfo.event.extendedProps.hours){
                this.$refs.timesheetModal.startTime = clickInfo.event.extendedProps.hours.start_time;
                this.$refs.timesheetModal.endTime = clickInfo.event.extendedProps.hours.end_time;
                this.$refs.timesheetModal.total = clickInfo.event.extendedProps.hours.difference;
                this.$refs.timesheetModal.pause = clickInfo.event.extendedProps.hours.pause;
                this.$refs.timesheetModal.kilometer = clickInfo.event.extendedProps.hours.kilometer;
                this.$refs.timesheetModal.comment = clickInfo.event.extendedProps.hours.comment;
                this.$refs.timesheetModal.timesheetId = clickInfo.event.extendedProps.hours.timesheet_id;
                this.$refs.timesheetModal.isUpdate = true;
                this.$refs.timesheetModal.isCreate = false;
                this.$refs.timesheetModal.isDone = false;
            }
            else {
                this.$refs.timesheetModal.isCreate = true;
                this.$refs.timesheetModal.isUpdate = false;
                this.$refs.timesheetModal.isDone = false;
            }
            if(!this.canEdit){
                this.$refs.timesheetModal.isCreate = false;
                this.$refs.timesheetModal.isUpdate = false;
                this.$refs.timesheetModal.isDone = true;
            }
        },
        handleEvents(events) {
            
        },
        // # Calendar Methods.
        formatDate(){
            moment.locale('nl')
            let calendarApi = this.$refs.calendar.getApi();
            var startDate = calendarApi.currentData.dateProfile.currentRange.start
            startDate = moment(startDate).format('DD MMM')

            var endDate = moment(calendarApi.currentData.dateProfile.currentRange.end)
            endDate = endDate.subtract(1, "days");
            endDate = endDate.format('DD MMM')

            this.startDate = startDate
            this.endDate = endDate
        },
        next(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.next();
            this.formatDate()
        },
        prev(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.prev();
            this.formatDate()
        },
        today(){
            let calendarApi = this.$refs.calendar.getApi();
            calendarApi.today();
            this.formatDate()
        },
        changeWeekend() {
            let calendarApi = this.$refs.calendar.getApi();
            var boolean = false;
            if (this.weekends === false) {
                boolean = true
            }
            calendarApi.setOption('weekends', boolean);
        },
    }
}
</script>

<style>
/* Multiselect Filters */
.filter .multiselect__input {
    max-width: 30%;
}
</style>

<style scoped>
.renewed-date {
    font-size: 11px;
    float: left;
    cursor: default;
}
.disabled-darkred-button  {
    background-color: #DDBBBB!important;;
}

.darkred-button {
    background-color: #9D1A16!important;
    color: #eee!important;
}

.filter-content {
    height: calc(100vh - 104px);
}
.event-details-container{
  height: auto!important;
}
.fc-event-main{
  height: auto !important;
}
.fc-timeline-event{
    height: auto !important;
}
a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-past{
    height: auto !important;
}
.toggle-icon-calendar{
    margin-top: 3px;
}
/* FONT IMPORT */
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 400;
src: local("Poppins"),
    url(~/static/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 500;
src: local("Poppins"),
    url(~/static/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
font-family: "Poppins";
font-display: auto;
font-weight: 600;
src: local("Poppins"),
    url(~/static/fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
font-family: "HK Grotesk";
font-display: auto;
font-weight: 700;
src: local("HK Grotesk"),
    url(~/static/fonts/HKGrotesk-Bold.otf) format("opentype");
}
/* TABLE STYLING */
.fc table{
    table-layout: auto;
}
.fc-view > table{  
    min-width: 0;
    width: auto;
}
.fc-axis{
    min-width:100px; /*the width of times column*/
    width:100px; /*the width of times column*/
}
.fc-day,.fc-resource-cell,.fc-content-col{
    min-width:300px;
    width:300px;
}
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
  grid-template-columns: 160px minmax(0px, 1fr) minmax(200px, auto);
}
/* @media (max-width:1425px){
    .header{
        grid-template-columns: 150px minmax(475px, 1fr);
        height: auto;
    }
    .header-button-container{
        @apply col-span-2;
        margin-left: 0px !important;
        overflow-x: scroll;
    }
} */

.header-filter-container{
    @apply bg-white rounded-lg p-3 font-poppins;
    margin-top: 5px;
    height: 45px;
    width: 460px;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
    /* overflow-x: scroll; */
}
@media (max-width:1255px){
    .header-filter-container{
    width: 100%;
}
}
.filter-icon{
    @apply h-2.5 mt-1.5 ml-1.5;
}

.filter-button {
    position: absolute;
    z-index: 1;
}

.filter-block {
    @apply flex flex-col justify-between bg-hoverhighlight h-full w-[350px] m-0 float-left sticky;
    max-height: calc(100% - 64px);
}

.filter-animation {
  animation: slide-in-X 0.5s;
  transform-origin: left;
}

@keyframes slide-in-X {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-Y {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.filtering-button {
    @apply bg-darkred text-sm text-white h-10 bottom-0;
    width: 100%;
    align-content: bottom;
}

.toggle-icon-filter-button {
    @apply rounded-lg;
    width: 45px;
    min-width: 45px;
    padding: 16px;
    display: block;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}

.empty-filters {
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}
.divider-border {
    @apply mt-4 mb-4;
    border-top: 1px solid #D9CBBF;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
  margin-bottom: 100px;
  overflow: hidden;
}
.modal-button-red{
    @apply mt-1;
}
.filter-bar-items {
  @apply font-poppins font-medium overflow-ellipsis whitespace-nowrap text-darkgray;
  font-size: 14px;
}
.toggle-icon-prev, .toggle-icon-next{
    @apply bg-darkred rounded-lg !important;
    padding: 15px;
}
.toggle-icon-next, .toggle-icon-prev, .toggle-icon-filter {
  @apply text-white h-12;
  font-family: 'fcicons' !important;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}
.toggle-icon-next::before{
  content: "\e901";
}
.toggle-icon-prev::before{
  content: "\e900";
}
.toggle-icon-filter::before{
  content: "\e900";
}
.toggle-icon-filter::before{
  content: "\e900";
}
.toggle-icon-today, .toggle-item-new-task {
    @apply bg-white text-darkgray font-normal rounded-lg;
    padding: 11.75px;
    height: 45px!important;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}
.toggle-icon-today{
    @apply font-medium;
}
.toggle-item-new-task {
    @apply bg-darkred text-white font-poppins rounded-lg !important;
    min-width: 200px!important;
}
.header-button-container{
    @apply float-right ml-[10px] mt-[-5px];
}
.header-button-container button, .header-button-container span{
    margin: 0px 3px;
}
.toggle-icon-calendar{
    @apply bg-darkred rounded-lg;
    width: 45px;
    min-width: 45px;
    padding: 16px;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}

.toggle-icon-download {
    @apply bg-white rounded-lg;
    width: 45px;
    min-width: 45px;
    padding: 16px;
    -webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.05);
}
.toggle-checkbox-weekend{
    @apply font-poppins font-normal py-4 px-3 overflow-ellipsis whitespace-nowrap;
}
.toggle-checkbox-weekend label{
    margin-top: 5px;
}
#weekend-toggle{
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom-checkmark{
    position: relative;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.weekend-toggle-text{
    font-size: 14px;
}
.toggle-item-view{
    @apply bg-darkred p-3 rounded text-white font-normal rounded-lg;
    height: 45px;
}
/* .toggle-item-view::after{
    font-family: 'fcicons' !important;
    content: "\e901";
} */
/* EVENTS STYLING */
a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end {
  height: 200px!important;
  max-height: 200px!important;
}
.icon-hours-worked{
    @apply w-3 h-3 mt-1.5 mr-1;
}
.event-time{
    @apply text-darkgray italic font-bold !important;
    font-size: 12px;
}
.event-title{
    @apply text-darkgray font-semibold text-sm mt-1 truncate;
    max-width: 120px;
}
.event-description{
    @apply text-darkgray;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
}
.event-status-bar{
    @apply bg-darkred;
    @apply text-center flex flex-col;
    border-left: 1px solid white;
    padding: 6px;
}
.event-status-bar img{
    @apply bg-darkgreen rounded-full;
    padding: 3.5px;
}
.event-details{
    @apply py-2 pl-2 max-w-full overflow-hidden;
}
a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-past {
    max-width: 100%;
}
.event-details-container{
    display: grid;
    grid-template-columns: 1fr 28px;
}
.event-person-initials{
    @apply bg-darkblue mb-1 text-darkgray font-semibold;
    font-size: 9px !important;
    padding: 5.5px 1px;
    border-radius: 5px;
}
.event-details-person-icon{
    @apply text-black absolute;
    font-size: 11px;
    margin-left: 17px;
    margin-top: -3px;
}
.event-details-persons img{
    width:80%;
}
.fc .fc-timeline-event-harness, .fc .fc-timeline-more-link{
    margin-bottom: 1000px;
}
.event-title, .event-description{
    max-width: 100%;
}
/* @media (min-width:2501px){
    .event-title{
        max-width: 240px;
    }
}
@media (max-width:2500px){
    .event-title{
        max-width: 210px;
    }
}
@media (max-width:2250px){
    .event-title{
        max-width: 180px;
    }
}
@media (max-width:2000px){
    .event-title{
        max-width: 150px;
    }
}
@media (max-width:1800px){
    .event-title{
        max-width: 120px;
    }
}
@media (max-width:1500px){
    .event-title{
        max-width: 80px;
    }
}
@media (max-width:1350px){
    .event-title{
        max-width: 50px;
    }
} */
/* CUSTOM CHECKBOX */
.container {
    @apply block relative cursor-pointer select-none;
    padding-left: 25px;
}
/* Hide the browser's default checkbox */
.container input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkmark {
    @apply absolute top-0 left-0 h-4 w-4 bg-background;
    border: 2px solid #9D1A16;
    border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
::-webkit-scrollbar {
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
div#calendar{
    height: calc(100vh - 120px);
}
</style>