<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    @click.self="closeModal"
  >
    <div
      id="modal"
      class="z-50 bg-background overflow-visible flex flex-col justify-between w-4/6"
      :props="serviceData"
    >
      <archive-modal
        @update="archiveService"
        @close="closeModal"
        ref="onRepeatArchiveServiceModal"
        @detached="detach"
        @attach="attach"
        @future="updateOnlyFuture"
        :serviceData="serviceData"
      ></archive-modal>
      <service-modal
        @update="updateService"
        @close="closeModal"
        ref="onRepeatServiceModal"
        @detached="detach"
        @attach="attach"
        @future="updateOnlyFuture"
        :serviceData="serviceData"
      ></service-modal>
      <service-document-modal
        @reload="getDocuments"
        @update="archiveService"
        @close="closeModal"
        :serviceData="serviceData"
        ref="documentModal"
      ></service-document-modal>
      <message-modal ref="messageModal" @confirm="copyService"></message-modal>
      <message-document-modal
        ref="messageDocModal"
        @confirm="deleteDocument"
      ></message-document-modal>
      <!-- Modal Header -->
      <header
        id="modal-header"
        class="border-b-4 border-background bg-background sticky top-0 px-6 pt-6"
      >
        <div class="modal-header-content flex justify-between items-center">
          <slot name="header"
            ><span class="modal-header-text !text-lg"
              >Dienst bewerken</span
            ></slot
          >
          <div class="modal-header-content-buttons">
            <!-- <button type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg" @click="closeModal">
              <img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
            </button> -->
            <button
              v-if="canEdit && typeId == 1"
              type="button"
              class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
              @click="requestCopyService"
            >
              <img
                src="@/assets/icons/copy-service.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Planner wijzig weergave"
              />
            </button>
            <button
              v-if="canEdit && typeId == 1"
              type="button"
              class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
              @click="openDocumentModal"
            >
              <img
                src="@/assets/icons/document-add-icon.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Planner wijzig weergave"
              />
            </button>
          </div>
        </div>
        <div
          v-if="GegevensVisible == true && DocumentVisible == false"
          class="tabblad"
        >
          <button
            class="tabblad-item tabblad-active target"
            @click="ShowGegevens"
          >
            Gegevens
          </button>
          <button
            v-if="typeId == 1"
            class="tabblad-item target"
            @click="ShowDocs"
          >
            Documenten
          </button>
        </div>
        <div
          v-if="GegevensVisible == false && DocumentVisible == true"
          class="tabblad"
        >
          <button class="tabblad-item target" @click="ShowGegevens">
            Gegevens
          </button>
          <button
            v-if="typeId == 1"
            class="tabblad-item tabblad-active target"
            @click="ShowDocs"
          >
            Documenten
          </button>
        </div>
      </header>
      <!-- Modal Body -->
      <div id="body" class="h-5/6">
        <template v-if="GegevensVisible == true && DocumentVisible == false">
          <section id="modal-body" class="px-6 py-6">
            <slot name="body">
              <form class="w-full" v-if="typeId == 1 || typeId == 3">
                <div class="flex flex-wrap">
                  <!-- left part of the modal field -->
                  <!--*Padding/width changes*-->
                  <div id="left" class="w-1/2 pr-5">
                    <!-- first row -->
                    <div id="row-1">
                      <div v-if="relationOptions.length > 0" class="">
                        <label class="modal-body-label" for="grid-last-name">
                          Opdrachtgever
                        </label>
                        <multiselect
                          id="availibility_multiselect"
                          :options="relationOptions"
                          v-model="relationValue"
                          :close-on-select="true"
                          select-label="Klik om te selecteren"
                          deselect-label="Klik om te verwijderen"
                          placeholder="Selecteer titel"
                          selectedLabel="Geselecteerd"
                          :value="value"
                          label="name"
                          :allow-empty="true"
                        ></multiselect>
                      </div>
                      <div v-else class="">
                        <label class="modal-body-label" for="grid-last-name">
                          Opdrachtgever
                        </label>
                        <multiselect
                          id="availibility_multiselect"
                          :options="[]"
                          :close-on-select="true"
                          select-label="Klik om te selecteren"
                          deselect-label="Klik om te verwijderen"
                          placeholder="Geen relaties"
                          selectedLabel="Geselecteerd"
                          :value="[]"
                          label="name"
                          :allow-empty="true"
                          :disabled="true"
                        ></multiselect>
                      </div>
                    </div>
                    <!-- second row -->
                    <div id="row-2">
                      <label class="modal-body-label" for="grid-last-name">
                        Locatie
                      </label>
                      <input
                        v-model="location"
                        class="modal-input-field"
                        id="update-grid-location"
                        type="text"
                        placeholder="Locatie"
                        v-on:keydown="searchAddress()"
                      />
                    </div>
                    <!-- third row -->
                    <div id="row-3" class="w-full flex flex-wrap">
                      <div class="w-1/2 pr-3">
                        <label class="modal-body-label" for="grid-first-name">
                          Start datum
                        </label>
                        <input
                          v-model="startDate"
                          class="modal-input-field"
                          id="grid-first-name"
                          type="date"
                          placeholder="startDate"
                        />
                      </div>
                      <div class="w-1/2 pl-3">
                        <label class="modal-body-label flex mt-1"
                          >Aantal personen</label
                        >
                        <input
                          v-model="hrAmount"
                          class="modal-input-field"
                          id="grid-first-name"
                          type="number"
                          placeholder="aantal personen"
                        />
                      </div>
                    </div>
                    <div class="w-full mb-4 md:mb-0">
                      <label class="modal-body-label" for="grid-last-name">
                        Personen
                      </label>
                      <multiselect
                        :disabled="!canEdit"
                        id="availibility_multiselect"
                        :options="options"
                        v-model="value"
                        :close-on-select="false"
                        :multiple="true"
                        select-label="Klik om te selecteren"
                        deselect-label="Klik om te verwijderen"
                        placeholder="Selecteer persoon/personen"
                        selectedLabel="Geselecteerd"
                        :value="value"
                        label="title"
                        track-by="profile_id"
                        :allow-empty="true"
                        :max="parseInt(hrAmount)"
                        max-elements="Maximaal aantal personen bereikt."
                        :hide-selected="true"
                        @remove="archiveProfile"
                      ></multiselect>
                    </div>
                    <!-- fourth row -->
                    <div id="row-4" class="w-full flex flex-wrap">
                      <div class="w-1/3 pr-3">
                        <label class="modal-body-label" for="grid-last-name">
                          Start tijd
                        </label>
                        <input
                          v-model="startTime"
                          class="modal-input-field"
                          id="grid-last-name"
                          type="time"
                          placeholder="startTime"
                        />
                      </div>
                      <div class="w-1/3 px-3">
                        <label class="modal-body-label" for="grid-last-name">
                          Eind tijd
                        </label>
                        <input
                          v-model="endTime"
                          class="modal-input-field"
                          id="grid-last-name"
                          type="time"
                          placeholder="endTime"
                        />
                      </div>
                      <div class="w-1/3 pl-3">
                        <label class="modal-body-label" for="grid-zip">
                          Pauze
                        </label>
                        <input
                          v-model="pause"
                          class="modal-input-field"
                          id="grid-first-name"
                          type="number"
                          placeholder="pauze"
                        />
                      </div>
                    </div>
                    <!-- sixth row -->
                    <div id="row-6" class="w-full flex flex-wrap">
                      <div v-if="tagOptions.length > 0" class="w-full mb-4">
                        <label class="modal-body-label" for="grid-last-name">
                          Kenmerken
                        </label>
                        <multiselect
                          id="availibility_multiselect"
                          :options="tagOptions"
                          v-model="tagValue"
                          :close-on-select="false"
                          select-label="Selecteer"
                          deselect-label="Verwijder"
                          placeholder="Selecteer kenmerk"
                          selectedLabel="Geselecteerd"
                          track-by="label_id"
                          :value="value"
                          :multiple="true"
                          label="label_name"
                          :allow-empty="true"
                        ></multiselect>
                      </div>
                      <div v-else class="w-full px-3 mb-4 md:w-1/2">
                        <label class="modal-body-label" for="grid-last-name">
                          Kenmerken
                        </label>
                        <multiselect
                          id="availibility_multiselect"
                          :options="[]"
                          :close-on-select="true"
                          select-label="Klik om te selecteren"
                          deselect-label="Klik om te verwijderen"
                          placeholder="Geen kenmerk"
                          selectedLabel="Geselecteerd"
                          :value="[]"
                          label="name"
                          :allow-empty="true"
                          :disabled="true"
                        ></multiselect>
                      </div>
                    </div>
                  </div>

                  <!-- right half of modal -->
                  <!--*Padding/width changes*-->
                  <div id="right" class="w-1/2 float-right">
                    <!-- first row right -->
                    <div id="row-1">
                      <label class="modal-body-label" for="grid-first-name">
                        Titel
                      </label>
                      <input
                        v-model="title"
                        class="modal-input-field"
                        id="grid-title"
                        type="text"
                        placeholder="Titel"
                      />
                    </div>
                    <!-- second row right -->
                    <div id="row-2">
                      <label class="modal-body-label" for="grid-last-name">
                        Beschrijving
                      </label>
                      <textarea
                        v-model="comment"
                        placeholder="Beschrijving"
                        class="h-96 !text-sm"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
              <form class="w-full" v-else>
                <div class="flex flex-wrap -mx-3 mb-4">
                  <div class="w-full px-3 mb-4 md:mb-0">
                    <label class="modal-body-label" for="grid-last-name">
                      Titel
                    </label>
                    <multiselect
                      id="availibility_multiselect"
                      :options="availabilityOptions"
                      v-model="availibilityValue"
                      :close-on-select="true"
                      :multiple="false"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Selecteer titel"
                      selectedLabel="Geselecteerd"
                      :value="value"
                      label="title"
                      :allow-empty="false"
                    ></multiselect>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-4">
                  <div class="w-full px-3 mb-4 md:w-1/2">
                    <label class="modal-body-label" for="grid-last-name">
                      Beschrijving
                    </label>
                    <textarea
                      v-model="comment"
                      placeholder="Beschrijving"
                    ></textarea>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-4">
                  <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                    <label class="modal-body-label" for="grid-first-name">
                      Start datum
                    </label>
                    <input
                      v-model="startDate"
                      class="modal-input-field"
                      id="grid-first-name"
                      type="date"
                      placeholder="startDate"
                    />
                  </div>
                  <div class="w-full md:w-1/3 px-3">
                    <label class="modal-body-label" for="grid-last-name">
                      Start tijd
                    </label>
                    <input
                      v-model="startTime"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="time"
                      placeholder="startTime"
                    />
                  </div>
                  <div class="w-full md:w-1/3 px-3">
                    <label class="modal-body-label" for="grid-last-name">
                      Eind tijd
                    </label>
                    <input
                      v-model="endTime"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="time"
                      placeholder="endTime"
                    />
                  </div>
                </div>
              </form>
            </slot>
          </section>
        </template>
        <template v-if="GegevensVisible === false && DocumentVisible === true">
          <template v-if="documents.length > 0">
            <div class="documenten-container">
              <slot name="document"
                ><span class="modal-header-text text-lg">Documenten</span></slot
              >
              <div class="flex flex-wrap -mx-3 mb-4 mt-10">
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                  <label class="modal-body-label" for="grid-first-name">
                    Document
                  </label>
                </div>
                <div class="w-full md:w-1/4 px-3">
                  <label class="modal-body-label" for="grid-last-name">
                    Verval datum
                  </label>
                </div>
                <div class="w-full md:w-1/4 px-3">
                  <label class="modal-body-label" for="grid-last-name">
                    Acties
                  </label>
                </div>
              </div>
              <template v-for="document in documents">
                <div
                  :key="document.document_id"
                  class="document-row flex flex-wrap items-center -mx-3"
                >
                  <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                    <label class="modal-body-text" for="grid-first-name">
                      {{ document.document_name }}
                    </label>
                  </div>
                  <div class="w-full md:w-1/4 px-3">
                    <label class="modal-body-text" for="grid-last-name">
                      {{ document.expiration_date }}
                    </label>
                  </div>
                  <div class="w-full md:w-1/4 px-3">
                    <label class="modal-body-text" for="grid-last-name">
                      <button
                        type="button"
                        class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
                      >
                        <a :href="document.upload" target="_blank">
                          <img
                            src="@/assets/icons/bekijken-icon.png"
                            class="toggle-icon-calendar w-full p-1.5"
                            alt="Planner wijzig weergave"
                          />
                        </a>
                      </button>
                      <button
                        type="button"
                        class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
                      >
                        <a @click="deleteDocumentCheck(document.document_id)">
                          <img
                            src="@/assets/icons/trash-icon.png"
                            class="toggle-icon-calendar w-full p-1.5"
                            alt="Planner wijzig weergave"
                          />
                        </a>
                      </button>
                    </label>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </template>
      </div>
      <!-- Modal Footer -->
      <footer id="modal-footer" class="bg-background sticky bottom-0 px-6 pb-6">
        <slot name="footer" v-if="canEdit">
          <template v-if="serviceData._def">
            <template v-if="serviceData.extendedProps.type_id != 2">
              <button
                v-if="
                  serviceData._def.resourceIds[0] !== 'A1' &&
                  serviceData.extendedProps.status_id == 1
                "
                @click="updateShiftStatus(2)"
                class="modal-button-orange ml-2"
              >
                Uitnodigen
              </button>
              <button
                v-if="
                  serviceData._def.resourceIds[0] !== 'A1' &&
                  serviceData.extendedProps.status_id == 1
                "
                @click="updateShiftStatus(3)"
                class="modal-button-red ml-2"
              >
                Inplannen
              </button>
              <button
                v-if="
                  serviceData._def.resourceIds[0] !== 'A1' &&
                  serviceData.extendedProps.status_id == 2
                "
                @click="updateShiftStatus(3)"
                class="modal-button-orange ml-2"
              >
                Accepteren
              </button>
              <!-- <button v-if="serviceData._def.resourceIds[0] !== 'A1' && serviceData.extendedProps.status_id == 2" @click="updateShiftStatus(4)" class="modal-button-red ml-2">
                Weigeren
              </button> -->
              <button
                v-if="
                  (serviceData._def.resourceIds[0] !== 'A1' &&
                    serviceData.extendedProps.status_id == 3) ||
                  serviceData.extendedProps.status_id == 2 ||
                  serviceData.extendedProps.status_id == 4
                "
                @click="updateShiftStatus(1)"
                class="modal-button-red ml-2"
              >
                Uitplannen
              </button>
              <template v-if="serviceData._def.status_id == 4"
                >Ingepland</template
              >
            </template>
            <template
              v-if="
                serviceData._def.resourceIds[0] == 'A1' ||
                serviceData.extendedProps.type_id == 2
              "
            >
              <button
                v-if="parentId"
                @click="openArchiveModal()"
                class="modal-button-red ml-2"
              >
                Archiveren
              </button>
              <button
                v-else
                @click="archiveService()"
                class="modal-button-red ml-2"
              >
                Archiveren
              </button>
            </template>
            <button
              v-if="parentId"
              @click="openOnRepeatModal()"
              class="modal-button-green ml-2"
            >
              Bijwerken
            </button>
            <button
              v-else
              @click="updateService()"
              class="modal-button-green ml-2"
            >
              Bijwerken
            </button>
          </template>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import Multiselect from "vue-multiselect";
import Vue from "vue";
Vue.component("multiselect", Multiselect);

import ServiceModal from "./onRepeatServiceModal.vue";
import ArchiveModal from "./onRepeatServiceModal.vue";
import ServiceDocumentModal from "./serviceDocumentModal.vue";
import MessageModal from "./messageModal.vue";
import MessageDocumentModal from "./messageModal.vue";

export default {
  name: "modal",
  components: {
    Multiselect,
    ServiceModal,
    ArchiveModal,
    ServiceDocumentModal,
    MessageModal,
    MessageDocumentModal,
  },
  props: {
    serviceData: Object,
  },
  data() {
    return {
      canEdit: false,
      onRepeatOptions: [
        { id: 1, name: "Werkdagen" },
        { id: 2, name: "Wekelijks" },
        { id: 3, name: "Dagelijks" },
        { id: 4, name: "Aangepast" },
      ],
      availabilityOptions: [
        { title: "Beschikbaar" },
        { title: "Niet beschikbaar" },
        { title: "Vrije dag" },
        { title: "Vakantie" },
      ],
      relationOptions: [],
      tagOptions: [],
      tagValue: [],
      documents: [],
      relationValue: "",
      availibilityValue: "",
      isModalVisible: false,
      oldProfiles: [],
      companyId: this.$auth.user.companyId,
      modalData: "",
      typeId: "",
      disableInput: false,
      detached: false,
      parentId: "",
      startDate: "",
      endDate: "",
      onRepeat: "",
      updateFuture: false,
      startTime: "",
      userId: "",
      endTime: "",
      hrAmount: "",
      pause: "",
      tags: "",
      title: "",
      comment: "",
      location: "",
      documentToDelete: "",
      // multiselect
      value: [],
      options: [],
      DocumentVisible: false,
      GegevensVisible: true,
      place: "",
      selectedAddress: "",
      autocomplete: "",
      address1Field: {},
    };
  },
  //  created() {
  //     // // console.log("CREATED");
  //     // // console.log(this.serviceData);
  //   },
  methods: {
    async searchAddress() {
      if (document.getElementsByClassName("pac-container")) {
        const elements = document.getElementsByClassName("pac-container");
        while (elements.length > 0) {
          elements[0].parentNode.removeChild(elements[0]);
        }
      }
      var address1Field = document.querySelector("#update-grid-location");
      this.autocomplete = new google.maps.places.Autocomplete(address1Field, {
        componentRestrictions: {},
        fields: ["address_components", "geometry"],
        types: ["address"],
      });
      this.autocomplete.addListener("place_changed", () => {
        this.location = document.querySelector("#update-grid-location").value;
      });
    },
    requestCopyService() {
      this.$refs.messageModal.showModal(
        "Pas op! kopieer actie.",
        "Weet u zeker dat u door wilt gaan? Er zal een nieuwe popup verschijnen."
      );
    },
    copyService() {
      this.$emit("copy");
      this.closeModal();
    },
    getDocuments() {
      const axios = require("axios");
      // Url for document. Pid when parent has value
      var url =
        "https://api.eezywork.nl/v1/pm/service/document/read.php?id=" +
        this.serviceData.extendedProps.service_id;
      if (this.serviceData.extendedProps.parent_id) {
        url += "&Pid=" + this.serviceData.extendedProps.parent_id;
      }
      // console.log(url)
      axios
        .get(url)
        .then((response) => {
          if (response.data) {
            this.documents = response.data;
            // console.log(response.data);
          } else {
            this.documents = [];
          }
        })
        .catch((error) => {
          this.documents = [];
          // // console.log(error.response)
        });
    },
    showModal() {
      this.isModalVisible = true;
      this.updateFuture = false;
      this.oldProfiles = [];
    },
    ShowDocs() {
      (this.DocumentVisible = true), (this.GegevensVisible = false);
    },
    ShowGegevens() {
      (this.DocumentVisible = false), (this.GegevensVisible = true);
    },
    getUserId() {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" +
        this.serviceData.extendedProps.profile_id;
      axios.get(url).then(
        (response) => {
          this.userId = response.data.user_id;
        },
        (error) => {
          // // console.log(error);
        }
      );
    },
    closeModal() {
      this.$refs.messageModal.closeModal();
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
    refreshResources() {
      var tags = [];
      this.tagValue.forEach((i) => {
        tags.push(i.label_id);
      });
      var companyId = this.$auth.user.companyId;
      const axios = require("axios");
      var resourcesUrl =
        "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId=" +
        companyId +
        "&schedule=0";
      axios
        .get(resourcesUrl)
        .then((response) => {
          var resources = response.data;
          if (
            tags != "" &&
            tags != undefined &&
            tags.length > 0 &&
            tags != "[]"
          ) {
            var resourceArray = [];
            // console.log(tags);
            resources.forEach((i) => {
              if (i.tag) {
                var rtag = JSON.parse(i.tag);
                if (rtag.some((r) => tags.includes(r))) {
                  resourceArray.push(i);
                }
              }
            });
            this.options = resourceArray;
          } else {
            this.options = response.data;
          }
          // // console.log(this.resources)
        })
        .catch((error) => {
          // // // console.log(error.response)
        });
    },
    updateOnlyFuture() {
      this.updateFuture = true;
      if (this.updateService()) {
        this.updateFuture = false;
      }
    },
    getTags() {
      const axios = require("axios");
      var companyId = this.$auth.user.companyId;
      var url =
        "https://api.eezywork.nl/v1/pm/label/read.php?companyId=" + companyId;
      axios
        .get(url)
        .then((response) => {
          this.tagOptions = [];
          this.tagOptions = response.data;
          this.tagValue = [];
          // console.log(this.tags);
          this.tagOptions.forEach((i) => {
            if (this.tags.includes(i.label_id)) {
              this.tagValue.push(i);
            }
          });
        })
        .catch((error) => {
          // // console.log(error.response)
        });
    },
    changeDisable() {
      if (this.disableInput) {
        document.getElementById("endDate").disabled = true;
        document.getElementById("repeat").disabled = true;
      } else {
        document.getElementById("endDate").disabled = false;
        document.getElementById("repeat").disabled = false;
      }
    },
    openDocumentModal() {
      // console.log(this.serviceData.extendedProps.parent_id)
      this.$refs.documentModal.serviceId =
        this.serviceData.extendedProps.service_id;
      this.$refs.documentModal.parentId =
        this.serviceData.extendedProps.parent_id;
      this.$refs.documentModal.showModal();
    },
    deleteDocumentCheck(id) {
      this.documentToDelete = id;
      this.$refs.messageDocModal.showModal(
        "Pas op! Document verwijderen.",
        "Weet u het zeker? Dit kunt u niet meer ongedaan maken."
      );
    },
    deleteDocument(id) {
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/document/delete.php";
      axios
        .post(url, {
          document_id: this.documentToDelete,
        })
        .then(
          (response) => {
            // // console.log(response.data);
            this.documentToDelete = "";
            this.$notify({
              type: "succes",
              title: `Verwijderd!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.getDocuments();
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    formatDate: function (input) {
      const date = input;

      const [year, month, day] = date.split("-");

      const result = [day, month, year].join("-");
      return result;
    },
    removeTags(data) {
      // console.log(data)
    },
    updateShiftStatus(statusId) {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" +
        this.serviceData.extendedProps.profile_id;
      axios.get(url).then(
        (response) => {
          this.userId = response.data.user_id;
          var url = "https://api.eezywork.nl/v1/pm/shift/update-status.php";
          axios
            .post(url, {
              shiftId: this.serviceData.extendedProps.shift_id,
              statusId: statusId,
            })
            .then(
              (response) => {
                this.$notify({
                  type: "succes",
                  title: `Bijgewerkt!`,
                });
                var userId = this.userId;
                if (statusId == 2) {
                  this.sendNotification(
                    userId,
                    "Eezywork",
                    "U bent uitgenodigd voor een dienst op " +
                      this.formatDate(
                        this.serviceData.extendedProps.start_date
                      ) +
                      " om " +
                      this.serviceData.extendedProps.start_time
                  );
                  this.$emit("setYellow");
                } else if (statusId == 3) {
                  this.sendNotification(
                    userId,
                    "Eezywork",
                    "U bent ingepland voor een dienst op " +
                      this.formatDate(
                        this.serviceData.extendedProps.start_date
                      ) +
                      " om " +
                      this.serviceData.extendedProps.start_time
                  );
                  this.$emit("setBlue");
                } else if (statusId == 1) {
                  this.sendNotification(
                    userId,
                    "Eezywork",
                    "Een dienst op " +
                      this.formatDate(
                        this.serviceData.extendedProps.start_date
                      ) +
                      " om " +
                      this.serviceData.extendedProps.start_time +
                      " is komen te vervallen!"
                  );
                  this.$emit("setGray");
                }
                this.closeModal();
              },
              (error) => {
                // // console.log(error);
              }
            );
        },
        (error) => {
          // // console.log(error);
        }
      );
    },
    sendNotification(user_id, title, content) {
      // console.log(user_id)
      // console.log(title)
      // console.log(content)
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/notification/create-notification.php";
      axios
        .post(url, {
          user_id: user_id,
          title: title,
          content: content,
        })
        .then((response) => {
          this.toast("success", "Notificatie gestuurd.");
        })
        .catch((error) => {
          // console.log(error)
        });
    },
    openArchiveModal() {
      this.$refs.onRepeatArchiveServiceModal.picked = 2;
      this.$refs.onRepeatArchiveServiceModal.showModal();
    },
    openOnRepeatModal() {
      this.$refs.onRepeatServiceModal.picked = 2;
      this.$refs.onRepeatServiceModal.showModal();
    },
    archiveProfile(option) {
      this.oldProfiles.push(option.profile_id);
      // // console.log(option)
      // // console.log(this.oldProfiles)
    },
    checkSelected() {},
    detach() {
      // console.log("loskoppelen");
      this.detached = true;
      return true;
    },
    attach() {
      // console.log("Bij elkaar houden");
      this.detached = false;
      return true;
    },
    updateService() {
      // if(this.options.length >= parseInt(this.hrAmount)){
      if (this.availibilityValue) {
        this.title = this.availibilityValue.title;
      }
      if (this.relationValue) {
        var clientId = this.relationValue.relation_id;
      }
      if (this.tagValue) {
        var tagArray = [];
        this.tagValue.forEach((i) => {
          tagArray.push(i.label_id);
        });
        tagArray = JSON.stringify(tagArray);
      } else {
        tagArray = "";
      }
      var createdBy = 1;
      var modifiedBy = 1;
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/update.php";
      axios
        .post(url, {
          serviceId: this.serviceData.extendedProps.service_id,
          orderId: 0,
          clientId: clientId,
          statusId: 1,
          location: this.location,
          startDate: this.startDate,
          endDate: this.endDate,
          startTime: this.startTime,
          tag: tagArray,
          hrAmount: this.hrAmount,
          endTime: this.endTime,
          pause: this.pause,
          title: this.title,
          comment: this.comment,
          createdBy: createdBy,
          modifiedBy: modifiedBy,
          updateFuture: this.updateFuture,
        })
        .then(
          (response) => {
            // // console.log(response.data);
            if (this.value) {
              this.assignShift();
            }
            this.$notify({
              type: "succes",
              title: `Bijgewerkt!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.$emit("refresh");
            this.closeModal();
          },
          (error) => {
            // // console.log(error);
          }
        );
      // }
      // else {
      //   // // console.log("Teveel personen geselecteerd.")
      // }
    },
    assignShift() {
      const axios = require("axios");
      var array = [];
      this.value.forEach((resource) => {
        var arrayItem = {
          profileId: resource.profile_id,
          serviceId: this.serviceData.extendedProps.service_id,
          companyId: this.companyId,
          roleId: 0,
          statusId: 1,
        };
        if (this.oldProfiles) {
          if (this.oldProfiles.includes(resource.profile_id)) {
            for (var i = 0; i < this.oldProfiles.length; i++) {
              if (this.oldProfiles[i] == resource.profile_id) {
                this.oldProfiles[i].splice(i, 1);
              }
            }
          }
        }
        array.push(arrayItem);
      });
      // setTimeout(() => this.isHidden = false, 500);
      // // console.log("verwijder: "+ this.oldProfiles)
      if (this.detached) {
        // console.log("LOS");
        // console.log(this.serviceData);
        var parentId = 0;
      } else {
        // console.log("NIET LOS");
        // console.log(this.serviceData);
        var parentId = this.serviceData.extendedProps.parent_id;
      }
      var url = "https://api.eezywork.nl/v1/pm/shift/create.php";
      axios
        .post(url, {
          shifts: array,
          oldProfiles: this.oldProfiles,
          serviceId: this.serviceData.extendedProps.service_id,
          parentId: parentId,
          updateFuture: this.updateFuture,
          startDate: this.startDate,
        })
        .then(
          (response) => {
            // // console.log(response.data);
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    archiveService() {
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/archive.php";
      axios
        .post(url, {
          serviceId: this.serviceData.extendedProps.service_id,
        })
        .then(
          (response) => {
            // // console.log(response.data);
            this.$notify({
              type: "succes",
              title: `Gearchiveerd!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.$emit("refresh");
            this.closeModal();
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    toast(variant = null, message) {
      this.$bvToast.toast(message, {
        title: `Aanmaken`,
        variant: variant,
        autoHideDelay: 2000,
        solid: true,
      });
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
input {
  @apply text-[14px];
}
header {
  z-index: 100;
}
/* #body {
  background: #DDBBBB !important;
} */
#modal {
  @apply overflow-y-scroll font-poppins;
  margin-top: 70px;
  height: 775px !important;
}
::-webkit-scrollbar {
  width: 5px;
}
.tabblad {
  @apply pr-3 font-poppins;
  border-bottom: 1px solid #ddbbbb;
}
/*Added Styling for active*/
.tabblad-active {
  @apply font-poppins bg-pink rounded-t-lg;
}

.tabblad-item {
  @apply font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply bg-pink rounded-t-lg h-[33px];
}
::-webkit-scrollbar-thumb {
  background: #9d1a16;
  border-radius: 10px;
}
.documenten-container {
  @apply p-6;
}
.modal-body-text {
  font-size: 14px;
}
.document-row {
  padding: 15px 0px;
  border-top: 1px solid #ddbbbb;
}
</style>
