<template>
    <div
      v-show="isModalVisible"
      id="modal-backdrop"
      class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
      @click.self="closeModal"
    >
      <div
        id="modal"
        class="z-50 bg-background overflow-visible flex flex-col justify-between w-4/6 md:w-4/6 lg:w-6/12"
        :props="serviceData">
        <!-- Modal Header -->
        <header id="modal-header" class="px-6 pt-6">
          <div class="modal-close-button flex justify-end">
            <button type="button" class="w-10 p-2 bg-gray-300 rounded-full" @click="closeModal">x</button>
          </div>
          <div class="modal-header-content flex justify-between items-center">
            <slot name="header"><span class="modal-header-text !text-lg">Mederwerkers toevoegen</span></slot>
            <div class="modal-header-content-buttons">
              <!-- <button type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg" @click="closeModal">
                <img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
              </button>
              <button type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg" @click="closeModal">
                <img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
              </button> -->
            </div>
          </div>
        </header>
        <!-- Modal Body -->
        <section id="modal-body" class="px-6 py-6">
          <slot name="body">
            <!-- form for new services -->
            <form class="w-full">
              <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                  <label class="modal-body-label" for="grid-first-name">
                    Bestand uploaden
                  </label>
                  <input type="file" class="modal-input-field" id="file" ref="file" @change="handleFileUpload"/>
                </div>
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                  <label class="modal-body-label" for="grid-first-name">
                    Bestand downloaden
                  </label>
                  <button class="modal-input-field" @click="handleFileDownload">Download</button>
                </div>
              </div>
            </form>
          </slot>
        </section>
  
       <!-- Modal Footer -->
        <footer id="modal-footer" class="px-6 pb-6">
          <slot name="footer">
            <button @click="createUsersBulk()" class="modal-button-green ml-2">
              Toevoegen
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </template>
  
  <script>
  // import Modal from "./components/Modal.vue";
  import Multiselect from 'vue-multiselect'
  import Vue from "vue";
  import readXlsxFile from 'read-excel-file'
  Vue.component('multiselect', Multiselect);
  
  export default {
    name: "modal",
    components: {
      Multiselect
    },
    props: {
      serviceData: Object
    },
    data() {
      return {
        availibilityValue: '',
        isModalVisible: false,
        modalData: '',
        file: '',
        profileId: '',
        parentId: '',
        documentName: 'test',
        documentMessage: '',
        expirationDate: '',
        importData: '',
        // multiselect 
        value: null,
        options: []
      };
    }, 
    //  created() {
    //      // // console.log("CREATED");
    //      // // console.log(this.serviceData);
    //   },
    methods: {
      showModal() {
        this.isModalVisible = true;
        // // console.log(this.serviceData);
      },
      closeModal() {
        this.isModalVisible = false;
      },
      close() {
        this.$emit("close");
      },
      handleFileDownload(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/files/download/import-werknemer.xlsx";
        // axios.get(url).then(response => {
        //     console.log(response);
        // }).catch(error => {
        //     console.log(error);
        // })
        // window.location.replace(url);
      },
      handleFileUpload(e) {
        let xlsxfile = event.target.files ? event.target.files[0] : null;
        readXlsxFile(xlsxfile).then((rows) => {
            console.log("rows:", rows)
            this.importData = rows;
        })
    },
      createUsersBulk(){
        var i = 0;
        this.importData.forEach(e => {
            if(i == 0){
                i++; // skip first
            }else if(
            e[2] !== null && 
            e[3] !== null && 
            e[4] !== null && 
            e[10] !== null && 
            e[2].length > 0 && 
            e[3].length > 0 && 
            e[4].length > 0 && 
            e[10].length > 0
        ){
            console.log(e[0]);
            console.log(e[1]);
            console.log(e[2]);
            console.log(e[3]);
            console.log(e[4]);
            if(e[10] == "Web-gebruiker"){
                e[10] = 1;
            } else if (e[10] == "App-gebruiker"){
                e[10] = 2;
            }
            console.log(e[10]);
          var companyId = this.$auth.user.companyId;
          const axios = require('axios');
          var url = "https://api.eezywork.nl/v1/register.php";
          // console.log(this.typeValue.value);
          axios.post(url,{
            firstname: e[2],
            lastname: e[3],
            email: e[4],
            role_id: 1,
            phone: e[5],
            address: e[7],
            city: e[9],
            zipcode: e[8],
            birthDate: e[6],
            employeeCode: e[0],
            function: e[11],
            is_key_user: 0,
            companyId: companyId,
            companyName: this.$auth.user.companyName,
            type: e[10],
            createdBy: this.$auth.user.profileId
          })
          .then(response => {
            this.$notify({
              type: 'success',
              title: `Aangemaakt!`
            });
            console.log("Gebruiker aangemaakt");
            })
          .catch(error => {
            // console.log(error.response)
          });
        }
        this.$router.push({ name: 'werknemers'})    
        this.closeModal();        
        });
      },
    },
  };
  </script>
  <style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
  
  <style>
    #modal{
      @apply text-sm;
      margin-top: 70px;
      max-height: 775px!important;
      overflow-y: scroll;
    }
    input {
      @apply !text-sm;
    }
    /* CUSTOM CHECKBOX */
  .container {
      @apply block relative cursor-pointer select-none;
      padding-left: 25px;
      line-height: 17px;
      margin-bottom: 3px;
      font-size: 14px;
  }
  /* Hide the browser's default checkbox */
  .container input {
      @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }
  /* Create a custom checkbox */
  .checkmark {
      @apply absolute top-0 left-0 h-4 w-4 bg-background;
      border: 2px solid #9D1A16;
      border-radius: 5px;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      @apply bg-lightgray;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    @apply bg-darkred;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    @apply absolute hidden;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    @apply block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
      @apply left-1 top-0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  </style>