<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    @click.self="closeModal"
  >
    <div
      id="modal"
      class="z-50 bg-background !overflow-hidden flex flex-col justify-between w-4/6 rounded-lg"
      :props="serviceData"
    >
      <!-- Modal Header -->
      <header id="modal-header" class="px-6 pt-6">
        <!-- <div class="modal-close-button flex justify-end">
          <button
            type="button"
            class="w-10 p-2 bg-gray-300 rounded-full"
            @click="closeModal"
          >
            x
          </button>
        </div> -->
        <div
          class="modal-header-content flex flex-wrap justify-between items-center"
        >
          <slot name="header"
            ><span class="modal-header-text !text-lg"
              >Dienst aanmaken</span
            ></slot
          >
          <button
            type="button"
            class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg"
            @click="closeModal"
          >
            <img
              src="@/assets/icons/close-icon-white.png"
              class="toggle-icon-calendar w-full p-1.5"
              alt="Sluit modal"
            />
          </button>
        </div>
      </header>
      <!-- Modal Body -->
      <section id="modal-body" class="px-6 py-6">
        <slot name="body">
          <!-- form for new services -->
          <form class="w-full" v-if="resourceId == 'A1'">
            <div class="flex flex-wrap">
              <!-- left part of the modal field -->
              <div id="left" class="w-1/2 pr-10">
                <!-- first row -->
                <div id="row-1">
                  <div v-if="relationOptions.length > 0" class="">
                    <label class="modal-body-label" for="grid-last-name">
                      Opdrachtgever
                    </label>
                    <multiselect
                      id="availibility_multiselect"
                      :options="relationOptions"
                      v-model="relationValue"
                      @input="getContacts()"
                      :close-on-select="true"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Selecteer titel"
                      selectedLabel="Geselecteerd"
                      :value="value"
                      label="name"
                      :allow-empty="true"
                    ></multiselect>
                  </div>
                  <div v-else class="">
                    <label class="modal-body-label" for="grid-last-name">
                      Opdrachtgever
                    </label>
                    <multiselect
                      id="availibility_multiselect"
                      :options="[]"
                      :close-on-select="true"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Geen relaties"
                      selectedLabel="Geselecteerd"
                      :value="[]"
                      label="name"
                      :allow-empty="true"
                      :disabled="true"
                    ></multiselect>
                  </div>
                </div>
                <div id="row-1">
                  <div
                    v-if="
                      relationOptions.length > 0 && contactOptions.length > 0
                    "
                    class=""
                  >
                    <label class="modal-body-label" for="grid-last-name">
                      Contact
                    </label>
                    <multiselect
                      id="contact_multiselect"
                      :options="contactOptions"
                      v-model="contactValue"
                      @input="getContacts()"
                      :close-on-select="true"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Selecteer contact"
                      selectedLabel="Geselecteerd"
                      :value="value"
                      label="name"
                      :allow-empty="true"
                    ></multiselect>
                  </div>
                  <div v-else class="">
                    <label class="modal-body-label" for="grid-last-name">
                      Contact
                    </label>
                    <multiselect
                      id="contact_multiselect"
                      :options="[]"
                      :close-on-select="true"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Geen contacten"
                      selectedLabel="Geselecteerd"
                      :value="[]"
                      label="name"
                      :allow-empty="true"
                      :disabled="true"
                    ></multiselect>
                  </div>
                </div>
                <!-- second row -->
                <div id="row-2">
                  <label class="modal-body-label" for="grid-last-name">
                    Locatie
                  </label>
                  <input
                    v-model="location"
                    class="modal-input-field"
                    id="grid-location"
                    type="text"
                    placeholder="Locatie"
                    v-on:keydown="searchAddress()"
                  />
                </div>
                <!-- third row -->
                <div id="row-3" class="w-full flex flex-wrap">
                  <div class="w-1/2 pr-3">
                    <label class="modal-body-label" for="grid-first-name">
                      Start datum
                    </label>
                    <input
                      v-model="startDate"
                      class="modal-input-field"
                      id="grid-first-name"
                      type="date"
                      placeholder="startDate"
                    />
                  </div>
                  <div class="w-1/2 pl-3">
                    <label class="modal-body-label flex mt-1"
                      >Aantal personen</label
                    >
                    <input
                      v-model="hrAmount"
                      class="modal-input-field"
                      id="grid-first-name"
                      type="number"
                      placeholder="aantal personen"
                    />
                  </div>
                </div>
                <!-- fourth row -->
                <div id="row-4" class="w-full flex flex-wrap">
                  <div class="w-1/3 pr-3">
                    <label class="modal-body-label" for="grid-last-name">
                      Start tijd
                    </label>
                    <input
                      v-model="startTime"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="time"
                      placeholder="startTime"
                    />
                  </div>
                  <div class="w-1/3 px-3">
                    <label class="modal-body-label" for="grid-last-name">
                      Eind tijd
                    </label>
                    <input
                      v-model="endTime"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="time"
                      placeholder="endTime"
                    />
                  </div>
                  <div class="w-1/3 pl-3">
                    <label class="modal-body-label" for="grid-zip">
                      Pauze
                    </label>
                    <input
                      v-model="pause"
                      class="modal-input-field"
                      id="grid-first-name"
                      type="number"
                      placeholder="pauze"
                    />
                  </div>
                </div>
                <!-- fifth row -->
                <div id="row-5" class="w-full flex flex-wrap">
                  <div class="w-1/2">
                    <label class="modal-body-label flex mt-1">
                      <label class="container" for="checkHerhaal"
                        >Herhaal
                        <input
                          v-model="disableInput"
                          @click="changeDisable"
                          type="checkbox"
                          checked="checked"
                          id="checkHerhaal"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </label>
                    <div class="relative">
                      <select
                        v-model="onRepeat"
                        disabled="true"
                        class="changedisable"
                        id="repeat"
                      >
                        <option value="" disabled>Selecteer een keuze</option>
                        <option
                          v-for="onRepeatOption in onRepeatOptions"
                          :disabled="!onRepeatOption.id"
                          :key="onRepeatOption.id"
                          v-bind:value="onRepeatOption.id"
                        >
                          {{ onRepeatOption.name }}
                        </option>
                      </select>
                      <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                      ></div>
                    </div>
                  </div>
                  <div class="w-1/2 px-3">
                    <label class="modal-body-label" for="grid-zip">
                      Herhaal tot
                    </label>
                    <input
                      v-model="endDate"
                      disabled="true"
                      class="changedisable"
                      id="endDate"
                      type="date"
                      placeholder="90210"
                    />
                  </div>
                </div>
                <div
                  v-if="onRepeat == 4 && disableInput"
                  id="row-5"
                  class="w-full flex flex-wrap"
                >
                  <div class="w-2/3" @click="showModal()">
                    <label for="herMa"
                      >Ma
                      <input v-model="herhaal.Ma" type="checkbox" id="herMa" />
                      <span class="checkmark"></span> </label
                    >|
                    <label for="herDi"
                      >Di
                      <input v-model="herhaal.Di" type="checkbox" id="herDi" />
                      <span class="checkmark"></span> </label
                    >|
                    <label for="herWo"
                      >Wo
                      <input v-model="herhaal.Wo" type="checkbox" id="herWo" />
                      <span class="checkmark"></span> </label
                    >|
                    <label for="herDo"
                      >Do
                      <input v-model="herhaal.Do" type="checkbox" id="herDo" />
                      <span class="checkmark"></span> </label
                    >|
                    <label for="herVr"
                      >Vr
                      <input v-model="herhaal.Vr" type="checkbox" id="herVr" />
                      <span class="checkmark"></span> </label
                    >|
                    <label for="herZa"
                      >Za
                      <input v-model="herhaal.Za" type="checkbox" id="herZa" />
                      <span class="checkmark"></span> </label
                    >|
                    <label for="herZo"
                      >Zo
                      <input v-model="herhaal.Zo" type="checkbox" id="herZo" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <!-- sixth row -->
                <div id="row-6" class="w-full flex flex-wrap">
                  <div v-if="tagOptions.length > 0" class="w-full mb-4">
                    <label class="modal-body-label" for="grid-last-name">
                      Kenmerken
                    </label>
                    <multiselect
                      id="availibility_multiselect"
                      :options="tagOptions"
                      v-model="tagValue"
                      :close-on-select="false"
                      select-label="Selecteer"
                      deselect-label="Verwijder"
                      placeholder="Selecteer kenmerk"
                      selectedLabel="Geselecteerd"
                      track-by="label_id"
                      :value="value"
                      :multiple="true"
                      label="label_name"
                      :allow-empty="true"
                    ></multiselect>
                  </div>
                  <div v-else class="w-full px-3 mb-4 md:w-1/2">
                    <label class="modal-body-label" for="grid-last-name">
                      Kenmerken
                    </label>
                    <multiselect
                      id="availibility_multiselect"
                      :options="[]"
                      :close-on-select="true"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Geen kenmerk"
                      selectedLabel="Geselecteerd"
                      track-by="label_id"
                      :value="[]"
                      label="name"
                      :allow-empty="true"
                      :disabled="true"
                    ></multiselect>
                  </div>
                </div>
              </div>

              <!-- right half of modal -->
              <div id="right" class="w-1/2 float-right">
                <!-- first row right -->
                <div id="row-1">
                  <label class="modal-body-label" for="grid-first-name">
                    Titel
                  </label>
                  <input
                    v-model="title"
                    class="modal-input-field"
                    id="grid-title"
                    type="text"
                    placeholder="Titel"
                  />
                </div>
                <!-- second row right -->
                <div id="row-2">
                  <label class="modal-body-label" for="grid-last-name">
                    Beschrijving
                  </label>
                  <textarea
                    v-model="comment"
                    placeholder="Beschrijving"
                    class="h-[445px]"
                  ></textarea>
                </div>
              </div>
            </div>
          </form>

          <!-- form for user binded services -->
          <form class="w-full" v-else>
            <div class="">
              <div>
                <label class="modal-body-label" for="grid-last-name">
                  Titel
                </label>
                <multiselect
                  id="availibility_multiselect"
                  :options="availabilityOptions"
                  v-model="availibilityValue"
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer titel"
                  selectedLabel="Geselecteerd"
                  :value="value"
                  label="title"
                  :allow-empty="false"
                ></multiselect>
              </div>
            </div>
            <div>
              <div>
                <label class="modal-body-label" for="grid-last-name">
                  Beschrijving
                </label>
                <textarea
                  v-model="comment"
                  placeholder="Beschrijving"
                ></textarea>
              </div>
            </div>
            <div>
              <div>
                <label class="modal-body-label" for="grid-first-name">
                  Start datum
                </label>
                <input
                  v-model="startDate"
                  class="modal-input-field"
                  id="grid-first-name"
                  type="date"
                  placeholder="startDate"
                />
              </div>
              <div>
                <label class="modal-body-label" for="grid-first-name">
                  Eind datum
                </label>
                <input
                  v-model="endDate"
                  class="modal-input-field"
                  id="grid-first-name"
                  type="date"
                  placeholder="startDate"
                />
              </div>
              <div>
                <label class="modal-body-label" for="grid-last-name">
                  Start tijd
                </label>
                <input
                  v-model="startTime"
                  class="modal-input-field"
                  id="grid-last-name"
                  type="time"
                  placeholder="startTime"
                />
              </div>
              <div>
                <label class="modal-body-label" for="grid-last-name">
                  Eind tijd
                </label>
                <input
                  v-model="endTime"
                  class="modal-input-field"
                  id="grid-last-name"
                  type="time"
                  placeholder="endTime"
                />
              </div>
            </div>
          </form>
        </slot>
      </section>
      <!-- Modal Footer -->
      <footer id="modal-footer" class="px-6 pb-6">
        <slot name="footer">
          <!-- <button @click="createService()" class="modal-button-orange ml-2">
              Publiceren
            </button>
            <button @click="createService()" class="modal-button-red ml-2">
              Niet toegewezen
            </button> -->
          <template v-if="resourceId == 'A1'">
            <button
              @click="createService(true)"
              class="modal-button-green ml-2"
            >
              Aanmaken
            </button>
            <button
              @click="createService(false)"
              class="modal-button-green ml-2"
            >
              Aanmaken en sluiten
            </button>
          </template>
          <button
            v-else
            @click="createAvailable()"
            class="modal-button-green ml-2"
          >
            Beschikbaarheid aanpassen
          </button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import Multiselect from "vue-multiselect";
import Vue from "vue";
Vue.component("multiselect", Multiselect);

export default {
  name: "modal",
  components: {
    Multiselect,
  },
  props: {
    serviceData: Array,
  },
  data() {
    return {
      onRepeatOptions: [
        { id: 1, name: "Werkdagen" },
        { id: 2, name: "Wekelijks" },
        { id: 3, name: "Dagelijks" },
        { id: 4, name: "Aangepast" },
      ],
      availabilityOptions: [
        { title: "Beschikbaar" },
        { title: "Niet beschikbaar" },
        { title: "Vrije dag" },
        { title: "Vakantie" },
        { title: "Ziek" },
      ],
      herhaal: {
        Zo: false,
        Ma: false,
        Di: false,
        Wo: false,
        Do: false,
        Vr: false,
        Za: false,
      },
      relationOptions: [],
      relationValue: [],
      copyId: "",
      contactOptions: [],
      contactValue: [],
      availibilityValue: [],
      tagOptions: [],
      tagValue: [],
      customDays: [],
      isModalVisible: false,
      modalData: "",
      disableInput: false,
      startDate: "",
      endDate: "",
      onRepeat: "",
      startTime: "",
      endTime: "",
      title: "",
      hrAmount: "",
      pause: "",
      comment: "",
      location: "",
      resourceId: "",
      // multiselect
      value: null,
      options: [],
      place: "",
      selectedAddress: "",
      autocomplete: {},
    };
  },
  methods: {
    async searchAddress() {
      if (document.getElementsByClassName("pac-container")) {
        const elements = document.getElementsByClassName("pac-container");
        while (elements.length > 0) {
          elements[0].parentNode.removeChild(elements[0]);
        }
      }
      var address1Field = document.querySelector("#grid-location");
      this.autocomplete = new google.maps.places.Autocomplete(address1Field, {
        componentRestrictions: {},
        fields: ["address_components", "geometry"],
        types: ["address"],
      });
      this.autocomplete.addListener("place_changed", () => {
        this.location = document.querySelector("#grid-location").value;
      });
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
    getContacts() {
      const axios = require("axios");
      if (this.relationValue) {
        let relationId = this.relationValue.relation_id;
        // var companyId = this.$auth.user.companyId;
        var url =
          "https://api.eezywork.nl/v1/pm/relation/contact/read.php?id=" +
          relationId;
        axios
          .get(url)
          .then((response) => {
            this.contactOptions = response.data;
          })
          .catch((error) => {
            // // console.log(error.response)
          });
      } else {
        this.contactValue = [];
        this.contactOptions = [];
      }
    },
    getTags() {
      const axios = require("axios");
      var companyId = this.$auth.user.companyId;
      var url =
        "https://api.eezywork.nl/v1/pm/label/read.php?companyId=" + companyId;
      axios
        .get(url)
        .then((response) => {
          this.tagOptions = response.data;
        })
        .catch((error) => {
          // // console.log(error.response)
        });
    },
    changeDisable() {
      if (this.disableInput) {
        document.getElementById("endDate").disabled = true;
        document.getElementById("repeat").disabled = true;
      } else {
        document.getElementById("endDate").disabled = false;
        document.getElementById("repeat").disabled = false;
      }
    },
    createService(i) {
      var onRepeatArray = [];
      if (this.onRepeat == 4) {
        var repeatFound = false;
        var i = 0;
        for (var key in this.herhaal) {
          var value = this.herhaal[key];
          if (value) {
            repeatFound = true;
            onRepeatArray.push(i);
          }
          i++;
        }
      }
      if (!repeatFound && this.onRepeat == 4) {
        this.$notify({
          type: "warn",
          title: `Vul dag(en) in!`,
        });
        return;
      }
      if (this.tagValue) {
        var tagArray = [];
        this.tagValue.forEach((i) => {
          tagArray.push(i.label_id);
        });
        tagArray = JSON.stringify(tagArray);
      } else {
        tagArray = "";
      }
      if (this.relationValue) {
        var clientId = this.relationValue.relation_id;
      }
      if (this.contactValue) {
        var contactId = this.contactValue.contact_id;
      }
      var companyId = this.$auth.user.companyId;
      var typeId = 1;
      var createdBy = 1;
      var modifiedBy = 1;
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/create.php";
      axios
        .post(url, {
          companyId: companyId,
          typeId: typeId,
          orderId: 0,
          clientId: clientId,
          contactId: contactId,
          hrAmount: this.hrAmount,
          pause: this.pause,
          statusId: 1,
          location: this.location,
          startDate: this.startDate,
          endDate: this.endDate,
          startTime: this.startTime,
          endTime: this.endTime,
          title: this.title,
          comment: this.comment,
          onRepeat: this.onRepeat,
          onRepeatArray: onRepeatArray,
          createdBy: createdBy,
          modifiedBy: modifiedBy,
          tag: tagArray,
        })
        .then(
          (response) => {
            console.log(response.data);
            this.$notify({
              type: "succes",
              title: `Aangemaakt!`,
              // text: `Planning is opnieuw opgehaald`
            });
            if (typeId == 1) {
              console.log(response.data.event);
              this.$emit("createEvent", response.data.event, i);
            }
            if (this.copyId) {
              console.log(this.copyId);
              console.log(response.data.event);
              const axios = require("axios");
              var url =
                "https://api.eezywork.nl/v1/pm/service/document/copyAll.php?copyId=" +
                this.copyId +
                "&serviceId=" +
                response.data.event.id;
              axios.post(url, {}).then(
                (response) => {
                  this.$notify({
                    type: "succes",
                    title: `Aangemaakt!`,
                    // text: `Planning is opnieuw opgehaald`
                  });
                  this.closeModal();
                },
                (error) => {
                  // console.log(error);
                }
              );
            }
            this.closeModal();
          },
          (error) => {
            // console.log(error);
          }
        );
    },
    createAvailable() {
      var companyId = this.$auth.user.companyId;
      var typeId = 2;
      var createdBy = 1;
      var modifiedBy = 1;
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/create.php";
      axios
        .post(url, {
          companyId: companyId,
          typeId: typeId,
          resourceId: this.resourceId,
          orderId: 0,
          clientId: 0,
          hrAmount: 0,
          pause: 0,
          statusId: 1,
          location: "",
          startDate: this.startDate,
          endDate: this.endDate,
          startTime: this.startTime,
          endTime: this.endTime,
          title: this.availibilityValue.title,
          comment: this.comment,
          onRepeat: 0,
          createdBy: createdBy,
          modifiedBy: modifiedBy,
        })
        .then(
          (response) => {
            this.$notify({
              type: "succes",
              title: `Aangemaakt!`,
              // text: `Planning is opnieuw opgehaald`
            });
            console.log('createAvailable')
            console.log(response.data)
            this.$emit("createAvailability", response.data);

            this.closeModal();
          },
          (error) => {
            // console.log(error);
          }
        );
    },
    toast(variant = null, message) {
      this.$bvToast.toast(message, {
        title: `Aanmaken`,
        variant: variant,
        autoHideDelay: 2000,
        solid: true,
      });
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
#modal {
  @apply overflow-y-scroll font-poppins;
  margin-top: 70px;
  max-height: 775px !important;
}
/* CUSTOM CHECKBOX */
.container {
  @apply block relative cursor-pointer select-none;
  padding-left: 25px;
  line-height: 17px;
  margin-bottom: 3px;
  font-size: 14px;
}
/* Hide the browser's default checkbox */
.container input {
  @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkmark {
  @apply absolute top-0 left-0 h-4 w-4 bg-background;
  border: 2px solid #9d1a16;
  border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
