<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    @click.self="closeModal"
  >
    <div
      id="modal"
      class="z-50 bg-background overflow-visible flex flex-col justify-between w-1/3 md:w-1/3 lg:w-1/3"
      :props="serviceData"
    >
      <!-- Modal Header -->
      <header id="modal-header" class="px-6 pt-6">
        <div class="modal-close-button flex justify-end">
          <button type="button" class="w-10 p-2 bg-gray-300 rounded-full" @click="closeModal">x</button>
        </div>
        <div class="modal-header-content flex justify-between items-center">
          <slot name="header"><span class="modal-header-text">Dienst Archiveren</span></slot>
            
        </div>
      </header>
     <!-- Modal Body -->
      <section id="modal-body" class="px-6 py-6">
        <slot name="body">
            <!-- form for new services -->
            <form>
              <div class="mb-2 mt-1">Weet u zeker dat u deze dienst wilt archiveren?</div>
            </form>
        </slot>
      </section>

     <!-- Modal Footer -->
      <footer id="modal-footer" class="px-6 pb-6">
        <slot name="footer">
          <button
            @click="closeModal()"
            class="modal-button-red ml-2"
            type="button"
          >
            <p>Annuleren</p>
          </button>
          <button
            @click="confirm()"
            class="modal-button-green ml-2"
            type="button"
          >
            <p>Bevestigen</p>
          </button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import Multiselect from 'vue-multiselect'
import Vue from "vue";
Vue.component('multiselect', Multiselect);

export default {
  name: "modal",
  components: {
    Multiselect
  },
  props: {
    serviceData: Object
  },
  data() {
    return {
        availibilityValue: '',
        isModalVisible: false,
        modalData: '',
        disableInput: false,
        picked: 0,
        // multiselect 
        value: null,
        options: []
    };
  }, 
  //  created() {
  //      // console.log("CREATED");
  //      // console.log(this.serviceData);
  //   },
  methods: {
    log(){
      // console.log(this.picked)
    },
    showModal() {
      this.isModalVisible = true;
      // console.log(this.serviceData);
    },
    closeModal() {
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
    confirm(){
      this.$emit("update")
      this.closeModal();
    },
    toast(variant = null, message) {
      this.$bvToast.toast(message, {
          title: `Aanmaken`,
          variant: variant,
          autoHideDelay: 2000,
          solid: true
      })
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
  #modal{
    @apply font-poppins overflow-y-scroll w-full;
    margin-top: 70px;
    max-height: 775px!important;
    max-width: 380px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.08); 
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.08);
  }
  .modal-header-text{
    @apply font-poppins font-semibold text-2xl;
  }

  [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid lightgray;
    border-radius: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.08); 
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.08);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #9D1A16;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
</style>