<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    @click.self="closeModal"
  >
    <div
      id="modal"
      class="z-50 bg-background overflow-visible flex flex-col justify-between w-1/3 md:w-1/3 lg:w-1/3"
      :props="serviceData"
    >
      <!-- Modal Header -->
      <header id="modal-header" class="px-6 pt-6">
        <div class="modal-close-button flex justify-end">
          <button type="button" class="w-10 p-2 bg-gray-300 rounded-full" @click="closeModal">x</button>
        </div>
        <div class="modal-header-content flex justify-between items-center">
          <slot name="header"><span class="modal-header-text">Terugkerende afspraak</span></slot>
            
        </div>
      </header>
     <!-- Modal Body -->
      <section id="modal-body" class="px-6 py-6">
        <slot name="body">
            <!-- form for new services -->
            <form>
              <div class="mb-2 mt-1">Hoe wil je deze actie uitvoeren?</div>
              <div>
                  <input type="radio" id="one" :value='1' v-model="picked" @click="log()" />
                  <label for="one">Op deze dienst (loskoppelen)</label>
              </div>
              <div class="mt-1 mb-2">
                  <input type="radio" id="two" :value='2' v-model="picked" @click="log()" />
                  <label for="two">Op alle gekoppelde diensten</label>
              </div>
              <!-- <div class="mt-1">
                  <input type="radio" id="three" :value='3' v-model="picked" @click="log()" />
                  <label for="three">Op deze en toekomstige diensten</label>
              </div> -->
            </form>
        </slot>
      </section>

     <!-- Modal Footer -->
      <footer id="modal-footer" class="px-6 pb-6">
        <slot name="footer">
          <!-- <button @click="createService()" class="modal-button-orange ml-2">
            Publiceren
          </button>
           <button @click="createService()" class="modal-button-red ml-2">
            Niet toegewezen
          </button> -->
          <button @click="confirm()" class="modal-button-green ml-2">
             <p>Uitvoeren</p>
          </button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import Multiselect from 'vue-multiselect'
import Vue from "vue";
Vue.component('multiselect', Multiselect);

export default {
  name: "modal",
  components: {
    Multiselect
  },
  props: {
    serviceData: Object
  },
  data() {
    return {
        availibilityValue: '',
        isModalVisible: false,
        modalData: '',
        disableInput: false,
        picked: 0,
        // multiselect 
        value: null,
        options: []
    };
  }, 
  //  created() {
  //      // console.log("CREATED");
  //      // console.log(this.serviceData);
  //   },
  methods: {
    log(){
      // console.log(this.picked)
    },
    showModal() {
      this.isModalVisible = true;
      // console.log(this.serviceData);
    },
    closeModal() {
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
    confirm(){
      this.$emit("archive", this.picked)

        if(this.picked == 1){
            const axios = require('axios');
            var url = "https://api.eezywork.nl/v1/pm/service/detach-parent.php";
                axios.post(url, {
                serviceId: this.serviceData.extendedProps.service_id
            })
            .then((response) => {
                // // console.log(response.data);
                if(this.$emit("detached")){
                  this.$emit("close");
                  this.$emit("update");
                }
            }, (error) => {
                // // console.log(error);
            });
        }
        if(this.picked == 2){
          if(this.$emit("attach")){
            this.$emit("close");
            this.$emit("update");
          }
        }
        if(this.picked == 3){
          if(this.$emit("attach")){
            if(this.$emit("future")){
              this.$emit("close");
            }
          }
        }
        this.closeModal();
    },
    toast(variant = null, message) {
      this.$bvToast.toast(message, {
          title: `Aanmaken`,
          variant: variant,
          autoHideDelay: 2000,
          solid: true
      })
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
  #modal{
    @apply font-poppins overflow-y-scroll w-full;
    margin-top: 70px;
    max-height: 775px!important;
    max-width: 380px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.08); 
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.08);
  }
  .modal-header-text{
    @apply font-poppins font-semibold text-2xl;
  }

  [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid lightgray;
    border-radius: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.08); 
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.08);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #9D1A16;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
</style>