<template>
  <div
        class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    >
        <v-calendar></v-calendar>
    </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import VCalendar from 'v-calendar';
import Vue from "vue";
Vue.component('VCalendar', VCalendar);
export default {
  name: "modal",
  components: {
    VCalendar
  },
  props: {
    serviceData: Array
  },
  data() {
    return {
      selectedDate: null,
    };
  }, 
  //  created() {
  //      // console.log("CREATED");
  //      // console.log(this.serviceData);
  //   },
  methods: {
    
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
  #modal{
    margin-top: 70px;
    max-height: 775px!important;
    overflow-y: scroll;
  }
  /* CUSTOM CHECKBOX */
.container {
    @apply block relative cursor-pointer select-none;
    padding-left: 25px;
    line-height: 17px;
    margin-bottom: 3px;
    font-size: 14px;
}
/* Hide the browser's default checkbox */
.container input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkmark {
    @apply absolute top-0 left-0 h-4 w-4 bg-background;
    border: 2px solid #9D1A16;
    border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>