<template>
    <div
      v-show="isModalVisible"
      id="modal-backdrop"
      class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
      @click.self="closeModal"
    >
      <div
        id="modal"
        class="z-50 bg-background overflow-visible flex flex-col justify-between w-4/6 md:w-4/6 lg:w-6/12"
        :props="serviceData">
  
          <div v-if="isCreate">
              <!-- Modal Header -->
              <header id="modal-header" class="px-6 pt-6">
                  <div class="modal-close-button flex justify-end">
                  <button type="button" class="w-10 p-2 bg-gray-300 rounded-full" @click="closeModal">x</button>
                  </div>
                  <div class="modal-header-content flex justify-between items-center">
                  <slot name="header"><span class="modal-header-text">type aanmaken</span></slot>
                  <div class="modal-header-content-buttons">
                      <!-- <button type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg" @click="closeModal">
                      <img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
                      </button>
                      <button type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg" @click="closeModal">
                      <img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
                      </button> -->
                  </div>
                  </div>
              </header>
              <!-- Modal Body -->
              <section id="modal-body" class="px-6 py-6">
                  <slot name="body">
                  <!-- form for new services -->
                  <form class="w-full">
                      <div class="flex flex-wrap -mx-3 mb-4">
                      <div class="w-full md:w-1/2 px-3">
                          <label class="modal-body-label" for="grid-last-name">
                          Naam van type
                          </label>
                          <input v-model="typeName" class="modal-input-field" id="grid-location" type="text" placeholder="Naam">
                      </div>
                      <div class="w-full md:w-1/2 px-3">
                          <label class="modal-body-label" for="grid-last-name">
                          Termijn (dagen)
                          </label>
                          <input v-model="period" class="modal-input-field" id="grid-location" type="number" placeholder="Termijn">
                      </div>
                      </div>
                  </form>
                  </slot>
              </section>
  
              <!-- Modal Footer -->
              <footer id="modal-footer" class="px-6 pb-6">
                  <slot name="footer">
                  <button @click="create()" class="modal-button-green ml-2">
                      Toevoegen
                  </button>
                  </slot>
              </footer>
          </div>
          <div v-if="isUpdate">
              <!-- Modal Header -->
              <header id="modal-header" class="px-6 pt-6">
                  <div class="modal-close-button flex justify-end">
                  <button type="button" class="w-10 p-2 bg-gray-300 rounded-full" @click="closeModal">x</button>
                  </div>
                  <div class="modal-header-content flex justify-between items-center">
                  <slot name="header"><span class="modal-header-text">type bijwerken</span></slot>
                  </div>
              </header>
              <!-- Modal Body -->
              <section id="modal-body" class="px-6 py-6">
                  <slot name="body">
                  <!-- form for new services -->
                  <form class="w-full">
                      <div class="flex flex-wrap -mx-3 mb-4">
                      <div class="w-full px-3">
                          <label class="modal-body-label" for="grid-last-name">
                          Naam van type
                          </label>
                          <input v-model="typeName" class="modal-input-field" id="grid-location" type="text" placeholder="Naam">
                      </div>
                      <div class="w-full px-3">
                          <label class="modal-body-label" for="grid-last-name">
                            Termijn (dagen)
                          </label>
                          <input v-model="period" class="modal-input-field" id="grid-location" type="number" placeholder="Termijn">
                      </div>
                      </div>
                  </form>
                  </slot>
              </section>
  
              <!-- Modal Footer -->
              <footer id="modal-footer" class="px-6 pb-6">
                  <slot name="footer">
                  <button @click="update()" class="modal-button-green ml-2">
                      Bijwerken
                  </button>
                  </slot>
              </footer>
          </div>
          <div v-if="isDelete">
              <!-- Modal Header -->
              <header id="modal-header" class="px-6 pt-6">
                  <div class="modal-close-button flex justify-end">
                  <button type="button" class="w-10 p-2 bg-gray-300 rounded-full" @click="closeModal">x</button>
                  </div>
                  <div class="modal-header-content flex justify-between items-center">
                  <slot name="header"><span class="modal-header-text">type verwijderen</span></slot>
                  </div>
              </header>
              <!-- Modal Body -->
              <section id="modal-body" class="px-6 py-6">
                  <slot name="body">
                  <!-- form for new services -->
                  <form class="w-full">
                      <div class=" -mx-3 mb-4">
                      <div class="w-full px-3">
                          <label class="modal-body-label" for="grid-last-name">
                          Naam van type
                          </label>
                          <input v-model="typeName" disabled class="modal-input-field" id="grid-location" type="text" placeholder="Naam">
                      </div>
                      <div class="w-full px-3">
                          <label class="modal-body-label" for="grid-last-name">
                            Termijn (dagen)
                          </label>
                          <input v-model="period" disabled class="modal-input-field" id="grid-location" type="number" placeholder="Termijn">
                      </div>
                      </div>
                  </form>
                  </slot>
              </section>
  
              <!-- Modal Footer -->
              <footer id="modal-footer" class="px-6 pb-6">
                  <slot name="footer">
                  <button @click="archive()" class="modal-button-green ml-2">
                      Verwijderen
                  </button>
                  </slot>
              </footer>
          </div>
      </div>
    </div>
  </template>
  
  <script>
  // import Modal from "./components/Modal.vue";
  import Multiselect from 'vue-multiselect'
  import Vue from "vue";
  Vue.component('multiselect', Multiselect);
  
  export default {
    name: "modal",
    components: {
      Multiselect
    },
    props: {
      serviceData: Array
    },
    data() {
      return {
          isCreate: false,
          isUpdate: false,
          isDelete: false,
          isModalVisible: false,
          modalData: '',
          period: '',
          typeName: '',
          typeId: '',
          companyId: this.$auth.user.companyId
      };
    }, 
    methods: {
      showModal() {
        this.isModalVisible = true;
        // console.log(this.serviceData);
      },
      closeModal() {
        this.isModalVisible = false;
      },
      close() {
        this.$emit("close");
      },
      create(){
          const axios = require('axios');
          var companyId = this.$auth.user.companyId
          var url = "https://api.eezywork.nl/v1/pm/service/document/type/create.php";
          axios.post(url, {
              typeName: this.typeName,
              createdBy: this.$auth.user.id,
              period: this.period,
              companyId: companyId
          })
              .then(response => {
              this.$notify({
                  type: 'succes',
                  title: `Aangemaakt!`,
                  // text: `Planning is opnieuw opgehaald`
              } );
              // // console.log(response)
              //   window.location.reload();
              this.$emit("refresh")
              this.closeModal();
              })
              .catch(error => {
              // // console.log(error.response)
          });
      },
      update(){
          const axios = require('axios');
          var url = "https://api.eezywork.nl/v1/pm/service/document/type/update.php";
          axios.post(url, {
              typeName: this.typeName,
              period: this.period,
              typeId: this.typeId
          })
              .then(response => {
              // // console.log(response)
               this.$notify({
                      type: 'succes',
                      title: `Bijgewerkt!`,
                      // text: `Planning is opnieuw opgehaald`
                  } );
                //   window.location.reload();
                this.$emit("refresh")
                this.closeModal();
              })
              .catch(error => {
              // // console.log(error.response)
          });
      },
      archive(){
          const axios = require('axios');
          var url = "https://api.eezywork.nl/v1/pm/service/document/type/delete.php";
          axios.post(url, {
              typeId: this.typeId
          })
              .then(response => {
              // // console.log(response)
               this.$notify({
                      type: 'succes',
                      title: `Gearchiveerd!`,
                      // text: `Planning is opnieuw opgehaald`
                  } );
                //   window.location.reload();
                this.$emit("refresh")
                this.closeModal();
              })
              .catch(error => {
              // // console.log(error.response)
          });
      },
    },
  };
  </script>
  <style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
  
  <style scoped>
    #modal{
      margin-top: 70px;
      max-height: 775px!important;
      overflow-y: scroll;
    }
    /* CUSTOM CHECKBOX */
  .container {
      @apply block relative cursor-pointer select-none;
      padding-left: 25px;
      line-height: 17px;
      margin-bottom: 3px;
      font-size: 14px;
  }
  /* Hide the browser's default checkbox */
  .container input {
      @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }
  /* Create a custom checkbox */
  .checkmark {
      @apply absolute top-0 left-0 h-4 w-4 bg-background;
      border: 2px solid #9D1A16;
      border-radius: 5px;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      @apply bg-lightgray;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    @apply bg-darkred;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    @apply absolute hidden;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    @apply block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
      @apply left-1 top-0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  </style>