<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    @click.self="closeModal"
  >
    <div
      id="modal"
      class="z-50 bg-background flex flex-col !overflow-hidden justify-between w-4/6 md:w-4/6 lg:w-6/12 !rounded-lg"
      :props="serviceData"
    >
      <!-- Modal Header -->
      <header id="modal-header" class="px-6 pt-6">
        <div class="modal-header-content flex justify-between items-center">
          <slot name="header"
            ><span class="modal-header-text !text-lg"
              >Document toevoegen</span
            ></slot
          >
          <div class="modal-header-content-buttons">
            <button
              type="button"
              class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg"
              @click="closeModal"
            >
              <img
                src="@/assets/icons/close-icon-white.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Sluit modal"
              />
            </button>
            <!-- <button type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg" @click="closeModal">
              <img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
            </button>
            <button type="button" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg" @click="closeModal">
              <img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
            </button> -->
          </div>
        </div>
      </header>
      <!-- Modal Body -->
      <section id="modal-body" class="px-6 py-6">
        <slot name="body">
          <!-- form for new services -->
          <form class="w-full">
            <div class="flex flex-wrap -mx-3 mb-2">
              <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                <label class="modal-body-label" for="grid-first-name">
                  Bestand
                </label>
                <input
                  type="file"
                  class="modal-input-field"
                  id="file"
                  ref="file"
                  v-on:change="handleFileUpload()"
                />
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="modal-body-label" for="grid-last-name">
                  Naam
                </label>
                <input
                  v-model="documentName"
                  class="modal-input-field"
                  id="grid-location"
                  type="text"
                  placeholder="Naam"
                />
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
              <div class="w-full px-3 mb-4 md:mb-0">
                <label class="modal-body-label" for="grid-last-name">
                  Verval datum
                </label>
                <input
                  type="date"
                  class="modal-input-field"
                  v-model="expirationDate"
                  placeholder="Verval datum"
                />
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
              <div class="w-full px-3 mb-4 md:mb-0">
                <label class="modal-body-label" for="grid-last-name">
                  Type
                </label>
                <multiselect
                  id="availibility_multiselect"
                  :options="typeOptions"
                  v-model="typeValue"
                  :value="typeValue"
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Selecteer"
                  deselect-label=""
                  :label="'type_name'"
                  track-by="type_id"
                  placeholder="Selecteer een type"
                  selectedLabel="Geselecteerd"
                  :allow-empty="true"
                  :taggable="true"
                ></multiselect>
              </div>
            </div>
          </form>
        </slot>
      </section>

      <!-- Modal Footer -->
      <footer id="modal-footer" class="px-6 pb-6">
        <slot name="footer">
          <button @click="createDocument()" class="modal-button-green ml-2">
            Toevoegen
          </button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import Multiselect from "vue-multiselect";
import Vue from "vue";
Vue.component("multiselect", Multiselect);

export default {
  name: "modal",
  components: {
    Multiselect,
  },
  props: {
    serviceData: Object,
  },
  data() {
    return {
      onRepeatOptions: [
        { id: 1, name: "Werkdagen" },
        { id: 2, name: "Wekelijks" },
        { id: 3, name: "Dagelijks" },
      ],
      availabilityOptions: [
        { title: "Beschikbaar" },
        { title: "Niet beschikbaar" },
        { title: "Vrije dag" },
      ],
      availibilityValue: "",
      isModalVisible: false,
      modalData: "",
      file: "",
      serviceId: "",
      parentId: "",
      documentName: "",
      documentMessage: "",
      expirationDate: "",
      // multiselect
      typeValue: [],
      typeOptions: [],
    };
  },
  //  created() {
  //      // // console.log("CREATED");
  //      // // console.log(this.serviceData);
  //   },
  mounted() {
    this.getTypes();
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
      // // console.log(this.serviceData);
    },
    closeModal() {
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    getTypes() {
      const axios = require("axios");
      var companyId = this.$auth.user.companyId;
      var url =
        "https://api.eezywork.nl/v1/pm/service/document/type/read.php?companyId=" +
        companyId;
      axios
        .get(url)
        .then((response) => {
          this.typeOptions = response.data;
          // console.log(response);
        })
        .catch((error) => {
          // console.log(error.response);
        });
    },
    createDocument() {
      const axios = require("axios");
      let formData = new FormData();
      formData.append("file", this.file);
      this.errors = [];
      if (!formData) {
        // // console.log('Bestand/Document is verplicht!')
      }
      if (formData) {
        var documentType = this.documentName;
        var expirationDate = this.expirationDate;
        var serviceId = this.serviceId;
        var typeId = this.typeValue.type_id;
        if (this.parentId) {
          serviceId = this.parentId;
        }
        var url =
          "https://api.eezywork.nl/v1/pm/service/document/create.php?documentType=" +
          documentType +
          "&expirationDate=" +
          expirationDate +
          "&id=" +
          serviceId +
          "&typeId=" +
          typeId;
        axios
          .post(url, formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((response) => {
            this.$notify({
              type: "succes",
              title: `Aangemaakt!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.documentMessage = response.data.message;
            this.$emit("reload");
            this.closeModal();
          })
          .catch((error) => {
            // // console.log(error.response)
            this.documentMessage = error.response.data.message;
          });
      }
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
#modal {
  @apply text-sm;
  margin-top: 70px;
  max-height: 775px !important;
}
input {
  @apply !text-sm;
}
/* CUSTOM CHECKBOX */
.container {
  @apply block relative cursor-pointer select-none;
  padding-left: 25px;
  line-height: 17px;
  margin-bottom: 3px;
  font-size: 14px;
}
/* Hide the browser's default checkbox */
.container input {
  @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkmark {
  @apply absolute top-0 left-0 h-4 w-4 bg-background;
  border: 2px solid #9d1a16;
  border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
