<template>
    <div
      v-show="isModalVisible"
      id="modal-backdrop"
      class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
      @click.self="closeModal"
    >
        <div
            id="modal"
            class="z-50 bg-background !overflow-hidden flex flex-col justify-between w-4/6 rounded-lg"

                :props="serviceData">
            <div>
              <header id="modal-header" class="px-6 pt-6">
        <!-- <div class="modal-close-button flex justify-end">
          <button
            type="button"
            class="w-10 p-2 bg-gray-300 rounded-full"
            @click="closeModal"
          >
            x
          </button>
        </div> -->
        <div
          class="modal-header-content flex flex-wrap justify-between items-center"
        >
          <slot name="header"
            ><span class="modal-header-text !text-lg"
              >Planning exporteren</span
            ></slot
          >
          <button
            type="button"
            class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg"
            @click="closeModal"
          >
            <img
              src="@/assets/icons/close-icon-white.png"
              class="toggle-icon-calendar w-full p-1.5"
              alt="Sluit modal"
            />
          </button>
        </div>
      </header>
                  <section id="modal-body" class="px-6 py-6 rapport-input">
                  <div> 
                <div id="row-4" class="w-full flex flex-wrap">
                  <div class="w-1/3 pr-3">
                    <label class="modal-body-label" for="startStr">
                      Start datum
                    </label>
                    <input class="modal-input-field" id="startStr" type="date" @change="getNewEvents()" v-model="startStr">
                  </div>
                  <div class="w-1/3 px-3">
                    <label class="modal-body-label" for="endStr">
                      Eind datum
                    </label>
                    <input class="modal-input-field" id="endStr" type="date" @change="getNewEvents()" v-model="endStr">
                  </div>
                </div>
                    <!-- <input type="button" value="Toepassen"/> -->
                  </div>
                  <div>
                    <div class="flex justify-between mb-5">
                      <p class="font-bold">Filters</p>
                      <button>
                        <span class="empty-filters bg-darkred text-white font-normal rounded-lg h-[45px] p-3 relative text-sm" @click="emptyFilters()">Leegmaken</span>
                      </button>
                    </div>
                    <multiselect 
                        ref="tag_multiSelect"
                        id="availibility_multiselect"
                        :options="tagOptions"
                        v-model="tagValue"
                        :multiple="true"
                        :close-on-select="false"
                        select-label="Selecteer"
                        deselect-label=""
                        label="label_name"
                        track-by="label_id"
                        placeholder="Selecteer een kenmerk"
                        selectedLabel="Geselecteerd"
                        :allow-empty="true"
                        :taggable="true"
                        @input="addFilters()"
                    >
                    <template slot="selection"></template>
                    </multiselect>
                    <multiselect 
                        ref="multiSelect"
                        id="availibility_multiselect"
                        :options="statusOptions"
                        v-model="statusValue"
                        :multiple="true"
                        :close-on-select="false"
                        select-label="Selecteer"
                        deselect-label=""
                        label="status_name"
                        track-by="status_id"
                        placeholder="Selecteer een status"
                        selectedLabel="Geselecteerd"
                        selection=""
                        :allow-empty="true"
                        :taggable="true"
                        @input="addFilters()"
                    >
                    <template slot="selection"></template>
                    </multiselect>
                    <multiselect
                        id="availibility_multiselect"
                        :options="relationOptions"
                        v-model="relationValue"
                        :close-on-select="false"
                        :multiple="true"
                        select-label="Selecteer"
                        deselect-label=""
                        :label="'name'"
                        track-by="relation_id"
                        placeholder="Selecteer een opdrachtgever"
                        selectedLabel="Geselecteerd"
                        :allow-empty="true"
                        :taggable="true"
                        @input="addFilters()"
                    ></multiselect>
                    <multiselect
                        id="availibility_multiselect"
                        :options="resourceOptions"
                        v-model="resourceValue"
                        :close-on-select="false"
                        :multiple="true"
                        select-label="Selecteer"
                        deselect-label=""
                        :label="'title'"
                        track-by="profile_id"
                        placeholder="Selecteer een medewerker"
                        selectedLabel="Geselecteerd"
                        :allow-empty="true"
                        :taggable="true"
                        @input="addFilters()"
                    ></multiselect>
                </div>
                <div class="flex justify-between align-middle items-center">
                  <div>
                    Niet toegewezen <input @change="addFilters()" type="checkbox" v-model="notAssignedFilter">
                  </div>
                </div>
                <template v-if="canEdit">
                    <!-- <button  @click="exportPDF()" class="red-button">exporteer PDF</button>   -->
                    <download-excel
                        class="btn btn-default"
                        :data="events"
                        worksheet="My Worksheet"
                        :name="date"
                      >
                      <button class="red-button">Exporteer CSV</button>  
                    </download-excel>
                </template>
              </section>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  // import Modal from "./components/Modal.vue";
  import Multiselect from 'vue-multiselect'
  import Vue from "vue";
  import html2pdf from "html2pdf.js";  

  Vue.component('multiselect', Multiselect);
  
  export default {
    name: "modal",
    components: {
      Multiselect
    },
    props: {
      serviceData: Array
    },
    data() {
      return {
        canEdit: true,
        isModalVisible: false,
        relationOptions: [],
        tagOptions: [],
        resourceOptions: [],
        statusOptions: [],
        relationValue: [],
        tagValue: [],
        resourceValue: [],
        statusValue: [],
        events: [],
        notAssignedFilter: true,
        AllEvents: [],
        json_fields: [],
        startStr: '',
        endStr: '',
        companyId: this.$auth.user.companyId,
        date: ''
      };
    },
    mounted(){
      var dateObj = new Date();
      var month = dateObj.getUTCMonth() + 1; //months from 1-12
      var day = dateObj.getUTCDate();
      var year = dateObj.getUTCFullYear();

      this.date = 'planning_export_'+day+'_'+month+'_'+year+'.xls';
    },
    methods: {
      getNewEvents(){
        if(this.startStr && this.endStr){
          const axios = require('axios');
          var eventUrl = 'https://api.eezywork.nl/v1/pm/schedule/get-events.php?companyId='+this.companyId+'&startDate='+this.startStr+'&endDate='+this.endStr;
          axios.post(eventUrl)
            .then(response => {
              // console.log(response)
              this.AllEvents = response.data
              this.addFilters();
            })
            .catch(error => {
                // // console.log(error.response)
            });
        }
      },
      showModal() {
        this.isModalVisible = true;
        // console.log(this.serviceData);
      },
      closeModal() {
        this.isModalVisible = false;
      },
      close() {
        this.$emit("close");
      },
      addFilters(){
            this.filters();
        },
      emptyFilters(){
        this.statusValue =  this.relationValue = this.tagValue = this.resourceValue = [];
        this.notAssignedFilter = true;
        this.filters();
      },
      filters(){
        var eventArray1 = [];
        var eventArray2 = [];
        var eventArray3 = [];
        var eventArray4 = [];
        if(this.statusValue && this.statusValue.length > 0){
            this.statusValue.forEach(i => {
                this.AllEvents.forEach(x => {
                    if(x.status_id == i.status_id){
                        eventArray1.push(x)
                    }
                })
            })
        } else {
            eventArray1 = this.AllEvents
        }
        if(this.relationValue && this.relationValue.length > 0){
            this.relationValue.forEach(i => {
                eventArray1.forEach(x => {
                    if(x.client_id == i.relation_id){
                        eventArray2.push(x)
                    }
                })
            })
        } else {
            eventArray2 = eventArray1;
        }
        if(this.tagValue && this.tagValue.length > 0){
            this.tagValue.forEach(i => {
                eventArray2.forEach(x => {
                    if(JSON.parse(x.tag).includes(i.label_id)){
                        eventArray3.push(x)
                    }
                })
            })
        } else {
            eventArray3 = eventArray2;
        }
        if(this.resourceValue && this.resourceValue.length > 0){
            this.resourceValue.forEach(i => {
                eventArray3.forEach(x => {
                    if(i.profile_id == x.resourceId || x.resourceId == 'A1'){
                        eventArray4.push(x)
                    }
                })
            })
        } else {
            eventArray4 = eventArray3;
        }


        var loopArray = eventArray4;
        
        var exportArray = [];
        loopArray.forEach(i => {
          // console.log(this.notAssignedFilter)
          // console.log(i.resourceId)
          if(i.resourceId == "A1" && !this.notAssignedFilter){
          } else {
            if(i.resourceId == "A1"){
              var employeeName = 'Niet toegewezen';
            } else {
              var employeeName = i.firstname+' '+i.lastname;
            }
            exportArray.push({
                'ID':i.id,
                'Titel': i.title,
                'Opdrachtgever': i.clientName,
                'Medewerker': employeeName,
                'Status': i.status_name,
                'Start datum': i.start_date,
                'Start tijd': i.start_time,
                'Eind tijd': i.end_time,
                'Pauze': i.pause,
                'Opmerking': i.comment,
                'Locatie': i.location,
                'Aantal ingepland': i.hr_amount,
            })
          } 
        })
        this.events = exportArray;
      },
      exportCSV(){
        const axios = require('axios');
        axios.post('https://api.eezywork.nl/v1/pm/schedule/export/export-shifts.php', {'exportData': this.events})
          .then(response => {
              // console.log(response)
          })
          .catch(error => {
            console.log(error)
          });
        },
        exportPDF(){
            console.log('PDF')
             // html2pdf(document.getElementById("planner"), {filename: "i-was-html.pdf",});
                html2pdf(document.getElementById("calendar"), {
                margin: 1,
                filename: "invoice.pdf",
                image: { type: "jpeg", quality: 0.98 },
                html2canvas: { dpi: 300, letterRendering: true, },
                jsPDF: { unit: "in", format: "a2", orientation: "Landscape" },
            });      
        }
    },
  };
  </script>
  
  <style scoped>
    .red-button {
        @apply bg-darkred px-6 py-3 mt-4 text-white rounded-md drop-shadow-md font-poppins;
    }
    .modal-body-label{
        @apply text-base font-normal;
    }
    .rapport-input{
        @apply w-full mb-6;
    }
    .rapport-input input{
        -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
    }
    #modal{
      margin-top: 70px;
      max-height: 775px!important;
      overflow-y: scroll;
    }
    /* CUSTOM CHECKBOX */
  .container {
      @apply block relative cursor-pointer select-none;
      padding-left: 25px;
      line-height: 17px;
      margin-bottom: 3px;
      font-size: 14px;
  }
  /* Hide the browser's default checkbox */
  .container input {
      @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }
  /* Create a custom checkbox */
  .checkmark {
      @apply absolute top-0 left-0 h-4 w-4 bg-background;
      border: 2px solid #9D1A16;
      border-radius: 5px;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      @apply bg-lightgray;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    @apply bg-darkred;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    @apply absolute hidden;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    @apply block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
      @apply left-1 top-0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  </style>