<template>
    <div
      v-show="isModalVisible"
      id="modal-backdrop"
      class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
      @click.self="closeModal"
    ><div
        id="modal"
        class="z-50 bg-background !overflow-hidden flex flex-col justify-between w-4/6 rounded-lg"

            :props="serviceData">
            <!-- Modal Header -->
      <header id="modal-header" class="px-6 pt-6">
        <!-- <div class="modal-close-button flex justify-end">
          <button
            type="button"
            class="w-10 p-2 bg-gray-300 rounded-full"
            @click="closeModal"
          >
            x
          </button>
        </div> -->
        <div
          class="modal-header-content flex flex-wrap justify-between items-center"
        >
          <slot name="header"
            ><span class="modal-header-text !text-lg"
              >Rapport exporteren</span
            ></slot
          >
          <button
            type="button"
            class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg"
            @click="closeModal"
          >
            <img
              src="@/assets/icons/close-icon-white.png"
              class="toggle-icon-calendar w-full p-1.5"
              alt="Sluit modal"
            />
          </button>
        </div>
      </header>
      <section id="modal-body" class="px-6 py-6">

        <div v-if="this.$auth.user.subscription.type == 2" class="rapport-input">
        <label class="modal-body-label" for="grid-last-name">
            ORT groep
        </label>
          <template v-if="groups.length > 0">
              <multiselect
                  id="availibility_multiselect"
                  :options="groups"
                  v-model="value"
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer titel"
                  selectedLabel="Geselecteerd"
                  :value="value"
                  label="group_name" 
                  :allow-empty="false"
                  :disabled="!canEdit"
              ></multiselect>
          </template>
          <template v-else>
              <multiselect
                  id="availibility_multiselect"
                  :options=[]
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer titel"
                  selectedLabel="Geselecteerd"
                  :value='""'
                  label="group_name" 
                  :allow-empty="false"
                  disabled
              ></multiselect>
          </template>
        </div>
        <div class="rapport-input">
        <label class="modal-body-label" for="grid-last-name">
            Relaties
        </label>
          <template v-if="relationOptions.length > 0">
              <multiselect
                  id="availibility_multiselect"
                  :options="relationOptions"
                  v-model="relationValue"
                  :close-on-select="false"
                  :multiple="true"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer titel"
                  selectedLabel="Geselecteerd"
                  :value="relationValue"
                  label="name"
                  track-by="relation_id"
                  :allow-empty="true"
                  :disabled="!canEdit"
              ></multiselect>
          </template>
          <template v-else>
              <multiselect
                  id="availibility_multiselect"
                  :options=[]
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer titel"
                  selectedLabel="Geselecteerd"
                  :value='""'
                  label="name" 
                  :allow-empty="false"
                  disabled
              ></multiselect>
          </template>
        </div>
        <div class="rapport-input">
          <label class="modal-body-label" for="grid-first-name">
              Start datum
          </label>
          <input v-model="startDate" class="modal-input-field" id="grid-first-name" type="date" placeholder="startDate">
        </div>
        <div class="rapport-input">
        <label class="modal-body-label" for="grid-first-name">
            Eind datum
        </label>
        <input v-model="endDate" class="modal-input-field" id="grid-first-name" type="date" placeholder="startDate">
        </div>
        <template v-if="canEdit">
            <button v-if="groups.length > 0" @click="exportRapport()" class="red-button">Rapport exporteren</button>  
            <button v-else @click="exportRapport()" disabled class="red-button">Rapport exporteren</button>  
        </template>
      </section>
    </div>
    </div>
  </template>
  
  <script>
  // import Modal from "./components/Modal.vue";
  import Multiselect from 'vue-multiselect'
  import Vue from "vue";
  Vue.component('multiselect', Multiselect);
  
  export default {
    name: "modal",
    components: {
      Multiselect
    },
    props: {
      serviceData: Array
    },
    data() {
      return {
        canEdit: true,
        isCreate: false,
        isUpdate: false,
        isDelete: false,
        isModalVisible: false,
        startDate: '',
        groups: [],
        options: [],
        relationOptions: [],
        relationValue: [],
        value: [],
        endDate: '',
        labels: '',
        list: [],
        resources: '',
        companyId: this.$auth.user.companyId,
      };
    },
    methods: {
      showModal() {
        this.isModalVisible = true;
        // console.log(this.serviceData);
      },
      closeModal() {
        this.isModalVisible = false;
      },
      close() {
        this.$emit("close");
      },
      exportRapport(){
          if(this.startDate && this.endDate){
            var url = "https://api.eezywork.nl/v1/pm/ort/export-raport.php?start="+this.startDate+"&end="+this.endDate+"&companyId="+this.companyId;
            var ids = [];
            this.relationValue.forEach(i => {ids.push(i.relation_id)})
            if(ids.length > 0){
              // var ids2 = "'"+ids.join(", ")+"'";
              url += '&relations='+ids;
              console.log(ids)
            }
            if(this.value.length !== 0){
              url += "&groupId="+this.value.group_id;
              this.$notify({
                type: 'succes',
                title: `ophalen met ORT groep`,
                // text: `Planning is opnieuw opgehaald`
              });
            }
            window.location.href = url; 
            this.$notify({
              type: 'succes',
              title: `Opgehaald`,
              // text: `Planning is opnieuw opgehaald`
                });
            } else {
              this.$notify({
                type: 'warn',
                title: `Datums niet ingevuld`,
                // text: `Planning is opnieuw opgehaald`
              });

          }
          console.log(url)
        }
    },
  };
  </script>
  <style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
  
  <style scoped>
    .red-button {
        @apply bg-darkred px-6 py-3 mt-4 text-white rounded-md drop-shadow-md font-poppins;
    }
    .modal-body-label{
        @apply text-base font-normal;
    }
    .rapport-input{
        @apply w-full md:w-1/2 mb-4 md:mb-0;
    }
    .rapport-input input{
        -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
    }
    #modal{
      margin-top: 70px;
      max-height: 775px!important;
      overflow-y: scroll;
    }
    /* CUSTOM CHECKBOX */
  .container {
      @apply block relative cursor-pointer select-none;
      padding-left: 25px;
      line-height: 17px;
      margin-bottom: 3px;
      font-size: 14px;
  }
  /* Hide the browser's default checkbox */
  .container input {
      @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }
  /* Create a custom checkbox */
  .checkmark {
      @apply absolute top-0 left-0 h-4 w-4 bg-background;
      border: 2px solid #9D1A16;
      border-radius: 5px;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      @apply bg-lightgray;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    @apply bg-darkred;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    @apply absolute hidden;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    @apply block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
      @apply left-1 top-0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  </style>