<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    @click.self="closeModal"
  >
    <div
      id="modal"
      class="z-50 bg-background overflow-visible flex flex-col justify-between w-4/6 md:w-4/6 rounded-lg"
      :props="serviceData"
    >
      <!-- Create Modal -->
      <div v-if="isCreate">
        <!-- Modal Header -->
        <header id="modal-header" 
        class="border-b-4 border-background bg-background sticky top-0 lg:px-6 lg:pt-6 p-3"
        >
          <!-- <div class="modal-close-button flex justify-end">
                    <button type="button" class="w-10 p-2 bg-gray-300 rounded-full" @click="closeModal">x</button>
                </div> -->
          <div class="modal-header-content flex justify-between items-center">
            <slot name="header"
              ><span class="modal-header-text !text-lg"
                >Uren registreren</span
              ></slot
            >
            <button
              type="button"
              class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg"
              @click="closeModal"
            >
              <img
                src="@/assets/icons/close-icon-white.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Sluit modal"
              />
            </button>
          </div>
        </header>
        <!-- Modal Body -->
        <section id="modal-body" class="px-6">
          <slot name="body">
            <form class="w-full">
              <div>
                <div class="w-full">
                  <label class="modal-body-label" for="service-title">
                    Titel
                  </label>
                  <input
                    @change="changeInput()"
                    v-model="serviceTitle"
                    class="modal-input-field"
                    id="service-title"
                    type="text"
                    :placeholder="serviceTitle"
                  />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
                  <div class="w-full">
                    <label class="modal-body-label" for="resource-input">
                      Naam resource
                    </label>
                    <input
                      disabled
                      v-model="resource"
                      class="modal-input-field"
                      id="resource-input"
                      type="text"
                      :placeholder="resource"
                    />
                  </div>
                  <div class="w-full">
                    <label class="modal-body-label" for="grid-last-name">
                      Datum
                    </label>
                    <input
                      disabled
                      v-model="startDate"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="date"
                      :placeholder="startDate"
                    />
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
                <div>
                  <div class="flex flex-wrap -mx-3 mb-4">
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Start tijd
                      </label>
                      <input
                        @change="changeInput()"
                        v-model="startTime"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="text"
                        onfocus="(this.type='time')"
                        onblur="if(this.value==''){this.type='text'}"
                        :placeholder="serviceStartTime"
                      />
                    </div>
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Eind tijd
                      </label>
                      <input
                        @change="changeInput()"
                        v-model="endTime"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="text"
                        onfocus="(this.type='time')"
                        onblur="if(this.value==''){this.type='text'}"
                        :placeholder="serviceEndTime"
                      />
                    </div>
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Pauze
                      </label>
                      <input
                        @change="changeInput()"
                        v-model="pause"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="number"
                        :placeholder="servicePause"
                      />
                    </div>
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Totaal
                      </label>
                      <input
                        disabled
                        v-model="total"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="text"
                        :placeholder="total"
                      />
                    </div>
                  </div>
                </div>
                <div>
                  <div class="flex flex-wrap -mx-3 mb-0">
                    <div class="w-full px-3 mb-4 md:mb-0">
                      <label class="modal-body-label" for="grid-last-name">
                        Beschrijving
                      </label>
                      <textarea
                        @change="changeInput()"
                        v-model="comment"
                        placeholder="Beschrijving"
                      ></textarea>
                    </div>
                  </div>
                  <div class="w-full">
                    <label class="modal-body-label" for="grid-last-name">
                      Kilometer
                    </label>
                    <input
                      @change="changeInput()"
                      v-model="kilometer"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="number"
                      placeholder="Kilometer"
                    />
                  </div>
                </div>
              </div>
            </form>
          </slot>
        </section>

        <!-- Modal Footer -->
        <footer id="modal-footer" class="px-6 pb-6 overflow-auto">
            <button @click="create(false)" class="modal-button-green ml-2">
              Toevoegen
            </button>
            <button @click="create(true)" class="modal-button-green ml-2">
              Toevoegen en goedkeuren
            </button>
        </footer>
      </div>
      <!-- /// Update Modal -->
      <div v-if="isUpdate">
        <!-- Modal Header -->
        <header id="modal-header" class="px-6 pt-6">
          <div class="modal-close-button flex justify-end">
            <!-- <button
              type="button"
              class="w-10 p-2 bg-gray-300 rounded-full"
              @click="closeModal"
            >
              x
            </button> -->
          </div>
          <div class="modal-header-content flex justify-between items-center">
            <slot name="header"
              ><span class="modal-header-text !text-lg"
                >Uren bewerken</span
              ></slot
            >
            <button
              type="button"
              class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg"
              @click="closeModal"
            >
              <img
                src="@/assets/icons/close-icon-white.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Sluit modal"
              />
            </button>
          </div>
        </header>
        <!-- Modal Body -->
        <section id="modal-body" class="px-6 pb-6">
          <slot name="body">
            <!-- form for new services -->
            <form class="w-full">
              <div>
                <div class="w-full">
                  <label class="modal-body-label" for="grid-last-name">
                    Titel
                  </label>
                  <input
                    @change="changeInput()"
                    v-model="serviceTitle"
                    class="modal-input-field"
                    id="grid-last-name"
                    type="text"
                    :placeholder="serviceTitle"
                  />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
                  <div class="w-full">
                    <label class="modal-body-label" for="grid-last-name">
                      Naam resource
                    </label>
                    <input
                      @change="changeInput()"
                      disabled
                      v-model="resource"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="text"
                      :placeholder="resource"
                    />
                  </div>
                  <div class="w-full">
                    <label class="modal-body-label" for="grid-last-name">
                      Datum
                    </label>
                    <input
                      @change="changeInput()"
                      disabled
                      v-model="startDate"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="date"
                      :placeholder="startDate"
                    />
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
                <div>
                  <div class="flex flex-wrap -mx-3 mb-4">
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Start tijd
                      </label>
                      <input
                        @change="changeInput()"
                        v-model="startTime"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="time"
                        :placeholder="serviceStartTime"
                      />
                    </div>
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Eind tijd
                      </label>
                      <input
                        @change="changeInput()"
                        v-model="endTime"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="time"
                        :placeholder="serviceEndTime"
                      />
                    </div>
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Pauze
                      </label>
                      <input
                        @change="changeInput()"
                        v-model="pause"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="number"
                        :placeholder="servicePause"
                      />
                    </div>
                    <div class="w-full px-3">
                      <label class="modal-body-label" for="grid-last-name">
                        Totaal
                      </label>
                      <input
                        @change="changeInput()"
                        disabled
                        v-model="total"
                        class="modal-input-field"
                        id="grid-last-name"
                        type="text"
                        :placeholder="total"
                      />
                    </div>
                  </div>
                </div>
                <div>
                  <div class="flex flex-wrap -mx-3 mb-0">
                    <div class="w-full px-3 mb-4 md:mb-0">
                      <label class="modal-body-label" for="grid-last-name"
                        >Beschrijving</label
                      >
                      <textarea
                        @change="changeInput()"
                        v-model="comment"
                        placeholder="Beschrijving"
                      ></textarea>
                    </div>
                  </div>
                  <div class="w-full">
                    <label class="modal-body-label" for="grid-last-name">
                      Kilometer
                    </label>
                    <input
                      @change="changeInput()"
                      v-model="kilometer"
                      class="modal-input-field"
                      id="grid-last-name"
                      type="number"
                      placeholder="Kilometer"
                    />
                  </div>
                </div>
              </div>
            </form>
          </slot>
        </section>
        <!-- Modal Footer -->
        <footer id="modal-footer" class="px-6 pb-6 overflow-auto">
            <template v-if="!inputChanged">
              <button @click="update()" class="modal-button-green ml-2">
                Bijwerken
              </button>
              <button
                v-if="shiftStatus == 5"
                @click="updateStatus(6)"
                class="modal-button-green ml-2"
              >
                Goedkeuren
              </button>
            </template>
            <template v-else>
              <button @click="update()" class="modal-button-green ml-2">
                Bijwerken
              </button>
              <button
                v-if="shiftStatus == 5"
                @click="updateStatus(6)"
                class="modal-button-green ml-2"
              >
                Bijwerken en goedkeuren
              </button>
            </template>
        </footer>
      </div>
      <!-- /// if done -->
      <div v-if="isDone">
        <!-- Modal Header -->
        <header id="modal-header" class="px-6 pt-6">
          <div class="modal-close-button flex justify-end">
            <button
              type="button"
              class="w-10 p-2 bg-gray-300 rounded-full"
              @click="closeModal"
            >
              x
            </button>
          </div>
          <div class="modal-header-content flex justify-between items-center">
            <slot name="header"
              ><span class="modal-header-text">Goedgekeurde uren</span></slot
            >
            <div class="modal-header-content-buttons"></div>
          </div>
        </header>
        <!-- Modal Body -->
        <section id="modal-body" class="px-6">
          <slot name="body">
            <!-- form for new services -->
            <form class="w-full">
              <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full px-3 mb-4 md:mb-0">
                  <label class="modal-body-label" for="grid-last-name">
                    Beschrijving
                  </label>
                  <textarea
                    v-model="comment"
                    disabled
                    placeholder="Beschrijving"
                  ></textarea>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full px-3">
                  <label class="modal-body-label" for="grid-last-name">
                    Start tijd
                  </label>
                  <input
                    v-model="startTime"
                    disabled
                    class="modal-input-field"
                    id="grid-last-name"
                    type="time"
                    :placeholder="serviceStartTime"
                  />
                </div>
                <div class="w-full px-3">
                  <label class="modal-body-label" for="grid-last-name">
                    Eind tijd
                  </label>
                  <input
                    v-model="endTime"
                    disabled
                    class="modal-input-field"
                    id="grid-last-name"
                    type="time"
                    :placeholder="serviceEndTime"
                  />
                </div>
                <div class="w-full px-3">
                  <label class="modal-body-label" for="grid-last-name">
                    Pauze
                  </label>
                  <input
                    v-model="pause"
                    disabled
                    class="modal-input-field"
                    id="grid-last-name"
                    type="number"
                    :placeholder="servicePause"
                  />
                </div>
                <div class="w-full">
                  <label class="modal-body-label" for="grid-last-name">
                    Kilometer
                  </label>
                  <input
                    v-model="kilometer"
                    disabled
                    class="modal-input-field"
                    id="grid-last-name"
                    type="number"
                    placeholder="Kilometer"
                  />
                </div>
              </div>
            </form>
          </slot>
        </section>
        <!-- Modal Footer -->
        <footer id="modal-footer" class="px-6 pb-6 overflow-auto">
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import Multiselect from "vue-multiselect";
import Vue from "vue";
import { emit } from "process";
Vue.component("multiselect", Multiselect);

export default {
  name: "modal",
  components: {
    Multiselect,
  },
  props: {
    serviceData: Array,
  },
  data() {
    return {
      inputChanged: false,
      canEdit: false,
      isCreate: false,
      isUpdate: false,
      isDone: false,
      isModalVisible: false,
      modalData: "",
      shiftStatus: "",
      serviceStartTime: "",
      serviceTitle: "",
      serviceEndTime: "",
      difference: "",
      fullname: "",
      servicePause: "",
      timesheetId: "",
      startDate: "",
      total: "",
      startTime: "",
      resource: "",
      endTime: "",
      kilometer: "",
      comment: "",
      pause: "",
      shiftId: "",
      companyId: this.$auth.user.companyId,
      buttonDisabled: false,
    };
  },
  methods: {
    disableButtons() {
      this.buttonDisabled = true;
    },
    enableButtons() {
      this.buttonDisabled = false;
    },
    showModal() {
      this.inputChanged = false;
      this.isModalVisible = true;
      //   // console.log(this.serviceData);
    },
    closeModal() {
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
    calculateDifference(startTime, endTime, pauseTime) {
      var start = startTime.split(":");
      var end = endTime.split(":");
      var startDate = new Date(0, 0, 0, start[0], start[1], 0);
      var endDate = new Date(0, 0, 0, end[0], end[1], 0);
      var diff = endDate.getTime() - startDate.getTime();
      var allMinutes = Math.floor(diff / 1000 / 60 - pauseTime);
      diff = allMinutes * 1000 * 60;
      var hours = Math.floor(diff / 1000 / 60 / 60);
      diff -= hours * 1000 * 60 * 60;
      var minutes = Math.floor(diff / 1000 / 60);
      // If using time pickers with 24 hours format, add the below line get exact hours
      if (hours < 0) {
        hours = hours + 24;
      }
      return (
        (hours <= 9 ? "0" : "") +
        hours +
        ":" +
        (minutes <= 9 ? "0" : "") +
        minutes
      );
    },
    create(i) {
      this.disableButtons();
      if (this.startTime) {
        var startTime = this.startTime;
      } else {
        if (this.serviceStartTime) {
          var startTime = this.serviceStartTime;
        }
      }
      if (this.endTime) {
        var endTime = this.endTime;
      } else {
        if (this.serviceEndTime) {
          var endTime = this.serviceEndTime;
        }
      }
      if (this.pause) {
        var pause = this.pause;
      } else {
        if (this.servicePause) {
          var pause = this.servicePause;
        }
      }
      if (startTime && pause && endTime) {
        var difference = this.calculateDifference(startTime, endTime, pause);
        const axios = require("axios");
        var url = "https://api.eezywork.nl/v1/pm/timesheet/create.php";
        axios
          .post(url, {
            shiftId: this.shiftId,
            startTime: startTime,
            endTime: endTime,
            difference: difference,
            kilometer: this.kilometer,
            comment: this.comment,
            pause: pause,
          })
          .then((response) => {
            this.$notify({
              type: "succes",
              title: `Aangemaakt!`,
              // text: `Planning is opnieuw opgehaald`
            });
            if (i) {
              this.updateStatus(6);
              this.$emit("loadGreen", response.data);
            } else {
              this.$emit("loadBlue", response.data);
              this.closeModal();
            }
            // this.closeModal();
          })
          .catch((error) => {
            // // console.log(error.response)
          });
      } else {
        this.$notify({
          type: "succes",
          title: `Vul gegevens in!`,
          // text: `Planning is opnieuw opgehaald`
        });
      }
      this.enableButtons();
    },
    changeInput() {
      this.inputChanged = true;
    },
    update() {
      this.disableButtons();
      if (this.startTime && (this.pause || this.pause == 0) && this.endTime) {
        var difference = this.calculateDifference(
          this.startTime,
          this.endTime,
          this.pause
        );
        const axios = require("axios");
        var url = "https://api.eezywork.nl/v1/pm/timesheet/update.php";
        axios
          .post(url, {
            timesheetId: this.timesheetId,
            startTime: this.startTime,
            endTime: this.endTime,
            difference: difference,
            kilometer: this.kilometer,
            comment: this.comment,
            pause: this.pause,
          })
          .then((response) => {
            this.$notify({
              type: "succes",
              title: `Bijgewerkt!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.$emit(
              "refreshEvents",
              this.timesheetId,
            );
            setTimeout(() => {
              // this.getShifts();
            }, 300);
            // this.closeModal();
          })
          .catch((error) => {
            // // console.log(error.response)
          });
        this.enableButtons();
      }
    },
    updateStatus(statusId) {
      this.update();
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/shift/update-status.php";
      axios
        .post(url, {
          shiftId: this.shiftId,
          statusId: statusId,
        })
        .then(
          (response) => {
            if (statusId == 6) {
              var url =
                "https://api.eezywork.nl/v1/pm/timesheet/invoice/create.php";
              axios
                .post(url, {
                  timesheetId: this.timesheetId,
                })
                .then(
                  (response) => {
                    this.$notify({
                      type: "succes",
                      title: `Bijgewerkt!`,
                      // text: `Planning is opnieuw opgehaald`
                    });
                    this.$emit("loadGreen");
                  },
                  (error) => {
                    // // console.log(error);
                  }
                );
            }
            this.closeModal();
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    archive() {
      // const axios = require('axios');
      // var url = "https://api.eezywork.nl/v1/pm/label/delete.php";
      // axios.post(url, {
      //     labelId: this.labelId
      // })
      //     .then(response => {
      //     // console.log(response)
      //     window.location.reload();
      //     })
      //     .catch(error => {
      //     // console.log(error.response)
      // });
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
#modal {
  @apply font-poppins overflow-hidden ml-[64px] mt-[64px] xl:mt-[64px];
  /* margin-top: 70px;
  max-height: 775px !important;
  overflow-y: scroll; */
}
/* CUSTOM CHECKBOX */
.container {
  @apply block relative cursor-pointer select-none;
  padding-left: 25px;
  line-height: 17px;
  margin-bottom: 3px;
  font-size: 14px;
}
/* Hide the browser's default checkbox */
.container input {
  @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkmark {
  @apply absolute top-0 left-0 h-4 w-4 bg-background;
  border: 2px solid #9d1a16;
  border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
textarea {
  resize: none;
  height: 205px;
}
</style>
