<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-30 fixed inset-0 bg-opacity-50 bg-black flex justify-center items-center"
    @mousedown.prevent="closeModal"
  >
    <div
      id="modal"
      class="z-50 bg-background flex flex-col justify-between w-11/12 lg:w-5/6 rounded-lg"
      :props="serviceData"
      @mousedown.stop
    >
      <archive-modal
        @update="archiveService(serviceData.profile_id, serviceData)"
        @close="closeModal"
        ref="onRepeatArchiveServiceModal"
        @archive="archive"
        @detached="detach"
        @attach="attach"
        @future="updateOnlyFuture"
        :serviceData="serviceData"
      ></archive-modal>
      <archive-single-modal
        @update="archiveService(serviceData.profile_id, serviceData)"
        @close="closeModal"
        ref="onArchiveServiceModal"
        :serviceData="serviceData"
      ></archive-single-modal>
      <service-modal
        @update="updateService"
        @close="closeModal"
        ref="onRepeatServiceModal"
        @detached="detach"
        @attach="attach"
        @future="updateOnlyFuture"
        :serviceData="serviceData"
      ></service-modal>
      <service-document-modal
        @reload="getDocuments"
        @update="archiveService(serviceData.profile_id, serviceData)"
        @close="closeModal"
        :serviceData="serviceData"
        ref="documentModal"
      ></service-document-modal>
      <message-modal ref="messageModal" @confirm="copyService"></message-modal>
      <message-detach-modal
        ref="detachCheckModal"
        @confirm="detachParent"
      ></message-detach-modal>
      <message-document-modal
        ref="messageDocModal"
        @confirm="deleteDocument"
      ></message-document-modal>
      <message-warning-modal
        ref="messageWarnModal"
        @confirm="forceCloseModal"
      ></message-warning-modal>
      <!-- Modal Header -->
      <header
        id="modal-header"
        class="border-b-4 border-background bg-background sticky top-0 lg:px-6 lg:pt-6 p-3"
      >
        <div
          class="modal-header-content flex justify-between items-center flex-wrap"
        >
          <slot name="header"
            ><span class="modal-header-text !text-lg mr-2"
              >{{ title }} | {{ formatDate(getServiceDate) }}
              <img
                v-popover:information.right
                src="@/assets/icons/information.svg"
                style="fill: red"
                class="w-5 inline"
                alt="Planner wijzig weergave" /></span
          ></slot>
          <popover
            transition="show-from-bottom"
            :pointer="false"
            event="hover"
            name="information"
          >
            <p><strong>ID=</strong>{{ serviceData.id }}</p>
          </popover>
          <div class="modal-header-content-buttons">
            <button
              v-if="canEdit && typeId == 1"
              type="button"
              class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
              @click="requestCopyService"
            >
              <img
                src="@/assets/icons/copy-service.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Planner wijzig weergave"
              />
            </button>
            <button
              v-if="canEdit && typeId == 1"
              type="button"
              class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
              @click="openDocumentModal"
            >
              <img
                src="@/assets/icons/document-add-icon.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Planner wijzig weergave"
              />
            </button>
            <button
              type="button"
              class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg"
              @click="closeModal"
            >
              <img
                src="@/assets/icons/close-icon-white.png"
                class="toggle-icon-calendar w-full p-1.5"
                alt="Sluit modal"
              />
            </button>
          </div>
        </div>
        <div
          class="modal-header-content flex justify-between items-center flex-wrap"
        >
          <slot>
            <span v-if="parentId" class="modal-header-text !text-sm mr-2"
              >Terugkerende dienst</span
            >
            <span
              v-else-if="typeId == 2"
              class="modal-header-text !text-sm mr-2"
              >Beschikbaarheid</span
            >
            <span v-else class="modal-header-text !text-sm mr-2"
              >Individuele dienst</span
            >
          </slot>
        </div>
      </header>
      <!-- Modal Body -->
      <div v-if="typeId != 2" id="body" class="w-full mt-3 lg:mt-6">
        <div>
          <div
            v-if="GegevensVisible == true && DocumentVisible == false"
            class="tabblad ml-3 lg:ml-6"
          >
            <button
              class="tabblad-item tabblad-active target"
              @click="ShowGegevens"
            >
              Gegevens
            </button>
            <button
              v-if="typeId == 1"
              class="tabblad-item target"
              @click="ShowDocs"
            >
              Documenten
            </button>
          </div>
          <div
            v-if="GegevensVisible == false && DocumentVisible == true"
            class="tabblad ml-3 lg:ml-6"
          >
            <button class="tabblad-item target" @click="ShowGegevens">
              Gegevens
            </button>
            <button
              v-if="typeId == 1"
              class="tabblad-item tabblad-active target"
              @click="ShowDocs"
            >
              Documenten
            </button>
          </div>
          <template v-if="GegevensVisible == true && DocumentVisible == false">
            <section
              id="modal-body"
              class="content-left-col p-3 lg:px-6 lg:py-6 overflow-scroll h-[510px]"
            >
              <slot name="body">
                <form class="w-full" v-if="typeId == 1 || typeId == 3">
                  <div class="w-full">
                    <!-- left part of the modal field -->
                    <!--*Padding/width changes*-->
                    <div id="left" class="pr-0">
                      <!-- first row -->
                      <div id="row-1">
                        <div>
                          <label class="modal-body-label" for="grid-first-name">
                            Dienst titel
                          </label>
                          <input
                            @focus="somethingChanged = true"
                            v-model="title"
                            class="modal-input-field"
                            id="grid-title"
                            type="text"
                            placeholder="Titel"
                          />
                        </div>
                      </div>
                      <!-- second row -->
                      <div id="row-2" class="grid grid-cols-2 gap-6">
                        <div>
                          <div v-if="relationOptions.length > 0" class="">
                            <label
                              class="modal-body-label"
                              for="grid-last-name"
                            >
                              Opdrachtgever
                            </label>
                            <multiselect
                              @select="somethingChanged = true"
                              id="availibility_multiselect"
                              :options="relationOptions"
                              v-model="relationValue"
                              @input="getContacts()"
                              :close-on-select="true"
                              select-label="Klik om te selecteren"
                              deselect-label="Klik om te verwijderen"
                              placeholder="Selecteer titel"
                              selectedLabel="Geselecteerd"
                              :value="value"
                              label="name"
                              :allow-empty="true"
                            ></multiselect>
                          </div>
                          <div v-else class="">
                            <label
                              class="modal-body-label"
                              for="grid-last-name"
                            >
                              Opdrachtgever
                            </label>
                            <multiselect
                              id="availibility_multiselect"
                              :options="[]"
                              :close-on-select="true"
                              select-label="Klik om te selecteren"
                              deselect-label="Klik om te verwijderen"
                              placeholder="Geen relaties"
                              selectedLabel="Geselecteerd"
                              :value="[]"
                              label="name"
                              :allow-empty="true"
                              :disabled="true"
                            ></multiselect>
                          </div>
                        </div>
                        <div
                          v-if="
                            relationOptions.length > 0 &&
                            contactOptions.length > 0
                          "
                          class=""
                        >
                          <label class="modal-body-label" for="grid-last-name">
                            Contactpersoon
                          </label>
                          <multiselect
                            @select="somethingChanged = true"
                            id="contact_multiselect"
                            :options="contactOptions"
                            v-model="contactValue"
                            @change="getContacts()"
                            :close-on-select="true"
                            select-label="Klik om te selecteren"
                            deselect-label="Klik om te verwijderen"
                            placeholder="Selecteer contact"
                            selectedLabel="Geselecteerd"
                            :value="value"
                            label="name"
                            :allow-empty="true"
                          ></multiselect>
                        </div>
                        <div v-else class="">
                          <label class="modal-body-label" for="grid-last-name">
                            Contactpersoon
                          </label>
                          <multiselect
                            id="contact_multiselect"
                            :options="[]"
                            :close-on-select="true"
                            select-label="Klik om te selecteren"
                            deselect-label="Klik om te verwijderen"
                            placeholder="Geen contacten"
                            selectedLabel="Geselecteerd"
                            :value="[]"
                            label="name"
                            :allow-empty="true"
                            :disabled="true"
                          ></multiselect>
                        </div>
                      </div>
                      <!-- <div id="row-2" class="w-full flex gap-2">
                        <div class="w-full">
                          <label class="modal-body-label" for="grid-last-name">
                            Locatie
                          </label>
                          <input
                            @focus="somethingChanged = true"
                            v-model="location"
                            class="modal-input-field"
                            id="update-grid-location"
                            type="text"
                            placeholder="Locatie"
                          />
                        </div>
                        <div class="w-fit">
                          <label
                            class="modal-body-label"
                            for="grid-last-name"
                          ></label>
                          <button
                            type="button"
                            style="margin-top: 1.8rem"
                            class="red-button !p-3"
                            @click="searchAddress()"
                          >
                            <img
                              src="@/assets/icons/search-icon-white.png"
                              class="h-4 min-w-[1rem]"
                              alt="Planner wijzig weergave"
                            />
                          </button>
                        </div>
                      </div> -->
                      <!-- second row -->
                      <div id="row-2">
                        <label class="modal-body-label" for="grid-last-name">
                          Locatie
                        </label>
                        <input
                          @focus="somethingChanged = true"
                          v-model="location"
                          class="modal-input-field"
                          id="update-grid-location"
                          type="text"
                          placeholder="Locatie"
                          v-on:keydown="searchAddress()"
                        />
                      </div>
                      <!-- fourth row -->
                      <div id="row-4" class="w-full flex flex-wrap">
                        <div class="w-1/2 md:w-1/4 pr-3">
                          <label class="modal-body-label" for="grid-first-name">
                            Start datum
                          </label>
                          <input
                            @focus="somethingChanged = true"
                            v-model="startDate"
                            class="modal-input-field"
                            id="grid-first-name"
                            type="date"
                            placeholder="startDate"
                          />
                        </div>
                        <div class="w-1/2 md:w-1/4 pl-3 md:px-3">
                          <label class="modal-body-label" for="grid-last-name">
                            Start tijd
                          </label>
                          <input
                            @focus="somethingChanged = true"
                            v-model="startTime"
                            class="modal-input-field"
                            id="grid-last-name"
                            type="time"
                            placeholder="startTime"
                          />
                        </div>
                        <div class="w-1/2 md:w-1/4 pr-3 md:px-3">
                          <label class="modal-body-label" for="grid-last-name">
                            Eind tijd
                          </label>
                          <input
                            @focus="somethingChanged = true"
                            v-model="endTime"
                            class="modal-input-field"
                            id="grid-last-name"
                            type="time"
                            placeholder="endTime"
                          />
                        </div>
                        <div class="w-1/2 md:w-1/4 pl-3">
                          <label class="modal-body-label" for="grid-zip">
                            Pauze
                          </label>
                          <input
                            @focus="somethingChanged = true"
                            v-model="pause"
                            class="modal-input-field"
                            id="grid-first-name"
                            type="number"
                            placeholder="pauze"
                          />
                        </div>
                      </div>
                      <!-- seventh row -->
                      <div id="row-2">
                        <label class="modal-body-label" for="grid-last-name">
                          Beschrijving
                        </label>
                        <textarea
                          @focus="somethingChanged = true"
                          v-model="comment"
                          placeholder="Beschrijving"
                          class="h-40 !text-sm"
                        ></textarea>
                      </div>
                      <!-- sixth row -->
                      <div id="row-6" class="w-full flex flex-wrap">
                        <div v-if="tagOptions.length > 0" class="w-full">
                          <label class="modal-body-label" for="grid-last-name">
                            Kenmerken
                          </label>
                          <multiselect
                            @focus="somethingChanged = true"
                            @change="somethingChanged = true"
                            id="availibility_multiselect"
                            :options="tagOptions"
                            v-model="tagValue"
                            :close-on-select="false"
                            select-label="Selecteer"
                            deselect-label="Verwijder"
                            placeholder="Selecteer kenmerk"
                            selectedLabel="Geselecteerd"
                            track-by="label_id"
                            :value="value"
                            :multiple="true"
                            label="label_name"
                            :allow-empty="true"
                          ></multiselect>
                        </div>
                        <div v-else class="w-full px-3 mb-4 md:w-1/2">
                          <label class="modal-body-label" for="grid-last-name">
                            Kenmerken
                          </label>
                          <multiselect
                            @focus="somethingChanged = true"
                            id="availibility_multiselect"
                            :options="[]"
                            :close-on-select="true"
                            select-label="Klik om te selecteren"
                            deselect-label="Klik om te verwijderen"
                            placeholder="Geen kenmerk"
                            selectedLabel="Geselecteerd"
                            :value="[]"
                            label="name"
                            :allow-empty="true"
                            :disabled="true"
                          ></multiselect>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </slot>
            </section>
          </template>
          <template
            v-if="GegevensVisible === false && DocumentVisible === true"
          >
            <template>
              <div class="documenten-container p-3 lg:p-6">
                <slot name="document"
                  ><span class="modal-header-text !text-sm"
                    >Documenten</span
                  ></slot
                >
                <div class="flex -mx-3 mb-4 mt-10">
                  <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                    <label class="modal-body-label" for="grid-first-name">
                      Document
                    </label>
                  </div>
                  <div class="w-full md:w-1/4 px-3">
                    <label class="modal-body-label" for="grid-last-name">
                      Verval datum
                    </label>
                  </div>
                  <div class="w-full md:w-1/4 px-3">
                    <label class="modal-body-label" for="grid-last-name">
                      type
                    </label>
                  </div>
                  <div class="w-full md:w-1/4 px-3">
                    <label class="modal-body-label" for="grid-last-name">
                      Acties
                    </label>
                  </div>
                </div>
                <template v-for="document in documents">
                  <div
                    :key="document.document_id"
                    class="document-row flex items-center -mx-3"
                  >
                    <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                      <label class="modal-body-text" for="grid-first-name">
                        {{ document.document_name }}
                      </label>
                    </div>
                    <div class="w-full md:w-1/4 px-3">
                      <label class="modal-body-text" for="grid-last-name">
                        {{ document.expiration_date }}
                      </label>
                    </div>
                    <div class="w-full md:w-1/4 px-3">
                      <label class="modal-body-text" for="grid-last-name">
                        {{ document.type_name }}
                      </label>
                    </div>
                    <div class="w-full md:w-1/4 px-3">
                      <label class="modal-body-text" for="grid-last-name">
                        <button
                          type="button"
                          class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
                          v-if="document.upload && document.document_id"
                        >
                          <a :href="document.upload" target="_blank">
                            <img
                              src="@/assets/icons/bekijken-icon.png"
                              class="toggle-icon-calendar w-full p-1.5"
                              alt="Planner wijzig weergave"
                            />
                          </a>
                        </button>
                        <button
                          type="button"
                          class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg"
                          v-if="document.upload && document.document_id"
                        >
                          <a @click="deleteDocumentCheck(document.document_id)">
                            <img
                              src="@/assets/icons/trash-icon.png"
                              class="toggle-icon-calendar w-full p-1.5"
                              alt="Planner wijzig weergave"
                            />
                          </a>
                        </button>
                      </label>
                    </div>
                  </div>
                </template>
              </div>
            </template>
          </template>
        </div>
        <div v-if="typeId == 1 || typeId == 3">
          <!-- right half of modal -->
          <!--*Padding/width changes*-->
          <div class="tabblad ml-3 mr-6">
            <button class="tabblad-item tabblad-active target">Personen</button>
            <div v-if="dates.length > 0" class="float-right mb-2">
              <button
                @click="prevDate"
                :disabled="currentIndex === 0"
                type="button"
                class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg dateButton"
              >
                <span class="toggle-icon-calendar w-full p-1.5 text-white"
                  >&lt;</span
                >
              </button>
              <button
                type="button"
                class="w-10 p-1 border-2 border-darkred bg-darkred transition rounded-lg dateButton"
                @click="nextDate"
                :disabled="currentIndex === dates.length - 1"
              >
                <span class="toggle-icon-calendar w-full p-1.5 text-white"
                  >></span
                >
              </button>
            </div>
          </div>
          <!-- first row right -->
          <div id="row-1" class="flex px-3 lg:px-6 pt-3 lg:pt-6">
            <div class="w-full mb-4 md:mb-0 mr-5">
              <label class="modal-body-label" for="grid-last-name">
                Zoeken:
              </label>
              <template v-if="shiftOptions.length < hrAmount || !shiftOptions">
                <multiselect
                  @focus="somethingChanged = true"
                  @change="somethingChanged = true"
                  :disabled="!canEdit"
                  id="availibility_multiselect"
                  :options="options"
                  v-model="value"
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer persoon/personen"
                  selectedLabel="Geselecteerd"
                  :value="value"
                  label="title"
                  track-by="profile_id"
                  :allow-empty="true"
                  :max="parseInt(hrAmount)"
                  max-elements="Maximaal aantal personen bereikt."
                  :hide-selected="true"
                  @input="updateShifts"
                  @remove="archiveProfile"
                >
                  <template slot="tag">{{ "" }}</template>
                </multiselect>
              </template>
              <template v-else>
                <multiselect
                  @focus="somethingChanged = true"
                  :disabled="true"
                  id="availibility_multiselect"
                  :options="options"
                  v-model="value"
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer persoon/personen"
                  selectedLabel="Geselecteerd"
                  :value="value"
                  label="title"
                  track-by="profile_id"
                  :allow-empty="true"
                  :max="parseInt(hrAmount)"
                  max-elements="Maximaal aantal personen bereikt."
                  :hide-selected="true"
                  @input="updateShifts"
                  @remove="archiveProfile"
                >
                  <template slot="tag">{{ "" }}</template>
                </multiselect>
              </template>
            </div>
            <div class="w-[120px]">
              <div class="amount-input mt-7">
                <button
                  id="amount-decrease"
                  class="z-10 mr-[-30px] rounded-[5px] cursor-pointer py-1 px-2 border-none bg-darkred text-white"
                  @click.prevent="decrement"
                  :disabled="hrAmount <= min"
                >
                  -
                </button>
                <input
                  @focus="somethingChanged = true"
                  v-model="hrAmount"
                  :min="min"
                  :max="max"
                  type="number"
                  id="person-input"
                  class="w-[120px] h-[45px] rounded-[5px] text-center appearance-none"
                />
                <button
                  id="amount-increase"
                  class="z-10 ml-[-30px] rounded-[5px] cursor-pointer py-1 px-2 border-none bg-darkred text-white"
                  @click.prevent="increment"
                  :disabled="hrAmount >= max"
                >
                  +
                </button>
              </div>
            </div>
          </div>
          <div class="content-right-col px-6 pb-6 overflow-scroll h-[410px]">
            <!-- second row right -->
            <div id="row-2" class="mt-4">
              <label class="modal-body-label" for="grid-last-name">
                Toegewezen:
              </label>
              <vue-good-table
                ref="employeeTable"
                :columns="columns"
                :line-numbers="false"
                :search-options="{
                  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
                  enabled: false, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
                  placeholder: 'Zoeken...',
                  compactMode: true,
                }"
                :pagination-options="{
                  enabled: false,
                  mode: 'resultaten',
                  nextLabel: 'Volgende',
                  prevLabel: 'Vorige',
                  rowsPerPageLabel: 'Werknemers per pagina',
                  ofLabel: 'van',
                  pageLabel: 'pagina', // for 'pages' mode
                  allLabel: 'Alle',
                }"
                styleClass="tableOne vgt-table"
                :rows="shiftOptions"
                ><template slot="table-row" slot-scope="props">
                  <span v-if="props.column.field == 'name'">
                    <p class="mt-2">
                      {{ props.row.firstname }} {{ props.row.lastname }}
                    </p>
                  </span>
                  <span v-if="props.column.field == 'status'" class="flex mt-2">
                    <p>{{ props.row.status_name }}</p>
                    <div
                      v-if="props.row.status_id == 1"
                      class="w-2 h-2 rounded-lg bg-pink mt-1.5 ml-1.5"
                    ></div>
                    <div
                      v-else-if="props.row.status_id == 2"
                      class="w-2 h-2 rounded-lg bg-orange mt-1.5 ml-1.5"
                    ></div>
                    <div
                      v-else-if="props.row.status_id == 3"
                      class="w-2 h-2 rounded-lg bg-blue mt-1.5 ml-1.5"
                    ></div>
                    <div
                      v-else-if="props.row.status_id == 4"
                      class="w-2 h-2 rounded-lg bg-darkred mt-1.5 ml-1.5"
                    ></div>
                    <div
                      v-else-if="props.row.status_id == 5"
                      class="w-2 h-2 rounded-lg bg-darkblue mt-1.5 ml-1.5"
                    ></div>
                    <div
                      v-else-if="props.row.status_id == 6"
                      class="w-2 h-2 rounded-lg bg-green mt-1.5 ml-1.5"
                    ></div>
                    <div
                      v-else
                      class="w-2 h-2 rounded-lg bg-pink mt-1.5 ml-1.5"
                    ></div>
                  </span>
                  <span v-if="props.column.field == 'button'">
                    <div>
                      <!-- VERWIJDEREN -->
                      <button
                        v-popover:verwijderen.bottom
                        style="padding-left: 0.5rem; padding-right: 0.5rem"
                        type="button"
                        v-if="
                          props.row.status_id == 1 ||
                          props.row.status_id == 3 ||
                          props.row.status_id == 2 ||
                          props.row.status_id == 4
                        "
                        @click="archiveShift(props.row.profile_id, props.row)"
                        class="float-left modal-button-red ml-2 hover:bg-hoverhighlight"
                      >
                        <img
                          src="@/assets/icons/trash-icon.png"
                          class="w-4"
                          alt="Verwijderen"
                        />
                      </button>
                      <popover
                        transition="show-from-bottom"
                        :pointer="false"
                        event="hover"
                        name="verwijderen"
                      >
                        <p>Verwijderen</p>
                      </popover>
                    </div>
                    <div>
                      <!-- INPLANNEN -->
                      <button
                        v-popover:inplannen.bottom
                        style="padding-left: 0.5rem; padding-right: 0.5rem"
                        type="button"
                        v-if="props.row.status_id == 1"
                        @click="
                          updateShiftStatus(
                            props.row.profile_id,
                            3,
                            props.row.shift_id
                          )
                        "
                        class="float-left modal-button-green ml-2"
                      >
                        <img
                          src="@/assets/icons/projectmanagement-icon.svg"
                          class="w-4"
                          alt="Inplannen"
                        />
                      </button>
                      <popover
                        transition="show-from-bottom"
                        :pointer="false"
                        event="hover"
                        name="inplannen"
                      >
                        <p>Inplannen</p>
                      </popover>
                    </div>
                    <div>
                      <!-- UITNODIGEN -->
                      <button
                        v-popover:uitnodigen.bottom
                        style="padding-left: 0.5rem; padding-right: 0.5rem"
                        type="button"
                        v-if="props.row.status_id == 1"
                        @click="
                          updateShiftStatus(
                            props.row.profile_id,
                            2,
                            props.row.shift_id
                          )
                        "
                        class="float-left modal-button-orange ml-2"
                      >
                        <img
                          src="@/assets/icons/relatiemanagement-icon.svg"
                          class="w-4"
                          alt="Planner wijzig weergave"
                        />
                      </button>
                      <popover
                        transition="show-from-bottom"
                        :pointer="false"
                        event="hover"
                        name="uitnodigen"
                      >
                        <p>Uitnodigen</p>
                      </popover>
                    </div>
                    <div v-if="props.row.status_id == 2">
                      <!-- ACCEPTEREN -->
                      <button
                        v-popover:accepteren.bottom
                        style="padding-left: 0.5rem; padding-right: 0.5rem"
                        type="button"
                        @click="
                          updateShiftStatus(
                            props.row.profile_id,
                            3,
                            props.row.shift_id
                          )
                        "
                        class="float-left modal-button-green ml-2"
                      >
                        <img
                          src="@/assets/icons/projectmanagement-icon.svg"
                          class="w-4"
                          alt="Planner wijzig weergave"
                        />
                      </button>
                      <popover
                        transition="show-from-bottom"
                        :pointer="false"
                        event="hover"
                        name="accepteren"
                      >
                        <p>Accepteren</p>
                      </popover>
                    </div>
                    <div
                      v-if="
                        props.row.status_id == 3 ||
                        props.row.status_id == 2 ||
                        props.row.status_id == 4
                      "
                    >
                      <!-- UITPLANNEN -->
                      <button
                        v-popover:uitplannen.bottom
                        style="padding-left: 0.5rem; padding-right: 0.5rem"
                        type="button"
                        @click="
                          updateShiftStatus(
                            props.row.profile_id,
                            1,
                            props.row.shift_id
                          )
                        "
                        class="float-left modal-button-red ml-2"
                      >
                        <img
                          src="@/assets/icons/relatie-remove-icon.svg"
                          class="w-4"
                          alt="Planner wijzig weergave"
                        />
                      </button>
                      <popover
                        transition="show-from-bottom"
                        :pointer="false"
                        event="hover"
                        name="uitplannen"
                      >
                        <p>Uitplannen</p>
                      </popover>
                    </div>
                  </span>
                </template>
              </vue-good-table>
            </div>
          </div>
        </div>
      </div>
      <!-- BESCHIKBAARHEID -->
      <div class="w-full mt-3 lg:mt-6" v-else>
        <form class="content px-6">
          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-1/2 px-3 mb-4 md:mb-0">
              <div class="w-full px-3 mb-4 md:mb-0">
                <label class="modal-body-label" for="grid-last-name">
                  Titel
                </label>
                <multiselect
                  id="availibility_multiselect"
                  :options="availabilityOptions"
                  v-model="availibilityValue"
                  :close-on-select="true"
                  :multiple="false"
                  select-label="Klik om te selecteren"
                  deselect-label="Klik om te verwijderen"
                  placeholder="Selecteer titel"
                  selectedLabel="Geselecteerd"
                  :value="value"
                  label="title"
                  :allow-empty="false"
                ></multiselect>
              </div>
              <div class="float-right w-full md:w-1/2 px-3 mb-4 md:mb-0">
                <label class="modal-body-label" for="grid-first-name">
                  Start datum
                </label>
                <input
                  v-model="startDate"
                  class="modal-input-field"
                  id="grid-first-name"
                  type="date"
                  placeholder="startDate"
                />
                <label class="modal-body-label" for="grid-first-name">
                  Eind datum
                </label>
                <input
                  v-model="endDate"
                  class="modal-input-field"
                  id="grid-first-name"
                  type="date"
                  placeholder="startDate"
                />
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="modal-body-label" for="grid-last-name">
                  Start tijd
                </label>
                <input
                  v-model="startTime"
                  class="modal-input-field"
                  id="grid-last-name"
                  type="time"
                  placeholder="startTime"
                />
                <label class="modal-body-label" for="grid-last-name">
                  Eind tijd
                </label>
                <input
                  v-model="endTime"
                  class="modal-input-field"
                  id="grid-last-name"
                  type="time"
                  placeholder="endTime"
                />
              </div>
            </div>
            <div class="w-1/2 px-3 mb-4 md:mb-0">
              <div class="w-full px-3 mb-4">
                <label class="modal-body-label" for="grid-last-name">
                  Beschrijving
                </label>
                <textarea
                  style="height: 200px"
                  v-model="comment"
                  placeholder="Beschrijving"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Modal Footer -->
      <footer
        id="modal-footer"
        class="bg-background sticky bottom-0 p-3 lg:p-6 z-10"
      >
        <slot name="footer" v-if="canEdit">
          <template v-if="serviceData._def">
            <template v-if="serviceData.extendedProps.type_id != 2"> </template>
            <template
              v-if="
                serviceData._def.resourceIds[0] == 'A1' ||
                serviceData.extendedProps.type_id == 2
              "
            >
              <button
                v-if="parentId"
                @click="openRepeatArchiveModal()"
                class="modal-button-red ml-2"
              >
                Archiveren
              </button>
              <button
                v-else
                @click="openArchiveModal()"
                class="modal-button-red ml-2"
              >
                Archiveren
              </button>
            </template>
            <button
              v-if="parentId"
              @click="openOnRepeatModal()"
              class="modal-button-green ml-2"
            >
              Bijwerken
            </button>
            <!-- <button
              v-popover:loskoppelen.bottom
              v-if="parentId"
              @click="openDetachCheck()"
              class="modal-button-orange ml-2"
            >
              <img
                src="@/assets/icons/power-off-icon.png"
                style="fill: red"
                class="w-5 inline"
                alt="Planner wijzig weergave"
              />
            </button> -->
            <button
              v-else
              @click="updateService()"
              class="modal-button-green ml-2"
            >
              Bijwerken
            </button>
            <popover
              transition="show-from-bottom"
              :pointer="false"
              event="hover"
              name="loskoppelen"
            >
              <p>Loskoppelen</p>
            </popover>
          </template>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
// import the styles
import "vue-good-table/dist/vue-good-table.css";
import { VueGoodTable } from "vue-good-table";
import "~/static/css/vuegoodtable.css";
import MessageModal from "~/components/modal/messageModal.vue";
import ViewDisabled from "~/components/modal/viewDisabled.vue";
// import Modal from "./components/Modal.vue";
import Multiselect from "vue-multiselect";
import Vue from "vue";
Vue.component("multiselect", Multiselect);

import ServiceModal from "./onRepeatServiceModal.vue";
import ArchiveModal from "./onRepeatServiceArchiveModal.vue";
import ArchiveSingleModal from "./onArchiveModal.vue";
import ServiceDocumentModal from "./serviceDocumentModal.vue";
import MessageDocumentModal from "./messageModal.vue";
import MessageDetachModal from "./messageModal.vue";
import MessageWarningModal from "./messageModal.vue";

export default {
  name: "modal",
  components: {
    Multiselect,
    ServiceModal,
    ArchiveModal,
    ArchiveSingleModal,
    ServiceDocumentModal,
    MessageModal,
    MessageDocumentModal,
    MessageDetachModal,
    MessageWarningModal,
    VueGoodTable,
    ViewDisabled,
  },
  props: {
    serviceData: Object,
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 5,
    },
  },
  data() {
    return {
      somethingChanged: false,
      employees: [],
      dates: [],
      currentIndex: 0,
      columns: [
        {
          label: "Naam",
          field: "name",
          html: true,
          thClass: "gull-th-class",
        },
        {
          label: "Status",
          field: "status",
          html: true,
          thClass: "gull-th-class",
        },
        {
          label: "",
          field: "button",
          html: true,
          thClass: "gull-th-class",
        },
      ],
      canEdit: false,
      onRepeatOptions: [
        { id: 1, name: "Werkdagen" },
        { id: 2, name: "Wekelijks" },
        { id: 3, name: "Dagelijks" },
        { id: 4, name: "Aangepast" },
      ],
      availabilityOptions: [
        { title: "Beschikbaar" },
        { title: "Niet beschikbaar" },
        { title: "Vrije dag" },
        { title: "Vakantie" },
        { title: "Ziek" },
      ],
      herhaal: {
        Zo: false,
        Ma: false,
        Di: false,
        Wo: false,
        Do: false,
        Vr: false,
        Za: false,
      },
      shiftOptions: [],
      relationOptions: [],
      contactOptions: [],
      contactValue: [],
      propValue: this.value,
      tagOptions: [],
      tagValue: [],
      documents: [],
      relationValue: "",
      availibilityValue: "",
      isModalVisible: false,
      oldProfiles: [],
      contactId: "",
      companyId: this.$auth.user.companyId,
      modalData: "",
      formatedStartDate: "",
      typeId: "",
      disableInput: false,
      detached: false,
      parentId: "",
      startDate: "",
      endDate: "",
      onRepeat: "",
      updateFuture: false,
      startTime: "",
      userId: "",
      endTime: "",
      hrAmount: "",
      pause: "",
      serviceId: "",
      tags: "",
      title: "",
      comment: "",
      location: "",
      documentToDelete: "",
      // multiselect
      value: [],
      options: [],
      DocumentVisible: false,
      GegevensVisible: true,
      place: "",
      selectedAddress: "",
      autocomplete: "",
      address1Field: {},
      archiveType: 0,
    };
  },
  computed: {
    currentDate() {
      return this.dates[this.currentIndex];
    },
    getServiceDate() {
      return this.startDate;
    },
  },
  methods: {
    findIndexByDate(dateToFind) {
      return this.dates.findIndex((date) => date.start_date === dateToFind);
    },
    async getattachedIds() {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/pm/service/get-attached-ids.php?parentId=" +
        this.parentId;
      axios
        .get(url)
        .then((response) => {
          this.dates = response.data;
          this.currentIndex = this.findIndexByDate(this.startDate);
        })
        .catch((error) => {
          this.dates = [];
          // console.log(error.response)
        });
    },
    nextDate() {
      if (this.currentIndex < this.dates.length - 1) {
        this.currentIndex++;
      }
      this.changeService();
    },
    prevDate() {
      if (this.currentIndex > 0) {
        this.currentIndex--;
      }
      this.changeService();
    },
    openDetachCheck() {
      this.$refs.detachCheckModal.showModal(
        "Pas op! u gaat een dienst loskoppelen.",
        "Weet u zeker dat u door wilt gaan? Dit kan niet ongedaan worden."
      );
    },
    detachParent() {
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/detach-parent.php";
      axios
        .post(url, {
          service_id: this.serviceId,
        })
        .then(
          (response) => {
            this.$notify({
              type: "succes",
              title: `Losgekoppeld!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.parentId = null;
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    changeService() {
      // change the active service with the arrows.
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/pm/service/read_one.php?serviceId=" +
        this.dates[this.currentIndex].service_id;
      axios
        .get(url)
        .then((response) => {
          this.serviceId = response.data[0]["service_id"];
          this.startDate = response.data[0]["start_date"];
          this.parentId = response.data[0]["parent_id"];
          this.endDate = response.data[0]["end_date"];
          this.onRepeat = response.data[0]["on_repeat"];
          this.hrAmount = response.data[0]["hr_amount"];
          this.location = response.data[0]["location"];
          this.getShifts();
          console.log("response.data")
          console.log(response.data)
        })
        .catch((error) => {
          // console.log(error.response)
        });
    },
    changeDisable() {
      if (this.disableInput) {
        document.getElementById("endDate").disabled = true;
        document.getElementById("repeat").disabled = true;
      } else {
        document.getElementById("endDate").disabled = false;
        document.getElementById("repeat").disabled = false;
      }
    },
    increment() {
      if (this.hrAmount < this.max) {
        this.hrAmount++;
        this.$emit("input", this.hrAmount); // Emit the updated value
      }
    },
    decrement() {
      if (this.hrAmount > this.min) {
        this.hrAmount--;
        this.$emit("input", this.hrAmount); // Emit the updated value
      }
    },
    async searchAddress() {
      if (document.getElementsByClassName("pac-container")) {
        const elements = document.getElementsByClassName("pac-container");
        while (elements.length > 0) {
          elements[0].parentNode.removeChild(elements[0]);
        }
      }
      var address1Field = document.querySelector("#update-grid-location");
      this.autocomplete = new google.maps.places.Autocomplete(address1Field, {
        componentRestrictions: {},
        fields: ["address_components", "geometry"],
        types: ["address"],
      });
      this.autocomplete.addListener("place_changed", () => {
        this.location = document.querySelector("#update-grid-location").value;
      });
    },
    requestCopyService() {
      this.$refs.messageModal.showModal(
        "Pas op! kopieer actie.",
        "Weet u zeker dat u door wilt gaan? Er zal een nieuwe popup verschijnen."
      );
    },
    async updateShifts() {
      this.updateService();
    },
    async getContacts() {
      const axios = require("axios");
      if (this.relationValue) {
        let relationId = this.relationValue.relation_id;
        var url =
          "https://api.eezywork.nl/v1/pm/relation/contact/read.php?id=" +
          relationId;
        axios
          .get(url)
          .then((response) => {
            this.contactOptions = response.data;
            this.contactOptions.forEach((i) => {
              if (this.contactId == i.contact_id) {
                this.contactValue.push(i);
                return;
              } else {
                this.contactValue = [];
              }
            });
          })
          .catch((error) => {
            // console.log(error.response)
          });
      } else {
        this.contactValue = [];
        this.contactOptions = [];
      }
    },
    async getShifts() {
      // Get the shifts for the service.
      const axios = require("axios");
      var url = `https://api.eezywork.nl/v1/pm/shift/read.php?serviceId=${this.serviceId}`;

      try {
        const response = await axios.get(url);
        console.log(url);
        console.log(response);
        this.shiftOptions = response.data.length > 0 ? response.data : [];
        console.log('this.shiftOptions')
        console.log(this.shiftOptions)
        // Assuming you want to process and maybe filter or map the shifts before setting them
        this.value = this.processShiftOptions(this.shiftOptions);
        this.refreshResources();
      } catch (error) {
        console.error('Failed to fetch shifts:', error);
        // Handle error appropriately, maybe set shiftOptions to an empty array or show user feedback
        this.shiftOptions = [];
      }
    },
    // Example of a method to process shift options if needed
    processShiftOptions(shiftOptions) {
      // Process shift data here, e.g., filtering, mapping, etc.
      // Returning original for now as an example
      return shiftOptions;
    },
    copyService() {
      this.$emit("copy");
      this.closeModal();
    },
    getDocuments() {
      const axios = require("axios");
      // Url for document. Pid when parent has value
      var url =
        "https://api.eezywork.nl/v1/pm/service/document/read.php?id=" +
        this.serviceData.extendedProps.service_id;
      if (this.serviceData.extendedProps.parent_id) {
        url += "&Pid=" + this.serviceData.extendedProps.parent_id;
      }
      axios
        .get(url)
        .then((response) => {
          if (response.data) {
            this.documents = response.data;
          } else {
            this.documents = [];
          }
        })
        .catch((error) => {
          this.documents = [];
          // // console.log(error.response)
        });
    },
    showModal() {
      this.isModalVisible = true;
      this.updateFuture = false;
      var formatedDate = this.formatDate(this.startDate);
      this.formatedStartDate = formatedDate;
      this.getShifts();
      this.oldProfiles = [];
    },
    ShowDocs() {
      (this.DocumentVisible = true), (this.GegevensVisible = false);
    },
    ShowGegevens() {
      (this.DocumentVisible = false), (this.GegevensVisible = true);
    },
    getUserId() {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" +
        this.serviceData.extendedProps.profile_id;
      axios.get(url).then(
        (response) => {
          this.userId = response.data.user_id;
        },
        (error) => {
          // // console.log(error);
        }
      );
    },
    closeModal() {
      if (!this.somethingChanged) {
        this.$refs.messageModal.closeModal();
        this.isModalVisible = false;
      } else {
        this.$refs.messageWarnModal.showModal(
          "Pas op! Er zijn niet opgeslagen wijzigingen.",
          "Weet u zeker dat u door wilt gaan? Als u doorgaat zullen de wijzigingen ongedaan worden."
        );
      }
    },
    forceCloseModal() {
      this.$refs.messageModal.closeModal();
      this.somethingChanged = false;
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
    async refreshResources() {
      var tags = [];
      this.tagValue.forEach((i) => {
        tags.push(i.label_id);
      });
      var companyId = this.$auth.user.companyId;
      const axios = require("axios");
      
      var resourcesUrl =
        "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId=" +
        companyId +
        "&schedule=2";
      axios
        .get(resourcesUrl)
        .then((response) => {
          var resources = response.data;
          if (
            tags != "" &&
            tags != undefined &&
            tags.length > 0 &&
            tags != "[]"
          ) {
            var resourceArray = [];
            resources.forEach((i) => {
              if (i.tag) {
                var rtag = JSON.parse(i.tag);
                if (rtag.some((r) => tags.includes(r))) {
                  resourceArray.push(i);
                }
              }
            });
            this.options = resourceArray;
          } else {
            this.options = response.data;
          }
          var resourceArray = this.options;
          if (this.shiftOptions.length > 0) {
            for (var i = 0; i < this.shiftOptions.length; i++) {
              for (var x = 0; x < resourceArray.length; x++) {
                if (
                  this.shiftOptions[i]["profile_id"] ==
                  resourceArray[x]["profile_id"]
                ) {
                  // console.log("eyooo");
                  resourceArray[x]["$isDisabled"] = true;
                }
              }
            }
          }
          this.options = resourceArray;
        })
        .catch((error) => {
          // console.log(error.response)
        });
    },
    updateOnlyFuture() {
      this.updateFuture = true;
      if (this.updateService()) {
        this.updateFuture = false;
      }
    },
    getTags() {
      const axios = require("axios");
      var companyId = this.$auth.user.companyId;
      var url =
        "https://api.eezywork.nl/v1/pm/label/read.php?companyId=" + companyId;
      axios
        .get(url)
        .then((response) => {
          this.tagOptions = [];
          this.tagOptions = response.data;
          this.tagValue = [];
          this.tagOptions.forEach((i) => {
            if (this.tags.includes(i.label_id)) {
              this.tagValue.push(i);
            }
          });
        })
        .catch((error) => {
          // console.log(error.response)
        });
    },
    changeDisable() {
      if (this.disableInput) {
        document.getElementById("endDate").disabled = true;
        document.getElementById("repeat").disabled = true;
      } else {
        document.getElementById("endDate").disabled = false;
        document.getElementById("repeat").disabled = false;
      }
    },
    openDocumentModal() {
      this.$refs.documentModal.serviceId = this.serviceId;
      this.$refs.documentModal.parentId =
        this.serviceData.extendedProps.parent_id;
      this.$refs.documentModal.showModal();
    },
    deleteDocumentCheck(id) {
      this.documentToDelete = id;
      this.$refs.messageDocModal.showModal(
        "Pas op! Document verwijderen.",
        "Weet u het zeker? Dit kunt u niet meer ongedaan maken."
      );
    },
    async deleteDocument(id) {
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/document/delete.php";
      axios
        .post(url, {
          document_id: this.documentToDelete,
        })
        .then(
          (response) => {
            this.documentToDelete = "";
            this.$notify({
              type: "succes",
              title: `Verwijderd!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.getDocuments();
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    formatDate: function (input) {
      const date = input;
      const [year, month, day] = date.split("-");
      const result = [day, month, year].join("-");
      return result;
    },
    removeTags(data) {
      // console.log(data)
    },
    async updateShiftStatus(profileId, statusId, shift_id) {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/companies/profile/get.php?profileId=" +
        profileId;
      axios.get(url).then(
        (response) => {
          this.userId = response.data.user_id;
          var url = "https://api.eezywork.nl/v1/pm/shift/update-status.php";
          axios
            .post(url, {
              shiftId: shift_id,
              statusId: statusId,
            })
            .then(
              (response) => {
                this.$notify({
                  type: "succes",
                  title: `Bijgewerkt!`,
                });
                var userId = this.userId;
                if (statusId == 2) {
                  this.sendNotification(
                    userId,
                    "Eezywork",
                    "U bent uitgenodigd voor een dienst op " +
                      this.formatDate(
                        this.serviceData.extendedProps.start_date
                      ) +
                      " om " +
                      this.serviceData.extendedProps.start_time,
                    shift_id
                  );
                  this.$emit("setYellow", shift_id);
                } else if (statusId == 3) {
                  this.sendNotification(
                    userId,
                    "Eezywork",
                    "U bent ingepland voor een dienst op " +
                      this.formatDate(
                        this.serviceData.extendedProps.start_date
                      ) +
                      " om " +
                      this.serviceData.extendedProps.start_time,
                    shift_id
                  );
                  this.$emit("setBlue", shift_id);
                } else if (statusId == 1) {
                  this.sendNotification(
                    userId,
                    "Eezywork",
                    "Een dienst op " +
                      this.formatDate(
                        this.serviceData.extendedProps.start_date
                      ) +
                      " om " +
                      this.serviceData.extendedProps.start_time +
                      " is komen te vervallen!",
                    shift_id
                  );
                  this.$emit("setGray", shift_id);
                }
                var shiftOptions = [];
                this.shiftOptions.forEach((i) => {
                  if (i.shift_id == shift_id) {
                    i.status_id = statusId;
                    var x = "";
                    switch (statusId) {
                      case 1:
                        x = "Concept";
                        break;
                      case 2:
                        x = "Verstuurd";
                        break;
                      case 3:
                        x = "Geaccepteerd";
                        break;
                      case 4:
                        x = "Geweigerd";
                        break;
                      case 5:
                        x = "Uren gelogd";
                        break;
                      case 6:
                        x = "Goed gekeurd";
                        break;
                      case 7:
                        x = "Afgerond";
                        break;
                      default:
                        x = "-";
                    }
                    i.status_name = x;
                  }
                  shiftOptions.push(i);
                });
                this.shiftOptions = shiftOptions;
              },
              (error) => {
                // // console.log(error);
              }
            );
        },
        (error) => {
          // // console.log(error);
        }
      );
    },
    async sendNotification(user_id, title, content, shiftId) {
      const axios = require("axios");
      var url =
        "https://api.eezywork.nl/v1/notification/create-notification.php";
      axios
        .post(url, {
          user_id: user_id,
          title: title,
          content: content,
          shiftId: shiftId,
        })
        .then((response) => {
          this.toast("success", "Notificatie gestuurd.");
        })
        .catch((error) => {
          // console.log(error)
        });
    },
    openRepeatArchiveModal() {
      this.$refs.onRepeatArchiveServiceModal.picked = 2;
      this.$refs.onRepeatArchiveServiceModal.showModal();
    },
    openArchiveModal() {
      this.$refs.onArchiveServiceModal.showModal();
    },
    openOnRepeatModal() {
      this.$refs.onRepeatServiceModal.picked = 2;
      this.$refs.onRepeatServiceModal.showModal();
    },
    archiveProfile(option) {
      this.oldProfiles.push(option.profile_id);
    },
    checkSelected() {},
    detach() {
      this.detached = true;
      return true;
    },
    attach() {
      this.detached = false;
      return true;
    },
    archive(archiveType){
      if(archiveType == 1){
        this.archiveType = 1;
      }else if(archiveType == 2){
        this.archiveType = 2;
      }
      console.log("Updat modal archiveType")
      console.log(archiveType);
    },
    async updateService() {
      console.log("Update service triggered.")
      if (this.availibilityValue) {
        this.title = this.availibilityValue.title;
      }
      if (this.relationValue) {
        var clientId = this.relationValue.relation_id;
      }
      if (this.tagValue) {
        var tagArray = [];
        this.tagValue.forEach((i) => {
          tagArray.push(i.label_id);
        });
        tagArray = JSON.stringify(tagArray);
      } else {
        tagArray = "";
      }
      if (this.contactValue) {
        var contactId = this.contactValue.contact_id;
      } else {
        var contactId = null;
      }
      var createdBy = 1;
      var modifiedBy = 1;
      const axios = require("axios");   
      var url = "https://api.eezywork.nl/v1/pm/service/update.php";
      axios
        .post(url, {
          serviceId: this.serviceId,
          orderId: 0,
          clientId: clientId,
          contactId: contactId,
          statusId: 1,
          location: this.location,
          startDate: this.startDate,
          endDate: this.endDate,
          startTime: this.startTime,
          tag: tagArray,
          hrAmount: this.hrAmount,
          endTime: this.endTime,
          pause: this.pause,
          title: this.title,
          comment: this.comment,
          createdBy: createdBy,
          modifiedBy: modifiedBy,
          updateFuture: this.updateFuture,
        })
        .then(
          (response) => {
            this.somethingChanged = false;
            if (this.value) {
              this.assignShift();
            }
            this.$notify({
              type: "succes",
              title: `Bijgewerkt!`,
              // text: `Planning is opnieuw opgehaald`
            });
            // this.$emit("refresh");
            setTimeout(() => {
              this.getShifts();
            }, 300);
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    async archiveShift(profile_id, row) {
      const axios = require("axios");   
      var url = "https://api.eezywork.nl/v1/pm/shift/archive.php";
      axios
        .post(url, {
          serviceId: this.serviceId,
          profileId: profile_id,
        })
        .then(
          (response) => {
            console.log(row);
            this.$notify({
              type: "succes",
              title: `Gearchiveerd!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.$emit("refresh");
            setTimeout(() => {
              this.$emit("deleteEvent", row.shift_id, this.serviceData.extendedProps.service_id, this.serviceData.extendedProps.parent_id, this.archiveType);
            }
            , 0);
            this.getShifts();
          },
          (error) => {
            // // console.log(error);
          }
        );
    },
    async assignShift() {
      // Import axios at the top level if not globally available
      const axios = require("axios");
      try {
        // Remove the profile ID from oldProfiles if it exists
        if (this.oldProfiles && this.oldProfiles.includes(this.value.profile_id)) {
          this.oldProfiles = this.oldProfiles.filter(profile => profile !== this.value.profile_id);
        }
        console.log(this.value);
        var shifts = []
        if(this.value.profile_id){
          shifts = [{
            profileId: this.value.profile_id,
            serviceId: this.serviceId,
            companyId: this.companyId,
            roleId: 0,
            statusId: 1,
          }];
        }else{
          shifts = this.value.map(item => ({
              profileId: item.profile_id,
              serviceId: this.serviceId,
              companyId: this.companyId,
              roleId: 0,
              statusId: 1,
          }));
        }
        console.log('shifts')
        console.log(shifts)
        const parentId = this.detached || this.serviceData.extendedProps.parent_id === null ? 0 : this.serviceData.extendedProps.parent_id;

        const response = await axios.post("https://api.eezywork.nl/v1/pm/shift/create.php", {
          shifts: shifts,
          oldProfiles: this.oldProfiles,
          serviceId: this.serviceId,
          parentId: parentId,
          noParent: 1,
          updateFuture: this.updateFuture,
          startDate: this.startDate,
        });

        // Handle success
        this.$emit(
          "createSubEvent",
          this.serviceData,
          response.data.id,
          response.data.resource,
          this.value,
          this.startDate
        );
        this.value = []; // Reset the value after successful operation
      } catch (error) {
        console.error('Error assigning shift:', error);
        // Optionally handle errors more specifically, e.g., show user feedback
      }
    },
    archiveService(profile_id, row) {
      console.log('service archieved')
      const axios = require("axios");
      var url = "https://api.eezywork.nl/v1/pm/service/archive.php";
      axios
        .post(url, {
          serviceId: this.serviceId,
        })
        .then(
          (response) => {
            this.$notify({
              type: "succes",
              title: `Gearchiveerd!`,
              // text: `Planning is opnieuw opgehaald`
            });
            this.$emit("refresh");
            setTimeout(() => {
              console.log('this.serviceData.extendedProps');
              console.log(this.serviceData.extendedProps);
              this.$emit("deleteEvent", this.serviceData.extendedProps.shift_id, this.serviceData.extendedProps.service_id, this.serviceData.extendedProps.parent_id, this.archiveType);
            }, 0);
            this.closeModal();
          },
          (error) => {
            // console.log(error);
          }
        );
    },
    toast(variant = null, message) {
      this.$bvToast.toast(message, {
        title: `Aanmaken`,
        variant: variant,
        autoHideDelay: 2000,
        solid: true,
      });
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
td.vgt-left-align {
  padding: 0px !important;
}
.modal-input-field {
  @apply p-2.5;
}
.dateButton:disabled {
  background-color: #ccc;
  border-color: transparent;
  cursor: not-allowed;
}
.amount-input {
  @apply flex items-center;
}
.amount-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
input {
  @apply text-[14px];
}
header {
  z-index: 10;
}
#modal {
  @apply font-poppins overflow-hidden ml-[64px] mt-[64px] xl:mt-[64px];
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9d1a16;
  border-radius: 10px;
}
.tabblad {
  @apply pr-3 font-poppins;
  border-bottom: 1px solid #ddbbbb;
}
/*Added Styling for active*/
.tabblad-active {
  @apply font-poppins bg-pink rounded-t-lg;
}

.tabblad-item {
  @apply font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply bg-pink rounded-t-lg h-[33px];
}
.modal-body-text {
  font-size: 14px;
}
.document-row {
  padding: 15px 0px;
  border-top: 1px solid #ddbbbb;
}

.event-person-initials {
  @apply bg-darkblue mb-0.5 w-[22px] text-darkgray font-semibold;
  font-size: 9px !important;
  padding: 1px 0px;
  border-radius: 5px;
}
.event-person-initials:last-child {
  @apply mb-0;
}
#body {
  @apply grid grid-cols-2;
}
@media (max-width: 1275px) {
  #body {
    @apply grid grid-cols-1;
  }
  #modal {
    overflow-y: scroll;
    max-height: 90% !important;
  }
  .tabblad {
    @apply md:ml-6 mr-0;
  }
  .content-left-col,
  .content-right-col {
    @apply overflow-hidden;
  }
  .content-left-col {
    height: fit-content;
  }
  .content-right-col {
    height: fit-content;
  }
}
.vgt-left-align {
  @apply !p-0;
}
.show-from-bottom-enter-active,
.show-from-bottom-leave-active {
  transition: transform 0.3s, opacity 0.3s;
}
.show-from-bottom-enter,
.show-from-bottom-leave-to {
  opacity: 0;
  transform: translate(-10px);
}
.vue-popover {
  @apply p-2 ml-[25px];
  width: auto !important;
}
.vue-popover:hover {
  @apply bg-lightgray;
}
.vue-popover p {
  @apply font-poppins font-medium text-darkgray text-xs;
}
</style>
