<template>
  <div
    v-show="isModalVisible"
    id="modal-backdrop"
    class="z-40 fixed inset-0 bg-opacity-100 flex justify-center items-center overflow-hidden noScrollBar"
    style="background-color: #FFF5ED;"
  >
    <div id="modal" class="z-50 bg-lightgray overflow-hidden flex flex-col justify-between w-3/6 md:w-4/6 lg:w-2/6 noScrollBar">
        <div>
            <!-- Modal Header -->
            <header id="modal-header" class="px-6 pt-6">
                <center><img src="@/assets/icons/lock-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" style="width: 50px; height:auto"/>
                <h2>U heeft geen toegang tot deze pagina!</h2></center>
            </header>
            <!-- Modal Body -->
            <section id="modal-body" class="px-6 py-6">
                <slot name="body">
                </slot>
            </section>

            <!-- Modal Footer -->
            <footer id="modal-footer" class="px-6 pb-6">
                <slot name="footer">
                </slot>
            </footer>
        </div>
    </div>
  </div>
</template>

<script>
// import Modal from "./components/Modal.vue";
import Multiselect from 'vue-multiselect'
import Vue from "vue";
Vue.component('multiselect', Multiselect);

export default {
  name: "modal",
  components: {
    Multiselect
  },
  props: {

  },
  data() {
    return {
        isCreate: false,
        isUpdate: false,
        isDelete: false,
        isModalVisible: false,
        modalData: '',
        labelName: '',
        labelId: '',
        companyId: this.$auth.user.companyId
    };
  }, 
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    close() {
      this.$emit("close");
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
  #modal{
    margin-top: 70px;
    max-height: 775px!important;
    overflow-y: scroll;
  }
  /* CUSTOM CHECKBOX */
.container {
    @apply block relative cursor-pointer select-none;
    padding-left: 25px;
    line-height: 17px;
    margin-bottom: 3px;
    font-size: 14px;
}
/* Hide the browser's default checkbox */
.container input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkmark {
    @apply absolute top-0 left-0 h-4 w-4 bg-background;
    border: 2px solid #9D1A16;
    border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    @apply bg-lightgray;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bg-darkred;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    @apply left-1 top-0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.noScrollBar::-webkit-scrollbar {
  display: none!important;
}

</style>