<template>
    <div class="main">
      <div class="content h-screen w-screen bg-darkred">
          <div class="profile-container">
              <img src="~/assets/icons/Eezywork.png" alt="Werknemers icoon" class="w-24 h-24 m-auto mb-6">
              <h1 class="text-white">oh jee... eezywork is onder constructie.</h1>
            </div>
        </div>
    </div>
</template>  
<script>
  export default {
    layout: 'empty',
    transition: 'slide-bottom',
    name: 'login',
    data() {
      return {
        password: '',
        email: '',
        profiles: {}
      }
    },
    mounted: function(){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/companies/profile/get-all.php?userId="+this.$auth.user.uid;
      axios.get(url)
      .then(response => {
          this.profiles = response.data;
          // console.log(this.profiles)
      })
      .catch(error => {
          console.log(error.response)
      });
    },
    methods:{
      logout() {
          this.$auth.logout();
      },
      changeToProfile(id , pid){
          const userToUpdate = {...this.$auth.user}
          userToUpdate.companyId = id;
          userToUpdate.profileId = pid;
          this.$auth.setUser(userToUpdate)
          // console.log(this.$auth.user)
          this.$router.push('/')
      }
    },
  }
  </script>
  
  <style scoped>
  .content{
    @apply flex justify-center items-center;
  }
  .profile-container{
    @apply p-10 w-96 bg-darkred rounded-md font-poppins;
  }
  .profile-module{
      @apply bg-white p-4 rounded-md flex flex-row my-4;
      transition: .2s ease;
      cursor: pointer;
  }
  
  .profile-module:hover{
    @apply ml-1;
    transition: .2s ease;
  }
  .profile-image{
      @apply w-12 h-12 mr-6;
  }
  .profile-details p{
      @apply text-darkgray text-sm;
  }
  input {
    @apply px-3 py-3 mb-3 rounded-md font-poppins text-darkgray;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
  }
  label {
    @apply my-2 text-white font-poppins;
  }
  .submit-button {
    @apply bg-black hover:bg-gray-900 m-auto py-3 text-white rounded-md font-poppins text-center w-full;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
  }
  </style>