<template>
  <div>
    <div class="header">
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray">Eezywork</p>
      </div>
      <div class="grid justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row md:overflow-x-scroll overflow-y-hidden">
          <h1 class="text-xl font-poppins font-semibold text-darkgray">{{companyName}}</h1> 
          <div class="notification-container">
            <h2 class="notification-container-title ml-5">Welkom {{ this.$auth.user.firstname+' '+this.$auth.user.lastname }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content bg-background p-6">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-5">
        <!-- <div class="notification-container">
          <h2 class="notification-container-title">Werknemers</h2>

          <div class="notification-section">
            <div class="notification-content">
              <div class="notification-title">
                <img src="~/assets/icons/verjaardag-icon.png" alt="verjaardag icon" class="w-6 h-6">
                <h3>Verjaardag Armand</h3>
              </div>
              <p>Vandaag is Armand Heijder jarig!</p>
            </div>
            <div class="notification-content">
              <div class="notification-title">
                <img src="~/assets/icons/verjaardag-icon.png" alt="verjaardag icon" class="w-6 h-6">
                <h3>Verjaardag Armand</h3>
              </div>
              <p>Vandaag is Armand Heijder jarig!</p>
            </div>
          </div> 

        </div>  -->
      <div class="col-span-3 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
        <div class="col-span-3">
          <p class="toggle-title mb-2 float-left fit-content">Statistieken: {{ statisticTitle }}</p>
          <div>
            <!-- <div class="inline-block bg-white rounded-md drop-shadow-sm	">
              <button :class="{active:selected==1}" class="px-3 py-2 rounded-l-md" @click="statisticDay();activateTab(1)">Dag</button>
              <button :class="{active:selected==2}" class="px-3 py-2" @click="statisticWeek();activateTab(2)">Week</button>
              <button :class="{active:selected==3}" class="px-3 py-2 rounded-r-md" @click="statisticMonth();activateTab(3)">Maand</button>
              
            </div> -->
            <button type="button" class="w-10 p-1 border-2 float-right border-darkred hover:bg-hoverhighlight transition inline-block rounded-lg" @click="reloadStatistic">
              <img src="@/assets/icons/refresh-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Planner wijzig weergave" />
            </button>
          </div>
        </div>
        <!-- lijn statistiek 1 -->
        <div id="chart" class="charts col-span-3 xl:col-span-1">
          <apexchart ref="chart1" type="bar" height="350" :options="chart1Options" :series="series1"></apexchart>
        </div>
        <!-- lijn statistiek 2 -->
        <div id="chart2" class="charts col-span-3 xl:col-span-1 ">
          <apexchart ref="chart2" type="line" height="350" :options="chart2Options" :series="series2"></apexchart>
        </div>
        <!-- bar chart -->
        <div id="chart4" class="charts col-span-3 xl:col-span-1 ">
          <apexchart ref="chart4" type="line" height="350" :options="chart4Options" :series="series4"></apexchart>
        </div>
        <!-- number -->
        <div id="chart3" class="charts col-span-2 ">
          <apexchart ref="chart3" type="donut" height="350" :options="chart3Options" :series="series3"></apexchart>
        </div>
        <!-- area chart -->
        <div id="chart5" class="charts col-span-3 xl:col-span-1 ">
          <apexchart ref="chart5" type="bar" height="350" :options="chart5Options" :series="series5"></apexchart>
        </div>
      </div>
    </div>
    </div>
    </div>
</template>

<script>
import apexchart from 'vue-apexcharts'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'Overzicht',
  components: {
    apexchart
  },
  computed: {
  },
  data() {
    return {
      selected: 1,
      companyName: '',
      statisticTitle: '',
      response: '',
      series1: [{
          name: "Geplande uren",
          data: [],
          type: 'bar'
      },{
          name: "Geregistreerde uren",
          data: [],
          type: 'bar'
      }],
      chart1Options: {
        chart: {
          height: 350,
          type: 'line',
        },
        title: {
          text: 'Uren per opdrachtgever'
        },
        dataLabels: {
          enabled: false,
        },
        yaxis: [{
          title: {
            text: 'Geplande uren',
          },
        }]
      },
      series2: [{
          name: "FTE",
          data: []
      }],
      chart2Options: {
        legend: {
            show: false
          },
          chart: {
            id: 'chart2',
            height: 500,
            type: 'Aantal FTE per opdrachtgever'
          },
          title: {
            text: 'FTE'
          }
      }, 
      series3: [],
      chart3Options: {
        chart: {
          type: 'donut'
        },
        plotOptions: {
              pie: {
                donut: {
                  labels: {
                    show: true,
                    total: {
                      showAlways: true,
                      show: true
                    }
                  }
                }
              }
            },
        dataLabels: {
          enabled: false,
        },
        labels: [],
        title: {
          text: 'Aantal personen ingezet per relatie'
        }
      },
      series4: [{
          name: "Geplande uren",
          data: [],
          type: 'bar'
      },{
          name: "Geregistreerde uren",
          data: [],
          type: 'bar'
      }],
      chart4Options: {
        chart: {
          height: 350,
          type: 'line',
        },
        title: {
          text: 'Top 3 opdrachtgevers'
        },
        dataLabels: {
          enabled: false,
        },
        yaxis: [{
          title: {
            text: 'Geplande uren',
          },
        }]
      },
      series5: [{
          name: "Aantal diensten",
          data: [],
          type: 'bar'
      },],
      chart5Options: {
        chart: {
          type: 'bar',
          height: 350
        },
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        title: {
          text: 'Aantal diensten per relatie'
        },
      },
    }
  },
  beforeMount() {
    const axios = require('axios');
    var companyId = this.$auth.user.companyId
    var url = "https://api.eezywork.nl/v1/companies/read.php?companyId="+companyId;
    axios.get(url)
    .then(response => {
        this.companyName = response.data[0].name;
        // console.log(this.companyName)
    })
    .catch(error => {
        // console.log(error.response)
    });
    this.loadStatistic(companyId);
  },
  methods: {
    reloadStatistic(){
      const axios = require('axios');
      var companyId = this.$auth.user.companyId
      var url = "https://api.eezywork.nl/v1/pm/statistic/renew-statistic.php?companyId="+companyId+"&startDate="+this.getCurrentDate();
      console.log(url)
      axios.get(url)
      .then(response => {
        console.log(response.data)
        location.reload()
      })
    .catch(error => {
        // console.log(error.response)
    });
    },
    loadStatistic(companyId){
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/statistic/read.php?companyId="+companyId+"&startDate="+this.getCurrentDate();
      console.log(url)
      axios.get(url)
      .then(response => {
        console.log(response.data)
        this.response = response;
        this.statisticDay();
      })
    .catch(error => {
        // console.log(error.response)
    });
    },
    // Get the current date in the format YYYY-MM-DD
    getCurrentDate() {
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, '0');
      const day = String(today.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }, 
    statisticDay(){
      this.statisticTitle = "Vandaag";
      var firstThree = 0;
      var response = JSON.parse(JSON.stringify(this.response));
      this.series1[1].data = [];
      this.series1[0].data = [];
      this.series4[1].data = [];
      this.series4[0].data = [];
      this.series2[0].data = [];
      this.series5[0].data = [];
      this.series3 = [];
        response.data.day.hoursPerRelation.forEach(element => {
          this.series1[0].data.push({
            x: element.x,
            y: element.y
          })
          this.series1[1].data.push({
            x: element.x,
            y: element.z
          })
          if(firstThree <3){
            this.series4[0].data.push({
              x: element.x,
              y: element.y
            })
            this.series4[1].data.push({
              x: element.x,
              y: element.z
            })
            firstThree++;
          }
        });
        this.$refs.chart1.updateSeries(this.series1);
        this.$refs.chart4.updateSeries(this.series4);
        response.data.day.hoursPerRelation.forEach(element2 => {
          element2.y = element2.y / 8;
          element2.y = element2.y.toFixed(2);
          this.series2[0].data.push(element2);
        });
        this.$refs.chart2.updateSeries(this.series2);

        response.data.day.UniquePersons.forEach(element3 => {
          console.log(element3)
          if(element3.name != null && element3.employee_count != null){
            this.series3.push(parseInt(element3.employee_count));
            this.chart3Options.labels.push(element3.name);
          }
        })
        this.$refs.chart3.updateSeries(this.series3);

        response.data.day.AllShiftsOnRelation.forEach(element5 => {
          if(element5.name != null && element5.shift_count != null){
            this.series5[0].data.push({
            x: element5.name,
            y: element5.shift_count
          })
          }
        })
        this.$refs.chart5.updateSeries(this.series5);
    },
    statisticWeek(){
      this.statisticTitle = "Week";
      var firstThree = 0;
      var response = JSON.parse(JSON.stringify(this.response));
      this.series1[1].data = [];
      this.series1[0].data = [];
      this.series4[1].data = [];
      this.series4[0].data = [];
      this.series2[0].data = [];
      this.series5[0].data = [];
      this.series3 = [];
      this.chart3Options.labels = [];
        response.data.week.hoursPerRelation.forEach(element => {
          this.series1[0].data.push({
            x: element.x,
            y: element.y
          })
          this.series1[1].data.push({
            x: element.x,
            y: element.z
          })
          if(firstThree <3){
            this.series4[0].data.push({
              x: element.x,
              y: element.y
            })
            this.series4[1].data.push({
              x: element.x,
              y: element.z
            })
            firstThree++;
          }
        });
        this.$refs.chart1.updateSeries(this.series1);
        this.$refs.chart4.updateSeries(this.series4);
        response.data.week.hoursPerRelation.forEach(element2 => {
          element2.y = element2.y / 8;
          element2.y = element2.y.toFixed(2);
          this.series2[0].data.push(element2);
        });
        this.$refs.chart2.updateSeries(this.series2);

        response.data.week.UniquePersons.forEach(element3 => {
          console.log(element3)
          if(element3.name != null && element3.employee_count != null){
            this.series3.push(parseInt(element3.employee_count));
            this.chart3Options.labels.push(element3.name);
          }
        })
        this.$refs.chart3.updateSeries(this.series3);

        response.data.week.AllShiftsOnRelation.forEach(element5 => {
          if(element5.name != null && element5.shift_count != null){
            this.series5[0].data.push({
            x: element5.name,
            y: element5.shift_count
          })
          }
        })
        this.$refs.chart5.updateSeries(this.series5);
    },
    statisticMonth(){
      this.statisticTitle = "Maand";
      var firstThree = 0;
      var response = JSON.parse(JSON.stringify(this.response));
      this.series1[1].data = [];
      this.series1[0].data = [];
      this.series4[1].data = [];
      this.series4[0].data = [];
      this.series2[0].data = [];
      this.series5[0].data = [];
      this.series3 = [];
      this.chart3Options.labels = [];
        response.data.month.hoursPerRelation.forEach(element => {
          this.series1[0].data.push({
            x: element.x,
            y: element.y
          })
          this.series1[1].data.push({
            x: element.x,
            y: element.z
          })
          if(firstThree <3){
            this.series4[0].data.push({
              x: element.x,
              y: element.y
            })
            this.series4[1].data.push({
              x: element.x,
              y: element.z
            })
            firstThree++;
          }
        });
        this.$refs.chart1.updateSeries(this.series1);
        this.$refs.chart4.updateSeries(this.series4);
        response.data.month.hoursPerRelation.forEach(element2 => {
          element2.y = element2.y / 8;
          element2.y = element2.y.toFixed(2);
          this.series2[0].data.push(element2);
        });
        this.$refs.chart2.updateSeries(this.series2);

        response.data.month.UniquePersons.forEach(element3 => {
          console.log(element3)
          if(element3.name != null && element3.employee_count != null){
            this.series3.push(parseInt(element3.employee_count));
            this.chart3Options.labels.push(element3.name);
          }
        })
        this.$refs.chart3.updateSeries(this.series3);

        response.data.month.AllShiftsOnRelation.forEach(element5 => {
          if(element5.name != null && element5.shift_count != null){
            this.series5[0].data.push({
            x: element5.name,
            y: element5.shift_count
          })
          }
        })
        this.$refs.chart5.updateSeries(this.series5);
    },
    activateTab(i){
      this.selected = i;
      // console.log(this.selected);
      }
    }
}
</script>

<style scoped>
/* MELDINGEN STYLING */
.active {
  @apply bg-darkred text-white;
}
.charts {
  @apply bg-hoverhighlight p-4 rounded-md;
}
.notification-container{
  @apply mb-4;
}
.notification-section{
  @apply p-3 pb-0 rounded-b-lg;
  /* grid-template-columns: 40px 1fr; */
  border: 1px solid #DDBBBB;
  border-top: 0px;
}
.notification-container-title{
  @apply bg-darkred font-poppins text-white p-1 rounded-t-lg;
}
.notification-content{
  @apply mb-4 font-poppins pl-3;
  border-left: 2px solid #9D1A16;
}
.notification-content h3{
  @apply font-semibold pb-1;
  font-size: 18px;
}
.notification-title{
  @apply grid grid-cols-2;
  grid-template-columns: 25px 1fr;
}
.notification-title img{
  margin-top: 2px;
}
.shortcut-section{
  @apply mb-4;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.shortcut-container-title{
  @apply bg-white font-poppins text-darkgray font-semibold p-4 pb-0 rounded-t-lg;
}
.shortcut-section{
  @apply grid grid-cols-2 p-4 rounded-b-lg bg-white;
  grid-template-columns: 25px 1fr;
}
.shortcut-section p {
  @apply text-sm;
}
.shortcut-content{
  @apply mb-4 font-poppins;
}
.shortcut-content p{
  @apply mt-1;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.toggle-title{
  @apply font-poppins text-darkgray font-semibold;
}
</style>