<!-- @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); -->

<template>
  <div>
    <div class="header">
      <relation-contact-modal ref="contactModal"></relation-contact-modal>
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray truncate">Eezywork > Relaties > Bekijken</p>
      </div>

      <div class="grid grid-cols-2 justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row">
          <h1 class="header-title">{{title}}</h1> 
          <ul class="tabbladen-items flex flex-row pl-8 pt-1">
            <li class="tabblad-item">
              <NuxtLink :to="{ path: '/relaties/bekijken/gegevens'}">Gegevens</NuxtLink>
            </li>
            <li class="tabblad-item">
              <NuxtLink :to="{ path: '/relaties/bekijken/documenten'}">Documenten</NuxtLink>
            </li>
            <li class="tabblad-item active-tabblad">
              <NuxtLink :to="{ path: '/relaties/bekijken/contacten'}">Contacten</NuxtLink>
            </li>
          </ul>
        </div>
      </div>
      <div class="content bg-background pr-6 py-6 truncate">
        <h2 class="font-poppins font-semibold text-darkgray absolute pt-1 truncate" style="font-size:24px">Overzicht contacten</h2>
        <div class="header-button-container pl-4 pt-0.5 float-right truncate">
            <button v-if="canEdit" @click="openCreateModal()" class="red-button">
              Toevoegen
            </button> 
          </div>
          <div>
            <vue-good-table
                :columns="columns" 
                :line-numbers="false"
                :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
                enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
                placeholder: 'Zoeken...',
                compactMode: true
            }"
            :pagination-options="{
            enabled: true,
            mode: 'resultaten',
            nextLabel: 'Volgende',
            prevLabel: 'Vorige',
            rowsPerPageLabel: 'Opdrachten per pagina',
            ofLabel: 'van',
            pageLabel: 'pagina', // for 'pages' mode
            allLabel: 'Alle',
          }"
          styleClass="tableOne vgt-table"
          :rows="contacts"
          ><template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'button'">
                <template v-if="canEdit">
                  <button class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a @click="openUpdateModal(props.row)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
                  </button>
                  <button v-if="canArchive" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                    <a @click="openArchiveModal(props.row)"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5"/></a>
                  </button>
                </template>
              </span>
            </template>
          </vue-good-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import relationContactModal from '../../../../components/modal/relationContactModal.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'
import ViewDisabled from '~/components/modal/viewDisabled.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'contacten',
  components: {
    relationContactModal,
    VueGoodTable,
    ViewDisabled
  },
  data() {
      return {
        canEdit: false,
        canArchive: false,
        canRead: false,
        canDelete: false,
        permissions: this.$auth.$storage.getState("perm"),
        columns: [
          {
            label: "Naam", 
            field: "name",
            thClass: "gull-th-class",
          }, 
            {
            label: "Telefoon",
            field: "phone",
            thClass: "gull-th-class",
          },
          {
            label: "Email",
            field: "email",
            thClass: "gull-th-class",
          },
          {
            label: "Acties",
            field: "button",
            html: true,
          },],
          relation: '',
          relationId: '',
          title: '',
          contacts: '',
          id: this.$auth.$storage.getState("relationId")
      }
  },
   mounted(){
      this.permissions.forEach(element => {
         if(element.name == "relation_can_archive"){
            this.canArchive = true;
        }
        if(element.name == "relation_can_edit"){
            this.canEdit = true;
        }
        if(element.name == "relation_can_read"){
            this.canRead = true;
        }
        });
        if(!this.canRead){  
            this.$refs.ViewDisabled.showModal()    
        }        
    },
  created() {        
      this.getContacts();
      this.getRelation();
  },
  methods:{
    getContacts(){
      this.id = this.$auth.$storage.getState("relationId") 
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/relation/contact/read.php?id="+this.id;
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.contacts = response.data;
          // console.log(this.contacts)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
     getRelation(){
      this.id = this.$auth.$storage.getState("relationId")
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/relation/read.php?relationId="+this.id;
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.relation = response.data;
          this.title = response.data.name;
          // console.log(this.relation)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
    openCreateModal(){
      this.$refs.contactModal.id = this.id;
      this.$refs.contactModal.name = '';
      this.$refs.contactModal.email = '';
      this.$refs.contactModal.phone = '';
      this.$refs.contactModal.isCreate = true;
      this.$refs.contactModal.isUpdate = false;
      this.$refs.contactModal.isArchive = false;
      this.$refs.contactModal.showModal();
    },
    openUpdateModal($row){
        this.$refs.contactModal.id = this.id;
        this.$refs.contactModal.name = $row.name;
        this.$refs.contactModal.email = $row.email;
        this.$refs.contactModal.phone = $row.phone;
        this.$refs.contactModal.contactId = $row.contact_id;
        this.$refs.contactModal.isCreate = false;
        this.$refs.contactModal.isUpdate = true;
        this.$refs.contactModal.isArchive = false;
        this.$refs.contactModal.showModal();
    },
    openArchiveModal($row){
        this.$refs.contactModal.id = this.id;
        this.$refs.contactModal.name = $row.name;
        this.$refs.contactModal.email = $row.email;
        this.$refs.contactModal.phone = $row.phone;
        this.$refs.contactModal.contactId = $row.contact_id;
        this.$refs.contactModal.isCreate = false;
        this.$refs.contactModal.isUpdate = false;
        this.$refs.contactModal.isArchive = true;
        this.$refs.contactModal.showModal();
    }
  }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred px-6 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center text-sm mt-0;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabbladen-items{
  overflow-x: scroll;
  padding-right: 0px;
}
.tabblad-item {
  @apply px-3 pt-1 mr-2 font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply px-3 pt-1 mr-2 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-2 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
::-webkit-scrollbar {
  @apply bg-background;
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
.vgt-wrap {
    position: inherit;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
</style>