<template>
  <div class="main">
    <Sidebar activePage='relaties'/>
    <div class="header">
      <view-disabled ref="ViewDisabled"></view-disabled>
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray truncate">Eezywork > Relaties > Bekijken</p>
      </div>

      <div class="grid grid-cols-2 justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row">
          <h1 class="header-title">{{title}}</h1> 
          <ul class="tabbladen-items flex flex-row pl-8 pt-1">
            <li class="tabblad-item">
              <NuxtLink :to="{ path: '/relaties/bekijken/gegevens'}">Gegevens</NuxtLink>
            </li>
            <li class="tabblad-item active-tabblad">
              <NuxtLink :to="{ path: '/relaties/bekijken/documenten'}">Documenten</NuxtLink>
            </li>
            <li class="tabblad-item">
              <NuxtLink :to="{ path: '/relaties/bekijken/contacten'}">Contacten</NuxtLink>
            </li>
          </ul>
        </div>
        
        
      </div>

      <create-rel-doc-modal ref="documentModal"></create-rel-doc-modal>

    </div>
    <div class="content bg-background px-6 pt-6 font-poppins">
            <h2 class="font-poppins font-semibold text-darkgray absolute pt-1 truncate" style="font-size:24px">Overzicht documenten</h2>
       <div v-if="canEdit" class="header-button-container pl-4 pt-0.5 float-right">
          <button @click="openCreateModal()" class="red-button">
            Toevoegen
          </button> 
        </div>
        <div>
          <vue-good-table
              :columns="columns" 
              :line-numbers="false"
              :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
              enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
              placeholder: 'Zoeken...',
              compactMode: true
          }"
          :pagination-options="{
          enabled: true,
          mode: 'resultaten',
          nextLabel: 'Volgende',
          prevLabel: 'Vorige',
          rowsPerPageLabel: 'Opdrachten per pagina',
          ofLabel: 'van',
          pageLabel: 'pagina', // for 'pages' mode
          allLabel: 'Alle',
        }"
        styleClass="tableOne vgt-table"
        :rows="documents"
        ><template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'button'">
              <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                <a :href="props.row.upload"  target="_blank"><img src="@/assets/icons/bekijken-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
              </button>
            </span>
          </template>
        </vue-good-table>
      </div>
    </div>
  </div>
</template>

<script>
import CreateRelDocModal from '../../../../components/modal/createRelDocModal.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'
import ViewDisabled from '~/components/modal/viewDisabled.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'documenten',
  components: {
    CreateRelDocModal,
    VueGoodTable,
    ViewDisabled
  },
  data() {
      return {
        canEdit: false,
        canRead: false,
        canDelete: false,
        permissions: this.$auth.$storage.getState("perm"),
        columns: [
          {
            label: "Document", 
            field: "document_name",
            thClass: "gull-th-class",
          }, 
            {
            label: "Upload datum",
            field: "created_at",
            thClass: "gull-th-class",
          },
          {
            label: "Verloop datum",
            field: "expiration_date",
            thClass: "gull-th-class",
          },
          {
            label: "Type",
            field: "type_name",
            thClass: "gull-th-class",
          },
          {
            label: "Acties",
            field: "button",
            html: true,
          },],
          relation: '',
          relationId: '',
          title: '',
          documents: '',
          id: this.$auth.$storage.getState("relationId")
      }
  },
   mounted(){
      this.permissions.forEach(element => {
        
        if(element.name == "relation_can_edit"){
            this.canEdit = true;
        }
        if(element.name == "relation_can_read"){
            this.canRead = true;
        }
        });
        if(!this.canRead){  
            this.$refs.ViewDisabled.showModal()    
        }        
    },
  created() {        
      this.getDocuments();
      this.getRelation();
  },
  methods:{
    getDocuments(){
      this.id = this.$auth.$storage.getState("relationId") 
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/relation/document/read.php?id="+this.id;
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.documents = response.data;
          // console.log(this.documents)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
     getRelation(){
      this.id = this.$auth.$storage.getState("relationId")  
      const axios = require('axios');
      var url = "https://api.eezywork.nl/v1/pm/relation/read.php?relationId="+this.id;
      // console.log(url)
      axios.get(url)
      .then(response => {
          this.relation = response.data;
          this.title = response.data.name;
          // console.log(this.relation)
      })
      .catch(error => {
          // console.log(error.response)
      });
    },
    openCreateModal(){
      this.$refs.documentModal.file = '';
      this.$refs.documentModal.documentName = '';
      this.$refs.documentModal.expirationDate = '';
      this.$refs.documentModal.id = this.id;
      this.$refs.documentModal.showModal();
    }
  }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
.vgt-wrap{
  @apply mt-4;
}
.vgt-wrap {
    position: inherit;
}
@media (max-width:676px){
.vgt-wrap{
  @apply mt-16 pt-2;
}
}
.active-tabblad {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg;
}
@media (max-width:580px){
  .header-button-container{
    @apply mt-12;
  }
}
</style>