<template> 
  <div class="">
    <h2 class="font-poppins font-semibold text-darkgray absolute pt-1 truncate" style="font-size:24px">Overzicht kenmerken</h2>
    <label-modal ref="labelModal"></label-modal>
      <div class="header-button-container pl-4 pt-0.5 float-right" style="display: block">
          <button  v-if="canEdit" @click="openCreateModal()" class="red-button">Toevoegen</button> 
        </div> 
      <div>         
      <vue-good-table
          :columns="columns" 
          :line-numbers="false"
          :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
          enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
          placeholder: 'Zoeken...',
          compactMode: true
            }"
            :pagination-options="{
            enabled: true,
            mode: 'resultaten',
            nextLabel: 'Volgende',
            prevLabel: 'Vorige',
            rowsPerPageLabel: 'Kenmerken per pagina',
            ofLabel: 'van',
            pageLabel: 'pagina', // for 'pages' mode
            allLabel: 'Alle',
          }"
          styleClass="tableOne vgt-table"
          :rows="labels"
          ><template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'button'">
                <button v-if="canEdit" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                  <a @click="openUpdateModal(props.row.label_name, props.row.label_id)" target="_blank"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                </button>
                <button v-if="canEdit" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                  <a @click="openDeleteModal(props.row.label_name, props.row.label_id)" target="_blank"><img src="@/assets/icons/trash-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                </button>
              </span>
            </template>
        </vue-good-table>
      </div>
  </div> 
</template>

<script>
import labelModal from '~/components/modal/labelModal.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'

export default {
  name: 'werknemers',
  props: {
    canEdit: Boolean
  },
  components: {
    labelModal,
    VueGoodTable
  },
    data() {
        return {
            labels: '',
            companyId: this.$auth.user.companyId,
            columns: [
            {
              label: "Naam", 
              field: "label_name",
              thClass: "gull-th-class",
            },
            {
              label: "Acties",
              field: "button",
              html: true,
            },],
        }
    },
    beforeCreate() {        
    const axios = require('axios');
    var companyId = this.$auth.user.companyId
    var url = "https://api.eezywork.nl/v1/pm/label/read.php?companyId="+companyId;
    axios.get(url)
    .then(response => {
        this.labels = response.data;
        // // console.log(this.labels)
    })
    .catch(error => {
        // // console.log(error.response)
    });
  }, 
  methods: {
    openCreateModal(){
      this.$refs.labelModal.isCreate = true;
      this.$refs.labelModal.isUpdate = false;
      this.$refs.labelModal.isDelete = false;
      this.$refs.labelModal.labelName = '';
      this.$refs.labelModal.labelId = '';
      this.$refs.labelModal.showModal();
    },
    openUpdateModal(name, label_id){
      this.$refs.labelModal.isCreate = false;
      this.$refs.labelModal.isDelete = false;
      this.$refs.labelModal.isUpdate = true;
      this.$refs.labelModal.labelName = name;
      this.$refs.labelModal.labelId = label_id;
      this.$refs.labelModal.showModal();
    },
    openDeleteModal(name, label_id){
      this.$refs.labelModal.isCreate = false;
      this.$refs.labelModal.isUpdate = false;
      this.$refs.labelModal.isDelete = true;
      this.$refs.labelModal.labelName = name;
      this.$refs.labelModal.labelId = label_id;
      this.$refs.labelModal.showModal();
    }
  }
}
</script>

<style scoped>
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}
.vgt-wrap {
    position: inherit;
}
</style>