@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
  <div class="main">
    <label-modal ref="labelModal"></label-modal>
      <div>
        <h2 class="font-poppins font-semibold text-darkgray pt-1" style="font-size:24px">Volgorde planner aanpassen</h2>         
          <div>
              <table class="resources-list">
                <draggable
                    tag="tbody"
                    v-bind="dragOptions"
                    @start="drag = true"
                    @end="drag = false"
                    :move="checkMove"
                    :list="resources"
                    >
                    <tr v-for="resource in resources" :key="resource.id" class="resourceTd" style="cursor: pointer;">
                      <td class="font-poppins"> {{ resource.title}} </td>
                      <td class="buttons">
                          <i class=""> <!-- Icoontje voor slepen --> </i>
                      </td>
                    </tr>
                </draggable>
              </table>
              <button v-if="canEdit" @click="updateOrder()" class="red-button">Volgorde bijwerken</button> 
          </div>
      </div>
    </div> 
</template>

<script>
import labelModal from '~/components/modal/labelModal.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import draggable from "vuedraggable";

export default {
  name: 'werknemers',
  components: {
    labelModal,
    draggable
  },
  props:{
    canEdit: false
  },
  computed: {
    dragOptions() {
        return {
            animation: 200,
            group: "description",
            disabled: false,
            ghostClass: "ghost"
        };
    }
  },
    data() {
        return {
            labels: '',
            list: [],
            resources: [],
            companyId: this.$auth.user.companyId,
            columns: [
            {
              label: "Naam", 
              field: "label_name",
              thClass: "gull-th-class",
            },
            {
              label: "Acties",
              field: "button",
              html: true,
            },],
        }
    },
    beforeCreate() {        
    const axios = require('axios');
    var companyId = this.$auth.user.companyId
    var url = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+companyId;
    axios.get(url)
    .then(response => {
        this.resources = response.data;
        // // console.log(this.resources)
    })
    .catch(error => {
        // // console.log(error.response)
    });
  }, 
  methods: {
    checkMove(){
    // // console.log(this.resources);  
    },
    updateOrder(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/schedule/update-order.php";
        axios.post(url, {
            resources: this.resources
        })
            .then(response => {
              this.$notify({
                type: 'succes',
                title: `Bijgewerkt!`,
                // text: `Planning is opnieuw opgehaald`
            } );
            // // console.log(response)
            // window.location.reload();
            })
            .catch(error => {
            // // console.log(error.response)
        });
    }
  }
}
</script>

<style scoped>
.resources-list{
  @apply my-4;
  width: 100%;
}
/* RESOURCES DATA STYLING */
.resourceTd td{
  padding: 24px 0px 24px 0px;
  border-bottom: 1px solid #DDBBBB;
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
</style>
