<template>
    <div class="main">
    <label-modal ref="labelModal"></label-modal>      
        <div>
            <h2 class="font-poppins font-semibold text-darkgray pt-1" style="font-size:24px">Rapport exporteren</h2>
            <div class="rapport-input">
            <label class="modal-body-label" for="grid-last-name">
                ORT groep
            </label>
                <template v-if="groups.length > 0">
                    <multiselect
                    id="availibility_multiselect"
                    :options="groups"
                    v-model="value"
                    :close-on-select="true"
                    :multiple="false"
                    select-label="Klik om te selecteren"
                    deselect-label="Klik om te verwijderen"
                    placeholder="Selecteer titel"
                    selectedLabel="Geselecteerd"
                    :value="value"
                    label="group_name" 
                    :allow-empty="false"
                    :disabled="!canEdit"
                    ></multiselect>
                  </template>
                  <template v-else>
                    <multiselect
                      id="availibility_multiselect"
                      :options=[]
                      :close-on-select="true"
                      :multiple="false"
                      select-label="Klik om te selecteren"
                      deselect-label="Klik om te verwijderen"
                      placeholder="Selecteer titel"
                      selectedLabel="Geselecteerd"
                      :value='""'
                      label="group_name" 
                      :allow-empty="false"
                      disabled
                    ></multiselect>
                  </template>
            </div>
            <div class="rapport-input">
                <label class="modal-body-label" for="grid-first-name">
                    Start datum
                </label>
                <input v-model="startDate" class="modal-input-field" id="grid-first-name" type="date" placeholder="startDate">
            </div>
            <div class="rapport-input">
            <label class="modal-body-label" for="grid-first-name">
                Eind datum
            </label>
            <input v-model="endDate" class="modal-input-field" id="grid-first-name" type="date" placeholder="startDate">
            </div>
        </div>
        <template v-if="canEdit">
          <button v-if="groups.length > 0" @click="exportRapport()" class="red-button">Rapport exporteren</button>  
          <button v-else @click="exportRapport()" disabled class="red-button">Rapport exporteren</button>  
        </template>
    </div>
</template>

<script>
import labelModal from '~/components/modal/labelModal.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import Multiselect from 'vue-multiselect'
import Vue from "vue";
Vue.component('multiselect', Multiselect);

export default {
  name: 'werknemers',
  props: {
    canEdit: Boolean
  },
  components: {
    labelModal,
    Multiselect  
    },
    data() {
        return {
            startDate: '',
            groups: [],
            options: [],
            value: [],
            endDate: '',
            labels: '',
            list: [],
            resources: '',
            companyId: this.$auth.user.companyId
        }
    },
    beforeCreate() {        
         const axios = require('axios');
        var companyId = this.$auth.user.companyId
        var url = "https://api.eezywork.nl/v1/pm/ort/group/read.php?companyId="+companyId;
        axios.get(url)
        .then(response => {
            if(this.groups){
              this.groups = response.data;
            } else {
              this.groups = {};
            }
            // console.log(this.groups)
        })
        .catch(error => {
            // console.log(error.response)
            this.groups = {};
        });
    }, 
    methods: {
        exportRapport(){
          if(this.startDate && this.endDate){
              console.log("clicked")
                var url = "https://api.eezywork.nl/v1/pm/ort/export-raport.php?start="+this.startDate+"&end="+this.endDate+"&companyId="+this.companyId;
              if(this.value.length !== 0){
                url += "&groupId="+this.value.group_id;
                this.$notify({
                  type: 'succes',
                  title: `ophalen met ORT groep`,
                  // text: `Planning is opnieuw opgehaald`
                });
              }
              window.location.href = url; 
              this.$notify({
                type: 'succes',
                title: `Opgehaald`,
                // text: `Planning is opnieuw opgehaald`
              });
          } else {
            this.$notify({
                  type: 'warn',
                  title: `Datums niet ingevuld`,
                  // text: `Planning is opnieuw opgehaald`
                });
          }
        }
    }
}

</script>

<style scoped>
.red-button {
  @apply bg-darkred px-6 py-3 mt-4 text-white rounded-md drop-shadow-md font-poppins;
}
.modal-body-label{
  @apply text-base font-normal;
}
.rapport-input{
  @apply w-full mt-6 md:w-1/2 mb-4 md:mb-0;
}
.rapport-input input{
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>