<template> 
  <div class="">
    <h2 class="font-poppins font-semibold text-darkgray absolute pt-1 truncate" style="font-size:24px">Overzicht Rollen</h2>
    <role-modal ref="roleModal"></role-modal>
      <div class="header-button-container pl-4 pt-0.5 float-right" style="display: block">
          <button v-if="canEdit" @click="openCreateModal()" class="red-button">Toevoegen</button> 
        </div> 
      <div>         
      <vue-good-table
          :columns="columns" 
          :line-numbers="false"
          :search-options="{  // !!! Tip voor thijs: In columns beneden bij de data kan je de kopjes toevoegen etc. Daarnaast heb je in de console ( Als je op f12 klikt ). de rest van de data die je kan gebruiken.
          enabled: true, // voor meer tips: https://xaksis.github.io/vue-good-table/guide/
          placeholder: 'Zoeken...',
          compactMode: true
            }"
            :pagination-options="{
            enabled: true,
            mode: 'resultaten',
            nextLabel: 'Volgende',
            prevLabel: 'Vorige',
            rowsPerPageLabel: 'Labels per pagina',
            ofLabel: 'van',
            pageLabel: 'pagina', // for 'pages' mode
            allLabel: 'Alle',
          }"
          styleClass="tableOne vgt-table"
          :rows="roles"
          ><template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'button' && props.row.company_id != 0">
                <button v-if="canEdit" class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                  <a @click="openUpdateModal(props.row.role_name, props.row.role_id)" target="_blank"><img src="@/assets/icons/verwijderen-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                </button>
                 <button class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                  <a @click="openRole(props.row.role_id)" target="_blank"><img src="@/assets/icons/document-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                </button>
                <!-- <button  class="w-10 p-1 border-2 border-darkred hover:bg-hoverhighlight transition rounded-lg">
                  <a @click="openDeleteModal(props.row.role_name, props.row.role_id)" target="_blank"><img src="@/assets/icons/trash-icon.png" class="toggle-icon-calendar w-full p-1.5" alt="Document bekijk bestand" /></a>
                </button> -->
              </span>
            </template>
        </vue-good-table>
      </div>
  </div> 
</template>

<script>
import roleModal from '~/components/modal/roleModal.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import '~/static/css/vuegoodtable.css'

export default {
  name: 'werknemers',
  components: {
    roleModal,
    VueGoodTable
  },
  props:{
    canEdit: false,
  },
    data() {
        return {
            roles: '',
            companyId: this.$auth.user.companyId,
            columns: [
            {
              label: "Naam", 
              field: "role_name",
              thClass: "gull-th-class",
            },
            {
              label: "Acties",
              field: "button",
              html: true,
            },],
        }
    },
    beforeCreate() {        
    const axios = require('axios');
    var companyId = this.$auth.user.companyId
    var url = "https://api.eezywork.nl/v1/companies/role/read.php?companyId="+companyId;
    axios.get(url)
    .then(response => {
        this.roles = response.data;
        // // console.log(this.roles)
    })
    .catch(error => {
        // // console.log(error.response)
    });
  }, 
  methods: {
    openCreateModal(){
      this.$refs.roleModal.isCreate = true;
      this.$refs.roleModal.isUpdate = false;
      this.$refs.roleModal.isDelete = false;
      this.$refs.roleModal.roleName = '';
      this.$refs.roleModal.roleId = '';
      this.$refs.roleModal.showModal();
    },
    openUpdateModal(name, role_id){
      this.$refs.roleModal.isCreate = false;
      this.$refs.roleModal.isDelete = false;
      this.$refs.roleModal.isUpdate = true;
      this.$refs.roleModal.roleName = name;
      this.$refs.roleModal.roleId = role_id;
      this.$refs.roleModal.showModal();
    },
    openDeleteModal(name, role_id){
      this.$refs.roleModal.isCreate = false;
      this.$refs.roleModal.isUpdate = false;
      this.$refs.roleModal.isDelete = true;
      this.$refs.roleModal.roleName = name;
      this.$refs.roleModal.roleId = role_id;
      this.$refs.roleModal.showModal();
    },
    openRole(id){
        this.$router.push({ name: 'instellingen-rollen-rechten'})
        this.$auth.$storage.setState("permissionPageId", id);
    }
  }
}
</script>

<style scoped>
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}
.vgt-wrap {
    position: inherit;
}
</style>