@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

<template>
    <div class="main">
    <div class="content bg-background px-6 pt-6">
      <div class="grid grid-cols-2 gap-x-8 gap-y-5 md:grid-cols-3">
        <div class="flex flex-col">
          </div>
          <div class="flex flex-col">
            <h2>Web gebruikers (Huidig: {{ subscription.current_web_count }})</h2>
            <input type="number" v-model="subscription.count_web" class="data-field"/>
            <h2>App gebruikers (Huidig: {{ subscription.current_app_count }})</h2>
            <input type="number" v-model="subscription.count_app" class="data-field"/>
            <h2>Periode</h2>
            <multiselect
                id="availibility_multiselect"
                :options="periodOptions"
                v-model="periodValue"
                :close-on-select="true"
                :multiple="false"
                select-label="Selecteer"
                deselect-label=""
                :label="'name'"
                track-by="id"
                placeholder="Selecteer een periode"
                selectedLabel="Geselecteerd"
                :allow-empty="true"
                :taggable="true"
            ></multiselect>
            <h2>Type</h2>
            <multiselect
                id="availibility_multiselect"
                :options="typeOptions"
                v-model="typeValue"
                :close-on-select="true"
                :multiple="false"
                select-label="Selecteer"
                deselect-label=""
                :label="'name'"
                track-by="id"
                placeholder="Selecteer een Type"
                selectedLabel="Geselecteerd"
                :allow-empty="true"
                :taggable="true"
            ></multiselect>
            <div @click="updateSubscription()" class="red-button">
              <h2>Opslaan</h2>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import ViewDisabled from '~/components/modal/viewDisabled.vue'

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'gegevens',
  components: {
    ViewDisabled
  },
    data() {
      return {
        name: '',
        kvk: '',
        email: '',
        phone: '',
        emailInfo: '',
        address: '',
        subscription: '',
        periodOptions: [
          {name: "Maand", id:1},{name:"Jaar", id:2}
        ],
        periodValue: [],
        typeOptions: [
          {name: "Basis", id:1},{name:"Pro", id:2}
        ],
        typeValue: [],
      }
    },
    mounted() {        
      this.getProfile();
    },
    methods:{
      updateSubscription(){
        console.log(this.periodValue)
        console.log()
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/subscription/update.php";
          axios.post(url, {
            subscriptionId: this.subscription.subscription_id,
            countApp: this.subscription.count_app,
            countWeb: this.subscription.count_web,
            period: this.periodValue['id'],
            type: this.typeValue['id']
        })
        .then((response) => {
          this.$notify({
                type: 'succes',
                title: `Bijgewerkt!`,
                // text: `Planning is opnieuw opgehaald`
            } );
          // // console.log(response.data);
          this.getProfile();
        }, (error) => {
          // // console.log(error);
        });
      },
      getProfile(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/companies/subscription/read.php?companyId="+this.$auth.user.companyId;
        axios.get(url)
        .then(response => {
            console.log(response);
            this.subscription = response.data;
            this.periodOptions.forEach(i => {
              if(i.id == response.data.period){
                this.periodValue = i;
              }
            });
            this.typeOptions.forEach(i => {
              if(i.id == response.data.type){
                this.typeValue = i;
              }
            });
            // this.name = response.data[0].name;
            // this.kvk = response.data[0].kvk;
            // this.email = response.data[0].email;
            // this.phone = response.data[0].phone;
            // this.emailInfo = response.data[0].email_info;
            // this.address = response.data[0].address;
            // // console.log(this.profile)
        })
        .catch(error => {
            // // console.log(error.response)
        });
      }
    }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:active {
  @apply px-3 pt-1 mr-3 font-poppins bg-pink h-[33px] rounded-t-lg text-sm;
}
.header-title{
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap text-xl font-poppins font-semibold text-darkgray;
  min-width:100px;
}
</style>