<template>
  <div class="main">
    <Sidebar />
    <div class="header">
      <div class="breadcrumbs w-100%">
        <p class="text-[10px] font-poppins text-darkgray">Eezywork > Opdrachten</p>
      </div>

      <div class="grid justify-items-stretch">
        <div class="header-titel-tabbladen-wrapper flex flex-row overflow-x-scroll overflow-y-hidden">
          <h1 class="text-xl font-poppins font-semibold text-darkgray">Opdrachten</h1> 
          <ul class="tabbladen-items flex flex-row ml-8 pt-1">
            <li class="tabblad-item">
              <button v-on:click="component = 'opdracht'">Opdracht</button>
            </li>
            <li class="tabblad-item">
              <button v-on:click="component = 'acties'">Acties</button>
            </li>
            <li class="tabblad-item">
              <button v-on:click="component = 'documenten'">Documenten</button>
            </li>
            <li class="tabblad-item">
              <button v-on:click="component = 'facturatie'">Facturatie</button>
            </li>
            <li class="tabblad-item">
              <button v-on:click="component = 'artikelen'">Artikelen</button>
            </li>
          </ul>
        </div>        
        <!-- <div class="header-button-wrapper flex flex-row justify-self-end">
          <NuxtLink to="/werknemers/">
            <div class="header-button">
              <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
            </div>
          </NuxtLink>
          <NuxtLink to="/werknemers/">
            <div class="header-button">
              <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
            </div>
          </NuxtLink>
          <NuxtLink to="/werknemers/">
            <div class="header-button">
              <img src="~/assets/icons/werknemers-icon.png" alt="Werknemers icoon">
            </div>
          </NuxtLink>
          </div> -->
      </div>

    </div>
    <div class="content bg-background px-6 pt-6">
      <component v-bind:is="component" />
    </div>
  </div>
</template>

<script>
import opdracht from '~/components/opdrachten/index.vue'
import acties from '~/components/opdrachten/acties.vue'
import documenten from '~/components/opdrachten/documenten.vue'
import facturatie from '~/components/opdrachten/facturatie.vue'
import artikelen from '~/components/opdrachten/artikelen.vue'

export default {
  name: 'opdrachten',
  components: {
    opdracht,
    acties,
    documenten,
    facturatie,
    artikelen,
  },
  data (){
    return {
      component:"opdracht"
    }
  },
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6 fixed;
  border-bottom: 1px solid #DDBBBB;
  width: calc(100vw - 64px);
  height: 64px;
  z-index: 100;
  left: 64px;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.data-field {
  @apply mt-2 px-3 py-3 rounded-md font-poppins text-darkgray bg-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.red-button {
  @apply bg-darkred mt-2 px-6 py-3 text-white rounded-md drop-shadow-md font-poppins col-span-3 text-center;
}
.header-button {
  @apply bg-darkred w-8 h-8 p-2 rounded-md mx-1.5;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(2, 2, 2, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
.breadcrumbs{
  width: 100%;
}
.tabbladen-items{
  overflow-x: scroll;
  padding-right: 0px;
}
.tabblad-item {
  @apply px-3 pt-1 mr-3 font-poppins text-sm h-[33px];
}
.tabblad-item:hover {
  @apply h-[33px] px-3 pt-1 mr-3 font-poppins bg-pink rounded-t-lg text-sm;
}
/* height */
::-webkit-scrollbar {
  @apply bg-background;
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkred;
  border-radius: 10px;
}
</style>