@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
<template>
  <div>
  <div class="header">
      <p class="text-xs font-poppins text-darkgray">Eezywork > Instellingen</p>
      <h1 class="text-xl font-poppins font-semibold text-darkgray">Planner volgorde</h1>
  </div>
  <div class="content bg-background px-6 pt-6">
      <label-modal ref="labelModal"></label-modal>
        <div>
        <button @click="updateOrder()" class="red-button">Volgorde bijwerken</button>          
            <div>
               <table style="width: 100%" class="resources-list">
                  <draggable
                     tag="tbody"
                     v-bind="dragOptions"
                     @start="drag = true"
                     @end="drag = false"
                     :move="checkMove"
                     :list="resources"
                     >
                     <tr v-for="resource in resources" :key="resource.id" class="resourceTd" style="cursor: pointer;">
                        <td style="padding: 15px"> {{ resource.title}} </td>
                        <td style="padding: 15px" class="buttons">
                           <i class=""> <!-- Icoontje voor slepen --> </i>
                        </td>
                     </tr>
                  </draggable>
               </table>
            </div>
        </div>
    </div> 
  </div> 
</template>

<script>
import labelModal from '~/components/modal/labelModal.vue'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import draggable from "vuedraggable";

export default {
  layout: 'default',
  transition: 'slide-bottom',
  name: 'werknemers',
  components: {
    labelModal,
    draggable
  },
  computed: {
    dragOptions() {
        return {
            animation: 200,
            group: "description",
            disabled: false,
            ghostClass: "ghost"
        };
    }
  },
    data() {
        return {
            labels: '',
            list: [],
            resources: '',
            companyId: this.$auth.user.companyId,
            columns: [
            {
              label: "Naam", 
              field: "label_name",
              thClass: "gull-th-class",
            },
            {
              label: "Acties",
              field: "button",
              html: true,
            },],
        }
    },
    beforeCreate() {        
    const axios = require('axios');
    var companyId = this.$auth.user.companyId
    var url = "https://api.eezywork.nl/v1/pm/schedule/get-resources.php?companyId="+companyId;
    axios.get(url)
    .then(response => {
        this.resources = response.data;
        // console.log(this.resources)
    })
    .catch(error => {
        // console.log(error.response)
    });
  }, 
  methods: {
    checkMove(){
    // console.log(this.resources);  
    },
    updateOrder(){
        const axios = require('axios');
        var url = "https://api.eezywork.nl/v1/pm/schedule/update-order.php";
        axios.post(url, {
            resources: this.resources
        })
            .then(response => {
            // console.log(response)
            // window.location.reload();
            })
            .catch(error => {
            // console.log(error.response)
        });
    }
  }
}
</script>

<style scoped>
.header{
  @apply bg-background pt-3 px-6;
  width: calc(100vw - 64px);
  position: -webkit-sticky;
  position: fixed;
  height: 64px;
  z-index: 100;
  left: 64px;
  border-bottom: 1px solid #DDBBBB;
}
.content{
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  position: absolute;
  left: 64px;
  top: 64px;
}
.red-button {
  @apply bg-darkred px-6 py-3 text-white rounded-md drop-shadow-md font-poppins;
}
</style>
