<template>
	<notifications
			:duration="2000"
			:width="300"
			:max="3"
			animation-name="fade-right"
			position="top left"
	></notifications>
</template>
<script>

export default {
	name: 'Notify',
	props: {
		data: Object
	},
	data: function() {
		return {
		};
	}
};
</script>
<style >
.vue-notification-wrapper {
	overflow: unset !important;
}
.fade-right-enter-active,
.fade-right-leave-active,
.fade-right-move {
	transition: all 0.5s;
}
.fade-right-enter,
.fade-right-leave-to {
	opacity: 0;
	transform: translateX(-100%);
}
</style>
