<template>
  <div class="main">
     <notifications 
		:duration="5000" 
		:width="300" 
		:max="1" 
		animation-name="fade-right" 
		position="bottom right" 
	    ></notifications> 
    <div class="content h-screen w-screen bg-darkred">
        <div class="login-module">
            <img src="~/assets/icons/Eezywork.png" alt="Werknemers icoon" class="w-28 h-28 m-auto mb-6">
            <!-- <h1 class="text-xl text-center text-white font-poppins font-semibold mb-3">Inloggen</h1> -->
            <div class="flex flex-col">
              <label for="password">Wachtwoord</label>
              <input v-model="password" type="password" id="password" placeholder="">
            </div>
            <div class="flex flex-col mb-2">
              <label for="password2">Herhaal wachtwoord</label>
              <input v-model="password2" type="password" id="password2" placeholder="">
            </div>
            <div @click="resetPassword()" class="submit-button text-center cursor-pointer">
              <!-- <NuxtLink to="/overzicht" class="submit-button-link">Inloggen</NuxtLink> -->
                <button class="submit-button-link">
                    Wachtwoord resetten
                </button>
            </div>
            <!-- <div class="create-account-container flex flex-wrap justify-center mt-4">
              <p class="text-white font-poppins text-sm">Nog geen account? </p>
              <NuxtLink to="/overzicht" class="create-account-link text-white font-poppins ml-1 text-sm underline">
              Registreren
              </NuxtLink>
            </div> -->
        </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  name: 'login',
  data() {
    return {
      password: '',
      password2: '',
      key: this.$route.query.key,
      token: this.$route.query.token
    }
  },
    beforeCreate(){
    // if(!this.$route.query.token || !this.$route.query.key){
    //   this.$router.push({ path: '/login'})
    // }
  },
  methods:{
    resetPassword(){
        if(this.password == this.password2){
            const axios = require('axios');
            var url = "https://api.eezywork.nl/v1/companies/user/resetPassword.php";
            axios.post(url,{
                email: this.key,
                password: this.password,
                token: this.token
            })
            .then(response => {
              this.$notify({
                type: 'succes',
                title: `Gelukt!`,
                text: `Wachtwoord gewijzigd.`
              });
              setTimeout(() => { this.$router.push({ path: '/login'}) }, 2000);
            })
            .catch(error => {
                this.$notify({
                  type: 'error',
                  title: `Er is iets fout gegaan`,
                  text: `Als dit zich blijft voordoen, Probeer de link opnieuw, of neem contact op.`
                });
            });
        } else {
            this.$notify({
              type: 'error',
              title: `Wachtwoord komt niet overeen`,
              text: `Probeer het nog eens`
          });
        }
    },
  }
}
</script>

<style scoped>
.content{
  @apply flex justify-center items-center;
}
.login-module{
  @apply p-10 w-96 bg-darkred rounded-md;
}
input {
  @apply px-3 py-3 mb-3 rounded-md font-poppins text-darkgray;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
label {
  @apply my-2 text-white font-poppins;
}
.submit-button {
  @apply bg-black hover:bg-gray-900 m-auto py-3 text-white rounded-md font-poppins text-center w-full;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08); 
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}
</style>